<div ng-controller="requestsController as ctrl">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Дата заявки</th>
            <th>Название центра</th>
            <th>Имя</th>
            <th>Контакты</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="request in ctrl.requests track by $index">
            <th scope="row">{{$index + 1}}</th>
            <td>{{request.createdAt | date : 'dd.MM.yyyy в hh:mm'}}</td>
            <td>{{request.centerName}}</td>
            <td>{{request.name}}</td>
            <td>{{request.phone}}</td>
        </tr>
        </tbody>
    </table>
</div>