<style>
    .md-box{
        margin-left: 180px;
        margin-right: 180px;
        background-color: #ffffff;
        border-radius: 3px;
    }


    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-weight: 600;
    }

    .schedule-rooms-active-button{
        background-color: #c2c9d5;
        border: none;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 120px;
        border: 1px solid #c2c9d5;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .schedule-rooms-nonactive-button{
        background-color: transparent;
        border: 1px solid #c2c9d5;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        color: #b4bbc7;
        width: 120px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    .schedule-teachers-nonactive-button{
        background-color: transparent;
        border: 1px solid #c2c9d5;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        color: #b4bbc7;
        width: 120px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .schedule-teachers-active-button{
        background-color: #c2c9d5;
        border: none;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 120px;
        border: 1px solid #c2c9d5;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .select-style {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        width: 210px;
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style select {
        padding: 5px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #e8e8e8;
        border-radius: 0px;
        /*color: #b5b5b5;*/
        color: #333333;
    }

    .select-style select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .admin-request-item{
        border-bottom: 1px solid #eff2f7;
        margin-left: 30px;
        margin-right: 30px;
    }

    .answer-control-button{
        opacity: 0.5;
        border: none;
        background-color: transparent;
    }

    .answer-control-button:hover{
        opacity: 1;
    }

    .add-answer-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .add-answer-button:hover{
        background-color: #558dfc;
    }

</style>
<div ng-controller="applicationsController as self">
    <!--ЕСЛИ ЕСТЬ ГРУППЫ И УЧИТЕЛЯ-->
    <div ng-if="!self.noGroups && !self.noTeachers">
        <div style="background-color: #ffffff; width: 100%;">
            <div style=" width: 1280px; margin: auto;">
                <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 180px; padding-right: 180px;">
                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <div class="col-xs-6" style="padding: 0px; display: inline-block;">
                            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Заявки</div>
                            <div style="float: left; margin-left: 30px; padding-top: 8px;">
                                <button ng-click="self.changeOption('isGroups')" ng-class="self.isGroups ? 'schedule-rooms-active-button' : 'schedule-rooms-nonactive-button'">Группы</button>
                            </div>
                            <div style="float: left; padding-top: 8px;">
                                <button ng-click="self.changeOption('isTeachers')" ng-class="self.isTeachers ? 'schedule-teachers-active-button' :'schedule-teachers-nonactive-button'">Учителя</button>
                            </div>
                        </div>
                        <div ng-if="self.isGroups" class="col-xs-6" style="padding: 0px; text-align: right; display: inline-block;">
                            <div style="float: right; padding-top: 9px; padding-right: 5px;">
                                <div class="select-style">
                                    <select ng-change="self.loadApplications()" ng-model="self.actGroupID">
                                        <option ng-repeat="group in self.groups track by $index" value="{{group._id}}">{{group.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div style="float: right; padding-right: 25px; color: #7d838a; font-family: OpenSansRegular; font-size: 15px; padding-top: 13px;">Выбрать группу:</div>
                        </div>

                        <div ng-if="self.isTeachers" class="col-xs-6" style="padding: 0px; text-align: right; display: inline-block;">
                            <div style="float: right; padding-top: 9px; padding-right: 5px;">
                                <div class="select-style">
                                    <select ng-change="self.loadApplications()" ng-model="self.actTeacherID">
                                        <option ng-repeat="teacher in self.teachers track by $index" value="{{teacher._id}}">{{teacher | nameFilter}}</option>
                                    </select>
                                </div>
                            </div>
                            <div style="float: right; padding-right: 25px; color: #7d838a; font-family: OpenSansRegular; font-size: 15px; padding-top: 13px;">Выбрать учителя:</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="mainView" style="background-color: #e7eaec;">
            <!--NEW FORMAT-->
            <div class="mainViewContent" style="padding-top: 25px; padding-bottom: 30px;">
                <div ng-if="!self.noApplications">
                    <div class="md-box" ng-repeat="application in self.applications | orderBy : 'createdAt' : true track by $index" style="margin-bottom: 20px;">
                        <!--ЗАЯВКА-->
                        <div style="padding-top: 25px; padding-bottom: 25px;">
                            <div class="row" style="margin-right: 0; margin-left: 0;">
                                <div class="col-xs-2" style="width: 100px; text-align: right; padding-right: 5px;">
                                    <div>
                                        <img style="border-radius: 50%;" ng-src="{{application.teacherID | teacherImageUrlFilter}}" width="60px">
                                    </div>
                                </div>
                                <div class="col-xs-10" style="width: 820px;">
                                    <div class="row">
                                        <div class="col-xs-6" style="padding-top: 8px;">
                                            <div style="display: inline-block;">
                                                <div style="float: left; font-family: OpenSansSemiBold; color: #4484b2;">{{application.teacherID | nameFilter}}</div>
                                                <div ng-style="{'background-color' : application.groupID.color}" style="float: left; margin-left: 15px; color: #ffffff; padding-left: 15px; padding-right: 15px; border-radius: 3px;">{{application.groupID.name}}</div>
                                            </div>
                                            <div style="font-family: OpenSansRegular; color: #949fb0; padding-top: 2px;">{{application.createdAt | timeFilter}}</div>
                                        </div>
                                        <div class="col-xs-6" style="text-align: right; padding-right: 30px;">
                                            <button ng-click="self.addApplicationAnswer(application._id)" ng-hide="application.answerID" class="add-answer-button"><img src="/static-files/images/reply-icon.png" width="15px"><span style="margin-left: 8px;">ОТВЕТИТЬ</span></button>
                                        </div>
                                    </div>
                                    <div style="padding-top: 20px; padding-right: 30px;">{{application.content}}</div>
                                </div>
                            </div>
                        </div>
                        <!--ОТВЕТ НА ЗАЯВКУ-->
                        <div ng-if="application.answerID" style="background-color: #f4f5f6;  padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #e7eaec;">
                            <div class="row" style="margin-right: 0; margin-left: 0;">
                                <div class="col-xs-2" style="width: 100px; padding-left: 40px; padding-right: 0; padding-top: 5px; padding-bottom: 5px;">
                                    <div style="background-color: #6699ff; width: 50px; text-align: center; padding-top: 10px; padding-bottom: 10px; border-radius: 3px;">
                                        <img src="/static-files/images/answer-icon.png" width="30px">
                                    </div>
                                </div>
                                <div class="col-xs-10" style="width: 820px;">
                                    <div class="row" style="padding-top: 2px;">
                                        <div class="col-xs-6" style="font-family: OpenSansRegular; color: #949fb0;">{{application.answerID.createdAt | timeFilter}}</div>
                                        <div class="col-xs-6" style="padding-right: 30px;">
                                            <div style="display: inline-block; width: 100%;">
                                                <div style="float: right;">
                                                    <button ng-click="self.deleteApplicationAnswer(application._id)" class="answer-control-button">
                                                        <img src="/static-files/images/delete-icon.png" width="13px">
                                                        <md-tooltip md-direction="top">Удалить</md-tooltip>
                                                    </button>
                                                </div>
                                                <div style="float: right; margin-right: 5px;">
                                                    <button ng-click="self.editApplicationAnswer(application._id)" class="answer-control-button">
                                                        <img src="/static-files/images/edit-icon.png" width="14px">
                                                        <md-tooltip md-direction="top">Редактировать</md-tooltip>
                                                    </button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div style="padding-top: 10px; padding-bottom: 5px; font-family: OpenSansRegular;">
                                        {{application.answerID.content}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="self.noApplications" align="center" style="margin-left: 180px; margin-right: 180px; background-color: #ffffff; padding-bottom: 60px; padding-top: 60px;">
                    <div><img src="/static-files/images/empty-applications-icon.png" height="180px"></div>
                    <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 25px; color: #a8b3c2;">Заявок нет</div>
                    <div style="font-family: OpenSansRegular; padding-top: 5px; color: #a8b3c2; font-size: 15px; padding-left: 260px; padding-right: 260px;">От выбранной группы или учителя еще не поступало заявок.</div>
                </div>
            </div>
        </div>
    </div>

    <!--ЕСЛИ НЕТ НИ ГРУПП НИ УЧИТЕЛЕЙ-->
    <div ng-show="self.noGroups || self.noTeachers">
        <div style="background-color: #ffffff; width: 100%;">
            <div style=" width: 1280px; margin: auto;">
                <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 130px; padding-right: 130px;">
                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <div class="col-xs-6" style="padding: 0px; display: inline-block;">
                            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Заявки</div>
                            <div style="float: left; margin-left: 30px; padding-top: 8px;">
                                <button ng-click="self.changeOption('isGroups')" ng-class="self.isGroups ? 'schedule-rooms-active-button' : 'schedule-rooms-nonactive-button'">Группы</button>
                            </div>
                            <div style="float: left; padding-top: 8px;">
                                <button ng-click="self.changeOption('isTeachers')" ng-class="self.isTeachers ? 'schedule-teachers-active-button' :'schedule-teachers-nonactive-button'">Учителя</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainView" style="background-color: #e7eaec;">
            <div class="mainViewContent" style="padding-top: 25px;">
                <div class="md-box">
                    <div align="center" style="padding-bottom: 60px; padding-top: 60px;">
                        <div><img src="/static-files/images/empty-applications-icon.png" height="180px"></div>
                        <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 35px; color: #a8b3c2;">Заявки недоступны</div>
                        <div style="font-family: OpenSansRegular; padding-top: 5px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">Для активации раздела Заявки, необходимо добавить хотя бы одну группу и учителя.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

