<style>

    .ngdialog.ngdialog-theme-default .ngdialog-content {
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
    }

    .add-new-schedule-button{
        background-color: #3F51B5;
        border: 1px solid #3F51B5;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: #ffffff;
        font-weight: 400;
        border-radius: 3px;
    }

    .add-new-schedule-button:hover{
        background-color: #5465c7;
    }

    .cancel-schedule-button{
        background-color: #fafbfc;
        border: 1px solid #cccccc;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: #888888;
        font-weight: 400;
        border-radius: 3px;
    }

    .cancel-schedule-button:hover{
        color: #333333;
        border: 1px solid #777777;
    }
    /*.ngdialog.ngdialog-theme-default .ngdialog-content {*/
        /*!*width: 1000px;*!*/
        /*!*height: 500px;*!*/
        /*padding: 0px;*/
        /*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/
        /*border-radius: 3px;*/
    /*}*/
    /*!**!*/
    /*.ngdialog.ngdialog-theme-default {*/
        /*padding-bottom: 80px;*/
        /*padding-top: 100px;*/
    /*}*/



    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .modal-add-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-add-button:hover{
        background-color: #59b7ee;
    }

    .modal-cancel-button{
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        color: #676b6d;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-cancel-button:hover{
        background-color: #e3e3e3;
    }

    .select-style-aplication-add {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        width: 380px;
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style-aplication-add select {
        padding: 5px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
    }

    .select-style-aplication-add select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .md-textarea-input{
        border: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-textarea-input:focus{
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }


    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #5e91f5;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }

</style>
<div class="md-modal-box">
    <div style="background-color: #ffffff; padding-top: 20px; padding-bottom: 20px; font-size: 17px; padding-left: 30px; padding-right: 30px; border-bottom: 1px solid #e7eaec; font-family: OpenSansRegular; border-top-left-radius: 4px; border-top-right-radius: 4px;">Добавление аудитории</div>
    <div style="display: inline-block; padding-top: 20px; padding-left: 50px; padding-right: 50px; padding-bottom: 45px;">
        <div style="float: left">
            <div style="padding-top: 25px; padding-right: 20px;">Аудитория:</div>
        </div>
        <div style="float: left">
            <div style="padding-top: 18px;">
                <input class="md-textarea-input" ng-model="name" style="width: 300px;" placeholder="Введите название аудитории">
                <div ng-if="nameError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
            </div>
        </div>
    </div>
    <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
        <div style="float: right;">
            <button ng-click="addClassroom()" type="submit" class="submit-group-button">Добавить</button>
        </div>
        <div style="float: right; margin-right: 15px;">
            <button ng-click="closeThisDialog()" class="cancel-group-button">Отменить</button>
        </div>
    </div>


</div>
