<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
        background-color: #ffffff;
        font-family: OpenSansRegular;
    }


    .md-textarea-input{
        border: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-textarea-input:focus{
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }


    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #5e91f5;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }

</style>
<div ng-controller="editClassroomController as modalCtrl">
    <div style="background-color: #ffffff; padding-top: 20px; padding-bottom: 20px; font-size: 17px; padding-left: 30px; padding-right: 30px; border-bottom: 1px solid #e7eaec; font-family: OpenSansRegular; border-top-left-radius: 4px; border-top-right-radius: 4px;">Редактировать аудиторию</div>
    <div style="display: inline-block; padding-top: 20px; padding-left: 50px; padding-right: 50px; padding-bottom: 45px;">
        <div style="padding-top: 25px; padding-right: 20px; float: left;">Аудитории:</div>
        <div style="float: left">
            <div style="padding-top: 18px;">
                <input class="md-textarea-input" ng-model="modalCtrl.name" style="width: 300px;" placeholder="Введите название аудитории">
                <div ng-if="modalCtrl.nameError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
            </div>
        </div>
    </div>
    <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
        <div style="float: right;">
            <button ng-click="modalCtrl.updateClassroom()" type="submit" class="submit-group-button">Сохранить</button>
        </div>
        <div style="float: right; margin-right: 15px;">
            <button ng-click="closeThisDialog()" class="cancel-group-button">Отменить</button>
        </div>
    </div>

</div>
