<style>
        .md-box{
            background-color: #ffffff;
            border-radius: 2px;
            border-top: 1px solid #e9ecf2;
            border-left: 1px solid #e9ecf2;
            border-right: 1px solid #e9ecf2;
            border-bottom: 1px solid #dfe1e6;
        }

        .md-box-header{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 14px;
            color: #9ca5b1;
            border-bottom: 1px solid #e7eaec;
            background-color: #ffffff;
            font-family: OpenSansSemiBold;
        }

        .attendance-present-day{
            margin: 7px;
            border: 1px solid #2abb9b;
            font-size: 22px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 50px;
            font-family: OpenSansRegular;
            color: #25a589;
            text-align: center;
            background-color: #e9fffa;

        }

        .attendance-absent-day{
            margin: 7px;
            border: 1px solid #e06b6c;
            font-size: 22px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 50px;
            font-family: OpenSansRegular;
            color: #ce6363;
            text-align: center;
            background-color: #fde9e9;

        }

        .attendance-excused-day{
            margin: 7px;
            border: 1px solid #f1be22;
            font-size: 22px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 50px;
            font-family: OpenSansSemiBold;
            color: #e9b825;
            text-align: center;
            background-color: #fdf6e2;
        }
        .attendance-empty-day{
            margin: 7px;
            border: 1px solid #e2e5ed;
            font-size: 22px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 50px;
            font-family: OpenSansSemiBold;
            color: #d5d9e2;
            text-align: center;
            background-color: #f0f3f7;
        }


        .attendance-empty-day{
            margin: 5px;
            border: 1px solid #e2e5ed;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 42px;
            font-family: OpenSansSemiBold;
            color: #d5d9e2;
            text-align: center;
            background-color: #f0f3f7;
            font-size: 17px;
        }



        /*NEW TEST*/


        .attendance-present-day{
            margin: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 42px;
            font-family: OpenSansSemiBold;
            color: #ffffff;
            text-align: center;
            background-color: #66cc66;
            font-size: 17px;
            border: 1px solid #66cc66;

        }

        .attendance-absent-day{
            margin: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 42px;
            font-family: OpenSansSemiBold;
            color: #ffffff;
            text-align: center;
            background-color: #ff6666;
            font-size: 17px;
            border: 1px solid #ff6666;

        }

        .attendance-excused-day{
            margin: 5px;
            border: 1px solid #ffcc66;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            width: 42px;
            font-family: OpenSansSemiBold;
            color: #ffffff;
            text-align: center;
            background-color: #ffcc66;
            font-size: 17px;
        }

    </style>
<div style="margin-top: 15px;" ng-controller="attendanceController as ctrl">
    <div class="md-box" style="min-height: 450px;">
        <div class="md-box-header" style="padding-top: 13px; padding-bottom: 13px; font-size: 15px; font-family: OpenSansSemiBold;">{{'ATTENDANCE.TITLE' | translate}}</div>

        <div ng-if="!ctrl.hasAttendance">
            <div align="center" style="padding-top: 80px; padding-bottom: 50px;">
                <img src="/static-files/images/empty-student-attendance.png" height="130px">
                <div style="font-family: OpenSansBold; font-size: 16px; padding-top: 30px; color: #999999;">{{'ATTENDANCE.EMPTY_TITLE' | translate}}</div>
                <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 14px; padding-left: 180px; padding-right: 180px;">{{'ATTENDANCE.EMPTY_TEXT' | translate}}</div>

            </div>
        </div>

        <!--КОГДА ПОСЕЩАЕМОСТЬ ЕСТЬ-->
        <div ng-if="ctrl.hasAttendance">
            <!--<div class="row" style="margin-right: 0px; margin-left: 0px; border-bottom: 1px solid #e9ecf2; padding-top: 25px; padding-bottom: 20px; margin-bottom: 25px;">-->
                <!--<div class="col-xs-6" style="padding-left: 45px;">-->
                    <!--<div style="font-family: OpenSansRegular; font-size: 13px; padding-top: 2px;">Посещаемость занятий по месяцам и дням</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6" style="padding-right: 25px;">-->
                    <!--<div style="display: inline-block; width: 100%; font-size: 13px; font-family: OpenSansSemiBold;">-->
                        <!--<div style="float: right; margin-right: 20px;">Ув. причина</div>-->
                        <!--<div style="float: right; margin-right: 10px; margin-top: 4px; width: 12px; height: 12px; background-color: #fdf6e2; border: 1px solid #f1be22;"></div>-->
                        <!--<div style="float: right; margin-right: 20px;">Не был</div>-->
                        <!--<div style="float: right; margin-right: 10px; margin-top: 4px; width: 12px; height: 12px; background-color: #fde9e9; border: 1px solid #e06b6c;"></div>-->
                        <!--<div style="float: right; margin-right: 20px;">Был</div>-->
                        <!--<div style="float: right; margin-right: 10px; margin-top: 4px; width: 12px; height: 12px; background-color: #e9fffa; border: 1px solid #2abb9b;"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row" style="margin-right: 0; margin-left: 0; background-color: #f4f5f6; color: #838e9e;">
                <div class="col-xs-4" style="border-right: 1px solid #e7eaec; text-align: center;">
                    <div style="display: inline-block;">
                        <div style="float: right; padding-top: 12px; padding-bottom: 12px;">{{'ATTENDANCE.TABS.PRESENT' | translate}}</div>
                        <div style="float: right; margin-right: 10px; margin-top: 16px; width: 12px; height: 12px; background-color: #66cc66;"></div>
                    </div>
                </div>
                <div class="col-xs-4" style="border-right: 1px solid #e7eaec; text-align: center;">
                    <div style="display: inline-block;">
                        <div style="float: right; padding-top: 12px; padding-bottom: 12px; padding-right: 15px;">{{'ATTENDANCE.TABS.ABSENT' | translate}}</div>
                        <div style="float: right; margin-right: 10px; margin-top: 16px; width: 12px; height: 12px; background-color: #ff6666;"></div>
                    </div>
                </div>
                <div class="col-xs-4" style="text-align: center;">
                    <div style="display: inline-block">
                        <div style="float: right; padding-top: 12px; padding-bottom: 12px;">{{'ATTENDANCE.TABS.EXCUSE' | translate}}</div>
                        <div style="float: right; margin-right: 10px; margin-top: 16px; width: 12px; height: 12px; background-color: #ffcc66;"></div>
                    </div>
                </div>
            </div>
            <div ng-repeat="month in ctrl.attendances" ng-if="month.hasAttendance" style="padding-top: 15px; border-top: 1px solid #e7eaec; padding-bottom: 20px;">
                <div style="color: #000000; padding-top: 5px; font-size: 17px; padding-bottom: 10px; margin-left: 30px; margin-right: 30px; text-align: left; font-family: OpenSansRegular;">{{month.name}}</div>
                <div class="row" style="margin-right: 20px; margin-left: 25px;">
                    <div ng-repeat="value in month.days track by $index">
                        <div ng-if="value == ctrl.STUDENT_APPEARANCE_PRESENCE" class="col-xs-2 attendance-present-day">{{$index}}</div>
                        <div ng-if="value == ctrl.STUDENT_APPEARANCE_ABSENCE" class="col-xs-2 attendance-absent-day">{{$index}}</div>
                        <div ng-if="value == ctrl.STUDENT_APPEARANCE_ABSENCE_REASON" class="col-xs-2 attendance-excused-day">{{$index}}</div>
                        <div ng-if="value == ctrl.STUDENT_APPEARANCE_EMPTY_DAY" class="col-xs-2 attendance-empty-day">{{$index}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
