<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 800px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        top: -50px;
        background-color: #ffffff;
    }

    .applciation-answer-form{
        outline: none;
        resize: none;
        background-color: transparent;
        border: none;
    }

    .modal-add-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-add-button:hover{
        background-color: #59b7ee;
    }

    .modal-cancel-button{
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        color: #676b6d;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-cancel-button:hover{
        background-color: #e3e3e3;
    }

    textarea::-webkit-input-placeholder {color:#888888;}
    textarea::-moz-placeholder          {color:#888888;}/* Firefox 19+ */
    textarea:-moz-placeholder           {color:#888888;}/* Firefox 18- */
    textarea:-ms-input-placeholder      {color:#888888;}

</style>
<div>
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ОТВЕТА НА ЗАЯВКУ</div>
        <div style="padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 20px;">
            <div class="row" style="font-family: OpenSansRegular; font-size: 15px;">
                <div class="col-xs-2" style="text-align: right; color: #949fb0;">Дата:</div>
                <div class="col-xs-10">{{application.createdAt | timeFilter}}</div>
            </div>
            <div class="row" style="padding-top: 10px; font-family: OpenSansRegular; font-size: 15px;">
                <div class="col-xs-2" style="text-align: right; color: #949fb0;">Учитель:</div>
                <div class="col-xs-10">{{application.teacherID | nameFilter}}</div>
            </div>
            <div class="row" style="padding-top: 10px; font-family: OpenSansRegular; font-size: 15px;">
                <div class="col-xs-2" style="text-align: right; color: #949fb0;">Группа:</div>
                <div class="col-xs-10">{{application.groupID.name}}</div>
            </div>
        </div>
        <div style="padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 20px; border-top: 1px dashed #cdd4df; font-family: OpenSansRegular; border-bottom: 1px dashed #cdd4df;">
            {{application.content}}
        </div>
        <div style="background-color: #eef6fc; padding-right: 30px; padding-left: 30px; padding-top: 20px; padding-bottom: 20px;">
            <div class="row" style="font-family: OpenSansRegular;">
                <div class="col-xs-2" style="padding-top: 2px; text-align: right; color: #949fb0;"><u>Ответ</u>:</div>
                <div class="col-xs-10">
                    <textarea ng-model="application.answerID.content" class="applciation-answer-form" rows="2" style="width: 440px;" placeholder="Напишите ответ тут"></textarea>
                    <div ng-if="application.answerID.contentError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
        </div>
        <div style="padding-left: 30px; padding-right: 30px; padding-top: 15px; padding-bottom: 15px; display: inline-block; width: 100%; border-top: 1px dashed #cdd4df;">
            <div style="float: right;">
                <button ng-click="saveApplicationAnswer()" class="modal-add-button">СОХРАНИТЬ</button>
            </div>
            <div style="float: right; padding-right: 10px;">
                <button ng-click="closeThisDialog()" class="modal-cancel-button">ОТМЕНИТЬ</button>
            </div>

        </div>
    </div>
</div>