<div ng-controller="addTariffController as addTariff">
    <button ng-click="ctrl.addTariff()" class="btn btn-default">Отменить</button>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Название</h5>
        </div>
        <div class="col-xs-2">
            <input type="text" ng-model="addTariff.name" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Цена</h5>
        </div>
        <div class="col-xs-2">
            <input type="text" ng-model="addTariff.price" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Память(в мегабайтах)</h5>
        </div>
        <div class="col-xs-2">
            <input type="text" ng-model="addTariff.size" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Кол-во студентов</h5>
        </div>
        <div class="col-xs-2">
            <input type="text" ng-model="addTariff.students" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            <button ng-click="addTariff.addTariff()" class="btn btn-default">Добавить</button>
        </div>
    </div>
</div>
