<style>
        .md-box{
            background-color: #ffffff;
            border-radius: 2px;
            border-top: 1px solid #e9ecf2;
            border-left: 1px solid #e9ecf2;
            border-right: 1px solid #e9ecf2;
            border-bottom: 1px solid #dfe1e6;
        }

        .md-box-header{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 15px;
            color: #838e9e;
            border-bottom: 1px solid #e7eaec;
            background-color: #ffffff;
            font-family: OpenSansSemiBold;
        }

        .clearfix:before,.clearfix:after {content: " "; display: table;}
        .clearfix:after {clear: both;}
        .clearfix {*zoom: 1;}

        .add-new-file-button{
            background-color: #74c2f0;
            border: none;
            border-radius: 2px;
            color: #ffffff;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 11px;
            font-family: OpenSansRegular;
            padding-left: 13px;
            padding-right: 13px;
        }

        .add-new-file-button:hover{
            background-color: #59b7ee;
        }

        .payments-history-item{
            border-bottom: 1px solid #edeef0;
        }

        ul.leaders {
            max-width: 48em;
            padding: 0;
            overflow-x: hidden;
            list-style: none}
        ul.leaders li:before {
            float: left;
            width: 0;
            white-space: nowrap;
            content:
                    ". . . . . . . . . . . . . . . . . . . . "
                    ". . . . . . . . . . . . . . . . . . . . "
                    ". . . . . . . . . . . . . . . . . . . . "
                    ". . . . . . . . . . . . . . . . . . . . "
                    ". . . . . . . . . . . . . . . . . . . . "}
        ul.leaders span:first-child {
            padding-right: 0.33em;
            background: white}
        ul.leaders span + span {
            float: right;
            padding-left: 0.33em;
            background: white}

    </style>
<div style="margin-top: 15px;" ng-controller="paymentsController as ctrl">
    <div class="md-box">
        <div class="md-box-header" style="padding-top: 13px; padding-bottom: 13px; font-size: 15px; font-family: OpenSansSemiBold;">{{'PAYMENTS.TITLE2' | translate}}</div>
        <!--ЕСЛИ ОПЛАТ НЕТ-->
        <div ng-if="ctrl.noAvailablePayments" align="center" style="padding-top: 80px; padding-bottom: 80px;">
            <img src="/static-files/images/empty-payments-icon.png" height="160px">
            <div style="font-family: OpenSansBold; font-size: 16px; padding-top: 30px; color: #999999;">ОПЛАТ НЕТ</div>
            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 14px; padding-left: 130px; padding-right: 130px;">К сожалению, на данный момент, Ваши оплаты еще не были добавлены. Необходимо обратиться в Админситрацию центра.</div>
        </div>
        <!--ЕСЛИ ОПЛАТЫ ЕСТЬ-->
        <div ng-if="!ctrl.noAvailablePayments" style="padding-left: 20px; padding-right: 20px;">
            <div class="row" style="margin-left: 15px; margin-right: 15px; padding-top: 15px; padding-bottom: 20px;">
                <div class="col-xs-7" style="padding: 0;">

                    <div style="display: inline-block; padding-top: 25px; padding-bottom: 10px;
                    x; padding-left: 50px;">
                        <div style="float: left;">
                            <div style="font-family: OpenSansSemiBold; font-size: 26px; color: #35b056;">{{ctrl.totalPayment | customCurrencyFilter}}</div>
                            <div style="font-family: OpenSansRegular; font-size: 11px; color: #35b056; text-align: center;">{{'PAYMENTS.PAID' | translate}}</div>
                        </div>
                        <div style="float: left; font-size: 24px; font-family: OpenSansLight; padding-left: 10px; padding-right: 10px;">/</div>
                        <div style="float: left;">
                            <div style="font-family: OpenSansSemiBold; font-size: 26px;">{{ctrl.group.price | customCurrencyFilter}} </div>
                            <div style="font-family: OpenSansRegular; font-size: 11px; color: #838e9e; text-align: center;">{{'PAYMENTS.TOTAL' | translate}}</div>
                        </div>
                    </div>

                    <ul class=leaders style="font-family: OpenSansRegular; font-size: 15px;">
                        <li style="margin-top: 20px;"><span>{{'PAYMENTS.REMAINDER' | translate}}</span>
                            <span style="color: #000000;">{{(ctrl.group.price - ctrl.totalPayment) | customCurrencyFilter}} </span>
                        <li style="margin-top: 20px;">
                            <span>{{'PAYMENTS.LAST' | translate}}</span>
                            <span ng-if="ctrl.noPayments" style="color: #000000;">0 KZT</span>
                            <span ng-if="!ctrl.noPayments" style="color: #000000;">{{ctrl.lastPayment.value | customCurrencyFilter}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-5">
                        <div class="clearfix" style="margin-left: 90px; margin-right: 70px; margin-top: 15px;">
                            <div class="c100 p{{(ctrl.totalPayment/ctrl.group.price*100).toFixed(0)}}">
                                <span>{{(ctrl.totalPayment/ctrl.group.price * 100).toFixed(0)}}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                        <div style="font-family: OpenSansSemiBold; color: #6699ff; margin-left: 100px; width: 100px; text-align: center;">{{'PAYMENTS.TITLE4' | translate}}</div>
                </div>
            </div>

        </div>
    </div>

    <div ng-if="!ctrl.noAvailablePayments" class="md-box" style="margin-top: 20px; border-bottom: 0px;">
        <div class="md-box-header" style="padding-top: 13px; padding-bottom: 13px; font-size: 15px; font-family: OpenSansSemiBold;">{{'PAYMENTS.TITLE2' | translate}}</div>
        <div>
            <div ng-if="ctrl.noPayments" style="padding: 15px; font-size: 15px; color: #777777;">На данный момент оплаты не были внесены.</div>
            <div ng-if="!ctrl.noPayments">
                <div class="payments-history-item" ng-repeat="payment in ctrl.payments">
                    <div style="background-color: #f4f5f6; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 35px; color: #838e9e; font-family: OpenSansRegular; border-bottom: 1px dashed #e7eaec;">
                         <div style="display: inline-block;">
                            <div style="float: left; opacity: 0.5; padding-top: 1px;">
                                <img src="/static-files/images/payment-time-icon.png" width="18px">
                            </div>
                            <div style="float: left; padding-left: 7px;">{{payment.createdAt | timeFilter}}</div>
                         </div>
                    </div>
                    <div style="padding-right: 35px; padding-left: 35px; padding-top: 15px; padding-bottom: 20px;">
                        <ul class=leaders style="font-family: OpenSansRegular; font-size: 15px;">
                            <li style="margin-top: 15px; font-family: OpenSansRegular;"><span>{{'PAYMENTS.INSERTION' | translate}}</span>
                                <span style="color: #000000; font-family: OpenSansRegular;">{{payment.value | customCurrencyFilter}}</span>
                        </ul>
                    </div>
                    <!--<div class="row" style="padding-bottom: 5px; padding-top: 5px;">-->
                        <!--<div class="col-xs-4" style="width: 180px; padding-right: 0; font-family: OpenSansRegular;">Комментарий к оплате:</div>-->
                        <!--<div class="col-xs-8" style="font-family: OpenSansRegular;">{{payment.comment}}</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>


