<div style="background-color: #e7eaec;">
    <div class="row" style="padding-top: 24px; margin-left: 8px; margin-right: 8px;">
        <div class="col-xs-4" style="padding-right: 8px;">
            <div class="student-info-box">
                <div class="student-info-box-header">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</div>
                <div align="center">
                    <div style="display: inline-block; padding-top: 15px; padding-bottom: 10px;">
                        <div style="float: left;">
                            <!--ЕСЛИ ЭТО АКТИВНЫЙ-->
                            <img ng-show="1" style="border:2px solid #71ca58; border-radius: 50%;" src="/static-files/images/empty-student-photo.png" width="70px">
                            <!--ЕСЛИ ЭТО ОЖИДАЮЩИЙ-->
                            <img ng-show="0" style="border:2px solid #f4cd56; border-radius: 50%;" src="/static-files/images/empty-student-photo.png" width="70px">
                            <!--ЕСЛИ ЭТО АРХИВ-->
                            <img ng-show="0" style="border:2px solid #fd6461; border-radius: 50%;" src="/static-files/images/empty-student-photo.png" width="70px">
                        </div>
                        <div style="float: left; font-family: OpenSansSemiBold; font-size: 18px; padding-left: 20px; padding-right: 20px; padding-top: 13px;">
                            <div>{{modal.student.lastName}}</div>
                            <div>{{modal.student.firstName}}</div>
                        </div>
                    </div>
                </div>
                <div style="padding-left: 30px; padding-right: 30px; color: #838e9e; text-align: center; font-family: OpenSansRegular; font-size: 17px;">
                    <div>{{modal.student.phone | phoneFilter}}</div>
                    <div style="font-size: 14px;">{{modal.student.email}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding-left: 8px; padding-right: 8px;">
            <div class="student-info-box">
                <div class="student-info-box-header">ИНФОРМАЦИЯ О ГРУППЕ</div>
                <div align="center">
                    <div style="display: inline-block; padding-top: 20px;">
                        <div style="float: left; padding-top: 4px;">
                            <div class="groups-indicator"></div>
                        </div>
                        <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 19px;">{{modal.group.name}}</div>
                    </div>
                </div>
                <div style="text-align: center; font-size: 13px; color: #838e9e; font-family: OpenSansRegular; padding-top: 4px; padding-bottom: 14px;">Группа создана: {{modal.group.createdAt | timeFilterDate}}</div>
                <div align="center" style="background-color: #f4f5f6; border-top: 1px solid #e7eaec; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
                    <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px;">
                        <div style="float: left;">
                            <img style="border-radius: 50%;" ng-src="{{modal.group.teacherID | teacherImageUrlFilter}}" width="50px">
                        </div>
                        <div style="float: left; padding-left: 15px; font-family: OpenSansRegular; font-size: 17px; padding-top: 15px; padding-bottom: 12px;">{{modal.group.teacherID | nameFilterByVacation}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding-left: 8px;">
            <div class="student-info-box">
                <div class="student-info-box-header">ОПЛАТЫ СТУДЕНТА</div>
                <div ng-if="modal.payments.isPricableGroup">
                    <div align="center" style="border-bottom: 1px solid #eff2f7;">
                        <div style="display: inline-block; padding-top: 20px; padding-bottom: 18px;">
                            <div style="float: left;">
                                <div style="font-family: OpenSansSemiBold; font-size: 20px; color: #35b056;">{{modal.payments.value | customCurrencyFilter}}</div>
                                <div style="font-family: OpenSansRegular; font-size: 11px; color: #35b056;">ОПЛАЧЕНО</div>
                            </div>
                            <div style="float: left; font-size: 20px; font-family: OpenSansLight; padding-left: 10px; padding-right: 10px;">/</div>
                            <div style="float: left;">
                                <div style="font-family: OpenSansSemiBold; font-size: 20px;">{{modal.group.price | customCurrencyFilter}}</div>
                                <div style="font-family: OpenSansRegular; font-size: 11px; color: #838e9e;">ОБЩАЯ СУММА</div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="modal.payments.value != 0">
                        <div style="color: #838e9e; font-family: OpenSansRegular; padding-top: 10px; padding-right: 20px; padding-left: 20px; font-size: 13px; ">Последняя оплата</div>
                        <div style="padding-left: 20px; padding-right: 20px; font-size: 14px; padding-top: 5px;">
                            <ul class=leaders style="font-family: OpenSansRegular; font-size: 15px; color: #777777;">
                                <li><span style="font-size: 14px;">{{modal.payments.lastPayment.createdAt | timeFilter}}</span>
                                    <span style="color: #000000;">{{modal.payments.lastPayment.value || '0'}} KZT</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="modal.payments.value == 0">
                        Оплат нет.
                    </div>

                </div>

                <div ng-if="!modal.payments.isPricableGroup">
                    <div style="padding-top: 35px; text-align: center; opacity: 0.4;"><img src="/static-files/images/empty-payments-icon-small.png" width="70px"></div>
                    <div style="padding-top: 10px; padding-left: 50px; padding-right: 50px; color: #838e9e; text-align: center; font-family: OpenSansRegular; font-size: 15px;">Оплаты недоступны</div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 15px; margin-left: 8px; margin-right: 8px; padding-bottom: 24px;">
        <div class="col-xs-8" style="padding-right: 8px;">
            <div class="student-info-box">
                <div class="student-info-box-header">РАСПИСАНИЕ СТУДЕНТА</div>
                <div ng-if="modal.hasSchedule" class="row" style="margin-right: 0; margin-left: 0;">
                    <!--ТУТ NG-REPEAT-->
                    <div ng-repeat="weekDay in modal.schedule track by $index" class="col-xs-2" style="padding-right: 0; padding-left: 0;">
                        <!--ЕСЛИ В ЭТОТ ДЕНЬ ЕСТЬ УРОК-->
                        <div ng-if="weekDay.hasLesson" style="border-right: 1px solid #eaeef4;">
                            <div style="text-align: center; padding-top: 10px; font-family: OpenSansRegular; color: #838e9e; padding-bottom: 10px; border-bottom: 1px dashed #eaeef4; font-size: 14px;">{{weekDay.name}}</div>
                            <div style="height: 120px;">
                                <div align="center">
                                    <div style="display: inline-block; padding-top: 15px;">
                                        <div style="float: left;"><img src="/static-files/images/lesson-start-time-icon.png" width="20px"></div>
                                        <div style="float: left; font-size: 16px; padding-left: 5px;">{{weekDay.lesson.startTime | date : 'HH:mm'}}</div>
                                    </div>
                                </div>
                                <div align="center">
                                    <div style="display: inline-block; padding-top: 15px;">
                                        <div style="float: left;"><img src="/static-files/images/lesson-end-time-icon.png" width="20px"></div>
                                        <div style="float: left; font-size: 16px; padding-left: 5px;">{{weekDay.lesson.endTime | date : 'HH:mm'}}</div>
                                    </div>
                                </div>
                                <div style="text-align: center; padding-top: 5px; padding-left: 5px; padding-right: 5px; font-family: OpenSansRegular; font-size: 12px;">{{weekDay.lesson.classroomID.name}}</div>
                            </div>
                        </div>

                        <!--ЕСЛИ В ЭТОТ ДЕНЬ НЕТ УРОКА-->
                        <div ng-if="!weekDay.hasLesson" style="border-right: 1px solid #eaeef4; background-color: #fafafa; height: 164px;">
                            <div style="text-align: center; padding-top: 10px; font-family: OpenSansRegular; color: #838e9e; opacity: 0.5; padding-bottom: 10px; font-size: 14px;">{{weekDay.name}}</div>
                        </div>
                    </div>
                </div>
                <div ng-if="!modal.hasSchedule">
                    <div style="padding-top: 35px; text-align: center; opacity: 0.4;"><img src="/static-files/images/empty-schedule-icon-small.png" width="70px"></div>
                    <div style="padding-top: 10px; padding-left: 50px; padding-right: 50px; color: #838e9e; text-align: center; font-family: OpenSansRegular; font-size: 15px;">Расписания еще не создано</div>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding-left: 8px;">
            <div class="student-info-box">
                <div class="student-info-box-header">ПОСЕЩАЕМОСТЬ СТУДЕНТА {{modal.appearance}}</div>
                <div style="text-align: center; font-family: OpenSansRegular; padding-top: 25px;">Всего пройдено {{modal.attendance.presence + modal.attendance.absence + modal.attendance.absenceReason}} уроков</div>
                <div align="center">
                    <div style="display: inline-block; padding-top: 20px;">
                        <div style="float: left; width: 90px; border-right: 1px solid #dce3ed;">
                            <div style="font-family: OpenSansSemiBold; font-size: 30px; color: #18b79f;">{{modal.attendance.presence}}</div>
                            <div style="font-family: OpenSansRegular; font-size: 12px; padding-top: 5px; color: #18b79f;">БЫЛ</div>
                        </div>
                        <div style="float: left; width: 90px; border-right: 1px solid #dce3ed;">
                            <div style="font-family: OpenSansSemiBold; font-size: 30px; color: #db6c6b;">{{modal.attendance.absence}}</div>
                            <div style="font-family: OpenSansRegular; font-size: 12px; padding-top: 5px; color: #db6c6b;">НЕ БЫЛ</div>
                        </div>
                        <div style="float: left; width: 90px;">
                            <div style="font-family: OpenSansSemiBold; font-size: 30px; color: #eec02c;">{{modal.attendance.absenceReason}}</div>
                            <div style="font-family: OpenSansRegular; font-size: 12px; padding-top: 5px; color: #eec02c;">УВ. ПР.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>