<div style="background-color: #eff2f7; padding-bottom: 14px;">
    <div class="row" style="padding-top: 24px; margin-left: 8px; margin-right: 8px; padding-bottom: 14px;">
        <div class="col-xs-4" style="padding-right: 8px;">
            <div class="student-info-box" style="height: 280px;">
                <div class="student-info-box-header">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</div>
                <div align="center">
                    <div style="padding-top: 20px; padding-bottom: 10px;">
                        <div>
                            <img style="border:2px solid #f4cd56; border-radius: 50%;" src="/static-files/images/empty-student-photo.png" width="70px">
                        </div>
                        <div style="font-family: OpenSansSemiBold; font-size: 18px; padding-left: 20px; padding-right: 20px; padding-top: 13px;">
                            <div>{{modal.student | nameFilter}}</div>
                        </div>
                    </div>
                </div>
                <div style="padding-left: 30px; padding-right: 30px; text-align: center; font-family: OpenSansRegular; font-size: 16px;">
                    <div style="color: #444e5c; font-size: 16px;">{{modal.student.phone | phoneFilter}}</div>
                    <div style="color: #444e5c; font-size: 15px;">{{modal.student.email}}</div>
                    <div style="font-size: 13px; color: #838e9e; padding-top: 15px;">{{modal.student.createdAt | timeFilterDate}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding-left: 8px; padding-right: 8px;">
            <div class="student-info-box" style="height: 280px; background-color: #fafafa;">
                <div class="student-info-box-header" style="background-color: #ffffff;">ИНФОРМАЦИЯ О ЗАВЕРШЕННЫХ КУРСАХ</div>
                    <div ng-if="modal.student.groups.length == 0">
                        Студент не имеет завершенных курсов.
                    </div>
                    <div ng-if="modal.student.groups.length > 0">
                        <div style="background-color: #ffffff; border-bottom: 1px solid #eff2f7; padding-left: 25px; padding-right: 25px;" ng-repeat="group in modal.group">
                            <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px;">
                                <div style="float: left; padding-top: 4px;">
                                    <div class="groups-indicator"></div>
                                </div>
                                <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 17px;">{{group.name}}</div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding-left: 8px;">
            <div class="student-info-box" style="height: 280px;">
                <div class="student-info-box-header">ОБЩАЯ ИСТОРИЯ ОПЛАТ</div>
                <div align="center" style="border-bottom: 1px solid #eff2f7;">
                    <div style="display: inline-block; padding-top: 19px; padding-bottom: 15px;">
                        <div style="float: left;">
                            <div style="font-family: OpenSansSemiBold; font-size: 22px; color: #35b056;">{{modal.totalPayments}}</div>
                            <div style="font-family: OpenSansRegular; font-size: 12px; color: #35b056;">ОПЛАЧЕНО</div>
                        </div>
                    </div>
                </div>
                <div style="color: #838e9e; font-family: OpenSansRegular; padding-top: 10px; padding-right: 20px; padding-left: 20px; font-size: 13px; ">История оплат</div>
                <div ng-if="modal.payments.length > 0" style="padding-left: 20px; padding-right: 20px; font-size: 14px; padding-top: 5px;">
                    <ul class=leaders style="font-family: OpenSansRegular; font-size: 15px; color: #777777;">
                        <li ng-repeat="payment in modal.payments track by $index" style="padding-bottom: 5px;">
                            <span style="font-size: 14px;">{{payment.createdAt | timeFilterDate}}</span>
                            <span style="color: #000000;">{{payment.value | customCurrencyFilter}}</span>
                        </li>
                    </ul>
                </div>
                <div ng-if="modal.payments.length == 0">
                    Не было произведено оплат.
                </div>
            </div>
        </div>
    </div>
    <!--ЕСЛИ ЭТО ОЖИДАЮЩИЙ СТУДЕНТ -->
    <div ng-show="modal.isWaitingStudent" style="padding-bottom: 10px; margin-left: 22px; margin-right: 22px;">
        <div class="student-info-box" style="height: 135px;">
            <div class="student-info-box-header" style="border: none;">ОЖИДАЕТ ГРУППУ</div>
            <div class="row" style="margin-left: 0; margin-right: 0; background-color: #e2f2fe; border-bottom: 1px solid #74c2f0;">
                <div class="col-xs-2" style="text-align: center; padding-top: 6px; padding-bottom: 6px; font-family: OpenSansSemiBold; font-size: 11px; color: #4d88b3;">ПРЕДМЕТ</div>
                <div class="col-xs-2" style="text-align: center; padding-top: 6px; padding-bottom: 6px; font-family: OpenSansSemiBold; font-size: 11px; color: #4d88b3;">УРОВЕНЬ</div>
                <div class="col-xs-2" style="text-align: center; padding-top: 6px; padding-bottom: 6px; font-family: OpenSansSemiBold; font-size: 11px; color: #4d88b3;">ТИП ГРУППЫ</div>
                <div class="col-xs-2" style="text-align: center; padding-top: 6px; padding-bottom: 6px; font-family: OpenSansSemiBold; font-size: 11px; color: #4d88b3;">ВОЗР. КАТЕГОРИЯ</div>
                <div class="col-xs-2" style="text-align: center; padding-top: 6px; padding-bottom: 6px; font-family: OpenSansSemiBold; font-size: 11px; color: #4d88b3;">ВРЕМЯ</div>
                <div class="col-xs-2" style="text-align: center; padding-top: 6px; padding-bottom: 6px; font-family: OpenSansSemiBold; font-size: 11px; color: #4d88b3;">ДНИ НЕДЕЛИ</div>
            </div>
            <div class="row" style="margin-left: 0; margin-right: 0; text-align: center;">
                <div class="col-xs-2" style="border-right: 1px solid #eff2f7; padding-top: 10px; height: 70px;">
                    <div ng-if="modal.hasSubject">
                        {{modal.student.subjectID.name}}
                    </div>
                    <div ng-if="!modal.hasSubject">
                        Не указано
                    </div>
                </div>
                <div class="col-xs-2" style="border-right: 1px solid #eff2f7; height: 70px; padding-top: 10px;">
                    <div ng-if="modal.hasSubject">
                        {{modal.student.levelID.value}}
                    </div>
                    <div ng-if="!modal.hasSubject">
                        Не указано
                    </div>
                </div>
                <div class="col-xs-2" style="border-right: 1px solid #eff2f7; height: 70px; padding-top: 10px;">
                    {{modal.student.groupType}}
                </div>
                <div class="col-xs-2" style="border-right: 1px solid #eff2f7; height: 70px; padding-top: 10px;">{{modal.student.ageType}}</div>
                <div class="col-xs-2" style="border-right: 1px solid #eff2f7; height: 70px; padding-top: 10px;">
                    <div ng-repeat="time in modal.student.studyTimes">{{time}}</div>
                </div>
                <div class="col-xs-2" style="border-right: 1px solid #eff2f7; height: 70px; padding-top: 10px;">
                    <div ng-repeat="day in modal.student.studyDays">
                        {{day}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>