<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
        background-color: #ffffff;
        top: 75px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .md-box-header{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .student-info-box{
        background-color: #ffffff;
        border-radius: 3px;
        height: 200px;
    }

    .student-info-box-header{
        border-bottom: 1px solid #eff2f7;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
        color: #838e9e;
        font-size: 11px;
        font-family: OpenSansSemiBold;
    }

    .md-box-header-control-button{
        border: none;
        background-color: #74c2f0;
        color: #ffffff;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: OpenSansSemiBold;
        font-size: 16px;
    }

    .md-box-header-control-button:hover{
        background-color: #69b8e6;
    }

    .md-box-header-control-active-button{
        border: none;
        background-color: #4d84f4;
        color: #ffffff;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 25px;
        padding-left: 25px;
        font-family: OpenSansSemiBold;
        font-size: 16px;
    }

    .groups-indicator{
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: #fd6461;
    }

    ul.leaders {
        max-width: 40em;
        padding: 0;
        overflow-x: hidden;
        list-style: none}
    ul.leaders li:before {
        float: left;
        width: 0;
        white-space: nowrap;
        content:
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "}
    ul.leaders span:first-child {
        padding-right: 0.33em;
        background: white}
    ul.leaders span + span {
        float: right;
        padding-left: 0.33em;
        background: white}

</style>
<div ng-controller="studentInfoController as modal">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #6699ff; display: inline-block; width: 100%; padding-top: 0; padding-bottom: 0; font-family: OpenSansRegular;">
            <div style="float: left; color: #ffffff; font-family: OpenSansSemiBold; padding-left: 10px; padding-right: 40px; padding-top: 18px; padding-bottom: 18px; font-size: 17px;">Информация о студенте</div>

            <div ng-if="modal.student.status === 'ACTIVE'">
                <div ng-repeat="group in modal.student.groups track by $index" style="float: left">
                    <button ng-click="modal.selectActiveStudentGroup($index)" ng-class="group._id === modal.group._id ? 'md-box-header-control-active-button' : 'md-box-header-control-button'">{{group.name}}</button>
                </div>
                <!--<div style="float: left">-->
                    <!--<button class="md-box-header-control-button">Заверенные курсы</button>-->
                <!--</div>-->
            </div>

        </div>
    </div>
    <div ng-if="modal.student.status === 'ACTIVE'" ng-include="'/app-admin/views/students/alerts/student-info/active.html'"></div>
    <div ng-if="modal.student.status === 'WAITING' || modal.student.status === 'ARCHIVE'" ng-include="'/app-admin/views/students/alerts/student-info/archive-waiting.html'"></div>
</div>