<style>
    .md-text-input:focus{
        border-bottom: 2px solid #6699ff;
    }

    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #4e85f1;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }

    .select-style select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }


</style>

<div ng-controller="addWaitingStudentController as addStudent">
    <div style="background-color: #ffffff; margin-left: 45px; margin-right: 45px; margin-top: 1px;">
        <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Добавление студента в список ожидающих</div>
        <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 10px;">
            <div class="col-xs-6">
                <div style="font-family: OpenSansSemiBold; font-size: 18px; color: #000000; padding-top: 20px; padding-left: 20px; padding-right: 20px;">Персональные данные</div>
                <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-left: 20px; padding-bottom: 10px; padding-top: 5px;">Данная информация нужна для удобной фильтрации студентов</div>
                <div style="padding-top: 25px;" align="center">
                    <img style="border-radius: 50%;" src="/static-files/images/empty-student-photo.png" width="120px">
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Фамилия:</div>
                    </div>
                    <div class="col-xs-8">
                        <input ng-model="addStudent.lastName" type="text" style="width:260px;" class="md-text-input" placeholder="Введите имя">
                        <div ng-if="addStudent.lastNameError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Имя:</div>
                    </div>
                    <div class="col-xs-8">
                        <input ng-model="addStudent.firstName" type="text" style="width:260px;" class="md-text-input" placeholder="Введите имя">
                        <div ng-if="addStudent.firstNameError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Телефон:</div>
                    </div>
                    <div class="col-xs-8">
                        <input ui-mask="+7 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="addStudent.phone" type="text" style="width:260px;" class="md-text-input" placeholder="Введите номер телефона">
                        <div ng-if="addStudent.phoneError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Email:</div>
                    </div>
                    <div class="col-xs-8">
                        <input ng-model="addStudent.email" type="text" style="width:260px;" class="md-text-input" placeholder="Введите email адрес">
                        <div ng-if="addStudent.emailError" ng-include="'/app-teacher/views/templates/validation/email-short.html'"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="border-left: 1px solid #edeeef; padding-bottom: 30px;">
                <div style="font-family: OpenSansSemiBold; font-size: 18px; color: #000000; padding-top: 20px; padding-left: 20px; padding-right: 20px;">Общая информация</div>
                <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-left: 20px; padding-bottom: 10px; padding-top: 5px;">Данная информация используется для фильтрации студентов</div>

                <!--ЕСЛИ НЕТ ПРЕДМЕТОВ-->
                <div ng-if="addStudent.noSubjects" style="margin-top: 5px; margin-bottom: 5px; background-color: #fd6461; border-radius: 4px; font-family: OpenSansRegular; padding-left: 15px; padding-right: 15px; margin-right: 20px; margin-left: 20px; padding-top: 10px; padding-bottom: 10px; color: #ffffff;">
                    <b>Внимание!</b> &nbsp;&nbsp;Для полноценной работы сортировки студентов, Вам необходимо добавить предметы Вашего центра.
                </div>
                <div ng-if="!addStudent.noSubjects">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-xs-4" style="text-align: right;">
                            <div style="padding-top: 8px;">Предмет:</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="select-style" style="float: left; width: 260px;">
                                <select ng-model="addStudent.subject" ng-options="subject as subject.name for subject in addStudent.subjects track by subject._id" ng-change="addStudent.updateSubject()"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-xs-4" style="text-align: right;">
                            <div style="padding-top: 8px;">Уровень:</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="select-style" style="float: left; width: 260px;">
                                <select ng-model="addStudent.level" ng-options="level as level.value for level in addStudent.subject.levels track by level._id"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Тип группы:</div>
                    </div>
                    <div class="col-xs-8">
                        <div style="padding-top: 10px;">
                            <div>
                                <button ng-click="addStudent.setGroupType(addStudent.GROUP_TYPE_GENERAL)" ng-class="addStudent.GROUP_TYPE == addStudent.GROUP_TYPE_GENERAL ? 'group-type-comman-active' : 'group-type-comman'" style="font-size: 13px; font-family: OpenSansSemiBold;">Общая</button>
                            </div>
                            <div>
                                <button ng-click="addStudent.setGroupType(addStudent.GROUP_TYPE_INDIVIDUAL)" ng-class="addStudent.GROUP_TYPE == addStudent.GROUP_TYPE_INDIVIDUAL ? 'group-type-individ-active' : 'group-type-individ'" style="font-size: 13px; font-family: OpenSansSemiBold;">Индивид</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Возраст:</div>
                    </div>
                    <div class="col-xs-8">
                        <div class="select-style" style="float: left; width: 260px;">
                            <select ng-model="addStudent.age" ng-options="age as age.name for age in addStudent.STUDENT_AGE_GROUPS track by age.value"></select>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Удобное время:</div>
                    </div>
                    <div class="col-xs-8">
                        <div style="padding-top: 10px;">
                            <div>
                                <button ng-click="addStudent.setStudyTime(addStudent.STUDENT_STUDY_TIME_MORNING)" ng-class="addStudent.studyTimes[addStudent.STUDENT_STUDY_TIME_MORNING] ? 'group-time-active' : 'group-time'" style="font-family: OpenSansSemiBold; padding-top: 5px; padding-bottom: 5px;">Утреннее</button>
                            </div>
                            <div style="margin-top: 5px;">
                                <button ng-click="addStudent.setStudyTime(addStudent.STUDENT_STUDY_TIME_LUNCH)"  ng-class="addStudent.studyTimes[addStudent.STUDENT_STUDY_TIME_LUNCH] ? 'group-time-active' : 'group-time'" style="font-family: OpenSansSemiBold; padding-top: 5px; padding-bottom: 5px;">Обеденное</button>
                            </div>
                            <div style="margin-top: 5px;">
                                <button ng-click="addStudent.setStudyTime(addStudent.STUDENT_STUDY_TIME_EVENING)" ng-class="addStudent.studyTimes[addStudent.STUDENT_STUDY_TIME_EVENING] ? 'group-time-active' : 'group-time'" style="font-family: OpenSansSemiBold; padding-top: 5px; padding-bottom: 5px;">Вечернее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Удобные дни:</div>
                    </div>
                    <div class="col-xs-8">
                        <div style="display: inline-block; padding-top: 10px;">
                            <div style="float: left;">
                                <button ng-click="addStudent.setDay(1)" ng-class="addStudent.days[1] ? 'group-day-active' : 'group-day'" style="width: 40px; margin-right: 5px; font-family: OpenSansSemiBold;">Пн</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="addStudent.setDay(2)" ng-class="addStudent.days[2] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px; font-family: OpenSansSemiBold;">Вт</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="addStudent.setDay(3)" ng-class="addStudent.days[3] ? 'group-day-active' : 'group-day'" style="width: 40px; margin-right: 5px; font-family: OpenSansSemiBold;">Ср</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="addStudent.setDay(4)" ng-class="addStudent.days[4] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px; font-family: OpenSansSemiBold;">Чт</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="addStudent.setDay(5)" ng-class="addStudent.days[5] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px; font-family: OpenSansSemiBold;">Пт</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="addStudent.setDay(6)" ng-class="addStudent.days[6] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px; font-family: OpenSansSemiBold;">Сб</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row" style="padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #edeeef; padding-left: 20px; padding-right: 20px;">-->
            <!--<div class="col-xs-6">-->
                <!--<button ng-click="waiting.cancelAddStudent()" class="cancel-group-button">ОТМЕНИТЬ</button>-->
            <!--</div>-->
            <!--<div class="col-xs-6" style="text-align: right;">-->
                <!--<button ng-click="addStudent.createStudent()" type="submit" class="submit-group-button">ДОБАВИТЬ</button>-->
            <!--</div>-->
        <!--</div>-->


        <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
            <div style="float: right;">
                <button ng-click="addStudent.createStudent()" type="submit" class="submit-group-button" style="width: 210px;">Добавить студента</button>
            </div>
            <div style="float: right; margin-right: 20px;">
                <button ng-click="waiting.cancelAddStudent()" class="cancel-group-button">Отменить</button>
            </div>
        </div>


    </div>
</div>