<style>
    .create-group-button{
        background-color: rgba(36, 205, 152, 1);
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .create-group-button:hover{
        background-color: #01c08d;
    }

    .header-button-default{
        color: #7f7f7f;
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #66bef0;
        color: #0f0f0f;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }

    .search-bar-button{
        border: 1px solid #CCCCCC;
        background-color: transparent;
        color: #bbbbbb;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        border-radius: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .search-bar-button:hover{
        color: #838e9e;
        border: 1px solid #838e9e;

    }

    .select-style2 select {
        padding: 5px 0px;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border: 1px solid #99a4b5;
        border-radius: 5px;
        color: #838e9e;
        outline:none;
        width: 180px;
        font-family: OpenSansRegular;
        font-size: 14px;
        padding-left: 15px;
        opacity: 0.7;
    }

    .select-style2 select:focus {
        outline: none;
        border: 1px solid #6699ff;
        color: #2462df;
        background-color: #e6eefe;
        opacity: 1;
    }

    .select-style3 select {
        padding: 5px 0px;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border: 1px solid #99a4b5;
        border-radius: 5px;
        color: #838e9e;
        outline:none;
        width: 160px;
        font-family: OpenSansRegular;
        font-size: 14px;
        padding-left: 15px;
        opacity: 0.7;
    }

    .select-style3 select:focus {
        outline: none;
        border: 1px solid #6699ff;
        color: #2462df;
        background-color: #e6eefe;
        opacity: 1;
    }

    md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
        color: #ffffff;
    }

    .active-block{
        background-color: #ecfef9;
    }

    .simple-block{
        background-color: #ffffff;
    }

    .simple-block2{
        background-color: #f4f5f6;
    }

    .active-block2{
        background-color: #cbf9ec;
    }

    .subjects-settings-button{
        background-color: #f4f5f6;
        border-radius: 2px;
        color: #a8b3c2;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        border: 1px solid #e7eaec;
    }

    .subjects-settings-button:hover{
        background-color: #edeeef;
    }

    .edunet-button-default{
        background-color: #b6bdcc;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .edunet-button-default:hover{
        background-color: #a8b1c4;
    }


</style>
<div ng-controller="waitingStudentsController as waiting" style="padding-bottom: 40px;">
    <!--ФОРМА ДОБАВЛЕНИЯ СТУДЕНТА В ОЖИДАЮЩИЕ-->
    <div ng-if="waiting.isAddStudent" ng-include="'/app-admin/views/students/waiting/add-student.html'"></div>
    <!--ФИЛЬТР И СПИСОК-->
    <div ng-if="!waiting.isAddStudent">
        <div style="background-color: #ffffff; margin-left: 45px; margin-right: 45px; margin-top: 1px; border-radius: 4px;">
            <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec; background-color: #ffffff;">
                <div class="row" style="margin: 0;">
                    <div class="col-xs-7" style="padding: 0;">
                        <div style="display: inline-block;">
                            <div style="float: left; padding-right: 30px; padding-top: 22px; padding-bottom: 20px;">Список студентов</div>
                            <div style="display: inline-block; float: left; border: 1px solid #CCCCCC; padding-left: 10px; padding-right: 10px; border-radius: 20px; padding-top: 5px; padding-bottom: 5px; margin-top: 17px;">
                                <div style="float: left; padding-top: 4px;">
                                    <img src="/static-files/images/search-bar-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 8px;">
                                    <input ng-model="waiting.searchName" ng-change="waiting.searchByName()" type="text" style="border: none; width: 350px; font-size: 15px;" placeholder="Поиск по студентам">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5" style="padding-top: 22px; padding-right: 0;">
                        <div style="display: inline-block; width: 100%;">
                            <div style="float: right;">
                                <button class="edunet-button-default" ng-click="waiting.addStudent()">
                                    <div style="display: inline-block;">
                                        <div style="float: left; padding-right: 7px; padding-top: 4px;">
                                            <img src="/static-files/images/block-header-button-add-icon.png" width="10px">
                                        </div>
                                        <div style="float: left;">ДОБАВИТЬ СТУДЕНТА</div>
                                    </div>
                                </button>
                            </div>
                            <div style="float: right; margin-right: 20px;">
                                <button class="subjects-settings-button" ng-click="waiting.goSubjects()">
                                    <div style="display: inline-block;">
                                        <div style="float: left; padding-right: 7px; padding-top: 2px; opacity: 0.6;">
                                            <img src="/static-files/images/subjects-settings-icon.png" width="14px">
                                        </div>
                                        <div style="float: left;">НАСТРОИТЬ ПРЕДМЕТЫ</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Когда нету предметов в центре-->
            <div ng-if="waiting.noSubjects" style="display: inline-block; background-color: #fd6461; color:#ffffff; width: 100%;">
                <div style="float: left; padding: 20px; background-color: #fd4945;">
                    <img src="/static-files/images/waiting-students-warning-icon.png" width="35px">
                </div>
                <div style="float: left; padding-left: 20px; padding-right: 20px; font-family: OpenSansRegular; font-size: 16px; padding-top: 15px; padding-bottom: 15px;">
                    <div style="font-family: OpenSansSemiBold;">Нет предметов и уровней!</div>
                    <div style="padding-top: 5px; font-size: 14px;">Для полноценной работы сортировки студентов, необходимо добавить предметы и уровни центра. Нажмите на кнопку «Настроить предметы»</div>
                    <!--<b><u>Внимание!</u></b>&nbsp;&nbsp;&nbsp;Для работы с расписанем необходимо добавить <a style="color: #ffffff;" href="#/add-teacher"><b>учителей</b></a> и <a style="color: #ffffff;" href="#/list-of-classrooms"><b>аудитории</b></a>!-->
                </div>
            </div>

            <div ng-if="!waiting.noStudents">
                <div class="row" style="margin-left: 0; margin-right: 0; background-color: #ffffff;">
                    <div class="col-xs-2" style="padding-top: 15px; width: 253px; border-right: 1px solid #e7eaec; height: 155px;">
                        <div style="text-align: center; color: #838e9e; font-family: OpenSansSemiBold; font-size: 11px;">ПРЕДМЕТ И УРОВЕНЬ</div>
                        <div align="center" style="padding-top: 17px;">
                            <div class="select-style2" style="width: 180px; background-color: transparent;">
                                <select ng-model="waiting.subject" ng-options="subject as subject.name for subject in waiting.subjects track by subject._id" ng-change="waiting.updateSubject()"></select>
                            </div>
                        </div>
                        <div align="center" style="padding-top: 10px;">
                            <div class="select-style2" style="width: 180px; background-color: transparent;">
                                <select ng-model="waiting.level" ng-options="level as level.value for level in waiting.subject.levels track by level._id"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 14px; width: 180px; border-right: 1px solid #e7eaec; height: 155px;">
                        <div style="text-align: center; color: #838e9e; font-family: OpenSansSemiBold; font-size: 11px;">ТИП ГРУППЫ</div>
                        <div align="center" style="padding-top: 17px;">
                            <div>
                                <button ng-click="waiting.setGroupType(waiting.GROUP_TYPE_GENERAL)" ng-class="waiting.GROUP_TYPE == waiting.GROUP_TYPE_GENERAL ? 'group-type-comman-active' : 'group-type-comman'">Общая</button>
                            </div>
                            <div>
                                <button ng-click="waiting.setGroupType(waiting.GROUP_TYPE_INDIVIDUAL)" ng-class="waiting.GROUP_TYPE == waiting.GROUP_TYPE_INDIVIDUAL ? 'group-type-individ-active' : 'group-type-individ'">Индивид</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="width: 225px; padding-top: 15px; border-right: 1px solid #e7eaec; height: 155px;">
                        <div style="text-align: center; color: #838e9e; font-family: OpenSansSemiBold; font-size: 11px;">ВОЗРАСТНАЯ КАТЕГОРИЯ</div>
                        <div align="center" style="padding-top: 15px;">
                            <div class="select-style3">
                                <select ng-model="waiting.ageType" ng-change="waiting.updateAge()">
                                    <option value="{{appConstants.EMPTY_ID}}">Выбрать категорию</option>
                                    <option value="{{waiting.STUDENT_AGE_GROUP_CHILDREN}}">{{waiting.search.ageTypes[waiting.STUDENT_AGE_GROUP_CHILDREN]}}</option>
                                    <option value="{{waiting.STUDENT_AGE_GROUP_TEENAGE}}">{{waiting.search.ageTypes[waiting.STUDENT_AGE_GROUP_TEENAGE]}}</option>
                                    <option value="{{waiting.STUDENT_AGE_GROUP_YOUTH}}">{{waiting.search.ageTypes[waiting.STUDENT_AGE_GROUP_YOUTH]}}</option>
                                    <option value="{{waiting.STUDENT_AGE_GROUP_ADULT}}">{{waiting.search.ageTypes[waiting.STUDENT_AGE_GROUP_ADULT]}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 20px; border-right: 1px solid #e7eaec; height: 155px;">
                        <div style="text-align: center; color: #838e9e; font-family: OpenSansSemiBold; font-size: 11px;">УДОБНОЕ ВРЕМЯ</div>
                        <div align="center" style="padding-top: 10px;">
                            <div>
                                <button ng-click="waiting.setStudyTime(waiting.STUDENT_STUDY_TIME_MORNING)" ng-class="waiting.search.studyTimes[waiting.STUDENT_STUDY_TIME_MORNING] ? 'group-time-active' : 'group-time'">Утреннее</button>
                            </div>
                            <div style="margin-top: 3px;">
                                <button ng-click="waiting.setStudyTime(waiting.STUDENT_STUDY_TIME_LUNCH)" ng-class="waiting.search.studyTimes[waiting.STUDENT_STUDY_TIME_LUNCH] ? 'group-time-active' : 'group-time'">Обеденное</button>
                            </div>
                            <div style="margin-top: 3px;">
                                <button ng-click="waiting.setStudyTime(waiting.STUDENT_STUDY_TIME_EVENING)" ng-class="waiting.search.studyTimes[waiting.STUDENT_STUDY_TIME_EVENING] ? 'group-time-active' : 'group-time'">Вечернее</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="width:180px; padding-top: 20px; height: 155px; border-right: 1px solid #e7eaec;">
                        <div style="text-align: center; color: #838e9e; font-family: OpenSansSemiBold; font-size: 11px;">ДНИ НЕДЕЛИ</div>
                        <div align="center" style="padding-top: 10px;">
                            <div style="display: inline-block;">
                                <div style="float: left;">
                                    <button ng-click="waiting.setDay(1)" ng-class="waiting.search.days[1] ? 'group-day-active' : 'group-day'" >Пн</button>
                                </div>
                                <div style="float: left; margin-left: 5px;">
                                    <button ng-click="waiting.setDay(2)" ng-class="waiting.search.days[2] ? 'group-day-active' : 'group-day'">Вт</button>
                                </div>
                            </div>
                            <div></div>
                            <div style="display: inline-block; margin-top: 3px;">
                                <div style="float: left;">
                                    <button ng-click="waiting.setDay(3)" ng-class="waiting.search.days[3] ? 'group-day-active' : 'group-day'">Cр</button>
                                </div>
                                <div style="float: left; margin-left: 5px;">
                                    <button ng-click="waiting.setDay(4)" ng-class="waiting.search.days[4] ? 'group-day-active' : 'group-day'">Чт</button>
                                </div>
                            </div>
                            <div></div>
                            <div style="display: inline-block; margin-top:3px;">
                                <div style="float: left;">
                                    <button ng-click="waiting.setDay(5)" ng-class="waiting.search.days[5] ? 'group-day-active' : 'group-day'">Пт</button>
                                </div>
                                <div style="float: left; margin-left: 5px;">
                                    <button ng-click="waiting.setDay(6)" ng-class="waiting.search.days[6] ? 'group-day-active' : 'group-day'">Сб</button>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="padding-top: 15px; text-align: center; width: 150px; height: 155px;">
                        <div ng-click="waiting.getStudentsByQuery()" style="margin-top: 12px;">
                            <button class="student-search-button">
                                <div style="padding-top: 10px; padding-bottom: 5px;"><img src="/static-files/images/student-search-button-icon.png" width="22px"></div>
                                <div style="padding-bottom: 5px;">НАЙТИ</div>
                            </button>
                        </div>
                        <div ng-click="waiting.clear()" style="margin-top: 5px;">
                            <button class="student-clean-button">ОЧИСТИТЬ</button>
                        </div>
                    </div>
                </div>
                <div ng-if="waiting.noQueryStudents">
                    <div class="md-box" style="padding-right: 180px; padding-left: 180px; background-color: #ffffff; padding-top: 30px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                        <div align="center" style="padding-bottom: 60px; padding-top: 40px;">
                            <div style="opacity: 0.4;"><img src="/static-files/images/no-search-result-icon.png" width="150px"></div>
                            <div style="font-family: OpenSansSemiBold; font-size: 17px; padding-top: 15px; color: #a8b3c2;">НИЧЕГО НЕ НАЙДЕНО</div>
                            <div style="font-family: OpenSansRegular; padding-top: 20px; color: #acb5c5; font-size: 14px; padding-left: 80px; padding-right: 80px;">Извините, по вашему запросу ничего не найдено. Попробуйте ввести другие слова.</div>
                        </div>
                    </div>
                </div>
                <div ng-if="!waiting.noQueryStudents">
                    <div class="row" style="margin-left: 0; margin-right: 0; background-color: #6699ff;">
                        <div class="col-xs-1" style="width: 70px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;"></div>
                        <div class="col-xs-2" style="width: 130px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">ДАТА</div>
                        <div class="col-xs-2" style="width: 200px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">ФАМИЛИЯ</div>
                        <div class="col-xs-2" style="width: 200px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">ИМЯ</div>
                        <div class="col-xs-2" style="width: 200px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">ТЕЛЕФОН</div>
                        <div class="col-xs-2" style="width: 210px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">EMAIL</div>
                        <div class="col-xs-2" style="width: 10px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;"></div>
                    </div>
                    <div ng-repeat="student in waiting.students" >
                        <div ng-class="student.isActive ? 'row student-list-active' : 'row'" style="margin-left: 0; margin-right: 0;">
                            <div ng-click="waiting.selectStudent($index)" class="col-xs-1" style="width: 70px; padding-left: 30px; padding-top: 25px;">
                                <md-checkbox class="green">
                                </md-checkbox>
                            </div>
                            <div class="col-xs-2" style="width: 130px; padding-top: 25px; padding-bottom: 25px;">{{student.updatedAt | date : 'dd.MM.yyyy'}}</div>
                            <div class="col-xs-1" style="width: 200px; padding-top: 25px; padding-bottom: 25px;">
                                <div ng-click="waiting.studentInfo(student._id)">
                                    <div>{{student.lastName}}</div>
                                </div>
                            </div>
                            <div class="col-xs-1" style="width: 200px; padding-top: 25px; padding-bottom: 25px;">
                                <div ng-click="waiting.studentInfo(student._id)">
                                    <div>{{student.firstName}}</div>
                                </div>
                            </div>
                            <div class="col-xs-2" style="width: 200px; padding-top: 25px; padding-bottom: 25px;">
                                <div>{{student.phone | phoneFilter}}</div>
                            </div>
                            <div class="col-xs-2" style="width: 280px; padding-top: 25px; padding-bottom: 25px;">
                                <div>{{student.email ? student.email : waiting.noTitle}}</div>
                            </div>
                            <div class="col-xs-1" style="width: 100px; padding-left: 5px; display: inline-block; padding-top: 5px;">
                                <div style="float: left;" ng-click="waiting.editStudentByID(student._id)" class="edit-student-button">
                                    <img src="/static-files/images/edit-student-icon.png" height="16px">
                                    <md-tooltip md-direction="right">
                                        Редактировать
                                    </md-tooltip>
                                </div>
                                <div ng-click="waiting.archiveStudentByID(student._id)" class="delete-student-button" style="float: left; padding-left: 9px;">
                                    <img src="/static-files/images/delete-student-icon.png" height="18px">
                                    <md-tooltip md-direction="right">
                                        Удалить
                                    </md-tooltip>
                                </div>
                            </div>
                        </div>

                        <div ng-class="student.isActive ? 'active-block2' : 'simple-block2'" style="display: inline-block; width: 100%; color: #838e9e; border-top: 1px dashed #e7eaec; font-size: 10px;">
                            <div style="float: left; width: 200px; border-right: 1px dashed #e7eaec; text-align: center; padding-top: 10px; padding-bottom: 10px;">ПРЕДМЕТ</div>
                            <div style="float: left; width: 200px; border-right: 1px dashed #e7eaec; text-align: center; padding-top: 10px; padding-bottom: 10px;">УРОВЕНЬ</div>
                            <div style="float: left; width: 150px; border-right: 1px dashed #e7eaec; text-align: center; padding-top: 10px; padding-bottom: 10px;">ТИП ГРУППЫ</div>
                            <div style="float: left; width: 200px; border-right: 1px dashed #e7eaec; text-align: center; padding-top: 10px; padding-bottom: 10px;">ВОЗРАСТНАЯ КАТЕГОРИЯ</div>
                            <div style="float: left; width: 220px; border-right: 1px dashed #e7eaec; text-align: center; padding-top: 10px; padding-bottom: 10px;">ВРЕМЯ</div>
                            <div style="float: left; width: 200px; text-align: center; padding-top: 10px; padding-bottom: 10px;">ДНИ</div>
                        </div>
                        <div ng-class="student.isActive ? 'active-block' : 'simple-block'" style="display: inline-block; width: 100%; border-bottom: 5px solid #e7eaec; border-top: 1px dashed #e7eaec;">
                            <div style="float: left; width: 200px; border-right: 1px dashed #e7eaec; text-align: center; padding-bottom: 15px; padding-top: 10px;">
                                <div>{{student.subjectID ? student.subjectID.name : waiting.noTitle }}</div>

                            </div>
                            <div style="float: left; width: 200px; border-right: 1px dashed #e7eaec; text-align: center; padding-bottom: 15px; padding-top: 10px;">
                                <div ng-if="student.subjectID">
                                    <div ng-repeat="level in student.subjectID.levels">
                                        <div ng-if="level._id == student.levelID">
                                            {{level.value}}
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="!student.subjectID">
                                    {{waiting.noTitle}}
                                </div>
                            </div>
                            <div style="float: left; width: 150px; border-right: 1px dashed #e7eaec; text-align: center; padding-bottom: 15px; padding-top: 10px;">
                                <div>{{ student.groupType ? waiting.groupTypes[student.groupType] : waiting.noTitle}}</div>
                            </div>
                            <div style="float: left; width: 200px; border-right: 1px dashed #e7eaec; text-align: center; padding-bottom: 15px; padding-top: 10px;">
                                <div>{{student.ageType ? waiting.ageTypes[student.ageType] : waiting.noTitle}}</div>
                            </div>
                            <div style="float: left; width: 220px; border-right: 1px dashed #e7eaec; text-align: center; padding-bottom: 15px; padding-top: 10px;">
                                <span ng-repeat="item in student.studyTimes">
                                    {{waiting.studyTimes[item]}}
                                </span>
                                <span ng-if="student.studyTimes.length == 0">{{waiting.noTitle}}</span>
                            </div>
                            <div style="float: left; width: 200px; text-align: center; padding-bottom: 15px; padding-top: 10px;">
                                <span ng-repeat="item in student.studyDays">
                                        {{waiting.days[item]}}
                                </span>
                                <span ng-if="student.studyDays.length == 0">{{waiting.noTitle}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-if="waiting.noStudents">
                <div class="md-box" style="padding-right: 180px; padding-left: 180px; background-color: #ffffff; padding-top: 30px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                    <div align="center" style="padding-bottom: 60px; padding-top: 40px;">
                        <div style="opacity: 0.9;"><img src="/static-files/images/empty-students-icon.png" width="165px"></div>
                        <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Новых студентов нет</div>
                        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 130px; padding-right: 130px;">На данный момент, студентов ожидающих групп нет.  Чтобы создать студента, нажмите на кнопку "Добавить студента"</div>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <button ng-if="!waiting.noMoreStudents" ng-click="waiting.showMore()" class="load-more-button">Показать еще</button>
        </div>


        <div style="width: 1280px; margin: auto; position: fixed; bottom: 0;">
            <div class="row" style="margin-left: 0; margin-right: 0;" ng-if="waiting.isStudentsSelection">
                <div class="col-xs-6" style="padding: 0;">
                    <button ng-click="waiting.assignStudents()" class="add-new-file-button" style="width: 100%; border-radius: 0; padding-top: 20px; padding-bottom: 20px;">
                        <div style="display: inline-block">
                            <div style="float: left; margin-right: 10px; padding-top: 4px;">
                                <img src="/static-files/images/student-list-add-icon.png" width="18px">
                            </div>
                            <div style="float: left; font-size: 18px;">ДОБАВИТЬ В ДЕЙСТВУЮЩУЮ ГРУППУ</div>
                        </div>
                    </button>
                </div>
                <div class="col-xs-6" style="padding: 0;">
                    <button ng-click="waiting.formGroup()" class="create-group-button" style="width: 100%; border-radius: 0; padding-top: 20px; padding-bottom: 20px;">
                        <div style="display: inline-block">
                            <div style="float: left; margin-right: 10px; padding-top: 2px;">
                                <img src="/static-files/images/student-list-link-icon.png" width="20px">
                            </div>
                            <div style="float: left; font-size: 18px;">СФОРМИРОВАТЬ НОВУЮ ГРУППУ</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>


    </div>
    


</div>