<style>
    .edit-subject{
        color: #838e9e;
    }

    .edit-subject:hover{
        color: #5d6a7c;
    }

    .add-item-button{
        border-radius: 3px;
        width: 150px;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        background-color: #b6bdcc;
    }

    .add-item-button:hover{
        background-color: #a8b1c4;
    }

    .edunet-button-default{
        background-color: #b6bdcc;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .edunet-button-default:hover{
        background-color: #a8b1c4;
    }

    .edit-subject-button{
        background-color: transparent;
        width: 35px;
        border: none;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 1px;
        opacity: 0.6;
    }

    .edit-subject-button:hover{
        opacity: 1;
    }

    .control-line-back-button{
        background-color: #c2c9d5;
        border: none;
        border-radius: 4px;
        color: #ffffff;
        font-family: OpenSansBold;
        font-size: 13px;
        padding-top: 7px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .control-line-back-button:hover{
        background-color: #b4bdcc;
    }

</style>


<div ng-controller="subjectsController as self">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Предметы центра</div>
                <div style="float: left; padding-top: 10px; padding-bottom: 10px; margin-left: 20px;">
                    <button ng-click="self.goBack()" class="control-line-back-button">
                        <img src="/static-files/images/reply-icon.png" width="14px"><span style="margin-left: 7px;">НАЗАД</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent" style="padding-top: 30px; padding-bottom: 40px;">
            <div ng-if="!self.noSubjects" class="md-box" style="margin-right: 180px; margin-left: 180px; background-color: #ffffff;">
                <div style="padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">
                    <div class="row">
                        <div class="col-xs-6">Список предметов и уровней</div>
                        <div class="col-xs-6" style="text-align: right;">
                            <button ng-click="self.addSubject()" class="edunet-button-default">ДОБАВИТЬ ПРЕДМЕТ</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 12px; padding-bottom: 12px; background-color: #f4f5f6; margin-left: 0; margin-right: 0; border-bottom: 1px solid #e7eaec;">
                    <div class="col-xs-6" style="color: #838e9e; font-size: 11px; font-family: OpenSansBold; padding-left: 30px; padding-right: 30px;">НАЗВАНИЕ ПРЕДМЕТА</div>
                    <div class="col-xs-6" style="color: #838e9e; font-size: 11px; font-family: OpenSansBold; padding-left: 35px; padding-right: 30px;">НАЗВАНИЕ УРОВНЕЙ</div>
                </div>
                <!--ТУТ NG-REPEAT-->
                <div ng-repeat="subject in self.subjects" class="row" style="border-bottom: 1px solid #e7eaec; font-family: OpenSansRegular; font-size: 16px;">
                    <div class="col-xs-6">
                        <div style="display: inline-block; padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 20px;">
                            <div style="float: left;">{{subject.name}}</div>
                            <div style="float: left; width: 20px; margin-left: 10px; padding-top: 3px;">
                                <button ng-click="self.editSubject(subject._id)" class="edit-subject-button">
                                    <img src="/static-files/images/edit-student-icon.png" height="14px">
                                    <md-tooltip md-direction="top">
                                        Редактировать
                                    </md-tooltip>
                                </button>
                            </div>
                            <div style="float: left; width: 20px; padding-top: 3px; margin-left: 5px;">
                                <button ng-click="self.deleteSubject(subject._id)" class="edit-subject-button">
                                    <img src="/static-files/images/delete-student-icon.png" height="15px">
                                    <md-tooltip md-direction="top">
                                        Удалить
                                    </md-tooltip>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="border-left: 1px dashed #e7eaec; padding-top: 20px; padding-bottom: 25px;">
                        <div ng-repeat="level in subject.levels"  style="padding-left: 20px; padding-right: 30px; padding-bottom: 10px;">{{level.value}}</div>
                    </div>
                </div>
            </div>
            <div ng-if="self.noSubjects" class="md-box" style="margin-right: 180px; margin-left: 180px; background-color: #ffffff;">
                <div style="padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">
                    <div class="row">
                        <div class="col-xs-6">Список предметов и уровней</div>
                        <div class="col-xs-6" style="text-align: right;">
                            <button ng-click="self.addSubject()" class="edunet-button-default">ДОБАВИТЬ ПРЕДМЕТ</button>
                        </div>
                    </div>
                </div>
                <div align="center" style="padding-bottom: 60px; padding-top: 60px;">
                    <div><img src="/static-files/images/empty-subjects-icon.png" height="170px"></div>
                    <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 35px; color: #a8b3c2;">Предметов нет</div>
                    <div style="font-family: OpenSansRegular; padding-top: 5px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">На данный момент в вашем центре нет предметов и уровней, вы можете их добавить нажав на кнопку «Добавить предмет»</div>
                </div>
            </div>
        </div>
    </div>
</div>