.select-style {
    /*border: 1px solid #ccc;*/
    /*border-bottom: 1px solid red;*/
    width: 600px;
    border-radius: 0px;
    overflow: hidden;
    background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
}

.select-style select {
    padding: 8px 0px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    border-bottom: 1px solid #99a4b5;
    border-radius: 0px;
    color: #777777;
    font-family: OpenSansRegular;
    font-size: 15px;
}

.select-style select:focus {
    outline: none;
    border-bottom: 2px solid #6699ff;
    color: #0f0f0f;
}

.md-text-input{
    border: none;
    border-bottom: 1px solid #99a4b5;
    border-radius: 0px;
    color: #838e9e;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
    font-family: OpenSansRegular;
    font-size: 15px;
}

.md-text-input:focus{
    outline: none;
    border-bottom: 2px solid #6699ff;
    color: #0f0f0f;
}

div, img, button{
    outline: none;
}

/*.add-student-button{*/
/*background-color: #e4eaf0;*/
/*border: none;*/
/*border-radius: 2px;*/
/*color: #89a0b2;*/
/*padding-top: 6px;*/
/*padding-bottom: 6px;*/
/*font-size: 11px;*/
/*font-family: OpenSansSemiBold;*/
/*padding-left: 13px;*/
/*padding-right: 13px;*/
/*}*/

/*.add-student-button:hover{*/
/*background-color: #d9e0e7;*/
/*}*/

.add-student-button{
    color: #4d85de;
    background-color: transparent;
    padding: 0px;
    border: none;
    font-size: 12px;
    font-family: OpenSansRegular;

}

.add-student-button:hover{
    text-decoration: underline;
}

.help-tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #585858;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-family: OpenSansRegular;

    /* Position the tooltip */
    position: absolute;
    margin-left: 20px;
    z-index: 1;
}

.help-tooltip:hover .tooltiptext {
    visibility: visible;
}

.submit-group-button{
    background-color: #6699ff;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    font-family: OpenSansSemiBold;
    padding-left: 25px;
    padding-right: 25px;
}

.submit-group-button:hover{
    background-color: #4e85f1;
}


.cancel-group-button{
    border-radius: 2px;
    width: 150px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    background-color: #bac3d0;
    font-size: 15px;
    font-family: OpenSansSemiBold;
}

.cancel-group-button:hover{
    background-color: #acb7c7;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-bottom: 8px solid #e43f3f;
}


/*Стили RADIO BUTTON*/

md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
    border-color: #99a4b5;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: #6699ff;
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: #6699ff;
}

.md-text-input{
    color: #000000;
}