
/*@font-face {*/
/*font-family: HelveticaNeue Thin;*/
/*src: url(/static-files/fonts/HelveticaNeue-Thin.ttf);*/
/*}*/

@font-face {
    font-family: "OpenSansRegular";
    src: url("/static-files/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("/static-files/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("/static-files/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("/static-files/fonts/OpenSansLight/OpenSansLight.eot");
    src: url("/static-files/fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("/static-files/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("/static-files/fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("/static-files/fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("/static-files/fonts/OpenSansBold/OpenSansBold.eot");
    src: url("/static-files/fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body{
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    /*font-family: HelveticaNeue Thin;*/
}

.topMenu{
    background-color: #3F51B5;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    min-width: 1280px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 280px !important;
    width: 280px; !important;
    max-width: 280px !important;
}

.menu-button{
    background-color: transparent;
    border: none;
    height: 22px;
}

.mainView{
    background-color: #e1e2e2;
    /*height: 100%;*/
    /*min-height:100%;*/

}

.mainViewContent{
    width: 1280px !important;
    margin: 0 auto;
}


.control-line{
    padding-left: 180px;
    padding-right: 180px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f4f4f4;
    width: 1280px !important;
}

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.search input {
    width: 350px;
    height: 33px;
    border: none;
    border-radius: 25px;
    background-color: #c2c9d5;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #f3f3f3;
    font-size: 14px;
}



.search input { text-indent: 32px;}


.search .searchIcon {
    position: absolute;
    left: 10px;
    padding-top: 10px;
    color: #e8ecf3;
    font-size: 14px;
}



.search input:focus{
    outline: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c2c9d5;
}


.search input::-webkit-input-placeholder {color:#ffffff; font-family: OpenSansRegular;}
.search input::-moz-placeholder          {color:#ffffff; font-family: OpenSansRegular;}/* Firefox 19+ */
.search input:-moz-placeholder           {color:#ffffff; font-family: OpenSansRegular;}/* Firefox 18- */
.search input:-ms-input-placeholder      {color:#ffffff; font-family: OpenSansRegular;}

.control-line-button{
    border: 0;
    background-color: transparent;
    padding-top: 7px;
    padding-bottom: 13px;
    border-radius: 5px;
}

.control-line-button:hover{
    background-color: #e1e4ea;
}

.groupBox{
    background-color: #ffffff;
    /*border: 1px solid #d3d3d3;*/
    border-radius: 5px;
}

/*.groupBox:hover{*/
/*border: 1px solid #3F51B5;*/
/*}*/

.groupBoxHeader{
    /*background-color: #ffffff;*/
    /*border-bottom: 1px solid #e2e2e2;*/
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: OpenSansRegular;
    text-align: center;
    /*background-color: #3F51B5;*/
    color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 18px;
}


/*.groupBox:hover > .groupBoxHeader{*/
/*background-color: #3F51B5;*/
/*color: #ffffff;*/
/*}*/

.groupBoxBody{
    background-color: #ffffff;
    border-bottom: 1px solid #eff2f7;
    font-size: 14px;
    color: #535353;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.groupBoxFooter{
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.more-button{
    background-color: transparent;
    border: none;
    height: 17px;
}


.new-group-button{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: none;
    font-size: 28px;
    background-color: #469b7f;
    color: #ffffff;
    padding-bottom: 5px;
    padding-left: 7px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
    opacity: 0.8;
    padding-top: 5px;
}

.new-group-button:hover{
    /*box-shadow: 2px 2px 5px #9e9e9e;*/
    background-color: #469b7f;
    opacity: 1;
}

/*.popup-control-menu{*/
/*border: 1px solid #c7cfd9;*/
/*background-color: #f5f5f5;*/
/*position: absolute;*/
/*top: 175px;*/
/*left: 110px;*/
/*width: 200px;*/
/*border-radius: 3px;*/
/*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/
/*padding-top: 7px;*/
/*padding-bottom: 7px;*/
/*}*/

/*.popup-control-menu-item{*/
/*display: inline-block;*/
/*width: 100%;*/
/*padding-top: 7px;*/
/*padding-bottom: 7px;*/
/*}*/

/*.popup-control-menu-item:hover{*/
/*background-color: #e6e6e6;*/
/*}*/

.main-menu-item{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-menu-item:hover{
    background-color: #eeeeee;
}

.main-menu-header{
    width: 100%;
    background-color: #3F51B5;
    height: 60px;
}


/*MODAL CSS*/
.addLesson  {
    width: 1000px;
    height: 500px;
    padding: 0px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding-bottom: 80px;
    padding-top: 100px;

    /*width: 1000px;*/
    /*height: 500px;*/
    /*padding: 0px;*/
    /*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/
    /*border-radius: 3px;*/
    /*padding-bottom: 80px;*/
    /*padding-top: 100px;*/
}

.loader {
    margin: 100px auto;
    font-size: 18px;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #4d85de, 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.5), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.7), 1.8em -1.8em 0 0em #4d85de, 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.5), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.7), 2.5em 0em 0 0em #4d85de, 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.5), 2.5em 0em 0 0em rgba(77, 133, 222, 0.7), 1.75em 1.75em 0 0em #4d85de, 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.5), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.7), 0em 2.5em 0 0em #4d85de, -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.5), 0em 2.5em 0 0em rgba(77, 133, 222, 0.7), -1.8em 1.8em 0 0em #4d85de, -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.5), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.7), -2.6em 0em 0 0em #4d85de, -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.5), -2.6em 0em 0 0em rgba(77, 133, 222, 0.7), -1.8em -1.8em 0 0em #4d85de;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #4d85de, 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.5), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.7), 1.8em -1.8em 0 0em #4d85de, 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.5), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.7), 2.5em 0em 0 0em #4d85de, 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.5), 2.5em 0em 0 0em rgba(77, 133, 222, 0.7), 1.75em 1.75em 0 0em #4d85de, 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.5), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.7), 0em 2.5em 0 0em #4d85de, -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.5), 0em 2.5em 0 0em rgba(77, 133, 222, 0.7), -1.8em 1.8em 0 0em #4d85de, -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.5), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.7), -2.6em 0em 0 0em #4d85de, -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.5), -2.6em 0em 0 0em rgba(77, 133, 222, 0.7), -1.8em -1.8em 0 0em #4d85de;
    }
}

/*---------------SIDE MENU STYLES------------------*/

.admin-side-menu-item{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #36414f;
    border-bottom: 1px solid #43505f;
    color: #ffffff;
    font-family: OpenSansLight;

}

.admin-side-menu-item:hover{
    background-color: #2c3541;
}

.admin-side-menu-header{
    width: 100%;
    background-color: #36414f;
    border-bottom: 1px solid #43505f;
    font-family: OpenSansLight;

}

/*.admin-side-menu-header:hover{*/
/*background-color: #2c3541;*/
/*}*/

.admin-side-menu-header-photo{
    border-radius: 50%;
}

.admin-side-menu-group-indicator{
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.admin-side-menu-item-group-title{
    float: left;
    width: 180px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

md-sidenav, md-backdrop {
    position: fixed !important;
}

div, button{
    outline: none;
}
