.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-bottom: 8px solid #ffffff;
}
.control-menu{
    /*-moz-box-shadow: 0px 3px 8px rgb(100,100,100);*/
    /*-webkit-box-shadow: 0px 3px 8px rgb(100,100,100);*/
    /*box-shadow: 0px 3px 8px rgb(100,100,100);*/

    box-shadow: 3px 0 3px -3px #CCC, 0 3px 3px -3px #CCC, -3px 0 3px -3px #CCC;
    border-radius: 4px;
    border-bottom: 1px solid #c1c8d5;
    border-left: 1px solid #dee3ec;
    border-right: 1px solid #dee3ec;
}

.control-menu-item{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    font-family: OpenSansRegular;
    color: #2d76aa;
    background-color: #ffffff;
    border: none;
    width: 100%;
    text-align: left;
    /*border-left: 2px solid #ffffff;*/
}

.control-menu-item:hover{
    background-color: #ebf0f5;
    /*border-left: 2px solid #66bef0;*/
}



/*СТАНДАРТНАЯ КНОПКА*/

.edunet-button-default{
    background-color: #6699ff;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 11px;
    font-family: OpenSansSemiBold;
    padding-left: 13px;
    padding-right: 13px;
}

.edunet-button-default:hover{
    opacity: 0.9;
}

/*.branch-select{*/
/*background-color: #528dde;*/
/*border:none;*/
/*color: #ffffff;*/
/*font-family: OpenSansSemiBold;*/
/*font-size: 16px;*/
/*outline: none;*/
/*}*/

.branch-select {
    /*border: 1px solid #2a68c6;*/
    width: 240px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("/static-files/images/white-select-arrow.png") no-repeat 90% 50%;
    background-color: #427bd3;
    color: #ffffff;
    font-size: 16px;
    /*padding-top: 15px;*/
    /*padding-bottom: 14px;*/
    padding-left: 10px;
    border: 1px solid #3b75ce;
}

.branch-select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.branch-select select:focus {
    outline: none;
}




