/*.md-box-header{*/
    /*border-bottom: 1px solid #eff2f7;*/
    /*padding-top: 18px;*/
    /*padding-bottom: 18px;*/
    /*color: #2196F3;*/
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
    /*font-size: 15px;*/
    /*font-family: OpenSansBold;*/
/*}*/

.md-box-delete-button{
    border-radius: 5px;
    width: 150px;
    border: 1px solid #ffffff;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #ffffff;
    background-color: #f07568;
    font-size: 13px;
    font-family: OpenSansSemiBold;
}

.md-box-delete-button:hover{
    background-color: #f26051;

}

.md-box-edit-button{
    border-radius: 5px;
    width: 150px;
    border: 1px solid #ffffff;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #7f7f7f;
    background-color: #eeeeee;
    font-size: 13px;
    font-family: OpenSansSemiBold;
}

.md-box-edit-button:hover{
    background-color: #e5e5e5;
}

.calendar-middle-top-item{
    width: 150px;
    height: 60px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 200;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7eaec;
}

.calendar-middle-item{
    width: 150px;
    height: 40px;
    border-bottom: 1px solid #e7eaec;
    border-right: 1px solid #e7eaec;
    background-color: #ffffff;
}
.schedule-lesson{
    position: absolute;
    margin-left: 7px;
    width:136px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.calendar-time-line-item{
    text-align: right;
    padding-right: 15px;
    color: #7d838a;
    font-family: OpenSansRegular;
    font-size:13px;
    width: 80px;
}

.edunet-box-header{
    padding-left: 30px;
    padding-top: 22px;
    padding-bottom: 18px;
    color: #131313;
    font-size: 19px;
    font-family: OpenSansRegular;
    border-bottom: 1px solid #e7eaec;
}

.md-box-indicator-label{
    border-radius: 20px;
    background-color: #6699ff;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-family: OpenSansSemiBold;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.edunet-box-edit-button{
    border-radius: 3px;
    width: 150px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 13px;
    font-family: OpenSansSemiBold;
    background-color: #b6bdcc;
}

.edunet-box-edit-button:hover{
    background-color: #a8b1c4;
}

.edunet-box-delete-button{
    border-radius: 3px;
    width: 150px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 13px;
    font-family: OpenSansSemiBold;
    background-color: #fa736d;
}

.edunet-box-delete-button:hover{
    background-color: #ed615b;
}