
body{
    font-family: -apple-system, Helvetica, Arial, sans-serif;
}

.topMenu{
    background-color: #3F51B5;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    min-width: 1280px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 280px !important;
    width: 280px; !important;
    max-width: 280px !important;
}

.menu-button{
    background-color: transparent;
    border: none;
    height: 22px;
}

.mainView{
    background-color: rgb(220, 221, 222);
    min-height: 100%;
}

.mainViewContent{
    width: 1280px !important;
    margin: 0 auto;
}


.control-line{
    padding-left: 180px;
    padding-right: 180px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f4f4f4;
    width: 1280px !important;
}

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.search input {
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 25px;
    /*background-color: #555555;*/
    background-color: #aab2b9;
    /*background-color: #d0d1d5;*/
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f3f3f3;
    font-size: 14px;
}



.search input { text-indent: 32px;}
.search .searchIcon {
    position: absolute;
    left: 10px;
    padding-top: 8px;
    color: #d8d8d8;
    font-size: 14px;
}


.search input:focus{
    outline: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c0c0c0;
}

.search input::-webkit-input-placeholder {color:#ffffff; font-weight: 600;}
.search input::-moz-placeholder          {color:#ffffff; font-weight: 600;}/* Firefox 19+ */
.search input:-moz-placeholder           {color:#ffffff; font-weight: 600;}/* Firefox 18- */
.search input:-ms-input-placeholder      {color:#ffffff; font-weight: 600;}

.control-line-button{
    border: 0;
    background-color: transparent;
    padding-top: 7px;
    padding-bottom: 13px;
    border-radius: 5px;
}

.control-line-button:hover{
    background-color: #e1e4ea;
}

.groupBox{
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.groupBox:hover{
    border: 1px solid #3F51B5;
}

.groupBoxHeader{
    /*background-color: #ffffff;*/
    /*border-bottom: 1px solid #e2e2e2;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    text-align: center;
    background-color: #3F51B5;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


/*.groupBox:hover > .groupBoxHeader{*/
/*background-color: #3F51B5;*/
/*color: #ffffff;*/
/*}*/

.groupBoxBody{
    background-color: #fcfcfc;
    border-bottom: 1px solid #e2e2e2;
    font-size: 14px;
    color: #535353;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.groupBoxFooter{
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.more-button{
    background-color: transparent;
    border: none;
    height: 17px;
}


.new-group-button{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: none;
    font-size: 28px;
    background-color: #5caf94;
    color: #ffffff;
    padding-bottom: 5px;
    padding-left: 7px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.new-group-button:hover{
    /*box-shadow: 2px 2px 5px #9e9e9e;*/
    background-color: #469b7f;
}

.popup-control-menu{
    border: 1px solid #c7cfd9;
    background-color: #f5f5f5;
    position: absolute;
    top: 175px;
    left: 110px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    padding-top: 7px;
    padding-bottom: 7px;
}

.popup-control-menu-item{
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.popup-control-menu-item:hover{
    background-color: #e6e6e6;
}

.main-menu-item{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-menu-item:hover{
    background-color: #eeeeee;
}

.main-menu-header{
    width: 100%;
    background-color: #3F51B5;
    height: 60px;
}


input#toggle {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}


input#toggle + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}

input#toggle + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggle + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggle:checked + label:before {
    width: 50px;
    background: rgba(19, 191, 17, 1);
}

input#toggle:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}


input#toggleTuesday {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}


input#toggleTuesday + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}

input#toggleTuesday + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleTuesday + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleTuesday:checked + label:before {
    width: 50px;
    background: rgba(19, 191, 17, 1);
}

input#toggleTuesday:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}


input#toggleWednesday {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}


input#toggleWednesday + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}

input#toggleWednesday + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleWednesday + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleWednesday:checked + label:before {
    width: 50px;
    background: rgba(19, 191, 17, 1);
}

input#toggleWednesday:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}


input#toggleThursday {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}


input#toggleThursday + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}

input#toggleThursday + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleThursday + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleThursday:checked + label:before {
    width: 50px;
    background: rgba(19, 191, 17, 1);
}

input#toggleThursday:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}


input#toggleFriday {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}


input#toggleFriday + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}

input#toggleFriday + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleFriday + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleFriday:checked + label:before {
    width: 50px;
    background: rgba(19, 191, 17, 1);
}

input#toggleFriday:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}


input#toggleSaturday {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}


input#toggleSaturday + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
}

input#toggleSaturday + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleSaturday + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggleSaturday:checked + label:before {
    width: 50px;
    background: rgba(19, 191, 17, 1);
}

input#toggleSaturday:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

.select-style-2 {
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    background: #ffffff;
}

.select-style-2 select {
    /*padding: 5px 8px;*/
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 9px;
    padding-right: 9px;
}

.select-style-1 {
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    width: 600px;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;

    background: #fff url("images/blackSelectArrow.png") no-repeat 98% 50%;
}

.select-style-1 select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.add-new-schedule-button{
    background-color: #3F51B5;
    border: 1px solid #3F51B5;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 3px;
}

.add-new-schedule-button:hover{
    background-color: #5465c7;
}

.cancel-schedule-button{
    background-color: #fafbfc;
    border: 1px solid #cccccc;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #888888;
    font-weight: 400;
    border-radius: 3px;
}

.cancel-schedule-button:hover{
    color: #333333;
    border: 1px solid #777777;
}

