.new-group-form{
    margin-left: 180px;
    margin-right: 180px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.select-style-1 {
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    width: 600px;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;

    background: #fff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
}

.select-style-1 select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/*input[type="text"], textarea {*/
    /*outline: none;*/
    /*box-shadow:none !important;*/
    /*border:1px solid #ccc !important;*/
/*}*/

.form-control{
    border-radius: 3px;
}

.edunetButton2{
    background-color: #e4eaf0;
    border-radius: 3px;
    color: #1A237E;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #bdcbda;
    font-weight: 400;
}

.edunetButton2:hover{
    background-color: #e4eaf0;
    border-radius: 3px;
    color: #1A237E;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #1A237E;
    font-weight: 400;
}

.delete-icon{
    color: #cccccc;
    width: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.delete-icon{
    color: #cccccc;
    width: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.delete-icon:hover{
    color: #777777;
    width: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.add-group-button{
    background-color: #3F51B5;
    border: 1px solid #3F51B5;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 3px;
}

.add-group-button:hover{
    background-color: #5465c7;
}

.cancel-button{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #888888;
    font-weight: 400;
    border-radius: 3px;
}

.cancel-button:hover{
    color: #3F51B5;
    border: 1px solid #3F51B5;
}

.error-message{
    color:red;
    font-weight: 400;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 2px;
}