body{
    font-family: -apple-system, Helvetica, Arial, sans-serif;
}

.topMenu{
    background-color: #3F51B5;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    min-width: 1280px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 280px !important;
    width: 280px; !important;
    max-width: 280px !important;
}

.menu-button{
    background-color: transparent;
    border: none;
    height: 22px;
}

.mainView{
    /*background-color: rgb(220, 221, 222);*/
    background-color: #eff2f7;
    min-height: 100%;
}

.mainViewContent{
    width: 1280px !important;
    margin: 0 auto;
}


.control-line{
    padding-left: 180px;
    padding-right: 180px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eff2f7;
    width: 1280px !important;
}

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.search input {
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 25px;
    /*background-color: #555555;*/
    background-color: #aab2b9;
    /*background-color: #d0d1d5;*/
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f3f3f3;
    font-size: 14px;
}



.search input { text-indent: 32px;}
.search .searchIcon {
    position: absolute;
    left: 10px;
    padding-top: 8px;
    color: #d8d8d8;
    font-size: 14px;
}


.search input:focus{
    outline: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c0c0c0;
}

.search input::-webkit-input-placeholder {color:#ffffff; font-weight: 600;}
.search input::-moz-placeholder          {color:#ffffff; font-weight: 600;}/* Firefox 19+ */
.search input:-moz-placeholder           {color:#ffffff; font-weight: 600;}/* Firefox 18- */
.search input:-ms-input-placeholder      {color:#ffffff; font-weight: 600;}

.control-line-button{
    border: 0;
    background-color: transparent;
    padding-top: 7px;
    padding-bottom: 13px;
    border-radius: 5px;
}

.control-line-button:hover{
    background-color: #e1e4ea;
}

.groupBox{
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.groupBox:hover{
    border: 1px solid #3F51B5;
}

.groupBoxHeader{
    /*background-color: #ffffff;*/
    /*border-bottom: 1px solid #e2e2e2;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    text-align: center;
    background-color: #3F51B5;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


/*.groupBox:hover > .groupBoxHeader{*/
/*background-color: #3F51B5;*/
/*color: #ffffff;*/
/*}*/

.groupBoxBody{
    background-color: #fcfcfc;
    border-bottom: 1px solid #e2e2e2;
    font-size: 14px;
    color: #535353;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.groupBoxFooter{
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.more-button{
    background-color: transparent;
    border: none;
    height: 17px;
}


.new-group-button{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: none;
    font-size: 28px;
    background-color: #5caf94;
    color: #ffffff;
    padding-bottom: 5px;
    padding-left: 7px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.new-group-button:hover{
    /*box-shadow: 2px 2px 5px #9e9e9e;*/
    background-color: #469b7f;
}

.popup-control-menu{
    border: 1px solid #c7cfd9;
    background-color: #f5f5f5;
    position: absolute;
    top: 190px;
    left: 190px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    padding-top: 7px;
    padding-bottom: 7px;
}

.popup-control-menu-item{
    display: inline-block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.popup-control-menu-item:hover{
    background-color: #e6e6e6;
}

.main-menu-item{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-menu-item:hover{
    background-color: #eeeeee;
}

.main-menu-header{
    width: 100%;
    background-color: #3F51B5;
    height: 60px;
}

.new-group-form{
    margin-left: 80px;
    margin-right: 80px;
    background-color: #ffffff;
    /*border: 1px solid #d3d3d3;*/
    /*border-radius: 5px;*/
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}


/*Create new group styles*/


.select-style-1 {
    padding: 2px;
    margin: 0;
    border: 1px solid #ccc;
    width: 600px;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;

    background: #fff url("images/blackSelectArrow.png") no-repeat 98% 50%;
}

.select-style-1 select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.form-control{
    border-radius: 3px;
}

.edunetButton2{
    background-color: #e4eaf0;
    border-radius: 3px;
    color: #1A237E;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #bdcbda;
    font-weight: 400;
}

.edunetButton2:hover{
    background-color: #e4eaf0;
    border-radius: 3px;
    color: #1A237E;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #1A237E;
    font-weight: 400;
}

.delete-icon{
    color: #cccccc;
    width: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.delete-icon{
    color: #cccccc;
    width: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.delete-icon:hover{
    color: #777777;
    width: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.add-group-button{
    background-color: #3F51B5;
    border: 1px solid #3F51B5;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 3px;
}

.add-group-button:hover{
    background-color: #5465c7;
}

.cancel-button{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #888888;
    font-weight: 400;
    border-radius: 3px;
}

.cancel-button:hover{
    color: #3F51B5;
    border: 1px solid #3F51B5;
}

/*.nav-item{*/
/*background-color: transparent;*/
/*}*/

/*СТИЛИ ДЛЯ ИНФОРМАЦИЯ О ГРУППЕ*/

.nav{
    /*padding-left: 24px;*/
    /*padding-right: 24px;*/

}

.nav-pills > li >a{
    color: rgba(255, 255, 255, 0.5);
    background-color: #eff2f7;
    color: #1A237E;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    /*width: 100px;*/
    /*text-align: center;*/
    border-radius: 0;
    opacity: 0.2;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    background-color: transparent;
    color: #1A237E;
    opacity: 0.8;

}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: transparent;
    /*color: #454d58;*/
    color: #1A237E;
    /*border-bottom: 5px solid #ffff94;*/
    border-radius: 0;
    opacity: 1;
}

.review-page-small-box{
    background-color: #ffffff;
    border-radius: 3px;
}

.notes-view{
    background-color: #ffffff;
    border-top: 1px solid #dfe0e4;
}

.notes-view-title{
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dfe0e4;
    font-size: 26px;
    font-weight: 300;
}

.notes-list-item{
    background-color: #ffffff;
    /*background-color: #f4f4f4;*/
    border-bottom: 1px solid #edeeef;
    width: 310px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.notes-list-item-date{
    padding-top: 5px;
    font-size: 12px;
    color: #777777;
}

.notes-list-item-title{
    width : 250px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.notes-main-view-header{
    display: inline-block;
    border-bottom: 1px solid #edeeef;
    width: 100%;
    padding-bottom: 7px;
}

.empty-button{
    background-color: transparent;
    border: none;
    height: 20px;
    width: 30px;
}


/*Schedule Page Styles*/
.tab-schedule{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;

}

.tab-calendar-left-top-item{
    width: 148px;
    height: 50px;
    border-bottom: 1px solid #e5e6e9;
    /*border-left: 1px solid #e5e6e9;*/
    /*border-right: 1px solid #e5e6e9;*/
    color: #95a0b2;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-calendar-left-item{
    width: 148px;
    height: 40px;
    border-bottom: 1px solid #e5e6e9;
    border-left: 1px solid #e5e6e9;
    border-right: 1px solid #e5e6e9;
    background-color: #ffffff;
}

.tab-calendar-middle-top-item{
    width: 148px;
    height: 50px;
    border-bottom: 1px solid #e5e6e9;
    /*border-right: 1px solid #e5e6e9;*/
    color: #95a0b2;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-calendar-middle-item{
    width: 148px;
    height: 40px;
    border-bottom: 1px solid #e5e6e9;
    border-right: 1px solid #e5e6e9;
    background-color: #ffffff;
}

.tab-schedule-control-line{
    background-color: #ffffff;
    border-bottom: 1px solid #e5e6e9;
    display: inline-block;
    width: 100%;
}

/*.tab-schedule-control-line-button{*/
/*background-color: #ffffff;*/
/*border: 1px solid #cccccc;*/
/*padding-left: 12px;*/
/*padding-right: 12px;*/
/*font-size: 15px;*/
/*padding-top: 4px;*/
/*padding-bottom: 4px;*/
/*color: #888888;*/
/*font-weight: 300;*/
/*border-radius: 3px;*/
/*}*/

/*.tab-schedule-control-line-button:hover{*/
/*color: #333333;*/
/*border: 1px solid #777777;*/
/*}*/

.tab-student-control-line{
    background-color: #ffffff;
    border-bottom: 1px solid #e5e6e9;
    display: inline-block;
    width: 100%;
}

.tab-student-list-header{
    background-color: #eff2f7;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid #e5e6e9;
}

.tab-student-list-item{
    background-color: #ffffff;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    border-bottom: 1px solid #e5e6e9;
}

.tab-student-list-item:hover{
    background-color: #f5f7fa;
}

.tab-student-list-item-control-button{
    border-radius: 50%;
    margin-top: 5px;
    background-color: #f5f9fc;
    display: inline-block;
    width: 30px;
    height: 30px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    padding-left: 8px;
    padding-top: 8px;
    border: 1px solid #aab2b9;
}

.tab-student-list-item-control-button:hover{
    background-color: #ffffff;
}

.attendance-student-list-item{
    background-color: #ffffff;
    border-bottom: 1px solid #edeeef;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    width: 329px;
    color: #666666;
    font-size: 15px;
}


.doc {
    width: 100%;
    height: 600px;

}

/*.loader,*/
/*.loader:before,*/
/*.loader:after {*/
    /*border-radius: 50%;*/
    /*width: 2.5em;*/
    /*height: 2.5em;*/
    /*-webkit-animation-fill-mode: both;*/
    /*animation-fill-mode: both;*/
    /*-webkit-animation: load7 0.9s infinite ease-in-out;*/
    /*animation: load7 0.9s infinite ease-in-out;*/
/*}*/
/*.loader {*/
    /*color: #ffffff;*/
    /*font-size: 6px;*/
    /*margin: 80px auto;*/
    /*position: relative;*/
    /*text-indent: -9999em;*/
    /*-webkit-transform: translateZ(0);*/
    /*-ms-transform: translateZ(0);*/
    /*transform: translateZ(0);*/
    /*-webkit-animation-delay: -0.16s;*/
    /*animation-delay: -0.16s;*/
/*}*/
/*.loader:before,*/
/*.loader:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
/*}*/
/*.loader:before {*/
    /*left: -3.5em;*/
    /*-webkit-animation-delay: -0.32s;*/
    /*animation-delay: -0.32s;*/
/*}*/
/*.loader:after {*/
    /*left: 3.5em;*/
/*}*/
/*@-webkit-keyframes load7 {*/
    /*0%,*/
    /*80%,*/
    /*100% {*/
        /*box-shadow: 0 2.5em 0 -1.3em;*/
    /*}*/
    /*40% {*/
        /*box-shadow: 0 2.5em 0 0;*/
    /*}*/
/*}*/
/*@keyframes load7 {*/
    /*0%,*/
    /*80%,*/
    /*100% {*/
        /*box-shadow: 0 2.5em 0 -1.3em;*/
    /*}*/
    /*40% {*/
        /*box-shadow: 0 2.5em 0 0;*/
    /*}*/
/*}*/

.nav-pills > li + li {
    margin-left: 0px;
}

.nav{
    padding-left: 60px;
    padding-right: 60px;
}

.md-box{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ffffff;
    border-radius: 3px;
}


.md-box-header{
    border-bottom: 1px solid #edeeef;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #1A237E;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 600;
}

.md-box-delete-button{
    border-radius: 20px;
    width: 140px;
    border: 1px solid #f26051;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f26051;
    background-color: #ffffff;
    font-size: 15px;
}

.md-box-delete-button:hover{
    color: #ffffff;
    background-color: #f26051;
    border: 1px solid #ffffff;

}

.md-box-edit-button{
    border-radius: 20px;
    width: 140px;
    border: 1px solid #3F51B5;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #3F51B5;
    background-color: #ffffff;
    font-size: 15px;
}

.md-box-edit-button:hover{
    color: #ffffff;
    background-color: #3F51B5;
    border: 1px solid #ffffff;
}

.group-information-attendance-list-item{
    display: inline-block;
    border-top: 1px solid #edeeef;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.group-information-attendance-list-item:hover{
    background-color: #f5f9fc;
}

.md-box-indicator-label{
    border-radius: 20px;
    background-color: #95a0b2;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
}



