
/*@font-face {*/
/*font-family: HelveticaNeue Thin;*/
/*src: url(fonts/HelveticaNeue-Thin.ttf);*/
/*}*/

body{
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    /*font-family: HelveticaNeue Thin;*/
}

.topMenu{
    background-color: #3F51B5;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    min-width: 1280px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 280px !important;
    width: 280px; !important;
    max-width: 280px !important;
}

.menu-button{
    background-color: transparent;
    border: none;
    height: 22px;
}

.mainView{
    background-color: #eff2f7;
    min-height: 100%;
}

.mainViewContent{
    width: 1280px !important;
    margin: 0 auto;
}


.control-line{
    padding-left: 180px;
    padding-right: 180px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    width: 1280px !important;
}

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.search input {
    width: 330px;
    height: 30px;
    border: none;
    border-radius: 25px;
    /*background-color: #555555;*/
    background-color: #949fb1;
    /*background-color: #d0d1d5;*/
    padding-top: 5px;
    padding-bottom: 5px;
    color: #f3f3f3;
    font-size: 14px;
}


.search input { text-indent: 32px;}
.search .searchIcon {
    position: absolute;
    left: 10px;
    padding-top: 8px;
    color: #d8d8d8;
    font-size: 14px;
}


.search input:focus{
    outline: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c0c0c0;
}

.search input::-webkit-input-placeholder {color:#ffffff; font-weight: 600;}
.search input::-moz-placeholder          {color:#ffffff; font-weight: 600;}/* Firefox 19+ */
.search input:-moz-placeholder           {color:#ffffff; font-weight: 600;}/* Firefox 18- */
.search input:-ms-input-placeholder      {color:#ffffff; font-weight: 600;}

.control-line-button{
    border: 0;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.control-line-button:hover{
    background-color: #e1e4ea;
}

.groupBox{
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

/*.groupBox:hover{*/
/*border: 1px solid #3F51B5;*/
/*}*/

.groupBoxHeader{
    /*background-color: #ffffff;*/
    /*border-bottom: 1px solid #e2e2e2;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    text-align: center;
    background-color: #3F51B5;
    color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


/*.groupBox:hover > .groupBoxHeader{*/
/*background-color: #3F51B5;*/
/*color: #ffffff;*/
/*}*/

.groupBoxBody{
    background-color: #fcfcfc;
    border-bottom: 1px solid #e2e2e2;
    font-size: 14px;
    color: #535353;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.groupBoxFooter{
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.more-button{
    background-color: transparent;
    border: none;
    height: 17px;
}


.new-group-button{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: none;
    font-size: 28px;
    background-color: #5caf94;
    color: #ffffff;
    padding-bottom: 5px;
    padding-left: 7px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.new-group-button:hover{
    /*box-shadow: 2px 2px 5px #9e9e9e;*/
    background-color: #469b7f;
}

.popup-control-menu{
    /*border: 1px solid #c7cfd9;*/
    /*background-color: #f5f5f5;*/
    position: absolute;
    top: 79px;
    left: 262px;
    /*width: 44px;*/
    border-radius: 3px;
    /*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/
    padding-bottom: 5px;
    background-color: transparent;
}

.popup-control-menu-item{
    border-radius: 50%;
    margin-top: 5px;
    background-color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    padding-left: 8px;
    padding-top: 8px;
    border: 1px solid #aab2b9;

}

.popup-control-menu-item:hover{
    background-color: #e1e4ea;
}

.main-menu-item{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-menu-item:hover{
    background-color: #eeeeee;
}

.main-menu-header{
    width: 100%;
    background-color: #3F51B5;
    height: 60px;
}

.empty-group{
    margin-left: 180px;
    margin-right: 180px;
    background-color: #ffffff;
    border-radius: 3px;
}

.list-of-groups{
    background-color: #ffffff;
    /*border-radius: 3px;*/
    border-bottom: 1px solid #d0d1d5;
    /*border-top: 1px solid #e5e6e9;*/
    border-right: 1px solid #dfe0e4;
    border-left: 1px solid #dfe0e4;
    margin-left: 180px;
    margin-right: 180px;
}


.list-of-groups-item{
    display: inline-block;
    border-top: 1px solid #e5e6e9;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.list-of-groups-item-color-indicator{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 20px;
}

.list-of-groups-item-control-button{
    border-radius: 50%;
    margin-top: 5px;
    background-color: #f5f7fa;
    display: inline-block;
    width: 30px;
    height: 30px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    padding-left: 8px;
    padding-top: 8px;
    border: 1px solid #aab2b9;
}

.list-of-groups-item-control-button:hover{
    background-color: #ffffff;
}

.list-of-groups-item:hover{
    background-color: #f5f7fa;
}

.teacherBox{
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid transparent;
}

.teacherBoxFooter{
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #edeeef;
}

.teacher-popup-control-menu{
    /*border: 1px solid #c7cfd9;*/
    /*background-color: #f5f5f5;*/
    position: absolute;
    top: 195px;
    left: 255px;
    /*width: 44px;*/
    border-radius: 3px;
    /*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/
    padding-bottom: 5px;
    background-color: transparent;
}

.teacher-popup-control-menu-item{
    border-radius: 50%;
    margin-top: 5px;
    background-color: #f5f9fc;
    display: inline-block;
    width: 30px;
    height: 30px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    padding-left: 8px;
    padding-top: 8px;
    border: 1px solid #aab2b9;

}

.teacher-popup-control-menu-item:hover{
    background-color: #ffffff;
}

.teacherBox:hover{
    background-color: #f5f9fc;
    border: 1px solid #3F51B5;
}

.list-of-teachers{
    background-color: #ffffff;
    margin-left: 180px;
    margin-right: 180px;
}


.list-of-teachers-item{
    display: inline-block;
    border-top: 1px solid #edeeef;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.list-of-teachers-item-control-button{
    border-radius: 50%;
    margin-top: 5px;
    background-color: #f5f7fa;
    display: inline-block;
    width: 30px;
    height: 30px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    padding-left: 8px;
    padding-top: 8px;
    border: 1px solid #aab2b9;
}

.list-of-teachers-item-control-button:hover {
    background-color: #ffffff;
}

.list-of-teachers-item:hover{
    background-color: #f5f9fc;
}

/*TEACHER INFO*/

.md-box{
    background-color: #ffffff;
    border-radius: 3px;
}

.md-box-header{
    border-bottom: 1px solid #edeeef;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #1A237E;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 600;
    background-color: #ffffff;
}

.tab-schedule{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;

}

.tab-calendar-left-top-item{
    width: 148px;
    height: 50px;
    border-bottom: 1px solid #e5e6e9;
    /*border-left: 1px solid #e5e6e9;*/
    /*border-right: 1px solid #e5e6e9;*/
    color: #95a0b2;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-calendar-left-item{
    width: 148px;
    height: 40px;
    border-bottom: 1px solid #e5e6e9;
    border-left: 1px solid #e5e6e9;
    border-right: 1px solid #e5e6e9;
    background-color: #ffffff;
}

.tab-calendar-middle-top-item{
    width: 148px;
    height: 50px;
    border-bottom: 1px solid #e5e6e9;
    /*border-right: 1px solid #e5e6e9;*/
    color: #95a0b2;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab-calendar-middle-item{
    width: 148px;
    height: 40px;
    border-bottom: 1px solid #e5e6e9;
    border-right: 1px solid #e5e6e9;
    background-color: #ffffff;
}

.md-box-teacher-delete-button{
    border-radius: 20px;
    width: 130px;
    border: 1px solid #f26051;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #f26051;
    background-color: #ffffff;
    font-size: 14px;
}

.md-box-teacher-delete-button:hover{
    color: #ffffff;
    background-color: #f26051;
    border: 1px solid #ffffff;

}

.md-box-teacher-edit-button{
    border-radius: 20px;
    width: 130px;
    border: 1px solid #3F51B5;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #3F51B5;
    background-color: #ffffff;
    font-size: 14px;
}

.md-box-teacher-edit-button:hover{
    color: #ffffff;
    background-color: #3F51B5;
    border: 1px solid #ffffff;
}

.teacher-list-of-groups-item-color-indicator{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}


md-sidenav, md-backdrop {
    position: fixed !important;
}
