@font-face {
    font-family: "OpenSansRegular";
    src: url("/static-files/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("/static-files/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("/static-files/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("/static-files/fonts/OpenSansLight/OpenSansLight.eot");
    src: url("/static-files/fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("/static-files/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("/static-files/fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("/static-files/fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("/static-files/fonts/OpenSansBold/OpenSansBold.eot");
    src: url("/static-files/fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.top-menu-user-nav{
    display: inline-block;
}

.top-menu-user:hover{
    background-color: #457dd5;
}

.top-menu-user:focus{
    outline-width: 0;
}

.side-menu-item{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2px;
    font-family: OpenSansRegular;
}

.side-menu-item:hover{
    background-color: #dee5f0;
}

.side-menu-item-title{
    color:#4371af;
    padding-left: 5px;
    font-size: 14px;
}

.side-menu-item-icon{
    opacity: 0.4;
    padding:0;
    text-align:right;
    padding-top:2px;
    padding-right: 10px;
}

.userNavMenu{
    position: absolute;
    top:45px;
    /*height: 100px;*/
    width: 180px;
    margin-left: 950px;
    /*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/

}

.userMenuItem{
    color:#1A237E;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 13px;
}

.userMenuItem:hover{
    background-color: #e4eaf0;
}

div, button, input, textarea{
    outline: none !important;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-bottom: 8px solid #ffffff;
}

.control-menu{
    /*-moz-box-shadow: 0px 3px 8px rgb(100,100,100);*/
    /*-webkit-box-shadow: 0px 3px 8px rgb(100,100,100);*/
    /*box-shadow: 0px 3px 8px rgb(100,100,100);*/

    box-shadow: 3px 0 3px -3px #e0e0e0, 0 3px 3px -3px #e0e0e0, -3px 0 3px -3px #e0e0e0;
    border-radius: 4px;
    border-bottom: 1px solid #d8dde6;
    border-left: 1px solid #e8ecf3;
    border-right: 1px solid #e8ecf3;
}

.control-menu-item{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    font-family: OpenSansRegular;
    color: #2d76aa;
    background-color: #ffffff;
    border: none;
    width: 100%;
    text-align: left;
    /*border-left: 2px solid #ffffff;*/
}

.control-menu-item:hover{
    background-color: #e9eff5;
    /*border-left: 2px solid #66bef0;*/
}

/*LOADER!*/
.loader {
    margin: 100px auto;
    font-size: 18px;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #4d85de, 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.5), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.7), 1.8em -1.8em 0 0em #4d85de, 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.5), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.7), 2.5em 0em 0 0em #4d85de, 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.5), 2.5em 0em 0 0em rgba(77, 133, 222, 0.7), 1.75em 1.75em 0 0em #4d85de, 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.5), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.7), 0em 2.5em 0 0em #4d85de, -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.5), 0em 2.5em 0 0em rgba(77, 133, 222, 0.7), -1.8em 1.8em 0 0em #4d85de, -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.5), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.7), -2.6em 0em 0 0em #4d85de, -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.5), -2.6em 0em 0 0em rgba(77, 133, 222, 0.7), -1.8em -1.8em 0 0em #4d85de;
    }
}
@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #4d85de, 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.5), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.7), 1.8em -1.8em 0 0em #4d85de, 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.5), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.7), 2.5em 0em 0 0em #4d85de, 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.5), 2.5em 0em 0 0em rgba(77, 133, 222, 0.7), 1.75em 1.75em 0 0em #4d85de, 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.5), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.7), 0em 2.5em 0 0em #4d85de, -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.2), -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.5), 0em 2.5em 0 0em rgba(77, 133, 222, 0.7), -1.8em 1.8em 0 0em #4d85de, -2.6em 0em 0 0em rgba(77, 133, 222, 0.2), -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.5), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.7), -2.6em 0em 0 0em #4d85de, -1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(77, 133, 222, 0.2), 1.8em -1.8em 0 0em rgba(77, 133, 222, 0.2), 2.5em 0em 0 0em rgba(77, 133, 222, 0.2), 1.75em 1.75em 0 0em rgba(77, 133, 222, 0.2), 0em 2.5em 0 0em rgba(77, 133, 222, 0.2), -1.8em 1.8em 0 0em rgba(77, 133, 222, 0.5), -2.6em 0em 0 0em rgba(77, 133, 222, 0.7), -1.8em -1.8em 0 0em #4d85de;
    }
}

.group-tab-active{
    float: left;
    background-color: #3e79d7;
    color: #ffffff;
    font-family: OpenSansSemiBold;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.group-tab{
    float: left;
    background-color: transparent;
    color: #ffffff;
    font-family: OpenSansSemiBold;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.5;
}

.group-tab:hover{
    background-color: #467fda;
    opacity: 0.8;
}
