<link rel="stylesheet" href="/static-files/css/schedule.css">
<style>
    /*.schedule-lesson{*/
        /*position: absolute;*/
        /*margin-left: 7px;*/
        /*width:136px;*/
        /*border-radius: 3px;*/
        /*color: #ffffff;*/
        /*font-weight: 200;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*text-align: center;*/
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
    /*}*/

    .schedule-lesson{
        position: absolute;
        margin-left: 6px;
        width: 152px;
        border-radius: 3px;
        color: #ffffff;
        font-family: OpenSansRegular;
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        text-align: center;
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
    }

    .schedule-rooms-active-button{
        background-color: #c2c9d5;
        border: none;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 120px;
        border: 1px solid #c2c9d5;
        border-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .schedule-rooms-nonactive-button{
        background-color: transparent;
        border: 1px solid #c2c9d5;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        color: #b4bbc7;
        width: 120px;
        border-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }


    .schedule-teachers-nonactive-button{
        background-color: transparent;
        border: 1px solid #c2c9d5;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        color: #b4bbc7;
        width: 120px;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .schedule-teachers-active-button{
        background-color: #c2c9d5;
        border: none;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 120px;
        border: 1px solid #c2c9d5;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .control-line-select {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        width: 230px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/white-select-arrow.png") no-repeat 92% 50%;
    }

    .control-line-select select {
        padding: 5px 15px;
        box-shadow: none;
        -webkit-appearance: none;
        border: 1px solid #c2c9d5;
        border-radius: 4px;
        /*color: #b5b5b5;*/
        color: #ffffff;
        font-family: OpenSansSemiBold;
        background: #c2c9d5 url("/static-files/images/white-select-arrow.png") no-repeat 92% 50%;
        width: 230px;

    }

    .control-line-select select:focus {
        outline: none;
        background: #c2c9d5 url("/static-files/images/white-select-arrow.png") no-repeat 92% 50%;
        color: #ffffff;
    }







</style>
<div ng-controller="scheduleController as self">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 85px; padding-right: 85px;">
                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-xs-6" style="padding: 0px; display: inline-block;">
                        <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Расписание</div>
                        <div style="float: left; margin-left: 30px; padding-top: 8px;">
                            <button ng-if="self.displayOptions.SCHEDULE_DISPLAY_OPTION_CLASSROOMS == self.currentDisplayOption" class="schedule-rooms-active-button">Аудитории</button>
                            <button ng-if="self.displayOptions.SCHEDULE_DISPLAY_OPTION_CLASSROOMS != self.currentDisplayOption" ng-click="self.changeDisplayOption(self.displayOptions.SCHEDULE_DISPLAY_OPTION_CLASSROOMS)" class="schedule-rooms-nonactive-button">Аудитории</button>
                        </div>
                        <div style="float: left; padding-top: 8px;">
                            <button ng-if="self.displayOptions.SCHEDULE_DISPLAY_OPTION_TEACHERS == self.currentDisplayOption" class="schedule-teachers-active-button">Учителя</button>
                            <button ng-if="self.displayOptions.SCHEDULE_DISPLAY_OPTION_TEACHERS != self.currentDisplayOption" ng-click="self.changeDisplayOption(self.displayOptions.SCHEDULE_DISPLAY_OPTION_TEACHERS)" class="schedule-teachers-nonactive-button">Учителя</button>
                        </div>
                    </div>

                    <div ng-hide="self.noTeachers || self.displayOptions.SCHEDULE_DISPLAY_OPTION_CLASSROOMS == self.currentDisplayOption" class="col-xs-6" style="padding: 0px; text-align: right; display: inline-block;">
                        <div style="float: right; padding-top: 9px; padding-right: 5px;">
                            <div class="control-line-select">
                                <select ng-change="self.loadSchedule()" ng-model="self.selectedTeacherID">
                                    <option ng-repeat="teacher in self.teachers track by $index" value="{{teacher._id}}">{{teacher | nameFilter}}</option>
                                </select>
                            </div>
                        </div>
                        <div style="float: right; padding-right: 25px; color: #7d838a; font-family: OpenSansRegular; font-size: 15px; padding-top: 13px;">Выбрать учителя:</div>
                    </div>

                    <div ng-hide="self.noClassrooms || self.displayOptions.SCHEDULE_DISPLAY_OPTION_TEACHERS == self.currentDisplayOption" class="col-xs-6" style="padding: 0px; text-align: right; display: inline-block;">
                        <div style="float: right; padding-top: 9px; padding-right: 5px;">
                            <div class="control-line-select">
                                <select ng-change="self.loadSchedule()" ng-model="self.selectedClassroomID">
                                    <option ng-repeat="classroom in self.classrooms track by $index" value="{{classroom._id}}">{{classroom.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div style="float: right; padding-right: 25px; color: #0f0f0f; font-family: OpenSansRegular; font-size: 15px; padding-top: 13px; opacity: ">Выбрать аудиторию:</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent" style="padding-top: 30px;">
            <div>
                {{self.schedule}}
            </div>
            <div>
                <div ng-if="self.noClassrooms && !self.noTeachers && self.isLoaded" ng-include="'/app-admin/views/schedule/alerts/errors/no-classrooms.html'"></div>
                <div ng-if="self.noTeachers && !self.noClassrooms && self.isLoaded" ng-include="'/app-admin/views/schedule/alerts/errors/no-teachers.html'"></div>
                <div ng-if="self.noTeachers && self.noClassrooms && self.isLoaded" ng-include="'/app-admin/views/schedule/alerts/errors/no-teachers-and-classrooms.html'"></div>
            </div>
            <div class="schedule" style="margin-left: 85px; margin-bottom: 50px; padding-top: 10px; padding-bottom: 20px; background-color: #ffffff; border-radius: 5;">
                <div style="float: left">
                    <div style="width: 80px; padding-top: 50px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px; border-top-left-radius: 4px;">9:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">10:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">11:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">12:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">13:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">14:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">15:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">16:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">17:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">18:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">19:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">20:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">21:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">22:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px; border-bottom-left-radius: 4px;">23:00</div>
                </div>
                <div style="float: left; height: 701px; border-right: 1px solid #e7eaec; margin-top: 59px;"></div>
                <div style="float: left;" ng-repeat="day in self.days track by $index">
                    <div class="calendar-middle-top-item" style="color: #8f969d; font-family: OpenSansSemiBold;">{{day}}</div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div style="background-color: #ffffff; width: 150px; height: 30px;"></div>

                    <div ng-click="self.lessonInfo(lesson)" class="schedule-lesson" ng-repeat="lesson in self.lessons[$index]" ng-style="lesson.style">
                        <div style="display: flex; align-items: center; justify-content: center; height: 70%; padding-left: 20px; padding-right: 20px; line-height: 1.3;">{{lesson.groupID.name}}</div>
                        <div style="height: 30%; display: flex; align-items: center; justify-content: center; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;" ng-style="{'background-color' : (lesson.groupID.color | groupLessonColor)}">{{self.displayOptions.SCHEDULE_DISPLAY_OPTION_CLASSROOMS == self.currentDisplayOption ? (lesson.teacherID | nameFilter) : lesson.classroomID.name}}</div>
                    </div>
                </div>
                <div style="float:left; width: 40px;">
                    <div style="width: 40px; height: 650px; background-color: #ffffff; border-top-right-radius: 4px; border-bottom-right-radius: 4px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; margin: auto; position: fixed; bottom: 25px; text-align: right; right: 40px;">
        <button ng-click="self.addSchedule()" class="new-group-button">
            +
            <md-tooltip md-direction="top" style="font-size:12px;">
                Добавить расписание
            </md-tooltip>
        </button>
    </div>
</div>
