<div ng-controller="tariffsController as ctrl">
    <div ng-if="ctrl.isAddTariff" ng-include="'/app-manager/views/tariffs/templates/add-tariff.html'"></div>
    <div ng-if="!ctrl.isAddTariff">
        <button ng-click="ctrl.addTariff()" class="btn btn-default">Добавить тариф</button>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Память</th>
                <th>Кол-во студентов</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tariff in ctrl.tariffs track by $index">
                <th scope="row">{{$index + 1}}</th>
                <th scope="row">{{tariff.name}}</th>
                <th scope="row">{{tariff.price}}</th>
                <th scope="row">{{tariff.size / 1000000}} mb</th>
                <th scope="row">{{tariff.students}}</th>
                <th scope="row"><button class="btn btn-default" ng-click="ctrl.deleteTariff(tariff._id)">Удалить</button></th>
            </tr>
            </tbody>
        </table>
    </div>





</div>