<style>
    .md-box{
        background-color: #ffffff;
        border-radius: 2px;
        border-top: 1px solid #e9ecf2;
        border-left: 1px solid #e9ecf2;
        border-right: 1px solid #e9ecf2;
        border-bottom: 1px solid #dfe1e6;
    }

    .md-box-header{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 15px;
        color: #838e9e;
        /*border-bottom: 1px solid #e7e8ec;*/
        background-color: #ffffff;
        font-family: OpenSansSemiBold;
    }

    .result-tab-test-name{
        font-family: OpenSansRegular;
        font-size: 20px;
    }

    .table-result-item{
        width: 35px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #eaebf3;
        border: 2px solid #ffffff;
        color: #828d9e;
        font-family: OpenSansSemiBold;

    }

    .result-tab-test-item{
        padding-left: 25px;
        padding-right: 25px;
        border-top: 8px solid #e7eaec;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .table-result-right{
        width: 35px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #71ca58;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-family: OpenSansSemiBold;

    }

    .table-result-wrong{
        width: 35px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fd6461;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-family: OpenSansSemiBold;

    }

</style>
<div style="margin-top: 15px;">
    <div ng-controller="resultsController as self">
        <div class="md-box">
            <div ng-if="self.noTests">
                нет результатов
            </div>
            <div ng-if="!self.noTests">
                <div class="md-box-header">{{'RESULTS.TITLE2' | translate}}</div>
                <div class="result-tab-test-item" ng-repeat="test in self.tests">
                    <div class="result-tab-test-name">{{test.testID.name}}</div>
                    <div style="display: inline-block; color: #838e9e; font-family: OpenSansRegular; font-size: 14px; padding-top: 5px;">
                        <div style="float: left;">{{'RESULTS.DATE' | translate}} <span style="color: #000000; padding-left: 5px; font-family: OpenSansRegular;">{{test.createdAt | timeFilter}}</span></div>
                        <div style="float: left; padding-left: 40px;">{{'RESULTS.RESULT' | translate}} <span style="color: #000000; padding-left: 5px; font-family: OpenSansSemiBold; font-size: 16px;">{{test.resultID.summary.total.toFixed()}}%</span></div>
                    </div>
                    <div ng-repeat="section in test.resultID.sections track by $index">
                        <div style="border-top: 1px solid #e7eaec; margin-top: 15px; padding-top: 10px;">
                            <div style="font-family: OpenSansRegular; font-size: 14px; color: #838e9e;">
                                {{'RESULTS.SECTION' | translate}} №{{$index + 1}}
                            </div>
                            <div style="padding-top: 7px;">
                                <div class="row" style="margin-left: 0; margin-right: 0;">
                                    <div ng-repeat="question in section.results" style="padding-left: 0; padding-right: 0;" class="col-xs-2" ng-class="question.value ? 'table-result-right' : 'table-result-wrong'">{{question.number}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
