<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 500px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
        background-color: #ffffff;
    }

    .modal-cancel-button{
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        color: #676b6d;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-cancel-button:hover{
        background-color: #e3e3e3;
    }

    .modal-edit-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-edit-button:hover{
        background-color: #59b7ee;
    }

    .modal-delete-button{
        background-color: #fc7667;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-delete-button:hover{
        background-color: #ff624f;
    }
</style>
<div class="md-modal-box">
    <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ДОМАШНЕЕ ЗАДАНИЕ<span style="color: #ffffff; padding-left: 10px; fon-size: 13px; font-family: OpenSansLight;">{{date | date : 'dd.MM.yyyy'}}</span></div>
    <div style="background-color: #eef6fc; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; border-radius: 3px; margin-top: 30px; margin-bottom: 20px; margin-left: 30px; margin-right: 30px; color: #000000; font-family: OpenSansRegular; border-left: 2px solid #74c2f0;">
        {{homework.content}}
    </div>

    <!--СКРЫВАТЬ ЕСЛИ НЕТ КОММЕНТАРИЯ-->
    <div ng-if="homework.comment" class="row" style="margin-left: 0; margin-right: 0; padding-right: 20px; padding-left: 20px; color: #768296; padding-bottom: 30px; font-family: OpenSansRegular;">
        <div class="col-xs-3" style="text-align: right; padding-right: 20px;">Комментарии:</div>
        <div class="col-xs-9">{{homework.comment}}</div>
    </div>
    <div class="row" style="margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; padding-top: 10px;">
        <div class="col-xs-8" style="display: inline-block; padding-right: 0px; padding-left: 0px;">
        </div>
        <div class="col-xs-4" style="padding-right: 0px; padding-left: 0px; text-align: right;">
            <button ng-click="closeThisDialog()" class="modal-cancel-button">ЗАКРЫТЬ</button>
        </div>
    </div>
</div>