<style>
    .md-box{
        background-color: #ffffff;
        border-radius: 2px;
        border-top: 1px solid #e9ecf2;
        border-left: 1px solid #e9ecf2;
        border-right: 1px solid #e9ecf2;
        border-bottom: 1px solid #dfe1e6;
    }

    .md-box-header{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 15px;
        color: #838e9e;
        border-bottom: 1px solid #e7eaec;
        background-color: #ffffff;
        font-family: OpenSansSemiBold;
    }

    .md-search-bar{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        width: 100%;
        background-color: #f4f5f6;
    }

    .student-file-sort-item{
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        border-left: 2px solid #ffffff;
        font-size: 14px;
    }

    .student-file-sort-item:hover{
        background-color: #f5f9fc;
        border-left: 2px solid #f5f9fc;

    }

    .search-bar-input{
        border: none;
    }

    .search-bar-input::-webkit-input-placeholder {color:#c0c8d0; font-family: OpenSansRegular;}
    .search-bar-input::-moz-placeholder          {color:#c0c8d0; font-family: OpenSansRegular;}/* Firefox 19+ */
    .search-bar-input:-moz-placeholder           {color:#c0c8d0; font-family: OpenSansRegular;}/* Firefox 18- */
    .search-bar-input:-ms-input-placeholder      {color:#c0c8d0; font-family: OpenSansRegular;}

    .search-bar-input:focus{
        outline-width: 0;
    }

    .student-files-item{
        display: inline-block;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #e7eaec;
        width: 100%;
    }

    .student-file-item-filename{
        font-size: 14px;
        color: #575f69;
        font-family: OpenSansSemiBold;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 420px;
    }

</style>
<div style="margin-top: 15px;" ng-controller="filesController as ctrl">
            <div class="md-box">
                <div class="md-box-header" style="padding-top: 13px; padding-bottom: 13px; font-size: 15px; font-family: OpenSansSemiBold;">{{'DOCUMENTS.TITLE' | translate}}</div>
                <!--ЕСЛИ ФАЙЛОВ НЕТ-->
                <div ng-if="ctrl.noFiles">
                    <div align="center" style="padding-top: 80px; padding-bottom: 80px;">
                        <img src="/static-files/images/empty-student-files.png" height="140px">
                        <div style="font-family: OpenSansBold; font-size: 16px; padding-top: 30px; color: #999999;">ПОСТОВ НЕТ</div>
                        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 14px; padding-left: 80px; padding-right: 80px;">К сожалению, по данному разделу документов нет.</div>
                    </div>
                </div>
                <!--ЕСЛИ ФАЙЛЫ ЕСТЬ-->
                <div ng-if="!ctrl.noFiles" style="background-color: #ffffff; min-height: 420px;">
                    <div class="md-search-bar" style="border-bottom: 1px solid #e7eaec;">
                        <div style="float: left; opacity: 0.7; padding-top: 4px; padding-bottom: 4px;"><img src="/static-files/images/search-bar-icon.png" width="16px"></div>
                        <div style="float: left; width: 400px; padding-top: 1px; padding-bottom: 1px; padding-left: 10px;"><input ng-model="ctrl.searchPattern" style="width: 600px; background-color: #f4f5f6;" class="search-bar-input" type="text" placeholder="{{'DOCUMENTS.SEARCH' | translate}}"></div>
                    </div>
                    <div class="student-files-item" ng-repeat="file in ctrl.files | listOfFilesFilter : ctrl.searchPattern">
                        <div style="float: left; padding-top: 3px;">
                            <img src="/static-files/images/other-type-file-icon.png" height="34px">
                        </div>
                        <div style="width: 440px; float: left; padding-left: 15px; padding-bottom: 5px;">
                            <div class="student-file-item-filename"><a href="{{file.url}}" download>{{file.name}}</a></div>
                            <div style="font-size: 13px; color: #838e9e; font-family: OpenSansRegular;">{{file.size | memoryUsageFilter}}, {{file.createdAt | date : ' dd.MM.yyyy'}}</div>
                        </div>
                    </div>
                </div>
            </div>
</div>
