<style>
    .md-box{
        background-color: #ffffff;
        border-radius: 2px;
        border-top: 1px solid #e9ecf2;
        border-left: 1px solid #e9ecf2;
        border-right: 1px solid #e9ecf2;
        border-bottom: 1px solid #dfe1e6;
    }

    .md-box-header{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        color: #828282;
        border-bottom: 1px solid #e7e8ec;
        background-color: #f5f8fb;
        font-family: OpenSansSemiBold;
    }
</style>

<div ng-controller="interviewController as self" style="margin-top: 15px;">
    <div ng-if="!self.isExist">
        <div class="md-box">
            <div class="md-box-header" style="padding-top: 13px; padding-bottom: 13px; font-size: 15px; font-family: OpenSansSemiBold;">Опрос</div>
            <div>
                <div style="opacity: 0.3; text-align: center; padding-top: 60px;">
                    <img src="/static-files/images/opros-empty-icon.png" height="105px">
                </div>
                <div style="font-size: 15px; font-family: OpenSansBold; padding-top: 25px; color: #838e9e; text-align: center;">ОПРОС НЕДОСТУПЕН</div>
                <div style="font-family: OpenSansRegular; color: #838e9e; padding-top: 10px; padding-left: 210px; padding-right: 210px; text-align: center; padding-bottom: 50px;">К сожалению, на данный момент опрос недоступен, попробуйте позже.</div>
            </div>
        </div>


    </div>
    <div ng-if="self.isExist">
        <div ng-repeat="question in self.interview.questions track by $index">
            <p>{{$index + 1+'. ' +question.text}}</p>
            <div ng-if="question.answersType == self.OUT_OF_TWO">
                <md-radio-group ng-model="question.value">
                    <md-radio-button value="0">НЕТ</md-radio-button>
                    <md-radio-button value="1">ДА</md-radio-button>

                </md-radio-group>
            </div>
            <div ng-if="question.answersType == self.OUT_OF_FIVE">
                <md-radio-group ng-model="question.value">
                    <md-radio-button value="1">Оч. плохо</md-radio-button>
                    <md-radio-button value="2">плохо</md-radio-button>
                    <md-radio-button value="3">средне</md-radio-button>
                    <md-radio-button value="4">хорошо</md-radio-button>
                    <md-radio-button value="5">отлично</md-radio-button>

                </md-radio-group>
            </div>
            <div ng-if="question.answersType == self.CUSTOM">
                custom
            </div>
        </div>


        <button ng-click="self.send()">Отправить опрос</button>
    </div>
</div>