<style>
    .admin-request-item{
        border-bottom: 1px solid #eff2f7;
        margin-left: 30px;
        margin-right: 30px;
    }

    .answer-control-button{
        background-color: transparent;
        border: none;
        opacity: 0.5;
    }

    .answer-control-button:hover{
        opacity: 1;
    }

    .add-answer-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .add-answer-button:hover{
        background-color: #59b7ee;
    }

</style>
<div style="background-color: #e7eaec;" ng-controller="applicationsControllerGroupInfo as applications">
    <div class="md-box" style="margin-bottom: 30px; margin-top: 1px;">
        <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Заявки группы</div>
        <!--ЕСЛИ ЗАЯВОК НЕТ-->
        <div ng-if="ctrl.group.applications.length == 0" align="center" style="padding-bottom: 50px; padding-top: 50px;">
            <div style="opacity: 0.9;"><img src="/static-files/images/empty-applications-icon.png" height="165px"></div>
            <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Заявок нет</div>
            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 280px; padding-right: 280px; padding-top: 10px;">От данной группы еще не поступало заявок.</div>

        </div>

        <div ng-if="ctrl.group.applications.length != 0">
            <div style="border-bottom: 10px solid #e7eaec;" ng-repeat="application in ctrl.group.applications track by $index">
                <div style="padding-top: 25px; padding-bottom: 30px;">
                    <div class="row" style="margin-right: 0; margin-left: 0;">
                        <div class="col-xs-2" style="width: 100px; text-align: right; padding-right: 5px;">
                            <div>
                                <img style="border-radius: 50%;" ng-src="{{application.teacherID | teacherImageUrlFilter}}" width="60px">
                            </div>
                        </div>
                        <div class="col-xs-10" style="width: 910px;">
                            <div class="row">
                                <div class="col-xs-6" style="padding-top: 8px;">
                                    <div style="display: inline-block;">
                                        <div style="float: left; font-family: OpenSansSemiBold; color: #58a0fc;">{{application.teacherID | nameFilter }}</div>
                                        <!--<div ng-style="{'background-color' : application.groupID.color}" style="float: left; margin-left: 15px; color: #ffffff; padding-left: 15px; padding-right: 15px; border-radius: 3px;">{{application.groupID.name}}</div>-->
                                    </div>
                                    <div style="font-family: OpenSansRegular; color: #949fb0; padding-top: 2px;">{{application.createdAt | timeFilter}}</div>
                                </div>
                                <div class="col-xs-6" style="text-align: right; padding-right: 30px;">
                                    <button ng-click="applications.addApplicationAnswer(application._id)" ng-hide="application.answerID" class="edunet-button-default"><img src="/static-files/images/reply-icon.png" width="15px"><span style="margin-left: 8px;">ОТВЕТИТЬ</span></button>
                                </div>
                            </div>
                            <div style="padding-top: 20px; padding-right: 30px;">{{application.content}}</div>
                        </div>
                    </div>
                </div>
                <!--ОТВЕТ НА ЗАЯВКУ-->
                <div ng-show="application.answerID" style="background-color: #f4f5f6;  padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #e7eaec;">
                    <div class="row" style="margin-right: 0; margin-left: 0;">
                        <div class="col-xs-2" style="width: 100px; padding-left: 40px; padding-right: 0; padding-top: 5px; padding-bottom: 5px;">
                            <div style="background-color: #6699ff; width: 50px; text-align: center; padding-top: 10px; padding-bottom: 10px; border-radius: 3px;">
                                <img src="/static-files/images/answer-icon.png" width="30px">
                            </div>
                        </div>
                        <div class="col-xs-10" style="width: 910px;">
                            <div class="row" style="padding-top: 2px;">
                                <div class="col-xs-6" style="font-family: OpenSansRegular; color: #949fb0;">{{application.answerID.createdAt | timeFilter}}</div>
                                <div class="col-xs-6" style="padding-right: 30px;">
                                    <div style="display: inline-block; width: 100%;">
                                        <div style="float: right;">
                                            <button ng-click="applications.deleteApplicationAnswer(application._id)" class="answer-control-button">
                                                <img src="/static-files/images/delete-icon.png" width="13px">
                                                <md-tooltip md-direction="top">Удалить</md-tooltip>
                                            </button>
                                        </div>
                                        <div style="float: right; margin-right: 5px;">
                                            <button ng-click="applications.editApplicationAnswer(application._id)" class="answer-control-button">
                                                <img src="/static-files/images/edit-icon.png" width="14px">
                                                <md-tooltip md-direction="top">Редактировать</md-tooltip>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top: 10px; padding-bottom: 5px; font-family: OpenSansRegular;">
                                {{application.answerID.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
