<div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Название</h5>
        </div>
        <div class="col-xs-2">
            <input type="text" ng-model="ctrl.name" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Домен</h5>
        </div>
        <div class="col-xs-2">
            <input type="text" ng-model="ctrl.link" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Тариф</h5>
        </div>
        <div class="col-xs-2">
            <select class="form-control" ng-model="ctrl.tariffID">
                <option ng-repeat="tariff in ctrl.tariffs track by $index" value="{{tariff._id}}">{{tariff.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            <button ng-click="ctrl.makeAdd()" class="btn btn-default">Отменить</button>
        </div>
        <div class="col-md-1">
            <button ng-click="ctrl.addClient()" class="btn btn-default">Добавить</button>
        </div>
    </div>
</div>
