<style>
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;

        border-bottom: 8px solid #e43f3f;
    }
</style>
<div style="margin-left: 20px;">
    <div class="arrow-up"></div>
</div>
<div style="background-color: #e43f3f; padding-right: 15px; padding-left: 15px; border-radius: 4px; display: inline-block; padding-top: 5px; padding-bottom: 5px;">
    <div style="float: left; padding-top: 3px;"><img src="/static-files/images/error-warning-icon.png" width="15px"></div>
    <div style="float: left; font-family: OpenSansSemiBold; font-size: 13px; color: #ffffff; margin-left: 10px;">Неверная почта</div>
</div>