<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/dist/student/css/lib.css?v=lib_styles_build_version">

        <link rel="stylesheet" href="/dist/student/css/circle.css?v=custom_styles_build_version">
        <link rel="stylesheet" href="/dist/student/css/index.css?v=custom_styles_build_version">
        <script                 src="/dist/student/js/lib.js?v=lib_js_build_version"></script>
        <script                 src="/dist/student/js/templates.js?v=templates_build_version"></script>
        <script                 src="/dist/student/js/custom.js?v=custom_js_build_version"></script>

        <style>
            .lang-button{
                background-color: transparent;
                border: none;
                padding: 0;
                opacity: 0.2;
            }

            .lang-button:hover{
                opacity: 0.7;

            }

            .lang-button-active{
                background-color: transparent;
                padding: 0;
                border: none;
                /*border: 1px solid #838e9e;*/
                border-radius: 50%;
                box-shadow: 0 0 6px #838e9e;











            }
        </style>

    </head>
    <body ng-app="EduNet" style="background-color: #e7eaec;">
        <div ng-controller="mainController">
            <div style="width: 100%; background-color: #528dde;">

                <div style="width: 1280px !important; height: 42px; margin: 0 auto; background-color: #528dde;">
                    <div style="float: left; padding-top:9px; padding-left: 152px; padding-right: 89px;"><img src="/static-files/images/edunet-logo-white.png" height="22px;"></div>

                    <!--Тут NG-REPEAT для групп-->
                    <div ng-repeat="group in index.groups track by $index" ng-class="$index == index.activeGroupIndex ? 'group-tab-active ' : 'group-tab'" ng-click="index.changeGroup($index)">{{group.name}}</div>
                    <div ng-click="openUserNav()" hide-user-nav="hideUserNav()" class="top-menu-user" style="float: right; margin-right: 160px;">
                        <div class="top-menu-user-nav" style="padding-top: 9px; padding-bottom: 9px; padding-left: 15px;"><img style="border-radius: 50%;" src="/static-files/images/admin-user-icon.png" width="24px;"></div>
                        <div class="top-menu-user-nav" style="color:#ffffff; font-family: OpenSansSemiBold; font-size: 13px; padding-right: 15px; padding-left: 10px;">
                            {{name}}
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%; background-color: #e7eaec;">

                <div style="background-color: #e7eaec; width: 1280px !important; margin: 0 auto;">

                    <div style="display: inline-block;">
                        <div style="float: left; width: 210px; padding: 0; padding-top:15px; margin-left: 125px;">
                            <div ng-click="goTo('/profile')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-profile-icon.png" width="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">{{'MY_PAGE.TITLE' | translate}}</div>
                            </div>
                            <div ng-click="goTo('channel')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-channel-icon.png" width="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">{{'CHANNEL.TITLE' | translate}}</div>
                            </div>
                            <div ng-click="goTo('calendar')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-schedule-icon.png" width="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">{{'CALENDAR.TITLE' | translate}}</div>
                            </div>
                            <div ng-click="goTo('attendance')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-attendance-icon.png" width="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">{{'ATTENDANCE.TITLE' | translate}}</div>
                            </div>
                            <div ng-click="goTo('tests')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-testing-icon.png" width="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">{{'ONLINE_TESTS.TITLE' | translate}}</div>
                            </div>
                            <div ng-click="goTo('results')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-results-icon.png" width="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">{{'RESULTS.TITLE' | translate}}</div>
                            </div>
                            <div ng-click="goTo('files')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-document-icon.png" height="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">{{'DOCUMENTS.TITLE' | translate}}</div>
                            </div>
                            <div ng-click="goTo('payments')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-payment-icon.png" width="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">{{'PAYMENTS.TITLE' | translate}}</div>
                            </div>
                            <div ng-click="goTo('interview')" class="row side-menu-item">
                                <div class="col-xs-2 side-menu-item-icon"><img ng-src="/static-files/images/student-side-menu-payment-icon.png" width="16px"></div>
                                <div class="col-xs-10 side-menu-item-title">Опрос</div>
                            </div>
                            <div style="border-bottom: 1px solid #d1d3d8; width: 180px; margin-top: 15px; margin-left: 15px;"></div>
                            <div style="font-family: OpenSansRegular; color: #838e9e; font-size: 13px; padding-top: 15px; padding-bottom: 10px; padding-left: 28px;">Язык системы:</div>

                            <div style="display: inline-block; margin-left: 28px;">
                                <div style="float: left; margin-right: 15px;">
                                    <button ng-class="langRu ? 'lang-button-active' : 'lang-button'" ng-click="changeLang('ru')">
                                        <img src="/static-files/images/rus-lang-icon.png" width="24px" style="border-radius: 50%;">
                                    </button>
                                </div>
                                <div style="float: left; margin-right: 15px;">
                                    <button ng-class="langEn ? 'lang-button-active' : 'lang-button'"  ng-click="changeLang('en')">
                                        <img src="/static-files/images/eng-lang-icon.png" width="24px" style="border-radius: 50%;">
                                    </button>
                                </div>
                                <div style="float: left;">
                                    <button class="lang-button">
                                        <img src="/static-files/images/kaz-lang-icon.png" width="24px" style="border-radius: 50%;">
                                    </button>






                                </div>
                            </div>
                        </div>
                        <div style="float: left; width: 785px; padding: 0px; padding-bottom: 30px;">
                            <div ng-view></div>
                        </div>
                    </div>

                    <!--ВСПЛЫВАЮЩЕЕ ОКНО-->
                    <div style="width: 100%;" ng-show="userNav">
                        <div style="width: 1280px !important; margin: 0 auto; position: absolute; top: 35px; right: 172px;" align="right">
                            <div>
                                <div align="right">
                                    <div class="arrow-up" style="margin-right: 20px;"></div>
                                </div>
                                <div class="control-menu" style="width: 170px; background-color: #ffffff; padding-top: 8px; padding-bottom: 8px;">
                                    <button ng-click="goTo('/profile')" class="control-menu-item">Мой профиль</button>
                                    <button ng-click="editProfile()" class="control-menu-item">Редактировать</button>
                                    <div style="border-top: 1px solid #dfe9ef; width: 135px; margin-top: 3px; margin-bottom: 3px; margin-left: 15px; margin-right: 215px;"></div>
                                    <button ng-click="logout()" class="control-menu-item">Выйти</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="loader.length">
                        <div style="position: fixed; background-color: transparent; width: 100%; min-height: 100%; top:0;">
                        </div>
                        <div style="color:#ffffff; position: fixed; top:50%; left: 50%; margin: -80px 0 0 0;">
                            <div>
                                <div>
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

