<style>
        .ngdialog.ngdialog-theme-default .ngdialog-content {
            width: 700px;
            padding: 0px;
            box-shadow: 0 0 8px rgba(0,0,0,0.1);
            border-radius: 4px;
        }


        .md-modal-box{
            background-color: #ffffff;
            border-radius: 3px;
        }

        .md-box-header{
            border-bottom: 1px solid #edeeef;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #2196F3;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 15px;
            font-family: OpenSansBold;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .modal-add-button{
            background-color: #74c2f0;
            border: none;
            border-radius: 2px;
            color: #ffffff;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 12px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .modal-add-button:hover{
            background-color: #59b7ee;
        }

        .modal-cancel-button{
            background-color: #eeeeee;
            border: none;
            border-radius: 2px;
            color: #676b6d;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 12px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .modal-cancel-button:hover{
            background-color: #e3e3e3;
        }

        .select-style-aplication-add {
            /*border: 1px solid #ccc;*/
            /*border-bottom: 1px solid red;*/
            width: 443px;
            border-radius: 0px;
            overflow: hidden;
            background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
        }

        .select-style-aplication-add select {
            padding: 5px 0px;
            width: 100%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            border-bottom: 1px solid #dbdbdb;
            border-radius: 0px;
            color: #9b9b9b;
        }

        .select-style-aplication-add select:focus {
            outline: none;
            border-bottom: 2px solid #6699ff;
            color: #0f0f0f;
        }

        .md-textarea-input{
            border: none;
            border-bottom: 1px solid #dbdbdb;
            border-radius: 0px;
            color: #9b9b9b;
            padding-top: 8px;
            padding-bottom: 8px;
            outline: none;
            font-family: OpenSansRegular;
            font-size: 15px;
        }

        .md-textarea-input:focus{
            outline: none;
            border-bottom: 2px solid #6699ff;
            color: #0f0f0f;
        }

        .submit-group-button{
            background-color: #6699ff;
            border: none;
            border-radius: 2px;
            color: #ffffff;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 15px;
            font-family: OpenSansSemiBold;
            padding-left: 25px;
            padding-right: 25px;
        }

        .submit-group-button:hover{
            background-color: #5e91f5;
        }


        .cancel-group-button{
            border-radius: 2px;
            border: none;
            padding-top: 8px;
            padding-bottom: 8px;
            color: #ffffff;
            background-color: #bac3d0;
            font-size: 15px;
            font-family: OpenSansSemiBold;
            padding-left: 25px;
            padding-right: 25px;
        }

        .cancel-group-button:hover{
            background-color: #acb7c7;
        }



    </style>
<div class="md-modal-box" ng-controller="addApplicationController as modal">
    <div style="background-color: #ffffff; padding-top: 20px; padding-bottom: 20px; font-size: 17px; padding-left: 30px; padding-right: 30px; border-bottom: 1px solid #e7eaec; font-family: OpenSansRegular; border-top-left-radius: 4px; border-top-right-radius: 4px;">Добавление заявки</div>
    <div style="display: inline-block; padding-top: 10px; padding-left: 15px; padding-right: 15px; padding-bottom: 45px;">
        <div style="float: left">
            <!--Необходимо подключить картинку учителя в заявке, сейчас стоит заглушка-->
            <!--<div style="padding-top: 20px; padding-left: 30px; padding-right: 20px;"><img class="channel-rounded-image" ng-src="{{info.teacher.imageUrl}}" width="50px"></div>-->
            <div style="padding-top: 20px; padding-left: 30px; padding-right: 20px;"><img class="channel-rounded-image" src="/static-files/images/teacher-male-icon.png" width="50px"></div>
        </div>
        <div style="float: left">
            <div style="padding-top: 18px;">
                <textarea class="md-textarea-input" ng-model="modal.content" rows="2" style="width: 520px;" placeholder="Напишите текст заявки тут"></textarea>
                <div ng-if="modal.contentError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
            </div>
            <div style="margin-top: 20px; display: inline-block;">
                <div style="float: left; padding-top: 5px; font-family: OpenSansRegular; color: #0f0f0f;">Группа:</div>
                <div style="float: left; margin-left: 20px;" class="select-style-aplication-add">
                    <select ng-model="modal.selectedGroupID">
                        <option ng-repeat="group in modal.groups track by $index" value="{{group._id}}">{{group.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
        <div style="float: right;">
            <button ng-click="modal.addApplication()" type="submit" class="submit-group-button">Добавить</button>
        </div>
        <div style="float: right; margin-right: 15px;">
            <button ng-click="closeThisDialog()" class="cancel-group-button">Отменить</button>
        </div>
    </div>
</div>
