    <style>
        .ngdialog.ngdialog-theme-default .ngdialog-content {
            width: 700px;
            padding: 0px;
            box-shadow: 0 0 8px rgba(0,0,0,0.1);
            border-radius: 4px;
        }


        .md-modal-box{
            background-color: #ffffff;
            border-radius: 3px;
        }

        .md-box-header{
            border-bottom: 1px solid #edeeef;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #2196F3;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 15px;
            font-family: OpenSansBold;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .modal-add-button{
            background-color: #74c2f0;
            border: none;
            border-radius: 2px;
            color: #ffffff;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 12px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .modal-add-button:hover{
            background-color: #59b7ee;
        }

        .modal-cancel-button{
            background-color: #eeeeee;
            border: none;
            border-radius: 2px;
            color: #676b6d;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 12px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .modal-cancel-button:hover{
            background-color: #e3e3e3;
        }

        .select-style-aplication-add {
            /*border: 1px solid #ccc;*/
            /*border-bottom: 1px solid red;*/
            width: 380px;
            border-radius: 0px;
            overflow: hidden;
            background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
        }

        .select-style-aplication-add select {
            padding: 5px 0px;
            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            border-bottom: 1px solid #dbdbdb;
            border-radius: 0px;
            color: #9b9b9b;
        }

        .select-style-aplication-add select:focus {
            outline: none;
            border-bottom: 2px solid #74c2f0;
            color: #0f0f0f;
        }

        .md-textarea-input{
            border: none;
            border-bottom: 1px solid #dbdbdb;
            border-radius: 0px;
            color: #9b9b9b;
            padding-top: 8px;
            padding-bottom: 8px;
            outline: none;
            font-family: OpenSansRegular;
            font-size: 15px;
        }

        .md-textarea-input:focus{
            outline: none;
            border-bottom: 2px solid #74c2f0;
            color: #0f0f0f;
        }



    </style>
<div ng-controller="editApplicationController as editCtrl" class="md-modal-box">
    <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">РЕДАКТИРОВАНИЕ ЗАЯВКИ</div>
    <div style="display: inline-block; padding-top: 10px; padding-left: 15px; padding-right: 15px;">
        <div style="float: left">
            <div style="padding-top: 20px; padding-left: 30px; padding-right: 20px;"><img class="channel-rounded-image" ng-src="{{info.teacher.imageUrl}}" width="50px"></div>
        </div>
        <div style="float: left">
            <div style="padding-top: 18px;">
                <textarea class="md-textarea-input" ng-model="editCtrl.content" rows="2" style="width: 520px;" placeholder="Напишите текст заявки тут"></textarea>
                <div ng-if="editCtrl.contentError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
            </div>
        </div>
    </div>
    <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-bottom: 20px; padding-top: 35px; width: 100%;">
        <div style="float: right;">
            <button ng-click="editCtrl.updateApplication()" class="modal-add-button">СОХРАНИТЬ</button>
        </div>
        <div style="float: right; padding-right: 10px;">
            <button ng-click="closeThisDialog()" class="modal-cancel-button">ОТМЕНИТЬ</button>
        </div>

    </div>
</div>