<style>
    .control-line{
        padding-left: 180px;
        padding-right: 180px;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #ffffff;
        width: 1280px !important;
    }

    .teacher-file-item{
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #edeeef;
        width: 100%;
    }

    .teacher-file-item-filename{
        font-size: 14px;
        color: #575f69;
        font-family: OpenSansSemiBold;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 510px;
    }

    .teacher-file-sort-item{
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        border-left: 2px solid #ffffff;
        font-size: 14px;
    }

    .teacher-file-sort-item:hover{
        background-color: #f5f9fc;
        border-left: 2px solid #f5f9fc;

    }

    .teacher-file-sort-item-group-indicator{
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: red;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .teacher-file-sort-item-groupname{
        float:left;
        padding-left: 10px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 195px;
    }

    .add-new-file-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansRegular;
        padding-left: 13px;
        padding-right: 13px;
    }

    .add-new-file-button:hover{
        background-color: #59b7ee;
    }
    .act-group-style {
        background-color: #f5f9fc;
        border-left: 2px solid #2196F3;
    }

</style>
<div ng-controller="listOfFilesController as ctrl">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line">
                <div style="padding-top:5px; padding-bottom: 5px; color:#000000; font-weight: 200; font-size: 28px;">Файлы</div>
            </div>
        </div>
    </div>
    <div class="mainView" style="padding-top: 30px; padding-bottom: 50px;">
        <div class="mainViewContent">
            <!--ЕСЛИ ГРУПП ВООБЩЕ НЕТ-->
            <div ng-if="ctrl.noGroups" class="md-box" style="margin-left: 180px; margin-right: 180px;">
                <div align="center" style="padding-bottom: 60px; padding-top: 50px;">
                    <div style="opacity: 0.8;"><img src="/static-files/images/empty-files-icon.png" width="160px"></div>
                    <div style="font-family: OpenSansBold; font-size: 18px; padding-top: 30px; color: #999999;">ДОКУМЕНТОВ НЕТ</div>
                    <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 16px; padding-left: 50px; padding-right: 50px;">Для добавления документов, нужно иметь хотя бы одну группу. Необходимо обратиться к Администратору</div>
                </div>
            </div>
            <div ng-if="!ctrl.noGroups" class="row" style="margin-left: 180px; margin-right: 180px;">
                <div class="col-xs-8" style="padding-left: 0px; width: 650px;">
                    <div class="md-box" style="margin: 0px;">
                        <div class="md-box-header" style="border: none; width: 100%; font-family: OpenSansSemiBold; display: inline-block; padding-top: 0px; padding-bottom: 0px;">
                            <div class="row">
                                <div class="col-xs-6" style="padding-top: 18px; padding-bottom: 18px; color: #2196F3; font-family: OpenSansSemiBold;">СПИСОК ДОКУМЕНТОВ</div>
                                <div class="col-xs-6" style="text-align: right; padding-top: 15px;">
                                    <button ng-click="ctrl.addFile()" class="add-new-file-button">ДОБАВИТЬ</button>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ctrl.noFiles || ctrl.noFilteredFiles" align="center" style="padding-bottom: 70px; padding-top: 50px; border-top: 1px solid #edeeef;">
                            <div style="opacity: 0.8;"><img src="/static-files/images/empty-files-icon.png" height="160px"></div>
                            <div style="font-family: OpenSansBold; font-size: 18px; padding-top: 30px; color: #999999;">ДОКУМЕНТОВ НЕТ</div>
                            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 16px; padding-left: 50px; padding-right: 50px;">Вы еще не добавляли документы, для данной группы</div>
                        </div>
                        <div ng-if="!ctrl.noFiles && !ctrl.noFilteredFiles">
                            <div ng-repeat="file in ctrl.filteredFiles | orderBy : 'createdAt' : true track by $index" class="teacher-file-item">
                                <div ng-include="'/app-teacher/views/files/templates/single-file-view.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" style="padding-right: 0px; width: 270px;">
                    <div class="md-box" style="padding-top: 10px; padding-bottom: 10px; margin: 0px;">

                        <div ng-click="ctrl.sortFilesByGroupID('-')" class="teacher-file-sort-item" ng-class="ctrl.actGroupID == '-' ? 'act-group-style' : ''">
                            {{ctrl.allGroups}}
                        </div>
                        <div ng-repeat="group in ctrl.groups track by $index" class="teacher-file-sort-item" ng-click="ctrl.sortFilesByGroupID(group._id)" ng-class="ctrl.actGroupID == group._id ? 'act-group-style' : ''">
                            <div class="teacher-file-sort-item-group-indicator" ng-style="{'background-color' : group.color}"></div>
                            <div class="teacher-file-sort-item-groupname">{{group.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
