<link rel="stylesheet" href="/static-files/css/circle.css">
<style>
    .clearfix:before,.clearfix:after {content: " "; display: table;}
    .clearfix:after {clear: both;}
    .clearfix {*zoom: 1;}

    .add-new-file-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansRegular;
        padding-left: 13px;
        padding-right: 13px;
    }

    .add-new-file-button:hover{
        background-color: #59b7ee;
    }

    .payments-history-item{
        border-top: 1px solid #e7eaec;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    ul.leaders {
        max-width: 40em;
        padding: 0;
        overflow-x: hidden;
        list-style: none}
    ul.leaders li:before {
        float: left;
        width: 0;
        white-space: nowrap;
        content:
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "}
    ul.leaders span:first-child {
        padding-right: 0.33em;
        background: white}
    ul.leaders span + span {
        float: right;
        padding-left: 0.33em;
        background: white}

</style>
<div ng-controller="paymentsControllerGroupInfo as payments">
    <div ng-if="ctrl.group.price" class="md-box" style="margin-bottom: 30px; margin-top: 1px;">
        <div ng-if="ctrl.group.students.length != 0">
            <!--<div class="md-box-header" style="padding-top: 0; padding-bottom: 0px;">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-6" style="padding-top: 18px; padding-bottom: 18px; font-family: OpenSansSemiBold">ОПЛАТЫ</div>-->
                    <!--<div class="col-xs-6" style="text-align: right; padding-top: 15px; padding-bottom: 10px;">-->
                        <!--<button ng-click="payments.addPayment()" class="add-new-file-button">ДОБАВИТЬ ОПЛАТУ</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">
                <div class="row" style="margin: 0;">
                    <div class="col-xs-6" style="padding: 0;">Оплаты группы</div>
                    <div class="col-xs-6" style="padding: 0; text-align: right;"><button ng-click="payments.addPayment()" class="edunet-button-default" style="font-family: OpenSansSemiBold;">ДОБАВИТЬ ОПЛАТУ</button></div>
                </div>
            </div>

            <div>
                <!--<div class="row"  style="margin-right: 0px; margin-left: 0px; font-size: 11px; font-family: OpenSansBold; padding-top: 12px; padding-bottom: 12px; color: #4d88b3; background-color: #e2f2fe; border-bottom: 1px solid #74c2f0;">-->
                    <!--<div class="col-xs-5" style="width: 330px; padding-left: 30px; padding-right: 30px;">СПИСОК СТУДЕНТОВ</div>-->
                    <!--<div class="col-xs-7" style="width: 690px; padding-left: 30px; padding-right: 30px;">ОПЛАТЫ ВЫБРАННОГО СТУДЕНТА</div>-->
                <!--</div>-->
                <div class="row" style="margin-right: 0px; margin-left: 0px; background-color: #e5e7ef;">
                    <div class="col-xs-5" style="width: 330px; padding: 0px; height:500px;">
                        <table fixed-header style="height:500px; width:100%; background-color: #f4f5f6;">
                            <tr ng-repeat="student in ctrl.group.students track by $index">
                                <td>
                                    <div ng-class="student._id == payments.activeStudent._id ? 'attendance-student-list-active-item' : 'attendance-student-list-item'" ng-click="payments.changeActiveStudentIndex($index)"> {{student | nameFilter}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-7" style="width: 690px; background-color: #ffffff; height: 500px; overflow: auto; border-left: 1px solid #e7eaec; padding: 0;">
                            <div style="border-bottom: 1px solid #e7eaec; margin-left: 25px; margin-right: 25px; padding-top: 20px; padding-bottom: 15px; font-family: OpenSansRegular; font-size: 16px;">Оплаты текущего студента</div>
                            <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 25px; padding-left: 25px; padding-right: 15px; padding-bottom: 30px; border-bottom: 15px solid #f4f5f6;">
                                <div class="col-xs-7" style="padding: 0;">
                                    <div align="center">
                                        <div style="display: inline-block; padding-top: 25px; padding-bottom: 10px;">

                                            <div style="float: left;">
                                                <div style="font-family: OpenSansSemiBold; font-size: 26px; color: #35b056;">{{payments.activeStudent.totalPayment | customCurrencyFilter}}</div>
                                                <div style="font-family: OpenSansRegular; font-size: 11px; color: #35b056; text-align: center;">ВНЕСЕННАЯ СУММА</div>
                                            </div>
                                            <div style="float: left; font-size: 24px; font-family: OpenSansLight; padding-left: 10px; padding-right: 10px;">/</div>
                                            <div style="float: left;">
                                                <div style="font-family: OpenSansSemiBold; font-size: 26px;">{{ctrl.group.price | customCurrencyFilter}} </div>
                                                <div style="font-family: OpenSansRegular; font-size: 11px; color: #838e9e; text-align: center;">ПОЛНАЯ СТОИМОСТЬ</div>
                                            </div>
                                        </div>
                                    </div>




                                    <ul class=leaders style="font-family: OpenSansRegular; font-size: 15px; color: #838e9e;">
                                        <!--<li style="margin-top: 15px;"><span>Полная стоимость курсaa:</span>-->
                                            <!--<span style="color: #000000;">{{ctrl.group.price | customCurrencyFilter}}</span>-->
                                        <!--<li style="margin-top: 20px;"><span>Внесенная сумма:</span>-->
                                            <!--<span style="color: #000000;">{{payments.activeStudent.totalPayment | customCurrencyFilter}} </span>-->
                                        <li style="margin-top: 20px;"><span>Остаток к оплате:</span>
                                            <span style="color: #000000;">{{(ctrl.group.price - payments.activeStudent.totalPayment) | customCurrencyFilter}} </span>
                                        </li>
                                        <li style="margin-top: 20px;">
                                            <span>Последняя оплата:</span>
                                            <span ng-if="payments.activeStudent.payments.length == 0" style="color: #000000;">0 KZT</span>
                                            <span ng-if="payments.activeStudent.payments.length > 0" style="color: #000000;">{{payments.activeStudent.payments[payments.activeStudent.payments.length -1].value | customCurrencyFilter}}</span>
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-xs-5">
                                    <div align="center">
                                        <div class="clearfix" style="margin-left: 60px; margin-right: 60px; margin-top: 10px;">
                                            <div class="c100 p{{(payments.activeStudent.totalPayment/ctrl.group.price*100).toFixed(0)}}">
                                                <span>{{(payments.activeStudent.totalPayment/ctrl.group.price * 100).toFixed(0)}}%</span>
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="font-family: OpenSansSemiBold; color: #58a0fc;">ОПЛАЧЕНО</div>

                                    </div>
                                </div>
                            </div>
                        <div style="margin-left: 25px; margin-right: 25px; padding-top: 15px; padding-bottom: 15px; font-family: OpenSansRegular; font-size: 16px;">История оплат</div>
                        <div style="padding-bottom: 40px; margin-left: 10px; margin-right: 10px;">
                            <div ng-if="payments.activeStudent.payments.length == 0" style="padding: 15px; font-size: 15px; color: #777777;">На данный момент оплаты не были внесены.</div>
                            <div ng-if="payments.activeStudent.payments.length > 0">
                                <div class="payments-history-item" ng-repeat="payment in payments.activeStudent.payments">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div style="color: #949fb0;">{{payment.createdAt | timeFilter}}</div>
                                        </div>
                                        <div class="col-xs-6" style="display: inline-block;">
                                            <div ng-click="payments.deletePaymentByID(payment._id)" style="float: right;">
                                                <button class="answer-control-button">
                                                    <img src="/static-files/images/delete-icon.png" width="13px">
                                                    <md-tooltip md-direction="top">Удалить</md-tooltip>
                                                </button>
                                            </div>
                                            <div ng-click="payments.editPaymentByID(payment._id)" style="float: right; margin-right: 5px;">
                                                <button class="answer-control-button">
                                                    <img src="/static-files/images/edit-icon.png" width="14px">
                                                    <md-tooltip md-direction="top">Редактировать</md-tooltip>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <ul class=leaders style="font-family: OpenSansRegular; font-size: 15px;">
                                            <li style="margin-top: 15px;"><span>Внесенная сумма:</span>
                                                <span style="color: #000000;">{{payment.value | customCurrencyFilter}}</span>
                                        </ul>
                                    </div>
                                    <div ng-if="payment.comment" class="row" style="padding-bottom: 5px; padding-top: 5px;">
                                        <div class="col-xs-4" style="width: 180px; padding-right: 0;">Комментарий к оплате:</div>
                                        <div class="col-xs-8">{{payment.comment}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="ctrl.group.students.length == 0" class="md-box" style="margin-bottom: 30px; margin-top: 1px; margin-right: 0; margin-left: 0;">
            <div style="width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Оплаты группы</div>

            <div align="center" style="padding-bottom: 50px; padding-top: 60px;">
                <div style="opacity: 0.9;"><img src="/static-files/images/empty-payments-icon.png" width="170px"></div>
                <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Оплат нет</div>
                <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 270px; padding-right: 270px; padding-top: 10px;">К сожалению, в данный момент оплат нет. Необходимо добавить в группу хотя бы одного студента.</div>

            </div>
        </div>
    </div>
    <div ng-if="!ctrl.group.price" class="md-box" style="margin-bottom: 30px; margin-top: 1px;">

        <div style="width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Оплаты группы</div>

        <div align="center" style="padding-bottom: 50px; padding-top: 60px;">
            <div style="opacity: 0.9;"><img src="/static-files/images/empty-payments-icon.png" width="170px"></div>
            <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Оплат нет</div>
            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 270px; padding-right: 270px; padding-top: 10px;">К сожалению, в данный момент раздел Оплаты недоступен. Необходимо указать стоимость курса в информации о группе.</div>

        </div>


    </div>

</div>


