.nav{
    margin-left: 34px;
    margin-right: 25px;

}

.nav-pills > li >a{
    color: rgba(255, 255, 255, 0.5);
    /*background-color: #eff2f7;*/
    /*background-color: red;*/
    color: #8b9aaa;
    padding-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    /*width: 100px;*/
    /*text-align: center;*/
    /*border-radius: 0;*/
    opacity: 0.3;
    width: 110px;
    height: 110px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #9db0c0;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    /*background-color: #f5f9fc;*/
    background-color: #fafbfc;
    color: #91a1b1;
    opacity: 0.8;

}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #ffffff;
    /*color: #454d58;*/
    color: #91a1b1;
    /*border-bottom: 5px solid #ffff94;*/
    /*border-radius: 0;*/
    border: none;
    opacity: 1;
    /*border: 1px solid #2196F3;*/

}

.add-new-file-button{
    background-color: #74c2f0;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 11px;
    font-family: OpenSansSemiBold;
    padding-left: 13px;
    padding-right: 13px;
}

.add-new-file-button:hover{
    background-color: #59b7ee;
}


.nav-pills > li >a{
    margin: 0;
    width: 128px;
    background-color: #f4f5f6;
    border: none;
    opacity: 1;
    border-right: 2px solid #e7eaec;
    border-radius: 0;
    color: #a8b3c2;

}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #ffffff;
    color: #91a1b1;
    opacity: 1;
    color: #58a0fc;
    border-right: 2px solid #e7eaec;


}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    /*background-color: #f5f9fc;*/
    background-color: #fefefe;
    /*border: 1px solid #b6c9db;*/

}

/*.nav{*/
    /*padding-right: 40px;*/
    /*padding-left: 50px;*/
/*}*/