<link rel="stylesheet" href="/static-files/css/teacher/list-of-groups.css"/>

<style>

    .teacher-group-box{
        background-color: #ffffff;
        border-radius: 3px;
        border: 1px solid #eff2f7;
    }

    .teacher-group-box:hover{
        /*background-color: #f5f9fc;*/
        /*border: 1px solid #fd6461;*/
    }

    .teacher-group-box-header{
        /*background-color: #ffffff;*/
        /*border-bottom: 1px solid #e2e2e2;*/
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: OpenSansRegular;
        text-align: center;
        /*background-color: #3F51B5;*/
        color: #ffffff;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-size: 18px;
    }

    .list-of-teachers-item{
        border-left: 3px solid #ffffff;
    }

    .list-of-teachers-item:hover{
        background-color: #ffffff;
        border-left: 3px solid #74c2f0;
    }
</style>

<div style="background-color: #ffffff; width: 100%;">
    <div style=" width: 1280px; margin: auto;">
        <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
            <div style="float: left; padding-top:6px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Мои группы</div>
            <div style="float: left; padding-left: 30px; padding-top: 10px;">
                <div class="search">
                    <span class="searchIcon"><img src="/static-files/images/search-icon.png" width="15"></span>
                    <input ng-model="searchPattern" placeholder="Поиск" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Поиск'">
                </div>
            </div>
            <div ng-include="'/app-teacher/views/templates/display-option.html'"></div>
        </div>
    </div>
</div>
<div class="mainView" style="background-color: #e7eaec;">
    <div class="mainViewContent">
        <div ng-show="noGroups">
            <div style="padding-top: 30px;">
                <div class="md-box" style="margin-right: 180px; margin-left: 180px;">
                    <div align="center" style="padding-bottom: 60px; padding-top: 60px;">
                        <div><img src="/static-files/images/empty-groups-icon.png" height="180px"></div>
                        <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 25px; color: #a8b3c2;">Групп нет</div>
                        <div style="font-family: OpenSansRegular; padding-top: 8px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">К сожалению у Вас еще нет групп. Обратитесь к администратору для добавления группы</div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-hide="noGroups">
            <div style="padding-top: 30px;">
                <div class="list-of-teachers" ng-show="displayOption == displayOptions.VIEW_STYLE_LIST">
                    <div class="list-of-teachers-item" ng-repeat="group in groups | listOfGroupsSearch : searchPattern" ng-click="goToGroupInfo(group._id)">
                        <div style="float: left; width: 30px;">
                            <div class="list-of-groups-item-color-indicator" ng-style="group.style"></div>
                        </div>
                        <div style="float: left; padding-top: 20px; padding-bottom: 18px; padding-left: 20px; font-size: 16px; width: 430px; margin-right: 20px;">
                            <div style="float:left; width: 410px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: OpenSansRegular;">{{group.name}}</div>
                        </div>
                        <div style="float: left; display: inline-block; width: 100px;">
                            <div style="float: left; padding-top: 23px; padding-bottom: 23px; padding-right: 10px;"><img src="/static-files/images/admin-students-icon.png" width="16px"></div>
                            <div style="float: left; color: #949fb0; padding-top: 21px;">{{group.students.length}}</div>
                        </div>
                        <div style="float: left; display: inline-block; width: 140px;">
                            <div style="float: left; padding-top: 24px; padding-bottom: 24px; padding-right: 10px;"><img src="/static-files/images/admin-memory-icon.png" width="12px"></div>
                            <div style="float: left; color: #949fb0; padding-top: 21px;">{{group.memory | memoryUsageFilter}}</div>
                        </div>
                        <div style="float: left; display: inline-block; width: 180px;">
                            <div style="float: left; padding-top: 24px; padding-bottom: 24px; padding-right: 10px;"><img src="/static-files/images/list-item-date-icon.png" width="15px"></div>
                            <div style="float: left; color: #949fb0; padding-top: 21px;">{{group.createdAt | timeFilterDate}}</div>
                        </div>
                    </div>
                </div>

                <div class="row" style=" padding-left: 180px; padding-right: 180px;" ng-show="displayOption == displayOptions.VIEW_STYLE_BLOCKS">
                    <div class="col-xs-4" style="padding-bottom: 30px;" ng-repeat="group in groups | listOfGroupsSearch : searchPattern track by $index" ng-click="goToGroupInfo(group._id)" ng-mouseenter="setActiveGroup($index)" ng-mouseleave="unsetActiveGroup($index);">
                        <div class="teacher-group-box" ng-style="activeGroupIndex == $index ? {'border' : '1px solid ' + group.color} : null">
                            <div class="teacher-group-box-header" ng-style="{'background-color' : group.color}">
                                <div style="width: 200px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{group.name}}</div>
                                <div style="font-size: 12px; font-family: OpenSansRegular; text-align: center; color: #ffffff; padding-top: 5px; opacity: 0.8;">{{group.createdAt | timeFilterDate}}</div>
                                <!--<div style="opacity: 0.9; font-size: 13px; padding-top: 5px; font-family: OpenSansRegular;">{{group.individual ? 'Индивидуальная ': 'Общая '}} группа</div>-->
                            </div>
                            <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 20px; padding-bottom: 20px;">
                                <div class="col-xs-6" style="border-right: 1px solid #e7eaec;">
                                    <div align="center" style="padding-top: 10px;"><img src="/static-files/images/empty-students-teacher-icon.png" width="50px"></div>
                                    <!--<div align="center" style="padding-top: 10px; color: #8292a4; font-size: 22px; font-family: OpenSansRegular;"><span style="font-family: OpenSansSemiBold; color: #0f0f0f;">{{group.students.length}}</span> чел.</div>-->
                                    <div align="center" style="padding-top: 10px; font-family: OpenSansRegular;">{{group.individual ? 'Индивидуальная ': 'Общая '}}</div>
                                    <div align="center" style="font-family: OpenSansRegular;">группа</div>
                                </div>
                                <div class="col-xs-6">
                                    <!--<div align="center"><img src="/static-files/images/teacher-group-box-storage-icon.png" width="45px"></div>-->
                                    <!--<div align="center" style="padding-top: 10px; color: #8292a4; font-size: 22px; font-family: OpenSansRegular;"><span style="font-family: OpenSansSemiBold; color: #0f0f0f;">{{group.memory | memoryUsageFilterWithoutMB}}</span> Мб</div>-->
                                    <div align="center" style="font-family: OpenSansSemiBold; font-size: 50px; color: #b4c0cd; opacity: 0.9;">{{group.students.length}}</div>
                                    <div align="center" style="font-family: OpenSansRegular;">Студентов</div>
                                    <div align="center" style="font-family: OpenSansRegular;">в группе</div>
                                </div>
                            </div>

                            <!--<div class="teacher-group-box-footer">-->
                                <!--<div style="font-size: 12px; color: #a9b2c1; font-weight: 500; padding-top: 8px; padding-bottom:8px; padding-left: 10px; font-family: OpenSansRegular;">{{group.createdAt | timeFilterDate}}</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>