<link rel="stylesheet" href="/static-files/css/add-teacher.css">
<style>
    .mainView{
        /*background-color: rgb(220, 221, 222);*/
        background-color: #eff2f7;
        min-height: 100%;
    }
    .new-group-form{
        border: none;
    }

    .cropArea {
        /*background: #E4E4E4;*/
        overflow: hidden;
        font-size: 0px;
        line-height: 0px;
    }
    .rounded-image{
        border-radius: 50%;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #99a4b5;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }

    .md-box-header{
        border-bottom: 1px solid #eff2f7;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }


    .upload-photo-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 160px;
    }

    .upload-photo-button:hover{
        background-color: #59b7ee;
    }

    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
        width: 190px;
    }

    .submit-group-button:hover{
        background-color: #5e91f5;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }

</style>

<div style="background-color: #ffffff; width: 100%;">
    <div style=" width: 1280px; margin: auto;">
        <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 180px; padding-right: 180px;">
            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Добавление учителя</div>
        </div>
    </div>
</div>
<div class="mainView" style="background-color: #e7eaec;">
    <div class="mainViewContent" style="padding-top:30px; padding-bottom: 50px;">

        <div class="new-group-form" style="margin-bottom: 10px;" ng-show="isSettingAvatar">
            <div ng-hide="myCroppedImage">
                <!--<div>ОЛЯОЛЯОЛЯОЛЯОЯЛ</div>-->
                <div class="md-box">
                    <div class="md-box-header">ЗАГРУЗКА НОВОЙ ФОТОГРАФИИ</div>
                    <div align="center" style="font-family: OpenSansRegular; padding-top: 40px;">Убедительаня просьба загружать только реальные фотографии людей.</div>
                    <div align="center" style="padding-top: 20px; padding-bottom: 20px; font-family: OpenSansRegular; padding-right: 100px; padding-left: 100px;">Вы можете загрузить изображение в формате JPEG или PNG, размером не более 5 Мб. Загружаемая фотография не должна нарушать авторские права.</div>
                    <div align="center" style="padding-bottom: 20px;">
                        <div class="fileUpload upload-photo-button">
                            <span>Выбрать файл</span>
                            <input type="file" class="upload" id="fileInput" />
                        </div>
                    </div>
                    <div style="padding-bottom: 30px; color: #aaaaaa; text-align: center; font-family: OpenSansRegular; font-size: 13px;">
                        Если у Вас возникли проблемы с загрузкой, попробуйте позже или выберите другую фотографию
                    </div>
                    <div ng-click="cancelAvatarView()" align="right" style="background-color: #ffffff; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; border-top: 1px solid #eff2f7; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                        <button class="cancel-group-button">ОТМЕНИТЬ</button>
                    </div>
                    <!--<div><input type="file" id="fileInput" /></div>-->
                </div>
            </div>
            <div ng-hide="!myCroppedImage">
                <div class="md-box">
                    <div class="md-box-header">НАСТРОЙКА ФОТОГРАФИИ</div>
                    <div align="center" style="font-family: OpenSansRegular; padding-top: 30px;">Выберите область на фотографии, которая будет показываться в системе</div>
                    <div style="padding: 20px;">
                        <div class="cropArea" style="height: 400px; background-color: #1e1e1e;">
                            <ui-cropper image="myImage" area-type="square" chargement="'Loading'" result-image="myCroppedImage" canvas-scalemode="fixed-height"></ui-cropper>
                        </div>
                    </div>
                    <!--s-->

                    <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px; border-top: 1px solid #eff2f7;">
                        <div class="col-xs-6">
                            <button ng-click="cancelAvatarView()" class="cancel-group-button">ОТМЕНИТЬ</button>
                        </div>
                        <div class="col-xs-6" style="text-align: right">
                            <button ng-click="closeAvatarView()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-group-form" ng-show="!isSettingAvatar">
            <div style="font-family: OpenSansRegular; font-size: 19px; border-bottom: 1px solid #e7eaec; padding-top: 22px; padding-bottom: 22px; padding-left: 30px; padding-right: 30px;">Форма создание нового учителя</div>
            <!--<div class="md-box-header">ФОРМА ДОБАВЛЕНИЯ НОВОГО УЧИТЕЛЯ</div>-->
            <div style="padding-top: 50px;" align="center">
                <img class="rounded-image" ng-show="myCroppedImage" src="{{myCroppedImage}}">
                <img class="rounded-image" ng-show="!myCroppedImage" ng-src="{{gender == genders.woman ? '/static-files/images/teacher-female-icon.png' : '/static-files/images/teacher-male-icon.png'}}" width="180px">
            </div>
            <div ng-click="showAvatarView()" align="center" class="photo-upload-title" style="padding-top: 10px;">Загрузить фотографию</div>
            <div class="row" style="margin-right: 0px; padding-top: 30px; margin-left: 30px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Имя:</div>
                <div class="col-xs-8" style="text-align: left;">
                    <input ng-model="firstName" type="text" style="width:300px;" class="md-text-input" placeholder="Введите имя">
                    <div ng-if="firstNameError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 15px; margin-left: 30px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Фамилия:</div>
                <div class="col-xs-8" style="text-align: left;">
                    <input ng-model="lastName" type="text" style="width:300px;" class="md-text-input" placeholder="Введите фамилию">
                    <div ng-if="lastNameError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 15px; margin-left: 30px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Телефон:</div>
                <div class="col-xs-8" style="text-align: left;">
                    <input  ui-mask="+7 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="phone" type="text" style="width:300px;" class="md-text-input" placeholder="Введите контактный телефон">
                    <div ng-if="phoneError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 15px; margin-left: 30px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Email адрес:</div>
                <div class="col-xs-8" style="text-align: left;">
                    <input ng-model="email" type="text" style="width:300px;" class="md-text-input" placeholder="Введите email адрес">
                    <div ng-if="emailError" ng-include="'/app-admin/views/templates/validation/email-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 15px; margin-left: 30px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Пол:</div>
                <div class="col-xs-8" style="text-align: left;">
                    <md-radio-group ng-model="gender">
                        <div style="display: inline-block; padding-top: 10px;">
                            <div style="float: left; margin-right: 30px;"><md-radio-button value="{{genders.woman}}" style="color: #777777">Женский</md-radio-button></div>
                            <div style="float: left;"><md-radio-button value="{{genders.man}}" style="color: #777777">Мужской</md-radio-button></div>
                        </div>
                    </md-radio-group>
                </div>
            </div>
            <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; margin-top: 60px;">
                <div style="float: right;">
                    <button ng-click="addTeacher()" type="submit" class="submit-group-button">Добавить учителя</button>
                </div>
                <div style="float: right; margin-right: 15px;">
                    <button ng-click="cancel()" class="cancel-group-button">Отменить</button>
                </div>
            </div>


        </div>
    </div>
</div>
