<link rel="stylesheet" href="/static-files/css/list-of-teachers.css">
<style>
    .rounded-image{
        border-radius: 50%;
    }

    .control-line-blocks-view-button{
        background-color: #74c2f0;
        border: none;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 60px;
        border: 1px solid #74c2f0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .control-line-list-view-button{
        background-color: transparent;
        border: 1px solid #74c2f0;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        color: #59b7ee;
        width: 60px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    body{
        background-color: #eff2f7;;
        min-height: 100%;
    }

    .mainView{
        padding-bottom: 30px;
    }


</style>
<div ng-controller="listOfTeachersController as self">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:6px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Учителя</div>
                <div style="float: left; padding-left: 30px; padding-top: 10px;">
                    <div class="search">
                        <span class="searchIcon"><i class="fa fa-search"></i></span>
                        <input ng-model="self.searchPattern" placeholder="Поиск" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Поиск'">
                    </div>
                </div>
                <div ng-include="'/app-admin/views/templates/display-option.html'"></div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent">
            <div ng-if="self.noTeachers" style="padding-top: 30px;">
                <div class="md-box" style="margin-right: 180px; margin-left: 180px; background-color: #ffffff;">
                    <div align="center" style="padding-bottom: 60px; padding-top: 60px;">
                        <div><img src="/static-files/images/empty-teachers-icon.png" height="180px"></div>
                        <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 25px; color: #a8b3c2;">Учителей нет</div>
                        <div style="font-family: OpenSansRegular; padding-top: 5px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">На данный момент, в Вашем центре нет учителей. Чтобы создать учителя, нажмите на кнопку "+"</div>
                    </div>
                </div>
            </div>

            <div ng-if="!self.noTeachers">
                <div style="padding-top: 30px;" ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_LIST">
                    <div class="list-of-teachers">
                        <div class="list-of-teachers-item" ng-repeat="teacher in (self.results = (self.teachers | listOfTeachersSearch : self.searchPattern)) track by $index" ng-mouseenter="self.showProperties($index)" ng-mouseleave="self.hideProperties($index)">
                            <div ng-click="self.goToTeacherInfo(teacher._id)" style="float: left; padding-top: 12px; padding-bottom: 12px; padding-left: 25px; font-size: 16px; width: 490px; margin-right: 20px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">
                                <div style="float:left; padding-right: 10px; padding-top: 3px;">
                                    <img class="rounded-image" ng-src="{{teacher | teacherImageUrlFilter}}" width="40px">
                                </div>
                                <div style="float:left; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; font-family: OpenSansRegular; font-size: 16px;">{{teacher | nameFilter}}</div>
                            </div>
                            <div style="width: 320px; float: left; padding-top: 25px; padding-bottom: 25px; color: #949fb0; padding-left: 40px;">
                            </div>
                            <div style="float: left; display: inline-block; padding-top: 5px; padding-bottom: 5px;" ng-if="self.properties[$index]">
                                <div ng-click="self.editTeacherByID(teacher._id)" style="float: left; padding-top: 10px; padding-bottom: 8px; margin-right: 7px;">
                                    <div class="list-of-teachers-item-control-button">
                                        <img src="/static-files/images/edit-icon.png" width="12px">
                                        <md-tooltip md-direction="top">
                                            Редактировать
                                        </md-tooltip>
                                    </div>
                                </div>
                                <div ng-click="self.deleteTeacherByID(teacher._id)" style="float: left; padding-top: 10px; padding-bottom: 8px;">
                                    <div class="list-of-teachers-item-control-button" style="padding-left: 9px; padding-top: 9px;">
                                        <img src="/static-files/images/delete-icon.png" width="11px">
                                        <md-tooltip md-direction="top">
                                            Удалить
                                        </md-tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="self.results.length == 0">Нет учителей по данному критерию</div>
                    </div>
                </div>
                <div ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_BLOCKS" class="row" style="margin-left: 0px; margin-right: 0px; padding-left: 165px; padding-right: 165px; padding-top: 30px;">
                    <div class="col-xs-4 tbox" style="padding-bottom: 30px;" ng-repeat="teacher in (self.results = (self.teachers | listOfTeachersSearch : self.searchPattern)) track by $index" ng-mouseenter="self.showProperties($index)" ng-mouseleave="self.hideProperties($index)">
                        <div class="teacherBox">
                            <div ng-click="self.goToTeacherInfo(teacher._id)">
                                <div style="padding-top: 35px; padding-bottom: 15px;" align="center">
                                    <img class="rounded-image" ng-src="{{teacher | teacherImageUrlBigFilter}}" width="150px" height="150px">
                                </div>
                                <div style="padding-bottom: 20px;">
                                    <div style="color: #000000; text-align: center; font-size: 20px; font-family: OpenSansLight;">{{teacher | nameFilter}}</div>
                                </div>
                            </div>
                            <div class="teacherBoxFooter" style="background-color: #f4f5f6; border-top: 1px solid #e7eaec;">
                                <div class="row" style="width: 100%; margin-right: 0; margin-left: 0;">
                                    <div class="col-xs-6" style="font-size: 12px; color: #a9b2c1; font-weight: 500; padding-top: 8px; padding-bottom:8px; padding-left: 10px;">{{teacher.createdAt  | timeFilterDate}}</div>
                                </div>
                                <div class="teacher-popup-control-menu" ng-if="self.properties[$index]">
                                    <div ng-click="self.editTeacherByID(teacher._id)" class="teacher-popup-control-menu-item">
                                        <img src="/static-files/images/edit-icon.png" width="12px">
                                        <md-tooltip ng-mouseenter="self.showProperties($index)"  md-direction="top">
                                            Редактировать
                                        </md-tooltip>
                                    </div>
                                    <div></div>
                                    <div ng-click="self.deleteTeacherByID(teacher._id)" class="teacher-popup-control-menu-item" style="padding-left: 9px; padding-top: 9px;">
                                        <img src="/static-files/images/delete-icon.png" width="11px">
                                        <md-tooltip md-direction="bottom">
                                            Удалить
                                        </md-tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="self.results.length == 0">Нет учителей по данному критерию</div>
                </div>
            </div>

        </div>
    </div>
    <div style="width: 100%; margin: auto; position: fixed; bottom: 25px; text-align: right; right: 40px;">
        <button ng-click="self.addTeacher()" class="new-group-button">
            +
            <md-tooltip md-direction="top" style="font-size:12px;">
                Добавить учителя
            </md-tooltip>
        </button>
    </div>
</div>
