<link rel="stylesheet" href="/static-files/css/teacher-info.css"/>
<link rel="stylesheet" href="/app-admin/styles/teacher-info.css" />

<div style="background-color: #ffffff; width: 100%;">
    <div style=" width: 1280px; margin: auto;">
        <div class="control-line" style="padding-left: 130px; padding-right: 30px; background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Информация об учителе</div>
        </div>
    </div>
</div>
<div class="mainView" style="background-color: #e7eaec;" ng-controller="teacherInfoController as self">
    <div class="mainViewContent" style="padding-top: 30px;">
        <div class="row" style="margin-left:130px; margin-right: 130px;">
            <div class="col-xs-5" style="padding-left: 0; padding-right: 10px;">
                <div class="md-box">
                    <div>
                        <div style="padding-top: 20px; padding-bottom: 20px;" align="center">
                            <div style="padding-top: 20px;">
                                <img style="border-radius: 50%;" ng-src="{{self.teacher | teacherImageUrlBigFilter}}" width="170px">
                            </div>
                            <div style="padding-top: 13px; color: #000000; text-align: center; font-size: 24px; font-family: OpenSansLight; padding-left: 30px; padding-right: 30px;">
                                <div style="width: 340px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{self.teacher | nameFilter}}</div>
                            </div>
                            <div style=" padding-top: 5px; color: #838e9e; font-family: OpenSansRegular; font-size: 19px;">{{self.teacher.phone | phoneFilter}}</div>
                            <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 31px; padding-bottom: 10px;">
                                <div ng-click="self.editTeacher()" class="col-xs-6" style="text-align: right; padding-right: 10px;"><button class="edunet-box-edit-button">РЕДАКТИРОВАТЬ</button></div>
                                <div ng-click="self.deleteTeacher()" class="col-xs-6" style="text-align: left; padding-left: 10px;"><button class="edunet-box-delete-button">УДАЛИТЬ</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-7" style="padding-right: 0; padding-left: 10px;">
                <div class="md-box">
                    <div class="edunet-box-header" style="padding-top: 0; padding-bottom: 0; display: inline-block; width: 100%;">
                        <div style="float: left; padding-top: 22px; padding-bottom: 18px;">Группы</div>
                        <div class="md-box-indicator-label" style="margin-left: 15px; float: left; margin-top: 24px;">{{self.groups.length}}</div>
                    </div>
                    <div style="width: 100%; display: inline-block; font-size: 11px; font-family: OpenSansBold; padding-top: 12px; padding-bottom: 12px; color: #838e9e; background-color: #f4f5f6; border-bottom: 1px solid #e7eaec;">
                        <div style="float:left; width: 340px; padding-left: 30px;">НАЗВАНИЕ ГРУППЫ</div>
                        <div style="float:left; width: 100px;">СТУДЕНТЫ</div>
                        <div style="float:left; width: 100px; text-align: center;">ДАТА</div>
                    </div>
                    <div style="height: 280px;">
                        <table ng-if="!self.noGroups" fixed-header style="height:280px; width:100%;">
                            <tr ng-repeat="group in self.groups track by $index">
                                <td>
                                    <div style="background-color: #ffffff; display: inline-block; padding-left: 30px; padding-right: 35px; border-bottom: 1px solid #edeeef; width: 100%;">
                                        <div style="float: left; width: 30px;">
                                            <div class="teacher-list-of-groups-item-color-indicator" ng-style="{'background-color' : group.color}"></div>
                                        </div>
                                        <div style="float: left; padding-top: 19px; padding-bottom: 18px; font-size: 16px; width: 270px; margin-right: 20px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{group.name}}</div>
                                        <div style="float: left; display: inline-block; width: 90px;">
                                            <div style="float: left; padding-top: 20px; padding-bottom: 20px; padding-right: 8px; opacity: 0.8;"><img src="/static-files/images/admin-students-icon.png" width="16px"></div>
                                            <div style="float: left; color: #777777; padding-top: 19px; padding-bottom: 19px; font-size: 14px;">{{group.students.length}}</div>
                                        </div>
                                        <div style="float: left; display: inline-block; width: 110px;">
                                            <div style="float: left; padding-top: 20px; padding-bottom: 20px; padding-right: 8px; opacity: 0.8;"><img src="/static-files/images/list-item-date-icon.png" width="16px"></div>
                                            <div style="float: left; color: #777777; padding-top: 19px; padding-bottom: 19px; font-size: 14px;">{{group.createdAt | date : 'dd.MM.yyyy'}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <!--КОГДА ГРУПП НЕТ-->
                        <div ng-if="self.noGroups" align="center" style="padding-top: 30px;">
                            <div style="opacity: 0.7;"><img src="/static-files/images/empty-groups-icon.png" width="120px"></div>
                            <div style="font-family: OpenSansBold; font-size: 16px; padding-top: 20px; color: #999999;">ГРУПП НЕТ</div>
                            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 15px; padding-left: 50px; padding-right: 50px;">Вы можете назначить данного учителя в любую существующую группу.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-left:130px; margin-right: 130px; padding-bottom: 30px;">
            <div class="md-box" style="margin-bottom: 30px; margin-top: 20px;">
                <!--<div class="md-box-header">РАСПИСАНИЕ</div>-->
                <div class="edunet-box-header">Расписание учителя</div>
                <div style="background-color: #ffffff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
                    <div class="tab-schedule">
                        <div style="float: left;">
                            <div class="calendar-time-line-item" style="padding-top: 50px; border-top-left-radius: 4px;">9:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 23px;">10:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">11:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">12:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">13:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">14:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">15:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">16:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">17:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">18:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">19:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">20:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">21:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px;">22:00</div>
                            <div class="calendar-time-line-item" style="padding-top: 22px; border-bottom-left-radius: 4px;">23:00</div>
                        </div>
                        <div style="float: left; height: 561px; border-right: 1px solid #e7eaec; margin-top: 59px;"></div>
                        <div style="float: left;"  ng-repeat="day in self.days track by $index">
                            <div class="calendar-middle-top-item" style="color: #a8b3c2; font-family: OpenSansSemiBold;">{{day}}</div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div class="calendar-middle-item"></div>
                            <div ng-click="self.getTeacherScheduleInfo(lesson.groupID._id)" class="schedule-lesson" ng-repeat="lesson in self.lessons[$index]" ng-style="lesson.style">{{lesson.groupID.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
