<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 40px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .rounded-image{
        border-radius: 50%;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #66bef0;
        color: #0f0f0f;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }


</style>

<div ng-controller="editArchiveStudentController as modal">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">РЕДАКТИРОВАНИЕ СТУДЕНТА</div>
    </div>
    <div align="center" style="padding-top: 20px; padding-bottom: 15px;">
        <div>
            <img class="rounded-image" src="/static-files/images/empty-student-photo.png" width="120px">
        </div>
        <div class="row" style="margin-right: 0px; margin-left: 0px; padding-top: 15px;">
            <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Имя:</div>
            <div class="col-xs-8" style="text-align: left;">
                <input ng-model="modal.student.firstName" type="text" style="width:240px;" class="md-text-input" placeholder="Введите имя">
                <div ng-if="modal.student.firstNameError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
            </div>
        </div>
        <div class="row" style="margin-right: 0px; padding-top: 10px; margin-left: 0px;">
            <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Фамилия:</div>
            <div class="col-xs-8" style="text-align: left;">
                <input ng-model="modal.student.lastName" type="text" style="width:240px;" class="md-text-input" placeholder="Введите фамилию">
                <div ng-if="modal.student.lastNameError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
            </div>
        </div>
        <div class="row" style="margin-right: 0px; padding-top: 10px; margin-left: 0px;">
            <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Телефон:</div>
            <div class="col-xs-8" style="text-align: left;">
                <input disabled ng-model="modal.student.phone" ui-mask="+7 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="data.phone" type="text" style="width:240px;" class="md-text-input" placeholder="Введите телефон">
                <!--<div ng-if="data.phoneError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>-->
            </div>
        </div>
        <div class="row" style="margin-right: 0px; padding-top: 10px; margin-left: 0px;">
            <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Email адрес:</div>
            <div class="col-xs-8" style="text-align: left;">
                <input ng-model="modal.student.email" type="text" style="width:240px;" class="md-text-input" placeholder="Введите email адрес">
                <div ng-if="modal.student.emailError" ng-include="'/app-admin/views/templates/validation/email-short.html'"></div>
            </div>
        </div>
        <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; margin-top: 40px; padding-top: 15px; padding-left: 5px; padding-right: 5px; border-top: 1px solid #edeeef;">
            <div class="col-xs-6" style="text-align: left;">
                <button ng-click="closeThisDialog()" class="cancel-group-button">ОТМЕНИТЬ</button>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <button ng-click="modal.updateStudent()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
            </div>
        </div>
    </div>
</div>
