<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 30px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }

</style>
<div ng-controller="restoreArchiveStudentController as modal">
    <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ВОССТАНОВЛНИЕ СТУДЕНТА В СПИСОК ОЖИДАЮЩИХ</div>
    <div>
        <div class="row" style="padding-top: 30px;">
            <div class="col-xs-4" style="text-align: right;">
                <div style="padding-top: 8px;">Предмет:</div>
            </div>
            <div class="col-xs-8">
                <div class="select-style" style="float: left; width: 260px;">
                    <select ng-model="modal.subject" ng-options="subject as subject.name for subject in modal.subjects track by subject._id" ng-change="modal.updateSubject()"></select>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4" style="text-align: right;">
                <div style="padding-top: 8px;">Уровень:</div>
            </div>
            <div class="col-xs-8">
                <div class="select-style" style="float: left; width: 260px;">
                    <select ng-model="modal.level" ng-options="level as level.value for level in modal.subject.levels track by level._id"></select>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4" style="text-align: right;">
                <div style="padding-top: 8px;">Тип группы:</div>
            </div>
            <div class="col-xs-8">
                <div style="padding-top: 10px;">
                    <div>
                        <button ng-click="modal.setGroupType(modal.GROUP_TYPE_GENERAL)" ng-class="modal.GROUP_TYPE == modal.GROUP_TYPE_GENERAL ? 'group-type-comman-active' : 'group-type-comman'" style="font-size: 13px;">Общая</button>
                    </div>
                    <div>
                        <button ng-click="modal.setGroupType(modal.GROUP_TYPE_INDIVIDUAL)" ng-class="modal.GROUP_TYPE == modal.GROUP_TYPE_INDIVIDUAL ? 'group-type-individ-active' : 'group-type-individ'" style="font-size: 13px;">Индивид</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4" style="text-align: right;">
                <div style="padding-top: 8px;">Возраст:</div>
            </div>
            <div class="col-xs-8">
                <div class="select-style" style="float: left; width: 260px;">
                    <select ng-model="modal.age" ng-options="age as age.name for age in modal.STUDENT_AGE_GROUPS track by age.value"></select>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4" style="text-align: right;">
                <div style="padding-top: 8px;">Удобное время:</div>
            </div>
            <div class="col-xs-8">
                <div style="padding-top: 10px;">
                    <div>
                        <button ng-click="modal.setStudyTime(modal.STUDENT_STUDY_TIME_MORNING)" ng-class="modal.studyTimes[modal.STUDENT_STUDY_TIME_MORNING] ? 'group-time-active' : 'group-time'">Утреннее</button>
                    </div>
                    <div style="margin-top: 5px;">
                        <button ng-click="modal.setStudyTime(modal.STUDENT_STUDY_TIME_LUNCH)"  ng-class="modal.studyTimes[modal.STUDENT_STUDY_TIME_LUNCH] ? 'group-time-active' : 'group-time'">Обеденное</button>
                    </div>
                    <div style="margin-top: 5px;">
                        <button ng-click="modal.setStudyTime(modal.STUDENT_STUDY_TIME_EVENING)" ng-class="modal.studyTimes[modal.STUDENT_STUDY_TIME_EVENING] ? 'group-time-active' : 'group-time'">Вечернее</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4" style="text-align: right;">
                <div style="padding-top: 8px;">Удобные дни:</div>
            </div>
            <div class="col-xs-8">
                <div style="display: inline-block; padding-top: 10px;">
                    <div style="float: left;">
                        <button ng-click="modal.setDay(1)" ng-class="modal.days[1] ? 'group-day-active' : 'group-day'" style="width: 40px; margin-right: 5px;">ПН</button>
                    </div>
                    <div style="float: left;">
                        <button ng-click="modal.setDay(2)" ng-class="modal.days[2] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px;">ВТ</button>
                    </div>
                    <div style="float: left;">
                        <button ng-click="modal.setDay(3)" ng-class="modal.days[3] ? 'group-day-active' : 'group-day'" style="width: 40px; margin-right: 5px;">СР</button>
                    </div>
                    <div style="float: left;">
                        <button ng-click="modal.setDay(4)" ng-class="modal.days[4] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px;">ЧТ</button>
                    </div>
                    <div style="float: left;">
                        <button ng-click="modal.setDay(5)" ng-class="modal.days[5] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px;">ПТ</button>
                    </div>
                    <div style="float: left;">
                        <button ng-click="modal.setDay(6)" ng-class="modal.days[6] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px;">СБ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; margin-top: 40px; padding-top: 12px; padding-bottom: 12px; padding-left: 5px; padding-right: 5px; border-top: 1px solid #edeeef;">
            <div class="col-xs-6">
                <button ng-click="closeThisDialog()" class="cancel-group-button">ОТМЕНИТЬ</button>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <button ng-click="modal.restoreStudent()" type="submit" class="submit-group-button">ВОССТАНОВИТЬ</button>
            </div>
        </div>
    </div>
</div>