<div ng-controller="adminsController as self">
    <div ng-if="self.isAdd" ng-include="'/app-manager/views/admins/templates/add-admin.html'"></div>
    <div ng-if="!self.isAdd">
        <button ng-click="self.makeAdd()" class="btn btn-default">Добавить администратора</button>
        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>ТЕЛЕФОН</th>
                <th>Дата создания</th>
                <th>КЛИЕНТ</th>
                <th>ТИП</th>
                <th>ЦЕНТР</th>
                <th>АВТОРИЗАЦИЯ</th>
                <th>ВИЗИТ</th>
                <th>ДЕЙСТВИЯ</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="admin in self.admins track by $index" ng-click="self.adminInfo(admin._id)">
                <th scope="row">{{$index + 1}}</th>
                <td>{{admin.phone}}</td>
                <td>{{admin.createdAt | date : 'dd.MM.yyyy'}}</td>
                <td>{{admin.clientID.name}}</td>
                <td>{{admin.isManager ? 'ГЛАВНЫЙ' : 'ОБЫЧНЫЙ'}}</td>
                <td>{{admin.isManager ? '' : admin.centerID.name}}</td>
                <td>{{admin.token.createdAt | date : 'MMM d, y h:mm:ss a'}}</td>
                <td>{{admin.lastVisit | date : 'MMM d, y h:mm:ss a'}}</td>
                <td><button ng-click="self.delByID(admin._id)" class="btn">УДАЛИТЬ</button></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>