<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 40px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .rounded-image{
        border-radius: 50%;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #66bef0;
        color: #0f0f0f;
    }

    .md-text-input:focus{
        border-bottom: 2px solid #6699ff;
    }

    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #4e85f1;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }

    .select-style select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }


</style>

<div ng-controller="addActiveStudentController as modal">
    <!--<div class="md-modal-box">-->
        <!--<div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ДОБАВЛЕНИЕ НОВОГО СТУДЕНТА</div>-->
    <!--</div>-->
    <div style="background-color: #ffffff; padding-top: 20px; padding-bottom: 20px; font-size: 17px; padding-left: 30px; padding-right: 30px; border-bottom: 1px solid #e7eaec; font-family: OpenSansRegular; border-top-left-radius: 4px; border-top-right-radius: 4px;">Добавление активного студента</div>
    <div align="center" style="padding-top: 25px;">
        <div style="padding-left: 35px; padding-right: 35px;">
            <div class="row" style="margin-right: 0px; margin-left: 0px; padding-top: 15px;">
                <div class="col-xs-3" style="text-align: right; padding-top: 8px;">Имя:</div>
                <div class="col-xs-9" style="text-align: left;">
                    <input type="text" ng-model="modal.firstName" style="width:320px;" class="md-text-input" placeholder="Введите имя">
                    <div ng-if="modal.firstNameError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 10px; margin-left: 0px;">
                <div class="col-xs-3" style="text-align: right; padding-top: 8px;">Фамилия:</div>
                <div class="col-xs-9" style="text-align: left;">
                    <input ng-model="modal.lastName" type="text" style="width:320px;" class="md-text-input" placeholder="Введите фамилию">
                    <div ng-if="modal.lastNameError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 10px; margin-left: 0px;">
                <div class="col-xs-3" style="text-align: right; padding-top: 8px;">Телефон:</div>
                <div class="col-xs-9" style="text-align: left;">
                    <input ui-mask="+7 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="modal.phone" type="text" style="width:320px;" class="md-text-input" placeholder="Введите телефон">
                    <div ng-if="modal.phoneError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 10px; margin-left: 0px;">
                <div class="col-xs-3" style="text-align: right; padding-top: 8px;">Email адрес:</div>
                <div class="col-xs-9" style="text-align: left;">
                    <input ng-model="modal.email" type="text" style="width:320px;" class="md-text-input" placeholder="Введите email адрес">
                    <div ng-if="modal.emailError" ng-include="'/app-admin/views/templates/validation/email-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 10px; margin-left: 0px; padding-bottom: 55px;">
                <div class="col-xs-3" style="text-align: right; padding-top: 8px;">Группа:</div>
                <div class="col-xs-9" style="text-align: left;">
                    <div class="select-style" style="float: left; width: 320px;">
                        <select ng-model="modal.groupID">
                            <option ng-repeat="group in modal.groups" value="{{group._id}}">{{group.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <div style="float: right;">
                <button ng-click="modal.addStudent()" type="submit" class="submit-group-button">Добавить</button>
            </div>
            <div style="float: right; margin-right: 15px;">
                <button ng-click="closeThisDialog()" class="cancel-group-button">Отменить</button>
            </div>
        </div>


    </div>
</div>
