<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 100px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }

</style>
<div ng-controller="assignActiveStudentController as modal">
    <div ng-if="!modal.noAssignGroups" class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ДОБАВЛЕНИЕ В ДРУГУЮ ГРУППУ</div>
        <div class="row" style="margin-right: 0px; padding-top: 40px; margin-left: 0px; padding-left: 10px;">
            <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Выберите группу:</div>
            <div class="col-xs-8" style="text-align: left;">
                <div class="select-style" style="float: left; width: 270px;">
                    <select ng-model="modal.groupID">
                        <option ng-repeat="group in modal.groups" value="{{group._id}}">{{group.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; margin-top: 40px; padding-top: 12px; padding-bottom: 12px; padding-left: 5px; padding-right: 5px; border-top: 1px solid #edeeef;">
            <div class="col-xs-6">
                <button ng-click="closeThisDialog()" class="cancel-group-button">ОТМЕНИТЬ</button>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <button ng-click="modal.assignStudent()" type="submit" class="submit-group-button">ДОБАВИТЬ</button>
            </div>
        </div>
    </div>
    <div ng-if="modal.noAssignGroups">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ДОБАВЛЕНИЕ В ДРУГУЮ ГРУППУ</div>
        <div style="padding-left: 0px; padding-right: 80px; padding-top: 30px; padding-bottom: 20px; text-align: center; font-family: OpenSansRegular;">К сожалению нет доступных групп для данного студента</div>
        <div align="center" style="padding-bottom: 20px;">
            <button ng-click="closeThisDialog()" class="cancel-group-button">ЗАКРЫТЬ</button>
        </div>
    </div>

</div>