<!--Static modal-->
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 1000px;*/
        /*height: 500px;*/
        padding: 0px;
        /*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/
        border-radius: 3px;
        background-color: transparent;
    }
    /**/
    .ngdialog.ngdialog-theme-default {
        padding-bottom: 80px;
        padding-top: 100px;
    }

</style>
<style>
    .nofitication-success-button{
    background-color: #20da9b;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    text-align: center;
    }

    .nofitication-success-button:hover{
        color : #777777;

    background-color: #e1e2e2;
    }

    .nofitication-error-button{
        color : #777777;
        background-color: #f26051;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        text-align: center;
    }

    .nofitication-error-button:hover{
    background-color: #e1e2e2;
    }
</style>

<!--МОДАЛКА-->
    <div ng-show="isSuccess">
        <div style="width: 80px; height: 80px; position: absolute; margin-left: 120px;">
            <img src="/static-files/images/edunet-notification-success.png" width="80px">
        </div>
        <div style="background-color: transparent; height: 40px; width: 100%;"></div>
        <div style="background-color: #ffffff; border-radius: 4px;">
            <div style="padding-top: 60px; text-align: center; font-size: 24px; padding-bottom: 20px;">Поздравляем!</div>
            <div style="padding-left: 40px; padding-right: 40px; text-align: center; padding-bottom: 30px; color:#777777; font-size: 14px;">
                <div ng-show="successGroupAdded">
                    Вы успешно создали группу. Теперь она доступна в списке групп
                </div>
                <div ng-show="successClassroomDeleted">
                    Аудитория успешно удалена
                </div>
                <div ng-show="successClassroomAdded">
                    Аудитория успешно добавлена!
                </div>
                <div ng-show="successScheduleAdded">
                    Расписание для группы успешно добавлено
                </div>
                <div ng-show="successScheduleDeleted">
                    Расписание успешно удалено!
                </div>
                <div ng-show="successEditGroup">
                    Группа успешно сохранена!
                </div>
                <div ng-show="successGroupDeleted">
                    Группа успешно удалена!
                </div>
                <div ng-show="successGroupScheduleEdited">
                    Группа успешно удалена!
                </div>
                <div ng-show="successClassroomEdited">
                    Изменения успешно сохранены!
                </div>
                <div ng-show="successTeacherAdded">
                    Учитель успешно добавлен!
                </div>

                <div ng-show="successTeacherUpdated">
                    Учитель успешно сохранен!
                </div>
            </div>
            <div style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;"><button ng-click="closeThisDialog()" class="nofitication-success-button">Закрыть</button></div>
        </div>
    </div>
    <div ng-show="!isSuccess">
        <div style="width: 80px; height: 80px; position: absolute; margin-left: 120px;">
            <img src="/static-files/images/edunet-notification-error.png" width="80px">
        </div>
        <div style="background-color: transparent; height: 40px; width: 100%;"></div>
        <div style="background-color: #ffffff; border-radius: 4px;">
            <div style="padding-top: 60px; text-align: center; font-size: 24px; padding-bottom: 20px;">Внимание!</div>
            <div style="padding-left: 40px; padding-right: 40px; text-align: center; padding-bottom: 30px; color:#777777; font-size: 14px;">
                <div ng-show="errorNoAvailableGroupsForScheduling">
                    Все группы имеют расаписание!
                </div>
                <div ng-show="errorNoClassrooms">
                    Необходимо добавить аудиторию!
                </div>
                <div ng-show="generalError">
                    к сожалению произошла какая-то ошибка, попробуйте позже!
                </div>
            </div>
            <div style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;"><button ng-click="closeThisDialog()" class="nofitication-error-button">Закрыть</button></div>
        </div>
    </div>




<!--&lt;!&ndash;МОДАЛКА&ndash;&gt;-->
    <!--<div ng-show="0" style="width: 320px; margin-left: 140px; border-radius: 4px;">-->
        <!--<div style="width: 80px; height: 80px; position: absolute; margin-left: 120px;">-->
            <!--<img src="images/edunet-notification-error.png" width="80px">-->
        <!--</div>-->
        <!--<div style="background-color: transparent; height: 40px; width: 100%;"></div>-->
        <!--<div style="background-color: #ffffff; border-radius: 4px;">-->
            <!--<div style="padding-top: 60px; text-align: center; font-size: 24px; padding-bottom: 20px;">Внимание!</div>-->
            <!--<div style="padding-left: 40px; padding-right: 40px; text-align: center; padding-bottom: 30px; color:#777777; font-size: 14px;">К сожалению произошла ошибка ахалай махалай ары беры джим керри</div>-->
            <!--<div style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;"><button class="nofitication-error-button">Закрыть</button></div>-->
        <!--</div>-->
    <!--</div>-->

