<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/dist/teacher/css/lib.css?v=lib_styles_build_version"/>
        <link rel="stylesheet" href="/dist/teacher/css/index.css?v=custom_styles_build_version"/>
    </head>
    <body ng-app="EduNet" style="background-color: #e7eaec;">
        <script src="/dist/teacher/js/lib.js?v=lib_js_build_version"></script>
        <script src="/dist/teacher/js/templates.js?v=templates_build_version"></script>
        <script src="/dist/teacher/js/custom.js?v=custom_js_build_version"></script>

        <div ng-controller="indexController as index">
            <md-sidenav md-is-open="index.isSideNaVOpen" style="background-color: #36414f; padding-top: 20px;" class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
                <md-content>
                    <div class="teacher-side-menu-header" ng-click="index.goTo('profile')">
                        <div style="display: inline-block; padding-left: 26px; padding-top: 10px; padding-bottom: 10px;">
                            <div style="float:left;">
                                <img class="teacher-side-menu-header-photo" ng-src="{{index.teacher | teacherImageUrlFilter}}" width="30px">
                            </div>
                            <div style="float:left; color: #ffffff; padding-left: 16px; padding-top: 5px; padding-bottom: 5px;">{{index.teacher.firstName}}</div>
                        </div>
                    </div>
                    <div ng-click="index.goTo('list-of-groups')" class="teacher-side-menu-item">
                        <div style="float: left; padding-left: 30px; padding-right: 20px;"><img src="/static-files/images/teacher-side-menu-groups.png" width="20px"></div>
                        <div style="float: left;">Мои группы</div>
                    </div>
                    <div ng-click="index.goTo('schedule')" class="teacher-side-menu-item">
                        <div style="float: left; padding-left: 30px; padding-right: 20px;"><img src="/static-files/images/teacher-side-menu-calendar.png" width="20px"></div>
                        <div style="float: left">Расписание</div>
                    </div>
                    <div ng-click="index.goTo('list-of-applications')" class="teacher-side-menu-item">
                        <div style="float: left; padding-left: 30px; padding-right: 20px; padding-top: 2px;"><img src="/static-files/images/teacher-side-menu-requests-icon.png" width="22px"></div>
                        <div style="float: left">Заявки</div>
                    </div>
                    <div ng-click="index.goTo('list-of-tests')" class="teacher-side-menu-item">
                        <div style="float: left; padding-left: 30px; padding-right: 20px; padding-top: 2px;"><img src="/static-files/images/side-menu-tests-icon.png" width="20px"></div>
                        <div style="float: left;">Тесты</div>
                    </div>
                    <div ng-click="index.goTo('list-of-files')" class="teacher-side-menu-item" style="border: none;">
                        <div style="float: left; padding-left: 30px; padding-right: 20px;"><img src="/static-files/images/teacher-side-menu-files.png" width="20px"></div>
                        <div style="float: left;">Файлы</div>
                    </div>

                    <div ng-if="index.groups.length != 0">
                        <div style="background-color: #36414f; color: #718095; font-size: 13px; font-weight: 300; padding-left: 30px; padding-top: 10px; padding-bottom: 10px;">ГРУППЫ</div>
                        <div ng-repeat="group in index.groups" ng-click="index.goToGroupByID(group._id)" class="teacher-side-menu-item">
                            <div style="float: left; padding-left: 34px; padding-right: 20px; padding-top: 4px; padding-bottom: 4px;">
                                <div class="teacher-side-menu-group-indicator" ng-style="{'background-color' : group.color}"></div>
                            </div>
                            <div class="teacher-side-menu-item-group-title">{{group.name}}</div>
                        </div>
                    </div>

                </md-content>
            </md-sidenav>
            <div class="topMenu" style="display: inline-block; background-color: #528dde;">
                <div style="float: left; padding-left: 20px; padding-top: 18px;">
                    <button class="menu-button" ng-click="index.toggleLeft()">
                        <img src="/static-files/images/menu-icon.png" width="22px">
                    </button>
                </div>
                <div style="float:left; padding-left: 35px; padding-top: 16px;">
                    <img src="/static-files/images/edunetLogoWhite.png" width="110px">
                </div>
                <div style="float: left; color: #ffffff; font-weight: 200; font-size: 22px; padding-left: 15px; padding-top: 15px;">
                    Панель управления
                </div>
                <div style="float: right; padding-right: 30px; padding-top: 15px;" ng-click="index.openUserNav()" hide-user-nav="index.hideUserNav()">
                    <img src="/static-files/images/admin-user-icon.png" width="30px">
                </div>
            </div>
            <div ng-view></div>
            <div style="position: absolute; top:46px; right: 17px;" ng-show="index.userNav">
                <div align="right">
                    <div class="arrow-up" style="margin-right: 20px;"></div>
                </div>
                <div class="control-menu" style="width: 170px; background-color: #ffffff; padding-top: 8px; padding-bottom: 8px;">
                    <button ng-click="index.goTo('/profile')" class="control-menu-item">Мой профиль</button>
                    <button ng-click="index.editProfile()" class="control-menu-item">Редактировать</button>
                    <div style="border-top: 1px solid #dfe9ef; width: 135px; margin-top: 3px; margin-bottom: 3px; margin-left: 15px; margin-right: 215px;"></div>
                    <button ng-click="index.logout()" class="control-menu-item">Выйти</button>
                </div>
            </div>
            <div ng-if="loader.length">
                <div style="position: fixed; background-color: transparent; width: 100%; min-height: 100%; top:0;">
                </div>
                <div style="color:#ffffff; position: fixed; top:50%; left: 50%; margin: -80px 0 0 0;">
                    <div>
                        <div>
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>