<link rel="stylesheet" href="/static-files/css/add-group.css">
<link rel="stylesheet" href="/app-admin/styles/add-edit-group.css">
<style>
    .remove-teacher{
        border: none;
        padding: 0;
        background-color: transparent;
        opacity: 0.6;
    }

    .remove-teacher:hover{
        opacity: 1;
    }

    .add-teacher-button{
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 13px;
        font-family: OpenSansRegular;
        color: #838e9e;
        opacity: 0.6;
    }

    .add-teacher-button:hover{
        color: #596475;
        text-decoration: underline;

    }
</style>


<div style="background-color: #ffffff; width: 100%;" ng-controller="addGroupController as self">
    <div style=" width: 1280px; margin: auto;">
        <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 180px; padding-right: 180px;">
            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Добавление группы</div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent" style="padding-top:30px; padding-bottom: 50px;">
            <div class="new-group-form" style="border: none;">
                <div style="font-family: OpenSansRegular; font-size: 19px; border-bottom: 1px solid #e7eaec; padding-top: 22px; padding-bottom: 22px; padding-left: 30px; padding-right: 30px;">Форма создание новой группы</div>
                <div style="padding-bottom: 10px;">
                    <div style="border-bottom: 1px solid #e7eaec; padding-top: 30px; padding-bottom: 40px;">
                        <div style="padding-left: 40px; padding-right: 60px;">
                            <div style="display: inline-block;">
                                <div style="float: left; padding-right: 15px; padding-top: 2px;"><img src="/static-files/images/add-group-icon1.png" width="35px"></div>
                                <div style="font-size: 17px; font-family: OpenSansSemiBold; color: #6699ff; float: left; padding-top: 6px;">Данные о группе</div>
                            </div>
                            <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 10px;">Укажите название и цвет группы, которые будет отображаться в списке групп. Выберите тип группы, в зависимости от количества студентов.</div>
                        </div>
                        <div style="padding-left: 60px; padding-right: 60px; padding-top: 40px;">
                            <div align="center">
                                <div style="display: inline-block; width: 580px;">
                                    <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 180px; padding-top: 7px; text-align: left;">Название группы:</div>
                                    <div style="float: left;">
                                        <input class="md-text-input" ng-model="self.name" type="text" placeholder="Введите название" style="width: 400px;">
                                        <div ng-if="self.nameError">
                                            <div style="margin-left: 20px;">
                                                <div class="arrow-up"></div>
                                            </div>
                                            <div style="background-color: #e43f3f; padding-right: 15px; padding-left: 15px; border-radius: 4px; display: inline-block; padding-top: 5px; padding-bottom: 5px;">
                                                <div style="float: left; padding-top: 3px;"><img src="/static-files/images/error-warning-icon.png" width="15px"></div>
                                                <div style="float: left; font-family: OpenSansSemiBold; font-size: 13px; color: #ffffff; margin-left: 10px;">Название группы обязательно для заполнения</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-top: 25px; width: 580px;">
                                    <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 180px; padding-top: 7px; text-align: left;">Тип группы:</div>
                                    <div style="float: left;">
                                        <md-radio-group ng-model="self.individual">
                                            <div style="display: inline-block; padding-top: 10px;">
                                                <div style="float: left; margin-right: 30px;"><md-radio-button value="0" style="color: #777777">Общая группа</md-radio-button></div>
                                                <div style="float: left;"><md-radio-button value="1" style="color: #777777">Индивидуальная группа</md-radio-button></div>
                                            </div>
                                        </md-radio-group>
                                    </div>
                                </div>
                                <div></div>
                                <div></div>
                                <div style="display: inline-block; margin-top: 25px; width: 580px;">
                                    <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 175px; padding-top: 7px; text-align: left;">Цвет группы:</div>
                                    <div style="float: left;">
                                        <div style="display: inline-block;" ng-repeat="color in self.colors track by $index">
                                            <div style="float: left; padding-right: 2px;">
                                                <img ng-if="$index == self.activeColorIndex" ng-src="{{color.activeUrl}}" width="35px">
                                                <img ng-if="$index != self.activeColorIndex" ng-click="self.setColor($index)" ng-src="{{color.nonActiveUrl}}" width="35px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid #e7eaec; padding-top: 36px; padding-bottom: 40px;">
                        <div style="padding-left: 40px; padding-right: 60px;">
                            <div style="display: inline-block;">
                                <div style="float: left; padding-right: 15px;"><img src="/static-files/images/add-group-icon2.png" width="35px"></div>
                                <div style="font-size: 17px; font-family: OpenSansSemiBold; color: #6699ff; float: left; padding-top: 7px;">Учителя группы</div>
                            </div>
                            <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 10px;">Укажите название и цвет группы, которые будет отображаться в списке групп. Выберите тип группы, в зависимости от количества студентов.</div>
                        </div>
                        <div align="center">
                            <!--ТУТ NG-REPEAT для учителей-->
                            <div style="display: inline-block; padding-left: 60px; padding-right: 60px; padding-top: 30px;" ng-repeat="teachers in self.availableTeachers track by $index">
                                <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 140px; padding-top: 7px;">Учитель:</div>
                                <div style="float: left;">
                                    <div class="select-style" style="width: 400px;">
                                        <select ng-options="teacher.name for teacher in teachers track by teacher._id" ng-model="self.selectedTeachers[$index]"></select>
                                    </div>
                                </div>
                                <div style="float: left; width: 40px; margin-top: 13px;">
                                    <button ng-click="self.removeTeacher($index)" class="remove-teacher">
                                        <img src="/static-files/images/delete-icon.png" width="11px">
                                    </button>
                                </div>
                            </div>

                            <div style="margin-top: 15px; text-align: left; margin-left: 310px;">
                                <button ng-click="self.addTeacher()" class="add-teacher-button">+ Добавить еще учителя в группу</button>
                            </div>
                        </div>
                    </div>

                    <div style="padding-top: 36px; padding-bottom: 40px;">
                        <div style="padding-left: 40px; padding-right: 60px;">
                            <div style="display: inline-block;">
                                <div style="float: left; padding-right: 15px;"><img src="/static-files/images/add-group-icon3.png" width="35px"></div>
                                <div style="font-size: 17px; font-family: OpenSansSemiBold; color: #6699ff; float: left; padding-top: 6px;">Финансы группы</div>
                            </div>
                            <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 10px;">Укажите стоимость курса, которая используется для отслеживания оплат студентов. Если не указать стоимость, то раздел Оплаты, будет не доступен</div>
                        </div>
                        <div align="center">
                            <div style="display: inline-block; padding-left: 60px; padding-right: 60px; padding-top: 30px;">
                                <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 150px; padding-top: 7px;">Стоимость:</div>
                                <div style="float: left;">
                                    <div style="display: inline-block;">
                                        <div style="float: left;">
                                            <input ng-model="self.price" class="md-text-input" type="text" numbers-only placeholder="Введите стоимость" style="width: 250px;">
                                        </div>
                                        <div style="float: left; margin-left: 10px; margin-top: 12px;">
                                    <!--<span class="help-tooltip">-->
                                        <!--<img src="/static-files/images/help-icon.png" width="15px">-->
                                        <!--<span class="tooltiptext">Стоимость курса используется для отслеживания оплат студентов. Если не указать стоимость, то раздел Оплаты, будет не доступен</span>-->
                                    <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                    <div style="float: right;">
                        <button ng-click="self.addGroup()" type="submit" class="submit-group-button">Добавить группу</button>
                    </div>
                    <div style="float: right; margin-right: 15px;">
                        <button ng-click="self.cancel()" class="cancel-group-button">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>