<style>
    .popup-control-menu{
        position: absolute;
        top: 85px;
        left: 260px;
        border-radius: 3px;
        padding-bottom: 5px;
        background-color: transparent;
    }
    .popup-control-menu-item{
        border-radius: 50%;
        margin-top: 5px;
        background-color: #ffffff;
        display: inline-block;
        width: 30px;
        height: 30px;
        padding-left: 8px;
        padding-top: 8px;
        border: 1px solid #aab2b9;
    }
    /*.popup-control-menu-item:hover{*/
    /*background-color: #e1e4ea;*/
    /*}*/
    .list-of-groups{
        background-color: #ffffff;
        /*border-radius: 3px;*/
        margin-left: 180px;
        margin-right: 180px;
    }
    .list-of-groups-item{
        display: inline-block;
        border-bottom: 1px solid #e9ecf2;
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .list-of-groups-item-color-indicator{
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-top: 23px;
        margin-bottom: 22px;
        margin-left: 20px;
    }
    .list-of-groups-item-control-button{
        border-radius: 50%;
        margin-top: 5px;
        background-color: #ffffff;
        display: inline-block;
        width: 30px;
        height: 30px;
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*text-align: center;*/
        padding-left: 8px;
        padding-top: 8px;
        border: 1px solid #aab2b9;
    }
    .list-of-groups-item-control-button:hover{
        background-color: #ffffff;
    }
    .list-of-groups-item:hover{
        background-color: #ffffff;
    }
    .empty-group{
        box-shadow: 0 0 3px rgba(0,0,0,0.1);
        margin-left: 180px;
        margin-right: 180px;
        background-color: #ffffff;
        border-radius: 3px;
    }

    .control-line-back-button{
        background-color: #c2c9d5;
        border: none;
        border-radius: 4px;
        color: #ffffff;
        font-family: OpenSansBold;
        font-size: 13px;
        padding-top: 7px;
        padding-bottom: 8px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .control-line-back-button:hover{
        background-color: #b4bdcc;
    }



</style>
<div ng-controller="blocGroupsController as self">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:6px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Группы </div>
                <div style="float: left; padding-left: 20px; padding-top: 15px;">
                    <img src="/static-files/images/control-line-arrow-icon.png" width="24px">
                </div>
                <div style="float: left; max-width: 430px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; margin-left: 20px; padding-top:6px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;"> {{self.bloc.name}}</div>
                <div style="float: left; padding-top: 10px; padding-bottom: 10px; margin-left: 20px;">
                    <button ng-click="self.back()" class="control-line-back-button">
                        <img src="/static-files/images/reply-icon.png" width="14px"><span style="margin-left: 7px;">НАЗАД</span>
                    </button>
                </div>
                <div ng-include="'/app-admin/views/templates/display-option.html'"></div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent">
            <div ng-if="!self.noGroups">

                <div ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_BLOCKS" class="row" style="margin-left: 0px; margin-right: 0px; padding-left: 165px; padding-right: 165px; padding-top: 30px;">
                    <div ng-repeat="group in self.groups | listOfGroupsSearch :self.searchPattern track by $index" class="col-xs-4" style="padding-bottom: 30px;">
                        <div class="groupBox" ng-mouseenter="self.showProperties($index)" ng-mouseleave="self.hideProperties($index)">
                            <div ng-click="self.goToGroupInfo(group._id)">
                                <div class="groupBoxHeader" style="background-color: {{group.color}};">
                                    <div style="width: 200px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{group.name}}</div>
                                    <div style="opacity: 0.9; font-size: 13px; padding-top: 5px; font-family: OpenSansRegular;" ng-if="group.individual">Индивидуальная группа</div>
                                    <div style="opacity: 0.9; font-size: 13px; padding-top: 5px; font-family: OpenSansRegular;" ng-if="!group.individual">Общая группа</div>
                                </div>
                                <div class="groupBoxBody" style="border-bottom: 1px solid #e7eaec;">
                                    <div style="display:inline-block; font-family: OpenSansRegular; color: #515862; font-size: 15px;">
                                        <div style="opacity: 0.8; float: left; padding-left: 10px; padding-top: 3px;"><img ng-src="/static-files/images/admin-teacher-icon.png" width="15px"></div>
                                        <div style="float: left; padding-left: 10px; width: 200px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{group.teacherID | nameFilter}}</div>
                                    </div>
                                    <div></div>
                                    <div style="display:inline-block; padding-top: 5px; color: #515862; font-family: OpenSansRegular; font-size: 15px;">
                                        <div style="opacity: 0.8; float: left; padding-left: 10px; padding-top: 3px;"><img src="/static-files/images/admin-students-icon.png" width="15px"></div>
                                        <div style="float: left; padding-left: 10px;">{{group.students.length}}</div>
                                    </div>
                                    <div></div>
                                    <div style="display:inline-block; padding-top: 5px; color: #515862; font-family: OpenSansRegular; font-size: 15px;">
                                        <div style="opacity: 0.8; float: left; padding-left: 12px; padding-top: 5px;"><img src="/static-files/images/admin-memory-icon.png" width="11px"></div>
                                        <div style="float: left; padding-left: 12px;">{{group.memory | memoryUsageFilter}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="groupBoxFooter" style="background-color: #f4f5f6;">
                                <div style="display: inline-block; width: 100%;">
                                    <div style="float:left; width:80%; font-size: 12px; color: #838e9e; font-family: OpenSansRegular; padding-top: 8px; padding-bottom:8px; padding-left: 15px;">{{group.createdAt | timeFilterDate}}</div>
                                </div>
                                <div class="popup-control-menu" ng-show="self.properties[$index]">
                                    <div ng-click="self.editGroupByID(group._id)" class="popup-control-menu-item">
                                        <img src="/static-files/images/edit-icon.png" width="12px">
                                        <md-tooltip ng-mouseenter="self.showProperties($index)" md-direction="left">
                                            Редактировать
                                        </md-tooltip>
                                    </div>
                                    <div></div>
                                    <div ng-click="self.deleteGroupByID(group._id)" class="popup-control-menu-item" style="padding-left: 9px; padding-top: 9px;">
                                        <img src="/static-files/images/delete-icon.png" width="11px">
                                        <md-tooltip md-direction="left">
                                            Удалить
                                        </md-tooltip>
                                    </div>
                                    <div></div>
                                    <div ng-click="self.delGroupFromBloc(group._id)" class="popup-control-menu-item" style="padding-left: 5px; padding-top: 7px;">
                                        <img src="/static-files/images/reunion-icon.png" width="17px">
                                        <md-tooltip md-direction="left">
                                            Убрать из категории
                                        </md-tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_LIST" style="padding-top: 30px; padding-bottom: 30px;">
                    <div class="list-of-groups">
                        <div class="list-of-groups-item" ng-repeat="group in self.groups | listOfGroupsSearch :self.searchPattern track by $index" ng-mouseenter="self.showProperties($index)" ng-mouseleave="self.hideProperties($index)">
                            <div ng-click="self.goToGroupInfo(group._id)">
                                <div style="float: left; width: 50px;">
                                    <div class="list-of-groups-item-color-indicator" style="background-color: {{group.color}};"></div>
                                </div>
                                <div style="float: left; padding-top: 20px; padding-bottom: 18px; font-size: 16px; font-family: OpenSansRegular; width: 290px; margin-right: 20px;">
                                    <div style=" overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; width: 320px;">{{group.name}}</div>
                                </div>
                                <div style="float: left; display: inline-block; width: 240px;">
                                    <div style="float: left; padding-top: 23px; padding-bottom: 23px; padding-right: 5px;"><img src="/static-files/images/admin-teacher-icon.png" width="16px"></div>
                                    <div style="float: left; padding-left: 5px; color: #7f8c9a; padding-top: 22px; padding-bottom: 19px; font-family: OpenSansRegular; font-size: 15px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{group.teacherID.name}}</div>
                                </div>
                                <div style="float: left; display: inline-block; width: 70px;">
                                    <div style="float: left; padding-top: 23px; padding-bottom: 23px; padding-right: 5px;"><img src="/static-files/images/admin-students-icon.png" width="16px"></div>
                                    <div style="float: left; padding-left: 5px; color: #7f8c9a; font-family: OpenSansRegular; padding-top: 22px; padding-bottom: 19px;">{{group.students.length}}</div>
                                </div>
                                <div style="float: left; display: inline-block; width: 130px;">
                                    <div style="float: left; padding-top: 24px; padding-bottom: 24px; padding-right: 5px;"><img src="/static-files/images/admin-memory-icon.png" width="12px"></div>
                                    <div style="float: left; padding-left: 5px; color: #7f8c9a; font-family: OpenSansRegular; padding-top: 22px; padding-bottom: 19px;">{{group.memory | memoryUsageFilter}}</div>
                                </div>
                            </div>
                            <div ng-if="self.properties[$index]"  style="float: left; display: inline-block;">
                                <div style="float: left; padding-top: 10px; padding-bottom: 8px; margin-right: 7px;">
                                    <div ng-click="self.editGroupByID(group._id)" class="list-of-groups-item-control-button">
                                        <img src="/static-files/images/edit-icon.png" width="12px">
                                        <md-tooltip ng-mouseenter="self.showProperties($index)" md-direction="top">
                                            Редактировать
                                        </md-tooltip>
                                    </div>
                                </div>
                                <div style="float: left; padding-top: 10px; padding-bottom: 8px; margin-right: 7px;">
                                    <div ng-click="self.deleteGroupByID(group._id)"  class="list-of-groups-item-control-button" style="padding-left: 9px; padding-top: 9px;">
                                        <img src="/static-files/images/delete-icon.png" width="11px">
                                        <md-tooltip md-direction="top">
                                            Удалить
                                        </md-tooltip>
                                    </div>
                                </div>
                                <div style="float: left; padding-top: 10px; padding-bottom: 8px;">
                                    <div ng-click="self.delGroupFromBloc(group._id)"  class="list-of-groups-item-control-button" style="padding-left: 5px; padding-top: 7px;">
                                        <img src="/static-files/images/reunion-icon.png" width="17px">
                                        <md-tooltip md-direction="top">
                                            Убрать из категории
                                        </md-tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="self.noGroups">
                <div style="padding-top: 30px;">
                    <div class="md-box" style="margin-right: 180px; margin-left: 180px; background-color: #ffffff;">
                        <div align="center" style="padding-bottom: 60px; padding-top: 60px;">
                            <div><img src="/static-files/images/empty-groups-icon.png" height="180px"></div>
                            <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 25px; color: #a8b3c2;">Групп нет</div>
                            <div style="font-family: OpenSansRegular; padding-top: 8px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">К сожалению, в данной категории еще нет групп. Вы можете переместить группы в категорию на странице «Группы»</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
