<link rel="stylesheet" href="/static-files/css/add-group.css">
<link rel="stylesheet" href="/app-admin/styles/add-edit-group.css">

<style>
    .delete-teacher{
        background-color: #ff6666;
        border: none;
        color: #ffffff;
        font-family: OpenSansSemiBold;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.7;
    }

    .delete-teacher:hover{
        opacity: 1;
    }

    .add-teacher{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
        opacity: 0.5;
    }

    .add-teacher:hover{
        opacity: 1;
    }

    .select-style-aplication-add {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        width: 300px;
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style-aplication-add select {
        padding: 5px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #99a4b5;
        border-radius: 0px;
        color: #666666;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .select-style-aplication-add select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }

    .add-teacher{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
    }

    .add-teacher:hover{
        background-color: #4880f0;
    }

    .add-new-teacher{
        background-color: #6699ff;
        border: none;
        color: #ffffff;
        font-family: OpenSansSemiBold;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .add-new-teacher:hover{
        background-color: #4880f0;
    }

    .cancel-teacher{
        background-color: #bac3d0;
        border: none;
        color: #ffffff;
        font-family: OpenSansSemiBold;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.7;
    }

    .cancel-teacher:hover{
        opacity: 1;
    }

    .remove-new-teacher{
        background-color: transparent;
        border: none;
        padding: 0;
        font-family: OpenSansRegular;
        font-size: 13px;
        color: #838e9e;
    }

    .remove-new-teacher:hover{
        text-decoration: underline;
    }


</style>


<div ng-controller="editGroupController as self" style="background-color: #ffffff; width: 100%; border-bottom: 1px solid #d0d1d5;">
    <div style=" width: 1280px; margin: auto;">
        <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 180px; padding-right: 180px;">
            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Редактирование группы</div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent" style="padding-top:30px; padding-bottom: 50px;">

            <!--!!!!!-->
            <!--СТАРАЯ ВЕРСИЯ, МОЖЕШЬ ПОТОМ УДАЛИТЬ КАК ВСЕ БУДЕТ НОРМАС-->

            <!--<div class="new-group-form" style="border: none;">-->
                <!--<div style="font-family: OpenSansRegular; font-size: 19px; border-bottom: 1px solid #e7eaec; padding-top: 22px; padding-bottom: 22px; padding-left: 30px; padding-right: 30px;">Форма редактирования группы</div>-->
                <!--<div style="padding-top: 20px; padding-left: 60px; padding-right: 60px; padding-bottom: 50px;">-->
                    <!--<div style="display: inline-block; margin-top: 25px;">-->
                        <!--<div style="float: left; font-family: OpenSansRegular; font-size: 16px; width: 200px; padding-top: 7px;">Название группы:</div>-->
                        <!--<div style="float: left;">-->
                            <!--<input class="md-text-input" ng-model="self.name" type="text" placeholder="Название группы" style="width: 600px;">-->
                            <!--<div ng-if="self.nameError">-->
                                <!--<div style="margin-left: 20px;">-->
                                    <!--<div class="arrow-up"></div>-->
                                <!--</div>-->
                                <!--<div style="background-color: #e43f3f; padding-right: 15px; padding-left: 15px; border-radius: 4px; display: inline-block; padding-top: 5px; padding-bottom: 5px;">-->
                                    <!--<div style="float: left; padding-top: 3px;"><img src="/static-files/images/error-warning-icon.png" width="15px"></div>-->
                                    <!--<div style="float: left; font-family: OpenSansSemiBold; font-size: 13px; color: #ffffff; margin-left: 10px;">Название группы обязательно для заполнения</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div style="display: inline-block; margin-top: 25px;">-->
                        <!--<div style="float: left; font-family: OpenSansRegular; font-size: 16px; width: 200px; padding-top: 7px;">Учитель группы:</div>-->
                        <!--<div style="float: left;">-->
                            <!--<div class="select-style">-->
                                <!--<select ng-options="(teacher | nameFilter) for teacher in self.teachers track by teacher._id" ng-model="self.teacher"></select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div style="margin-top: 25px; display: inline-block;">-->
                        <!--<div style="float: left; font-family: OpenSansRegular; font-size: 16px; width: 200px; padding-top: 7px;">Стоимость курса:</div>-->
                        <!--<div style="float: left;">-->
                            <!--<input ng-model="self.price" numbers-only="" class="md-text-input" type="text" placeholder="Введите стоимость" style="width: 285px;">-->
                        <!--</div>-->
                        <!--<div style="float: left; margin-left: 10px; margin-top: 12px;">-->
                            <!--<span class="help-tooltip">-->
                                <!--<img src="/static-files/images/help-icon.png" width="18px">-->
                                <!--<span class="tooltiptext">Стоимость курса используется для отслеживания оплат студентов. Если не указать стоимость, то раздел Оплаты, будет не доступен</span>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div style="display: inline-block; margin-top: 25px;">-->
                        <!--<div style="float: left; font-family: OpenSansRegular; font-size: 16px; width: 195px; padding-top: 7px;">Цвет группы:</div>-->
                        <!--<div style="float: left; padding-top: 4px;">-->
                            <!--<div style="display: inline-block;" ng-repeat="color in self.colors track by $index">-->
                                <!--<img ng-if="$index == self.activeColorIndex" ng-src="{{color.activeUrl}}" width="30px">-->
                                <!--<img ng-if="$index != self.activeColorIndex" ng-click="self.setColor($index)" ng-src="{{color.nonActiveUrl}}" width="30px">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div></div>-->
                    <!--<div style="display: inline-block; margin-top: 25px;">-->
                        <!--<div style="float: left; font-family: OpenSansRegular; font-size: 16px; width: 200px; padding-top: 7px;">Тип группы:</div>-->
                        <!--<div style="float: left;">-->
                            <!--<div style="font-size: 15px; font-family: OpenSansRegular; color: #000000; padding-top: 7px;">Общая группа</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row" style="margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px; border-top: 1px solid #eff2f7;">-->
                    <!--<div class="col-xs-6">-->
                        <!--<button ng-click="self.cancel()" class="cancel-group-button">ОТМЕНИТЬ</button>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6" style="text-align: right">-->
                        <!--<button ng-click="self.updateGroup()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


            <!--НОВАЯ ВЕРСИЯ-->
            <div class="new-group-form" style="border: none;">
                <div style="font-family: OpenSansRegular; font-size: 19px; border-bottom: 1px solid #e7eaec; padding-top: 22px; padding-bottom: 22px; padding-left: 30px; padding-right: 30px;">Форма редактирования группы</div>
                <div style="padding-bottom: 10px;">
                    <div style="border-bottom: 1px solid #e7eaec; padding-top: 30px; padding-bottom: 40px;">
                        <div style="padding-left: 40px; padding-right: 60px;">
                            <div style="display: inline-block;">
                                <div style="float: left; padding-right: 15px; padding-top: 2px;"><img src="/static-files/images/add-group-icon1.png" width="35px"></div>
                                <div style="font-size: 17px; font-family: OpenSansSemiBold; color: #6699ff; float: left; padding-top: 6px;">Данные о группе</div>
                            </div>
                            <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 10px;">Укажите название и цвет группы, которые будет отображаться в списке групп. Выберите тип группы, в зависимости от количества студентов.</div>
                        </div>
                        <div style="padding-left: 60px; padding-right: 60px; padding-top: 40px;">
                            <div align="center">
                                <div style="display: inline-block; width: 580px;">
                                    <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 180px; padding-top: 7px; text-align: left;">Название группы:</div>
                                    <div style="float: left;">
                                        <input class="md-text-input" ng-model="self.name" type="text" placeholder="Введите название" style="width: 400px;">
                                        <div ng-if="self.nameError">
                                            <div style="margin-left: 20px;">
                                                <div class="arrow-up"></div>
                                            </div>
                                            <div style="background-color: #e43f3f; padding-right: 15px; padding-left: 15px; border-radius: 4px; display: inline-block; padding-top: 5px; padding-bottom: 5px;">
                                                <div style="float: left; padding-top: 3px;"><img src="/static-files/images/error-warning-icon.png" width="15px"></div>
                                                <div style="float: left; font-family: OpenSansSemiBold; font-size: 13px; color: #ffffff; margin-left: 10px;">Название группы обязательно для заполнения</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-top: 25px; width: 580px;">
                                    <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 180px; padding-top: 7px; text-align: left;">Тип группы:</div>
                                    <div style="float: left; font-family: OpenSansRegular; font-size: 15px; padding-top: 8px;">{{self.group.individual ? "Индивидуальная" : "Общая"}}</div>
                                </div>
                                <div></div>
                                <div></div>
                                <div style="display: inline-block; margin-top: 25px; width: 580px;">
                                    <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 175px; padding-top: 7px; text-align: left;">Цвет группы:</div>
                                    <div style="float: left;">
                                        <div style="display: inline-block;" ng-repeat="color in self.colors track by $index">
                                            <div style="float: left; padding-right: 2px;">
                                                <img ng-if="$index == self.activeColorIndex" ng-src="{{color.activeUrl}}" width="35px">
                                                <img ng-if="$index != self.activeColorIndex" ng-click="self.setColor($index)" ng-src="{{color.nonActiveUrl}}" width="35px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid #e7eaec; padding-top: 36px; padding-bottom: 35px;">
                        <div style="padding-left: 40px; padding-right: 60px;">
                            <div style="display: inline-block;">
                                <div style="float: left; padding-right: 15px;"><img src="/static-files/images/add-group-icon2.png" width="35px"></div>
                                <div style="font-size: 17px; font-family: OpenSansSemiBold; color: #6699ff; float: left; padding-top: 7px;">Учителя группы</div>
                            </div>
                            <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 10px;">Укажите название и цвет группы, которые будет отображаться в списке групп. Выберите тип группы, в зависимости от количества студентов.</div>
                        </div>
                        <div align="center" style="padding-top: 30px;">
                            <!--ТУТ NG-REPEAT для учителей-->
                            <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px; border: 1px solid #99a4b5; border-radius: 4px; background-color: #f4f5f6; margin-bottom: 15px;" ng-repeat="teacher in self.group.teachers track by $index">
                                <div style="float: left; width: 40px; text-align: right; padding-top: 8px;">
                                    <img src="/static-files/images/teacher-tick-icon.png" height="15px">
                                </div>
                                <div style="float: left; width: 60px;">
                                    <!--ТУТ НАДО ФОТКУ СТАВИТЬ УЧИТЕЛЯ, ЩАС ЗАГЛУШКА-->
                                    <img ng-src="{{teacher | teacherImageUrlFilter}}" width="30px">
                                </div>
                                <div style="float: left; width: 310px; text-align: left; font-family: OpenSansRegular; font-size: 16px; padding-top: 5px; padding-bottom: 5px;">{{teacher | nameFilter }}</div>
                                <div style="float: left; width: 120px; padding-top: 4px; text-align: right; padding-right: 20px;">
                                    <button ng-if="teacher.isChoosed" ng-click="self.fixChoosing($index)" class="delete-teacher">Убрать</button>
                                    <button ng-if="!teacher.isChoosed"  ng-click="self.fixChoosing($index)" class="cancel-teacher">Вернуть</button>
                                </div>
                            </div>

                            <!--ДОБАВЛЕНИЕ УЧИТЕЛЯ СТЕП 1-->
                            <div ng-if="self.isAvailableTeachers">
                                <div ng-repeat="teacher in self.teachers track by $index">
                                    <div ng-if="teacher.isChoosed" style="display: inline-block; padding-top: 15px; padding-bottom: 15px; border: 1px dashed #99a4b5; border-radius: 4px; background-color: #f4f5f6; margin-bottom: 15px;">
                                        <div style="float: left; width: 40px; text-align: right; padding-top: 6px;">
                                            <img src="/static-files/images/teacher-time-icon.png" height="22px">
                                        </div>
                                        <div style="float: left; width: 60px;">
                                            <img ng-src="{{teacher | teacherImageUrlFilter}}" width="30px">
                                        </div>
                                        <div style="float: left; width: 310px; text-align: left; font-family: OpenSansRegular; font-size: 16px; padding-top: 5px; padding-bottom: 5px;">{{teacher | nameFilter}}</div>
                                        <div style="float: left; width: 120px; padding-top: 4px;">
                                            <button ng-click="self.cancelSelection($index)" class="cancel-teacher">Отменить</button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="self.additionAvailability">

                                    <div ng-if="self.teacherStep == 1">
                                        <button ng-click="self.applyStep(1)" class="add-teacher">Добавить учителя</button>
                                    </div>
                                    <!--ДОБАВЛЕНИЕ УЧИТЕЛЯ СТЕП 2-->
                                    <div ng-if="self.teacherStep == 2" style="margin-bottom: 15px;">
                                        <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px; border: 1px solid #6699ff; border-radius: 4px;">
                                            <div style="float: left; width: 105px; text-align: left; font-family: OpenSansRegular; font-size: 15px; padding-top: 5px; padding-bottom: 5px; padding-left: 20px;">Учитель:</div>
                                            <div style="float: left; width: 310px; text-align: left;">
                                                <div class="select-style-aplication-add">
                                                    <select ng-model="self.teacherID" ng-init="self.teacherID='-'">
                                                        <option  ng-repeat="teacher in self.teachers track by $index" value="{{teacher._id}}" ng-if="!teacher.isChoosed">{{teacher | nameFilter}}</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div style="float: left; width: 115px; padding-top: 4px;">
                                                <button ng-click="self.applyStep(2)" class="add-new-teacher">Добавить</button>
                                            </div>
                                        </div>
                                        <div style="text-align: right; padding-right: 200px; margin-top: 10px;">
                                            <button ng-click="self.applyStep(3)" class="remove-new-teacher">Отменить</button>
                                        </div>
                                    </div>
                                </div>
                                <!--ДОБАВЛЕНИЕ УЧИТЕЛЯ СТЕП 3-->

                            </div>

                        </div>
                    </div>

                    <div style="padding-top: 36px; padding-bottom: 40px;">
                        <div style="padding-left: 40px; padding-right: 60px;">
                            <div style="display: inline-block;">
                                <div style="float: left; padding-right: 15px;"><img src="/static-files/images/add-group-icon3.png" width="35px"></div>
                                <div style="font-size: 17px; font-family: OpenSansSemiBold; color: #6699ff; float: left; padding-top: 6px;">Финансы группы</div>
                            </div>
                            <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 10px;">Укажите стоимость курса, которая используется для отслеживания оплат студентов. Если не указать стоимость, то раздел Оплаты, будет не доступен</div>
                        </div>
                        <div align="center">
                            <div style="display: inline-block; padding-left: 60px; padding-right: 60px; padding-top: 30px;">
                                <div style="float: left; font-family: OpenSansRegular; font-size: 15px; width: 150px; padding-top: 7px;">Стоимость:</div>
                                <div style="float: left;">
                                    <div style="display: inline-block;">
                                        <div style="float: left;">
                                            <input ng-model="self.price" class="md-text-input" type="text" numbers-only placeholder="Введите стоимость" style="width: 250px;">
                                        </div>
                                        <div style="float: left; margin-left: 10px; margin-top: 12px;">
                                            <!--<span class="help-tooltip">-->
                                            <!--<img src="/static-files/images/help-icon.png" width="15px">-->
                                            <!--<span class="tooltiptext">Стоимость курса используется для отслеживания оплат студентов. Если не указать стоимость, то раздел Оплаты, будет не доступен</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                    <div style="float: right;">
                        <button ng-click="self.updateGroup()" type="submit" class="submit-group-button">Сохранить</button>
                    </div>
                    <div style="float: right; margin-right: 15px;">
                        <button ng-click="self.cancel()" class="cancel-group-button">Отменить</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>