<style>
    .popup-control-menu{
        position: absolute;
        top: 260px;
        left: 220px;
        border-radius: 3px;
        padding-bottom: 5px;
        background-color: transparent;
    }
    .popup-control-menu-item{
        border-radius: 50%;
        margin-top: 5px;
        background-color: #ffffff;
        display: inline-block;
        width: 30px;
        height: 30px;
        padding-left: 8px;
        padding-top: 8px;
        border: 1px solid #aab2b9;
    }



    .popup-control-menu2{
        position: absolute;
        top: 95px;
        left: 260px;
        border-radius: 3px;
        padding-bottom: 5px;
        background-color: transparent;
    }
    .popup-control-menu-item2{
        border-radius: 50%;
        margin-top: 5px;
        background-color: #ffffff;
        display: inline-block;
        width: 30px;
        height: 30px;
        padding-left: 8px;
        padding-top: 8px;
        border: 1px solid #aab2b9;
    }


    /*.popup-control-menu-item:hover{*/
        /*background-color: #e1e4ea;*/
    /*}*/
    .list-of-groups{
        background-color: #e7eaec;
        /*border-radius: 3px;*/
        margin-left: 135px;
        margin-right: 135px;
    }
    .list-of-groups-item{
        display: inline-block;
        /*border-bottom: 10px solid #e7eaec;*/
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 10px;
        background-color: #ffffff;
        border-radius: 5px;
        border-left: 5px solid #ffffff;
    }
    .list-of-groups-item-color-indicator{
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top: 22px;
        margin-left: 20px;
    }
    .list-of-groups-item-control-button{
        border-radius: 50%;
        margin-top: 5px;
        background-color: #ffffff;
        display: inline-block;
        width: 30px;
        height: 30px;
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*text-align: center;*/
        padding-left: 8px;
        padding-top: 8px;
        border: 1px solid #aab2b9;
    }
    .list-of-groups-item-control-button:hover{
        background-color: #ffffff;
    }
    .list-of-groups-item:hover{
        background-color: #ffffff;
        border-left: 5px solid #6699ff;
    }
    .empty-group{
        box-shadow: 0 0 3px rgba(0,0,0,0.1);
        margin-left: 180px;
        margin-right: 180px;
        background-color: #ffffff;
        border-radius: 3px;
    }


    .new-category-button{
        border-radius: 50%;
        width: 55px;
        height: 55px;
        border: none;
        font-size: 28px;
        background-color: #aeb8c8;
        color: #ffffff;
        padding-bottom: 5px;
        padding-left: 7px;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        opacity: 0.8;
    }

    .new-category-button:hover{
        /*box-shadow: 2px 2px 5px #9e9e9e;*/
        background-color: #aeb8c8;
        opacity: 1;
    }

    .groupBox:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }



</style>
<div ng-controller="listOfGroupsController as self">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 135px; padding-right: 135px;">
                <div style="float: left; padding-top:6px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Группы</div>
                <div style="float: left; padding-left: 30px; padding-top: 10px;">
                    <div class="search">
                        <span class="searchIcon"><i class="fa fa-search"></i></span>
                        <input ng-model="self.searchPattern" placeholder="Поиск" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Поиск'">
                    </div>
                </div>
                <div ng-include="'/app-admin/views/templates/display-option.html'"></div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent">
            <div ng-if="self.hasGroups || self.hasGroupsInBlocs">
                <div ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_BLOCKS" class="row" style="margin-left: 0px; margin-right: 0px; padding-left: 120px; padding-right: 120px; padding-top: 30px;">
                    <div ng-repeat="group in (self.results = (self.groups | listOfGroupsSearch :self.searchPattern)) track by $index" class="col-xs-4" style="padding-bottom: 30px;" ng-if="group.isBloc && self.searchPattern!='' || !group.isBloc">
                        <div class="groupBox" ng-mouseenter="self.showProperties($index)" ng-mouseleave="self.hideProperties($index)" style="border-top: 1px solid #dfe1e6; border-left: 1px solid #dfe1e6; border-right: 1px solid #dfe1e6; border-bottom: 1px solid #d1d3d8; border: none;">
                            <div ng-click="self.goToGroupInfo(group._id)">
                                <div class="groupBoxHeader" style="background-color: {{group.color}};">
                                    <div style="width: 200px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; font-size: 19px;">{{group.name}}</div>
                                    <div style="opacity: 0.8; font-size: 14px; padding-top: 5px; font-family: OpenSansRegular;" ng-if="group.individual">Индивидуальная группа</div>
                                    <div style="opacity: 0.8; font-size: 14px; padding-top: 5px; font-family: OpenSansRegular;" ng-if="!group.individual">Общая группа</div>
                                </div>
                            </div>
                            <div class="groupBoxBody" style="padding-top: 0; padding-left: 0; padding-bottom: 0; border-left: 1px solid #dfe1e6; border-right: 1px solid #dfe1e6; border-bottom: 0;">
                                <div class="row" style="margin-left: 0; margin-right: 0;">
                                    <div class="col-xs-6" style="padding-top: 14px;">
                                        <div align="center" style="padding-top: 10px; opacity: 0.8;"><img src="/static-files/images/hard-drive-icon.png" width="45px"></div>
                                        <div align="center" style="padding-top: 12px; font-family: OpenSansRegular; font-size: 18px;">{{group.memory | memoryUsageFilter}}</div>
                                        <div align="center" style="font-family: OpenSansRegular;">памяти</div>
                                    </div>
                                    <div class="col-xs-6" style="border-left: 1px solid #e7eaec; padding-bottom: 14px; padding-top: 14px;">
                                        <div align="center">
                                            <div style="display: inline-block;">
                                                <div style="padding-top: 8px; float: left; padding-right: 10px;">
                                                    <img src="/static-files/images/empty-students-teacher-icon.png" width="40px">
                                                </div>
                                                <div style="float: left; font-family: OpenSansSemiBold; font-size: 40px; color: #b4c0cd; opacity: 0.9;">{{group.students.length}}</div>
                                            </div>
                                        </div>
                                        <div align="center" style="font-family: OpenSansRegular; padding-top: 4px;">Студентов</div>
                                        <div align="center" style="font-family: OpenSansRegular;">в группе</div>
                                    </div>
                                </div>
                                <div style="height: 60px; border-top: 1px solid #e7eaec;">
                                    <!--ДЛЯ ОДНОГО УЧИТЕЛЯ-->
                                    <div ng-if="group.teachers.length <=1" align="center">
                                        <div style="display: inline-block; font-family: OpenSansRegular; padding-top: 13px;">
                                            <div style="float: left;"><img ng-src="{{group.teachers[0] | teacherImageUrlFilter}}" width="32px"></div>
                                            <div style="float: left; padding-left: 10px; overflow: hidden; display: inline-block; padding-top: 6px;">{{group.teachers[0] | nameFilterByVacation}}</div>
                                        </div>
                                    </div>


                                    <!--ДЛЯ ДВУХ УЧИТЕЛЕЙ-->
                                    <div ng-if="group.teachers.length == 2" class="row" style="margin-left: 0; margin-right: 0; font-size: 13px; padding-top: 10px;">
                                        <div class="col-xs-6">
                                            <div style="display: inline-block; font-family: OpenSansRegular;">
                                                <div style="float: left; padding-top: 2px;"><img ng-src="{{group.teachers[0] | teacherImageUrlFilter}}" width="32px"></div>
                                                <div style="float: left; padding-left: 10px; overflow: hidden; display: inline-block;">
                                                    <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 85px;">{{group.teachers[0].firstName}}</div>
                                                    <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 85px;">{{group.teachers[0].lastName}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div style="display: inline-block; font-family: OpenSansRegular;">
                                                <div style="float: left; padding-top: 2px;"><img ng-src="{{group.teachers[1] | teacherImageUrlFilter}}" width="32px"></div>
                                                <div style="float: left; padding-left: 10px; overflow: hidden; display: inline-block;">
                                                    <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 85px;">{{group.teachers[1].firstName}}</div>
                                                    <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 85px;">{{group.teachers[1].lastName}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--ДЛЯ ТРЕХ УЧИТЕЛЕЙ-->
                                    <div ng-if="group.teachers.length == 3">
                                        <div class="row" style="padding-top: 12px; margin-left: 0; margin-right: 0; padding-left: 60px; padding-right: 60px;">
                                            <div class="col-xs-4" style="text-align: center;">
                                                <img ng-src="{{group.teachers[0] | teacherImageUrlFilter}}" width="32px">
                                                <md-tooltip md-direction="top">
                                                    {{group.teachers[0] | nameFilter}}
                                                </md-tooltip>
                                            </div>
                                            <div class="col-xs-4" style="text-align: center;">
                                                <img ng-src="{{group.teachers[1] | teacherImageUrlFilter}}" width="32px">
                                                <md-tooltip md-direction="top">
                                                    {{group.teachers[1] | nameFilter}}
                                                </md-tooltip>
                                            </div>
                                            <div class="col-xs-4" style="text-align: center;">
                                                <img ng-src="{{group.teachers[2] | teacherImageUrlFilter}}" width="32px">
                                                <md-tooltip md-direction="top">
                                                    {{group.teachers[2] | nameFilter}}
                                                </md-tooltip>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="groupBoxFooter" style="background-color: #f4f5f6; border-top: 1px solid #e7eaec; border-left: 1px solid #dfe1e6; border-right: 1px solid #dfe1e6; border-bottom: 1px solid #d1d3d8;">
                                <div style="display: inline-block; width: 100%;">
                                    <div style="float:left; width:80%; font-size: 12px; color: #838e9e; font-family: OpenSansRegular; padding-top: 8px; padding-bottom:8px; padding-left: 15px;">{{group.createdAt | timeFilterDate}}</div>
                                </div>
                                <div class="popup-control-menu" ng-show="self.properties[$index]">
                                    <div style="display: block">
                                        <div style="float: right; margin-left: 5px;">
                                            <div ng-click="self.editGroupByID(group._id)" class="popup-control-menu-item">
                                                <img src="/static-files/images/edit-icon.png" width="12px">
                                                <md-tooltip ng-mouseenter="self.showProperties($index)" md-direction="right">
                                                    Редактировать
                                                </md-tooltip>
                                            </div>
                                        </div>
                                        <div style="float: right; margin-left: 5px;">
                                            <div ng-click="self.deleteGroupByID(group._id)" class="popup-control-menu-item" style="padding-left: 9px; padding-top: 9px;">
                                                <img src="/static-files/images/delete-icon.png" width="11px">
                                                <md-tooltip md-direction="bottom">
                                                    Удалить
                                                </md-tooltip>
                                            </div>
                                        </div>
                                        <div style="float: right;">
                                            <div ng-click="self.assignGroup(group._id)" class="popup-control-menu-item" style="padding-left: 6px; padding-top: 10px;">
                                                <img src="/static-files/images/union-icon.png" width="17px">
                                                <md-tooltip md-direction="left">
                                                    Добавить в категорию
                                                </md-tooltip>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="self.results.length == 0">
                        <div class="md-box" style="margin-right: 15px; margin-left: 15px; background-color: #ffffff;">
                            <div align="center" style="padding-bottom: 70px; padding-top: 70px;">
                                <div style="opacity: 0.3;"><img src="/static-files/images/no-search-result-icon.png" width="150px"></div>
                                <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 25px; color: #a8b3c2;">Ничего не найдено</div>
                                <div style="font-family: OpenSansRegular; padding-top: 8px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">К сожаление, по вашему запросу ничего не найдено. Попробуйте ввести другие слова.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_LIST" style="padding-top: 30px; padding-bottom: 30px;">
                    <div class="list-of-groups">
                        <div class="list-of-groups-item" ng-repeat="group in (self.results = (self.groups | listOfGroupsSearch :self.searchPattern)) track by $index" ng-mouseenter="self.showProperties($index)" ng-mouseleave="self.hideProperties($index)" ng-if="group.isBloc && self.searchPattern!='' || !group.isBloc">
                            <div ng-click="self.goToGroupInfo(group._id)">
                                <div style="float: left; width: 50px;">
                                    <div class="list-of-groups-item-color-indicator" style="background-color: {{group.color}};"></div>
                                </div>
                                <div style="float: left; padding-top: 20px; padding-bottom: 18px; font-size: 16px; font-family: OpenSansRegular; width: 345px; margin-right: 20px; padding-left: 10px;">
                                    <div style=" overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; width: 320px;">{{group.name}}</div>
                                </div>
                                <div style="float: left; width: 265px; font-size: 15px; padding-top: 20px; padding-bottom: 17px;">
                                    <div style="display: inline-block;" ng-repeat="teacher in group.teachers">
                                        <div style="float: left; padding-top: 5px; padding-right: 5px;"><img src="/static-files/images/admin-teacher-icon.png" width="16px"></div>
                                        <div style="float: left; padding-left: 5px; color: #7f8c9a; padding-top: 2px; padding-bottom: 3px; font-family: OpenSansRegular; font-size: 15px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">
                                            {{teacher | nameFilterByVacation}}
                                        </div>
                                    </div>
                                </div>
                                <div style="float: left; display: inline-block; width: 90px; font-size: 15px;">
                                    <div style="float: left; padding-top: 25px; padding-right: 5px;"><img src="/static-files/images/admin-students-icon.png" width="16px"></div>
                                    <div style="float: left; padding-left: 5px; color: #7f8c9a; font-family: OpenSansRegular; padding-top: 22px; padding-bottom: 19px;">{{group.students.length}}</div>
                                </div>
                                <div style="float: left; display: inline-block; width: 110px; font-size: 15px;">
                                    <div style="float: left; padding-top: 26px; padding-right: 5px;"><img src="/static-files/images/admin-memory-icon.png" width="12px"></div>
                                    <div style="float: left; padding-left: 5px; color: #7f8c9a; font-family: OpenSansRegular; padding-top: 22px; padding-bottom: 19px;">{{group.memory | memoryUsageFilter}}</div>
                                </div>
                            </div>
                            <div ng-if="self.properties[$index]"  style="float: left; display: inline-block;">
                                <div style="float: left; padding-top: 10px; padding-bottom: 8px; margin-right: 7px;">
                                    <div ng-click="self.assignGroup(group._id)" class="popup-control-menu-item" style="padding-left: 6px; padding-top: 10px;">
                                        <img src="/static-files/images/union-icon.png" width="17px">
                                        <md-tooltip md-direction="top">
                                            Добавить в категорию
                                        </md-tooltip>
                                    </div>
                                </div>
                                <div style="float: left; padding-top: 10px; padding-bottom: 8px; margin-right: 7px;">
                                    <div ng-click="self.editGroupByID(group._id)" class="list-of-groups-item-control-button">
                                        <img src="/static-files/images/edit-icon.png" width="12px">
                                        <md-tooltip ng-mouseenter="self.showProperties($index)" md-direction="top">
                                            Редактировать
                                        </md-tooltip>
                                    </div>
                                </div>
                                <div style="float: left; padding-top: 10px; padding-bottom: 8px;">
                                    <div ng-click="self.deleteGroupByID(group._id)"  class="list-of-groups-item-control-button" style="padding-left: 9px; padding-top: 9px;">
                                        <img src="/static-files/images/delete-icon.png" width="11px">
                                        <md-tooltip md-direction="top">
                                            Удалить
                                        </md-tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="self.results.length == 0">
                        <div class="md-box" style="margin-right: 180px; margin-left: 180px; background-color: #ffffff;">
                            <div align="center" style="padding-bottom: 70px; padding-top: 70px;">
                                <div style="opacity: 0.3;"><img src="/static-files/images/no-search-result-icon.png" width="150px"></div>
                                <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 25px; color: #a8b3c2;">Ничего не найдено</div>
                                <div style="font-family: OpenSansRegular; padding-top: 8px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">К сожаление, по вашему запросу ничего не найдено. Попробуйте ввести другие слова.</div>
                            </div>
                        </div>

                        <!--<img src="/static-files/images/no-search-result-icon.png" width="165px;">-->
                    </div>
                </div>
            </div>

            <div ng-if="self.hasBlocs && self.searchPattern == ''">
                <div ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_BLOCKS" style="height: 10px;"></div>
                <div ng-if="self.hasGroups && self.viewStyle == self.viewStyles.VIEW_STYLE_BLOCKS" style="font-size: 24px; font-family: OpenSansLight; margin-left: 135px; margin-right: 125px; padding-bottom: 14px; border-bottom: 1px solid #bec0cc;">
                    <div>Категории групп</div>
                </div>
                <div ng-if="!self.hasGroups && self.viewStyle == self.viewStyles.VIEW_STYLE_LIST" style="height: 15px;"></div>
                <div ng-if="self.hasGroups && self.viewStyle == self.viewStyles.VIEW_STYLE_LIST" style="font-size: 22px; font-family: OpenSansLight; margin-left: 135px; margin-right: 135px; border-bottom: 1px solid #bec0cc; padding-bottom: 10px;">Категории групп</div>
                <div ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_LIST">
                    <div class="list-of-groups" style="margin-top: 15px;">
                        <div class="list-of-groups-item" ng-repeat="bloc in self.blocs track by $index">
                            <div style="display: inline-block;">
                                <div style="float: left; width: 500px; padding-left: 25px; padding-top: 20px; padding-bottom: 18px; font-size: 16px; font-family: OpenSansRegular;" ng-click="self.GoToBlocByID(bloc._id)">{{bloc.name}}</div>
                                <div style="float: left; width: 330px; color: #7f8c9a; padding-top: 22px; padding-bottom: 19px;">Количество групп: <span style="padding-left: 5px;">{{bloc.groups.length}}</span></div>
                                <div  style="float: left; display: inline-block;">
                                    <div style="float: left; padding-top: 10px; padding-bottom: 8px; margin-right: 7px;">
                                        <div ng-click="self.editBloc(bloc._id)" class="list-of-groups-item-control-button">
                                            <img src="/static-files/images/edit-icon.png" width="12px">
                                            <md-tooltip md-direction="top">
                                                Редактировать
                                            </md-tooltip>
                                        </div>
                                    </div>
                                    <div style="float: left; padding-top: 10px; padding-bottom: 8px;">
                                        <div ng-click="self.delBloc(bloc._id)"  class="list-of-groups-item-control-button" style="padding-left: 9px; padding-top: 9px;">
                                            <img src="/static-files/images/delete-icon.png" width="11px">
                                            <md-tooltip md-direction="top">
                                                Удалить
                                            </md-tooltip>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_BLOCKS" class="row" style="margin-left: 0px; margin-right: 0px; padding-left: 120px; padding-right: 120px; padding-top: 30px; padding-bottom: 30px;">
                    <div ng-repeat="bloc in self.blocs track by $index" class="col-xs-4" style="padding-bottom: 25px;">

                        <div class="groupBox" ng-mouseenter="self.blocProperties(true,$index)" ng-mouseleave="self.blocProperties(false,$index)">
                            <div>
                                <div ng-click="self.GoToBlocByID(bloc._id)" class="groupBoxHeader" style="padding-top: 17 px; padding-bottom: 17px;" ng-style="bloc.color | backGroundColor">
                                    <div style="width: 200px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{bloc.name}}</div>
                                    <div style="opacity: 0.9; font-size: 13px; padding-top: 5px; font-family: OpenSansRegular;">Категория групп</div>
                                </div>
                                <div class="groupBoxBody" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom: none;">
                                    <div class="row" style="margin-left: 0; margin-right: 0; padding-bottom: 5px;">
                                        <div class="col-xs-6">
                                            <div align="center" style="padding-top: 16px; opacity: 0.8;"><img src="/static-files/images/hard-drive-icon.png" width="50px"></div>
                                            <div align="center" style="padding-top: 12px; font-family: OpenSansRegular; font-size: 18px;">{{bloc | blocMemoryFilter}}</div>
                                            <div align="center" style="font-family: OpenSansRegular;">памяти</div>
                                        </div>
                                        <div class="col-xs-6" style="border-left: 1px solid #e7eaec;">
                                            <div align="center" style="font-family: OpenSansSemiBold; font-size: 50px; color: #b4c0cd; opacity: 0.9;">{{bloc.groups.length}}</div>
                                            <div align="center" style="font-family: OpenSansRegular;">Групп в</div>
                                            <div align="center" style="font-family: OpenSansRegular;">категории</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="popup-control-menu2" ng-show="self.blocProp[$index]">
                                    <div ng-click="self.editBloc(bloc._id)" class="popup-control-menu-item2">
                                        <img src="/static-files/images/edit-icon.png" width="12px">
                                        <md-tooltip ng-mouseenter="self.blocProperties(true,$index)" md-direction="left">
                                            Редактировать
                                        </md-tooltip>
                                    </div>
                                    <div></div>
                                    <div ng-click="self.delBloc(bloc._id)" class="popup-control-menu-item2" style="padding-left: 9px; padding-top: 9px;">
                                        <img src="/static-files/images/delete-icon.png" width="11px">
                                        <md-tooltip md-direction="left">
                                            Удалить
                                        </md-tooltip>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!self.hasGroupsInBlocs && !self.hasGroups && !self.hasBlocs">
                <div style="padding-top: 30px;">
                    <div class="md-box" style="margin-right: 180px; margin-left: 180px; background-color: #ffffff;">
                        <div align="center" style="padding-bottom: 60px; padding-top: 60px;">
                            <div><img src="/static-files/images/empty-groups-icon.png" height="180px"></div>
                            <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 25px; color: #a8b3c2;">Групп нет</div>
                            <div style="font-family: OpenSansRegular; padding-top: 8px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">На данный момент, в Вашем центре, нет групп. Чтобы создать группу, нажмите на кнопку "+"</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div style="margin: auto; position: fixed; bottom: 25px; text-align: right; right: 40px;">
        <button ng-click="self.addGroup()" class="new-group-button" style="font-family: OpenSansSemiBold; font-size: 30px; padding-top: 5px;">
            +
            <md-tooltip md-direction="top" style="font-size:12px;">
                Добавить группу
            </md-tooltip>
        </button>
    </div>
    <div style="margin: auto; position: fixed; bottom: 100px; text-align: right; right: 40px;">
        <button ng-click="self.addGroupBlock()" class="new-category-button">
            <img src="/static-files/images/add-category-icon.png" width="24px">
            <md-tooltip md-direction="top" style="font-size:12px;">
                Добавить категорию
            </md-tooltip>
        </button>
    </div>
</div>
