<style>
    .current-tariff-default {
        background-color: #ffffff;
        border-radius: 7px;
    }
    .current-tariff-active {
        background-color: #f5fbff;
        border: 2px solid #74c2f0;
        border-radius: 7px;
    }


    .tariff-item{
        float: left;
        width: 203px;
        border-right: 2px solid #e7eaec;
    }


    .tariff-title{
        font-family: OpenSansRegular;
        font-size: 28px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px dashed #e7eaec;
        background-color: #f4f5f6;
    }

    .tariff-storage{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: OpenSansRegular;
        font-size: 16px;
        border-bottom: 1px dashed #e7eaec;
        background-color: white;
    }

    .tariff-storage-number{
        font-family: OpenSansBold;
        font-size: 28px;
    }


    .tariff-students{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: OpenSansRegular;
        font-size: 16px;
        border-bottom: 1px dashed #e7eaec;
        background-color: white;
    }

    .tariff-price{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: OpenSansSemiBold;
        font-size: 28px;
        color: #18b808;
        background-color: white;
    }

    /*wfwe*/

    .tariff-title-active{
        font-family: OpenSansRegular;
        font-size: 28px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px dashed #6699ff;
        background-color: #f4f5f6;
        border-left: 3px solid #6699ff;
        border-right: 3px solid #6699ff;
    }

    .tariff-storage-active{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: OpenSansRegular;
        font-size: 16px;
        border-bottom: 1px dashed #6699ff;
        border-left: 3px solid #6699ff;
        border-right: 3px solid #6699ff;
        background-color: white;
    }

    .tariff-students-active{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: OpenSansRegular;
        font-size: 16px;
        border-bottom: 1px dashed #6699ff;
        border-left: 3px solid #6699ff;
        border-right: 3px solid #6699ff;
        background-color: white;
    }

    .tariff-price-active{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: OpenSansSemiBold;
        font-size: 28px;
        color: #18b808;
        border-left: 3px solid #6699ff;
        border-right: 3px solid #6699ff;
        border-bottom: 3px solid #6699ff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: white;
    }

    .edunet-box-header{
        padding-left: 30px;
        padding-top: 22px;
        padding-bottom: 18px;
        color: #131313;
        font-size: 19px;
        font-family: OpenSansRegular;
        border-bottom: 1px solid #e7eaec;
    }

    .select-style {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        width: 300px;
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style select {
        padding: 8px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #99a4b5;
        border-radius: 0px;
        color: #777777;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .select-style select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #99a4b5;
        border-radius: 0px;
        color: #838e9e;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }

    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #4e85f1;
    }



</style>
<div ng-controller="tariffsController as ctrl">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="padding-left: 130px; padding-right: 130px; background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Тарифы</div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent">
            <div style="padding-top: 30px; padding-left: 130px; padding-right: 130px; padding-bottom: 50px;">
                <!--<div class="row">-->
                    <!--<div class="col-xs-3" style="padding-right: 7px; padding-left: 7px;">-->
                        <!--<div class="current-tariff-default">-->
                            <!--<div style="border-top-right-radius: 5px; border-top-left-radius: 5px; background-color: #74c2f0; color: #ffffff; font-size: 28px; font-family: OpenSansRegular; padding-top: 20px; padding-bottom: 20px; text-align: center;">Free</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;">300 MB</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">памяти</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;"><span style="font-family: OpenSansRegular; font-size: 16px; padding-right: 7px;">до</span>25</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">активных студентов</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;">0</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 18px;">KZT / месяц</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-3" style="padding-right: 7px; padding-left: 7px;">-->
                        <!--<div class="current-tariff-default">-->
                            <!--<div style="border-top-right-radius: 5px; border-top-left-radius: 5px; background-color: #74c2f0; color: #ffffff; font-size: 28px; font-family: OpenSansRegular; padding-top: 20px; padding-bottom: 20px; text-align: center;">Light</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;">2 GB</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">памяти</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;"><span style="font-family: OpenSansRegular; font-size: 16px; padding-right: 7px;">до</span>80</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">активных студентов</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;">{{0 | customCurrencyFilterWithoutCurrency}}</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 18px;">KZT / месяц</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-3" style="padding-right: 7px; padding-left: 7px;">-->
                        <!--<div class="current-tariff-default">-->
                            <!--<div style="border-top-right-radius: 5px; border-top-left-radius: 5px; background-color: #74c2f0; color: #ffffff; font-size: 28px; font-family: OpenSansRegular; padding-top: 20px; padding-bottom: 20px; text-align: center;">Premium</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;">6 GB</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">памяти</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;"><span style="font-family: OpenSansRegular; font-size: 16px; padding-right: 7px;">до</span>300</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">активных студентов</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;">21,500</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 18px;">KZT / месяц</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-3" style="padding-right: 7px; padding-left: 7px;">-->
                        <!--<div class="current-tariff-default">-->
                            <!--<div style="border-top-right-radius: 5px; border-top-left-radius: 5px; background-color: #74c2f0; color: #ffffff; font-size: 28px; font-family: OpenSansRegular; padding-top: 20px; padding-bottom: 20px; text-align: center;">Silver</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;">9 GB</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">памяти</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;"><span style="font-family: OpenSansRegular; font-size: 16px; padding-right: 7px;">до</span>400</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">активных студентов</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;">35,500</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 18px;">KZT / месяц</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-3" style="padding-right: 7px; padding-left: 7px;">-->
                        <!--<div class="current-tariff-default">-->
                            <!--<div style="border-top-right-radius: 5px; border-top-left-radius: 5px; background-color: #74c2f0; color: #ffffff; font-size: 28px; font-family: OpenSansRegular; padding-top: 20px; padding-bottom: 20px; text-align: center;">Индивид.</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;"><span style="font-family: OpenSansRegular; font-size: 16px; padding-right: 7px;">от</span>9 GB</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">памяти</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 2px dashed #eff2f7;">-->
                                <!--<div style="font-size: 25px; font-family: OpenSansSemiBold;"><span style="font-family: OpenSansRegular; font-size: 16px; padding-right: 7px;">от</span>400</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 16px;">активных студентов</div>-->
                            <!--</div>-->
                            <!--<div align="center" style="padding-top: 25px; padding-bottom: 25px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 18px;">Индивидуальная</div>-->
                                <!--<div style="font-family: OpenSansRegular; font-size: 18px;">цена</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <div style="display: inline-block; width: 100%; padding-bottom: 40px;">
                    <div class="tariff-item">
                        <div style="height: 20px; background-color: #e7eaec;"></div>
                        <div class="tariff-title">Starter</div>
                        <div class="tariff-storage">
                            <div class="tariff-storage-number">300 МB</div>
                            <div>памяти</div>
                        </div>
                        <div class="tariff-students">
                            <div>до <span style="font-family: OpenSansBold; font-size: 28px; padding-left: 5px;">25</span></div>
                            <div>активных студенты</div>
                        </div>
                        <div class="tariff-price" style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 43px; padding-bottom: 44px;">БЕСПЛАТНО</div>
                    </div>

                    <div class="tariff-item">
                        <div style="height: 20px; background-color: #e7eaec;"></div>
                        <div class="tariff-title">Light</div>
                        <div class="tariff-storage">
                            <div class="tariff-storage-number">2 GB</div>
                            <div>памяти</div>
                        </div>
                        <div class="tariff-students">
                            <div>до <span style="font-family: OpenSansBold; font-size: 28px; padding-left: 5px;">80</span></div>
                            <div>активных студенты</div>
                        </div>
                        <div class="tariff-price">
                            <div>9 000</div>
                            <div style="font-size: 20px; font-family: OpenSansRegular;">KZT / месяц</div>
                        </div>
                    </div>
                    <div class="tariff-item">
                        <div style="background-color: #e7eaec;">
                            <div style="background-color: #6699ff; color: #ffffff; text-align: center; font-family: OpenSansSemiBold; padding-top: 10px; padding-bottom: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px;">ТЕКУЩИЙ ТАРИФ</div>
                        </div>
                        <div class="tariff-title-active">Premium</div>
                        <div class="tariff-storage-active">
                            <div class="tariff-storage-number">7 GB</div>
                            <div>памяти</div>
                        </div>
                        <div class="tariff-students-active">
                            <div>до <span style="font-family: OpenSansBold; font-size: 28px; padding-left: 5px;">400</span></div>
                            <div>активных студенты</div>
                        </div>
                        <div class="tariff-price-active">
                            <div>21 000</div>
                            <div style="font-size: 20px; font-family: OpenSansRegular;">KZT / месяц</div>
                        </div>
                    </div>
                    <div class="tariff-item">
                        <div style="height: 20px; background-color: #e7eaec;"></div>
                        <div class="tariff-title">Gold</div>
                        <div class="tariff-storage">
                            <div class="tariff-storage-number">9 GB</div>
                            <div>памяти</div>
                        </div>
                        <div class="tariff-students">
                            <div>до <span style="font-family: OpenSansBold; font-size: 28px; padding-left: 5px;">500</span></div>
                            <div>активных студенты</div>
                        </div>
                        <div class="tariff-price">
                            <div>35 000</div>
                            <div style="font-size: 20px; font-family: OpenSansRegular;">KZT / месяц</div>
                        </div>
                    </div>
                    <div class="tariff-item">
                        <div style="height: 20px; background-color: #e7eaec;"></div>
                        <div class="tariff-title">Platinum</div>
                        <div class="tariff-storage">
                            <div class="tariff-storage-number"><span style="font-family: OpenSansRegular; font-size: 16px; padding-right: 8px;">от</span>9 GB</div>
                            <div>памяти</div>
                        </div>
                        <div class="tariff-students">
                            <div>от <span style="font-family: OpenSansBold; font-size: 28px; padding-left: 5px;">500</span></div>
                            <div>активных студенты</div>
                        </div>
                        <div class="tariff-price" style="padding-top: 31px; padding-bottom: 31px;">
                            <div style="font-size: 20px; font-family: OpenSansRegular;">Индивидуальная</div>
                            <div style="font-size: 20px; font-family: OpenSansRegular;">цена</div>
                        </div>
                    </div>
                </div>


                <div class="md-box" style="background-color: #ffffff; margin-right: 8px;">
                    <div class="edunet-box-header">Смена тарифа</div>
                    <div style="padding-top: 20px; padding-left: 60px; padding-right: 60px; padding-bottom: 50px;">
                        <div style="display: inline-block; margin-top: 25px;">
                            <div style="float: left; font-family: OpenSansRegular; font-size: 16px; width: 300px; padding-top: 7px;">Укажите новый тариф:</div>
                            <div style="float: left;">
                                <div class="select-style">
                                    <select ng-options="teacher.name for teacher in self.teachers track by teacher._id" ng-model="self.activeTeacher"></select>
                                </div>
                            </div>
                        </div>
                        <div style="display: inline-block; margin-top: 25px; ">
                            <div style="float: left; font-family: OpenSansRegular; font-size: 16px; width: 300px; padding-top: 7px;">Укажите причину смены тарифа:</div>
                            <div style="float: left;">
                                <input class="md-text-input" ng-model="self.name" type="text" placeholder="Введите причину" style="width: 570px;">
                                <div ng-if="self.nameError">
                                    <div style="margin-left: 20px;">
                                        <div class="arrow-up"></div>
                                    </div>
                                    <div style="background-color: #e43f3f; padding-right: 15px; padding-left: 15px; border-radius: 4px; display: inline-block; padding-top: 5px; padding-bottom: 5px;">
                                        <div style="float: left; padding-top: 3px;"><img src="/static-files/images/error-warning-icon.png" width="15px"></div>
                                        <div style="float: left; font-family: OpenSansSemiBold; font-size: 13px; color: #ffffff; margin-left: 10px;">Название группы обязательно для заполнения</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                        <div style="float: right;">
                            <button type="submit" class="submit-group-button">Отправить запрос</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
