<div ng-controller="startTestController as modal">
    Вы уверены что хотите начать тест?
    <button ng-click="modal.startTest()">Да</button>
    <button ng-click="closeThisDialog()">Нет</button>
</div>