<style>

    /*.parent{*/
        /*display: flex;*/
        /*height: 500px;*/
    /*}*/

    .gear{
        position: relative;
        width: 122px;
        height: 122px;
        margin: auto;
        background: #c6c6c6;
        border-radius: 50%;
        animation-name: spin;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .gear .center{
        position: absolute;
        top: 36px;
        left: 36px;
        z-index: 10;
        width: 50px;
        height: 50px;
        background: #e1e1e1;
        border-radius: 50%;
    }

    .tooth{
        position: absolute;
        top: -15px;
        left: 47px;
        z-index: 1;
        width: 27px;
        height: 150px;
        background:#c6c6c6;
    }

    .tooth:nth-child(2){
        transform: rotate(45deg);
    }

    .tooth:nth-child(3){
        transform: rotate(90deg);
    }

    .tooth:nth-child(4){
        transform: rotate(135deg);
    }

    @keyframes spin {
        from {transform: rotate(0deg); }
        to {transform: rotate(360deg);}
    }





    .gear1{
        position: relative;
        width: 122px;
        height: 122px;
        margin: auto;
        background: #d0d0d0;
        border-radius: 50%;
        animation-name: spin1;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .gear1 .center{
        position: absolute;
        top: 36px;
        left: 36px;
        z-index: 10;
        width: 50px;
        height: 50px;
        background: #e1e1e1;
        border-radius: 50%;
    }

    .tooth1{
        position: absolute;
        top: -15px;
        left: 47px;
        z-index: 1;
        width: 27px;
        height: 150px;
        background:#d0d0d0;
    }

    .tooth1:nth-child(2){
        transform: rotate(45deg);
    }

    .tooth1:nth-child(3){
        transform: rotate(90deg);
    }

    .tooth1:nth-child(4){
        transform: rotate(135deg);
    }

    @keyframes spin1 {
        from {transform: rotate(360deg); }
        to {transform: rotate(0deg);}
    }


</style>
<div ng-controller="initializationController as init">
    <div style="width: 100%;">
        <div style="width: 1280px; margin: auto;">
            <div style="margin-top: 70px;">
                <div class="gear" style="position: absolute; margin-left: 517px; margin-top: 50px;">
                    <div class="center"></div>
                    <div class="tooth"></div>
                    <div class="tooth"></div>
                    <div class="tooth"></div>
                    <div class="tooth"></div>
                </div>
                <div class="gear1" style="position: absolute; margin-left: 631px; margin-top: 125px;">
                    <div class="center"></div>
                    <div class="tooth1"></div>
                    <div class="tooth1"></div>
                    <div class="tooth1"></div>
                    <div class="tooth1"></div>
                </div>
            </div>
            <div style="font-family: OpenSansLight; font-size: 23px; text-align: center; padding-top: 310px;">Инициализация теста...</div>
            <div style="text-align: center; font-size: 16px; font-family: OpenSansRegular; padding-top: 15px; color: #84929d;">Пожалуйста подождите, происходит загрузка ресурсов..</div>

        </div>
    </div>
</div>