<style>
    .table-result-right{
        width: 40px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #71ca58;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-family: OpenSansSemiBold;

    }

    .table-result-wrong{
        width: 40px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fd6461;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-family: OpenSansSemiBold;

    }
</style>
<div ng-controller="resultsController as ctrl" style="background-color: #e1e1e1;">
    <div align="center" style="padding-bottom: 60px;">
        <div style="width: 700px; margin-top: 40px; background-color: #ffffff; text-align: left; border-radius: 4px;">
            <div style="padding-left: 25px; padding-right: 25px; padding-top: 20px; padding-bottom: 20px; font-family: OpenSansLight; font-size: 24px; border-bottom: 1px solid #edeeef;">Результаты тестирование</div>
            <div align="center" style="padding-top: 35px; padding-bottom: 35px;">
                <div style="display: inline-block;">
                    <div style="float: left; color: #84929d; font-family: OpenSansRegular; border-right: 1px solid #dee2e6; padding-right: 25px;">
                        <div>Верных ответов</div>
                        <div style="font-family: OpenSansSemiBold; padding-top: 8px; font-size: 32px;">{{index.results.summary.right}}</div>
                    </div>
                    <div style="float: left; color: #84929d; font-family: OpenSansRegular; border-right: 1px solid #dee2e6; padding-right: 25px; padding-left: 20px;">
                        <div>Неверных ответов</div>
                        <div style="font-family: OpenSansSemiBold; padding-top: 8px; font-size: 32px;">{{index.results.summary.wrong}}</div>
                    </div>
                    <div style="float: left; color: #84929d; font-family: OpenSansRegular; padding-left: 25px;">
                        <div>Итоговые результат</div>
                        <div style="font-family: OpenSansSemiBold; padding-top: 8px; font-size: 32px;">{{index.results.summary.total.toFixed(0)}}%</div>
                    </div>
                </div>
            </div>
            <!--NG-REPEAT ДЛЯ РАЗДЕЛА-->
            <div ng-repeat="section in index.results.sections track by $index">
                <div style="border-top: 1px solid #edeeef; border-bottom: 1px solid #edeeef; background-color: #f6f6f6;">
                    <div class="row" style="margin-left: 0; margin-right: 0; padding-right: 25px; padding-left: 25px;">
                        <div class="col-xs-6" style="padding: 0;">
                            <div style="font-size: 16px; font-family: OpenSansSemiBold; color: #8695a0; padding-top: 13px;">Раздел {{$index + 1}}</div>
                        </div>
                        <div class="col-xs-6" style="padding: 0; text-align: right;">
                            <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px; font-size: 12px; font-family: OpenSansRegular; color: #8695a0;">
                                <div style="float: left; padding-right: 10px; padding-top: 6px;">
                                    <div style="background-color: #fd6461; width: 10px; height: 10px;"></div>
                                </div>
                                <div style="float: left; padding-right: 30px; padding-top: 2px;">Неверно</div>
                                <div style="float: left; padding-right: 10px; padding-top: 6px;">
                                    <div style="background-color: #71ca58; width: 10px; height: 10px;"></div>
                                </div>
                                <div style="float: left; padding-top: 2px;">Верно</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 25px; padding-bottom: 25px; padding-right: 25px; padding-left: 25px;">
                    <div class="row" style="margin-left: 0; margin-right: 0;">
                        <div ng-repeat="answer in section.results track by $index" style="padding-left: 0; padding-right: 0;" class="col-xs-2" ng-class="answer.value ? 'table-result-right' : 'table-result-wrong'">{{answer.number}}</div>
                    </div>
                </div>
            </div>
            <div>
                <button ng-click="ctrl.goToMain()">ГЛАВНОЕ МЕНЮ</button>
            </div>
        </div>
    </div>
</div>