<style>
    .section-control-button{
        background-color: #59c566;
        color: #ffffff;
        border: none;
        height: 86px;
        width: 100%;
        outline: none;
        font-family: OpenSansSemiBold;
        font-size: 15px;
    }

    .section-control-button:hover{
        background-color: #52bf5f;
    }

    .table-result-right{
        width: 40px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #71ca58;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-family: OpenSansSemiBold;

    }

    .table-result-wrong{
        width: 40px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fd6461;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-family: OpenSansSemiBold;

    }

    .return-button{
        border: none;
        text-align: center;
        width: 100%;
        font-family: OpenSansSemiBold;
        color: #ffffff;
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: #6699ff;
    }

    .return-button:hover{
        background-color: #4a86fd;
    }

</style>

<div ng-controller="sectionController as section">
    <div ng-if="!section.isCompleted">
        <div style="width: 100%; background-color: #f4f5f6;">
            <div style="width: 1280px; margin: auto;">
                <div style="display: inline-block; color: #4d5056;">
                    <div style="padding-top: 15px; padding-bottom: 15px; float: left; text-align: center; border-right: 1px solid #e1e1e1; width: 370px;">
                        <div style="font-size: 14px; font-family: OpenSansRegular; color: #838e9e;">Номер раздела</div>
                        <div style="font-size: 22px; padding-top: 5px; font-family: OpenSansRegular;">{{index.sectionNumber + 1}} из {{index.testID.sections.length}}</div>
                    </div>
                    <div style="padding-top: 15px; padding-bottom: 15px; float: left; text-align: center; width: 370px; border-right: 1px solid #e1e1e1;">
                        <div style="font-size: 14px; font-family: OpenSansRegular; color: #838e9e;">Текущий раздел</div>
                        <div style="font-size: 22px; padding-top: 5px; font-family: OpenSansRegular;">Раздел {{index.sectionNumber + 1}}</div>
                    </div>
                    <div style="padding-top: 15px; padding-bottom: 15px; float: left; text-align: center; width: 370px;">
                        <div style="font-size: 14px; font-family: OpenSansRegular; color: #838e9e;">Оставшееся время раздела</div>
                        <div style="font-size: 22px; padding-top: 5px; font-family: OpenSansRegular;">
                            <timer ng-if="section.hasTime" countdown="section.remainingTime" interval="1000">
                                {{hhours + ':' + mminutes + ':' + sseconds}}
                            </timer>
                            <div ng-if="!section.hasTime">
                                00 : 00
                            </div>
                        </div>
                    </div>
                    <div style="float: left; width: 170px;">
                        <div>
                            <button ng-click="section.nextSection()" class="section-control-button">
                                <div>
                                    <div>{{index.isLastSection ? 'ЗАВЕРШИТЬ' : 'ПРОДОЛЖИТЬ'}}</div>
                                    <div>ТЕСТ</div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; background-color: #e1e1e1;">
            <div ng-if="section.hasTime" style="width: 1280px; margin: auto; padding-bottom: 30px;">
                <div class="row" style="margin-left: 0; margin-right: 0; margin-top: 30px; padding-right: 25px; padding-left: 15px;">
                    <div class="col-xs-9">
                        <div sticky>
                            <div class="row" style="margin-left: 0px; margin-right: 0px; background-color: #ffffff; border-bottom: 1px solid #e1e1e1; border-top-right-radius: 4px; border-top-left-radius: 4px; padding-top: 10px; padding-bottom: 10px;">
                                <div class="col-xs-4" style="padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
                                    <button ng-click="section.previousPage()" class="testNavButton"><i class="glyphicon glyphicon-chevron-left" style="color: #b8b9b9;"></i><span style="padding-left: 5px;">Предыдущая страница</span></button>
                                </div>
                                <div class="col-xs-4" style="padding-top: 8px; padding-bottom: 5px; text-align: center; font-family: OpenSansRegular; font-size: 15px; color: #687179;">{{section.pageIndex + 1}} из {{section.pages.length}}</div>
                                <div class="col-xs-4" style="text-align: right; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                                    <button ng-click="section.nextPage()" class="testNavButton"><span style="padding-right: 5px;">Следующая страница</span><i class="glyphicon glyphicon-chevron-right" style="color:#b8b9b9;"></i></button>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: #ffffff;">
                            <img ng-src="{{section.pages[section.pageIndex]}}" width="899px">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div sticky>
                            <table fixed-header style="height:570px; width:290px; position: absolute;">
                                <thead>
                                <tr>
                                    <th>
                                        <div style="background-color:#528dde; text-align:center; padding-top:10px; padding-bottom: 10px; font-family: OpenSansLight; font-size:18px; color:#ffffff; padding-left:10px; border-top-left-radius: 3px; border-top-right-radius: 3px; padding-right: 10px;">Лист ответов</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="answer in section.answers track by $index">
                                    <td style="background-color:#ffffff">
                                        <div style="display: inline-block; border-bottom: 1px solid #e1e1e1; width: 100%;">
                                            <div style="float: left; border-right: 1px solid #e1e1e1; height: 30px; width: 40px; padding-top: 5px; text-align: center;">{{$index + 1}}.</div>
                                            <div style="float: left; padding-right: 10px; padding-left: 10px; padding-top: 4px;"><input style="width: 200px;" ng-model="section.answers[$index]" type="text" class="searchBar" size="26"></div>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--ПЕРЕХОД НА ДРУГУЮ СЕКЦИЮ-->
            <div ng-if="!section.hasTime" style="width: 1280px; margin: auto;" align="center">
                <div style="margin-top: 40px; width: 620px; background-color: #ffffff; padding-top: 50px; padding-bottom: 40px;">
                    <div><img src="/static-files/images/time-over-icon.png" width="90px"></div>
                    <div style="font-family: OpenSansLight; font-size: 30px; padding-top: 15px;">Время истекло...</div>
                    <div style="font-family: OpenSansRegular; color: #616b73; padding-top: 30px; padding-right: 60px; padding-left: 60px;">К сожалению время отведенное для выполнения данного раздела истекло, все заполненные ответы будут засчитаны.</div>
                    <div style="font-family: OpenSansRegular; color: #616b73; padding-right: 50px; padding-left: 50px; padding-top: 20px;">Теперь Вы можете перейти к следующему разделу теста.</div>
                    <div style="padding-top: 30px;">
                        <button ng-click="section.endSection()" class="next-section-button">
                            <div style="display: inline-block;">
                                <div style="float: left; padding-right: 12px;">{{index.isLastSection ? 'ЗАВЕРШИТЬ ТЕСТ' : 'ПРОДОЛЖИТЬ ТЕСТ'}}</div>
                                <div style="float: left; padding-top: 3px;"><img src="/static-files/images/next-section-icon.png" width="16px"></div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <!--ЕСЛИ ТЕСТ ЗАВЕРШЕН-->

        </div>
    </div>

    <div ng-if="section.isCompleted" style="width: 1280px; margin: auto; padding-bottom: 40px; background-color: #e1e1e1;" align="center">
        <div style="margin-top: 40px; width: 700px; background-color: #ffffff; padding-top: 50px; padding-bottom: 40px;">
            <div style="opacity: 0.3;"><img src="/static-files/images/test-end-icon.png" width="85px"></div>
            <div style="font-family: OpenSansLight; font-size: 30px; padding-top: 15px;">Тест завершен!</div>
            <div style="font-family: OpenSansRegular; color: #616b73; padding-top: 10px; padding-right: 60px; padding-left: 60px;">Поздравляем! Вы завершили данный тест, все Ваши ответы были приняты и обработаныю. Вы можете узнать свой результат ниже.</div>
        </div>
        <div ng-controller="resultsController as ctrl" style="margin-top: 10px; width: 700px; background-color: #ffffff;">
                <div style="text-align: left; padding-left: 25px; padding-right: 25px; padding-top: 15px; padding-bottom: 15px; font-family: OpenSansRegular; font-size: 20px; border-bottom: 1px solid #edeeef;">Результаты тестирование</div>
                <div style="padding-right: 25px; padding-left: 25px; background-color: #f4f5f6; text-align: left; padding-top: 10px; padding-bottom: 10px; font-size: 13px; font-family: OpenSansSemiBold; color: #8695a0;">ОБЩИЙ РЕЗУЛЬТАТ</div>
                <div align="center" style="padding-top: 15px; padding-bottom: 15px;">
                    <div style="display: inline-block;">
                        <div style="float: left; color: #84929d; font-family: OpenSansRegular; border-right: 1px solid #dee2e6; padding-right: 25px;">
                            <div>Верных ответов</div>
                            <div style="font-family: OpenSansRegular; color: #000000; padding-top: 8px; font-size: 32px;">{{index.results.summary.right}}</div>
                        </div>
                        <div style="float: left; color: #84929d; font-family: OpenSansRegular; border-right: 1px solid #dee2e6; padding-right: 25px; padding-left: 20px;">
                            <div>Неверных ответов</div>
                            <div style="font-family: OpenSansRegular; color: #000000; padding-top: 8px; font-size: 32px;">{{index.results.summary.wrong}}</div>
                        </div>
                        <div style="float: left; color: #84929d; font-family: OpenSansRegular; padding-left: 25px;">
                            <div>Итоговые результат</div>
                            <div style="font-family: OpenSansRegular; color: #000000; padding-top: 8px; font-size: 32px;">{{index.results.summary.total.toFixed(0)}}%</div>
                        </div>
                    </div>
                </div>
                <!--NG-REPEAT ДЛЯ РАЗДЕЛА-->
                <div ng-repeat="section in index.results.sections track by $index">
                    <div style="border-top: 1px solid #edeeef; border-bottom: 1px solid #edeeef; background-color: #f4f5f6;">
                        <div class="row" style="margin-left: 0; margin-right: 0; padding-right: 25px; padding-left: 25px;">
                            <div class="col-xs-6" style="padding: 0; text-align: left;">
                                <div style="font-size: 13px; font-family: OpenSansSemiBold; color: #8695a0; padding-top: 10px;">РАЗДЕЛ {{$index + 1}}</div>
                            </div>
                            <div class="col-xs-6" style="padding: 0; text-align: right;">
                                <div style="display: inline-block; padding-top: 10px; padding-bottom: 10px; font-size: 12px; font-family: OpenSansRegular; color: #8695a0;">
                                    <div style="float: left; padding-right: 10px; padding-top: 6px;">
                                        <div style="background-color: #fd6461; width: 10px; height: 10px;"></div>
                                    </div>
                                    <div style="float: left; padding-right: 30px; padding-top: 2px;">Неверно</div>
                                    <div style="float: left; padding-right: 10px; padding-top: 6px;">
                                        <div style="background-color: #71ca58; width: 10px; height: 10px;"></div>
                                    </div>
                                    <div style="float: left; padding-top: 2px;">Верно</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 25px; padding-bottom: 25px; padding-right: 25px; padding-left: 25px;">
                        <div class="row" style="margin-left: 0; margin-right: 0;">
                            <div ng-repeat="answer in section.results track by $index" style="padding-left: 0; padding-right: 0;" class="col-xs-2" ng-class="answer.value ? 'table-result-right' : 'table-result-wrong'">{{answer.number}}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="return-button" ng-click="ctrl.goToMain()">ВЕРНУТЬСЯ В ЛИЧНЫЙ КАБИНЕТ</button>
                </div>
        </div>
    </div>


</div>
