<style>
    .start-test-button{
        background-color: #59c566;
        border: none;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: OpenSansSemiBold;
        border-radius: 3px;
        outline: none;
    }

    .start-test-button:hover{
        background-color: #49bb56;
    }

    .cancel-test-button{
        background-color: #eeeeee;
        border: none;
        color: #7f7f7f;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: OpenSansSemiBold;
        border-radius: 3px;
        outline: none;
    }

    .cancel-test-button:hover{
        background-color: #e5e5e5;
    }

</style>
<div ng-controller="startTestController as start">
    <div align="center" style="background-color: #e1e1e1; padding-bottom: 40px;">
        <div style="width: 700px; margin-top: 40px; background-color: #ffffff; text-align: left; border-radius: 4px;">
            <div style="display: inline-block;">
                <div style="float: left;">
                    <!--ОБЛОЖКА ТИПА ТЕСТА-->

                    <!--ЕСЛИ СВОЙ ТЕСТ-->
                    <div style="width: 150px; height: 160px; background-color: #00b7f2; border-top-left-radius: 4px;">
                        <div style="font-family: OpenSansBold; color: #ffffff; font-size: 22px; padding-left: 20px; padding-right: 20px; text-align: center; padding-top: 50px;">
                            <img src="/static-files/images/online-test-icon.png" width="70px">
                        </div>
                    </div>
                </div>
                <div style="float: left; font-family: OpenSansRegular; font-size: 30px; padding-top: 20px; padding-left: 35px; padding-right: 35px;">
                    <div>{{index.testID.name}}</div>
                    <div style="font-size: 13px; color: #84929d; font-family: OpenSansRegular;">Онлайн тестирование</div>
                    <div style="display: inline-block; padding-top: 5px;">
                        <div style="float: left; padding-top: 15px;"><button ng-click="start.startTest()" style="font-size: 13px;" class="start-test-button">НАЧАТЬ ТЕСТ</button></div>
                        <div style="float: left; padding-top: 15px; margin-left: 15px;"><button ng-click="start.cancelTest()" style="font-size: 13px;" class="cancel-test-button">ОТМЕНИТЬ</button></div>
                    </div>
                </div>
            </div>
            <div>
                <div style="width: 100%; background-color: #f4f5f6; border-top: 1px solid #e7eaec; border-bottom: 1px solid #e7eaec;" align="center">
                    <div style="display: inline-block; padding-top: 25px; padding-bottom: 25px; color: #838e9e; font-family: OpenSansRegular;">
                        <div style="float: left; border-right: 1px solid #e7eaec; padding-left: 35px; padding-right: 35px;">
                            <div>Разделов</div>
                            <div style="font-size: 30px; padding-top: 5px;">{{start.sections}}</div>
                        </div>
                        <div style="float: left; border-right: 1px solid #e7eaec; padding-left: 35px; padding-right: 35px;">
                            <div>Вопросов</div>
                            <div style="font-size: 30px; padding-top: 5px;">{{start.questions}}</div>
                        </div>
                        <div style="float: left; padding-left: 35px; padding-right: 35px;">
                            <div>Длительность</div>
                            <div style="font-size: 30px; padding-top: 5px;">{{start.duration/60}} мин</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left: 50px; padding-right: 50px; padding-top: 30px; padding-bottom: 40px; font-family: OpenSansRegular;">
                <div style="font-family: OpenSansSemiBold; font-size: 15px; padding-bottom: 3px; text-align: center;">Добро пожаловать на тест {{index.testID.name}}.</div>
                <div style="text-align: center; color: #838e9e; font-size: 13px;">( Перед началом ознакомтесь с правилами прохождения теста )</div>
                <div style="padding-top: 25px; display: inline-block; width: 100%;">
                    <div style="float: left; width: 50px; padding-top: 5px;"><img src="/static-files/images/test-bullet-icon.png" width="28px"></div>
                    <div style="float: left; width: 550px;">Каждый раздел теста имеет собственное отведенное время для выполнения задания, указанное в верхнем меню теста.</div>
                </div>
                <div style="padding-top: 10px; display: inline-block; width: 100%;">
                    <div style="float: left; width: 50px; padding-top: 5px;"><img src="/static-files/images/test-bullet-icon.png" width="28px"></div>
                    <div style="float: left; width: 550px;">По истечению времени выролнения раздела, Вы уже не сможете внести оставшиеся ответы, будьте внимательны и вносите ответы своевременно.</div>
                </div>
                <div style="padding-top: 10px; display: inline-block; width: 100%;">
                    <div style="float: left; width: 50px; padding-top: 5px;"><img src="/static-files/images/test-bullet-icon.png" width="28px"></div>
                    <div style="float: left; width: 550px;">После окончания работы над разделом и переходе к следующему, вернуться к выполнению заданий предыдущего раздела будет нельзя.</div>
                </div>
                <div style="padding-top: 10px; display: inline-block; width: 100%;">
                    <div style="float: left; width: 50px; padding-top: 5px;"><img src="/static-files/images/test-bullet-icon.png" width="28px"></div>
                    <div style="float: left; width: 550px;">Если Вы выполнили задание Раздела до окончания отведенного времени, вы можете перейти на следующий раздел, нажав на кнопку "Продолжить тест"</div>
                </div>
            </div>
        </div>
    </div>
</div>