<style>
    .delete-file-button{
        opacity: 0.6;
    }

    .delete-file-button:hover{
        opacity: 1;
    }
</style>
<div ng-controller="filesControllerGroupInfo as files" class="md-box" style="margin-bottom: 30px; margin-top: 1px;">
    <!--<div class="md-box-header" style="width: 100%; border:none; font-family: OpenSansBold; display: inline-block; padding-top: 0px; padding-bottom: 0px;">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-6" style="padding-top: 18px; padding-bottom: 18px;">СПИСОК ФАЙЛОВ ГРУППЫ</div>-->
            <!--<div class="col-xs-6" style="text-align: right; padding-top: 15px;">-->
                <!--<button ng-click="files.addFile()" class="add-new-file-button">ДОБАВИТЬ ФАЙЛ</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">
        <div class="row" style="margin: 0;">
            <div class="col-xs-6" style="padding: 0;">Список файлов группы</div>
            <div class="col-xs-6" style="padding: 0; text-align: right;"><button ng-click="files.addFile()" class="edunet-button-default" style="font-family: OpenSansSemiBold;">ДОБАВИТЬ ФАЙЛ</button></div>
        </div>
    </div>


    <!--Когда файлов нет-->
    <div ng-if="files.files.length == 0" class="md-box" style="margin-right: 0px; margin-left: 0px;">
        <div align="center" style="padding-bottom: 50px; padding-top: 50px;">
            <div style="opacity: 0.9;"><img src="/static-files/images/empty-files-icon.png" height="165px"></div>
            <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Файлов нет</div>
            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 280px; padding-right: 280px; padding-top: 10px;">На данный момент файлов нет, для добавления документов, нажите на кнопку "Добавить файл"</div>
        </div>
    </div>


    <div ng-if="files.files.length != 0">
        <div class="row" style="margin-left: 0px; margin-right: 0px; background-color: #f4f5f6; border-bottom: 1px solid #e7eaec;">
            <div class="col-xs-5" style="width: 625px;  color: #838e9e; font-size: 11px; font-family: OpenSansBold; padding-top: 10px; padding-bottom: 10px; padding-right: 30px; padding-left: 25px;">НАЗВАНИЕ ФАЙЛА</div>
            <div class="col-xs-7" style="width: 200px; color: #838e9e; font-size: 11px; font-family: OpenSansBold; padding-top: 10px; padding-bottom: 10px; padding-right: 30px; padding-left: 30px;">ДАТА</div>
            <div class="col-xs-7" style="width: 100px; color: #838e9e; font-size: 11px; font-family: OpenSansBold; padding-top: 10px; padding-bottom: 10px; padding-right: 30px; padding-left: 30px;">РАЗМЕР</div>
        </div>
        <div style="background-color: #ffffff; min-height: 310px;">
            <div class="teacher-file-item" style="border-bottom: 1px solid #e7eaec; border-top:none; background-color: #ffffff;" ng-repeat="file in files.files">
                <div style="float: left;">
                    <div><img src="/static-files/images/other-type-file-icon.png" height="34px"></div>
                </div>
                <div style="width: 600px; float: left; padding-left: 15px;">
                    <div class="teacher-file-item-filename" style="padding-top: 7px; padding-bottom: 5px;"><a href="{{file.url}}" download>{{file.name}}</a> </div>
                </div>
                <div style="padding-top: 7px; padding-bottom: 5px; width: 200px; float:left; color: #838e9e; font-family: OpenSansRegular;">{{file.createdAt | timeFilter }}</div>
                <div style="padding-top: 7px; padding-bottom: 5px; width: 90px; float:left; color: #838e9e; font-family: OpenSansRegular;">{{file.size | memoryUsageFilter}}</div>
                <div class="delete-file-button" ng-click="files.deleteFileByID(file._id)" style="float: left; margin-left: 30px; margin-top: 5px;">
                    <img src="/static-files/images/delete-student-icon.png" height="18px">
                    <md-tooltip md-direction="top">
                        Удалить
                    </md-tooltip>
                </div>
            </div>
        </div>
    </div>
</div>
