<div ng-controller="addTestFirstStepController as first" class="md-box" style="margin-left: 150px; margin-right: 150px;">
    <!--<div class="md-box-header">ШАГ 1:&nbsp;&nbsp;&nbsp;ЗАПОЛНЕНИЕ ОСНОВНОЙ ИНФОРМАЦИИ</div>-->
    <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Шаг 1: &nbsp;&nbsp;Заполнение основной информации</div>

    <div style="border-bottom: 1px solid #e7eaec; width: 100%; padding-top: 35px; padding-bottom: 50px; padding-left: 50px; padding-right: 50px;">
        <div style="color: #000000; font-family: OpenSansSemiBold; font-size: 18px;">Название теста</div>
        <div style="color: #838e9e; font-size: 13px; font-family: OpenSansRegular; padding-top: 4px;">Данное название будет отображаться у студентов и в списке всех тестов центра</div>
        <div style="padding-top: 25px; text-align: center;"><input ng-model="ctrl.name" type="text" style="width:480px" class="md-text-input" placeholder="Введите название"></div>
    </div>

    <!--<div style="border-bottom: 1px solid #eff2f7; width: 100%; padding-top: 25px; padding-bottom: 30px; padding-left: 50px; padding-right: 50px;">-->
        <!--<div style="color: #838e9e; font-family: OpenSansBold; font-size: 18px;">Тип теста</div>-->
        <!--<div style="color: #838e9e; font-size: 12px; font-family: OpenSansRegular;">Выберите тип теста из списка доступных тестов, указанного ниже.</div>-->
        <!--<div align="center">-->
            <!--<div style="display: inline-block; padding-top: 30px;">-->
                <!--<div style="float: left;">-->
                    <!--<button class="test-type-active">-->
                        <!--<div style="font-family: OpenSansBold; font-size: 20px; color: #528dde;">СВОЙ ТЕСТ</div>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div style="float: left; margin-left: 15px;">-->
                    <!--<button class="test-type">-->
                        <!--<img src="/static-files/images/ielts-icon.png" width="100px" style="margin-top: 5px;">-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div style="float: left; margin-left: 15px;">-->
                    <!--<button class="test-type">-->
                        <!--<img src="/static-files/images/toefl-icon.png" width="100px">-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div style="width: 100%; padding-top: 35px; padding-bottom: 50px; padding-left: 50px; padding-right: 50px;">
        <div style="color: #000000; font-family: OpenSansSemiBold; font-size: 18px;">Разделы теста</div>
        <div style="color: #838e9e; font-size: 13px; padding-top: 5px; font-family: OpenSansRegular;">Укажите количество разделов теста, каждый раздел будет иметь свое задание, время прохождения и лист ответов</div>
        <div align="center">
            <div style="display: inline-block; padding-top: 40px;">
                <div style="float: left;" ng-click="first.decreaseSections()">
                    <button class="counter-left">
                        <img src="/static-files/images/counter-minus-icon.png" width="12px">
                    </button>
                </div>
                <div style="float: left;">
                    <div class="counter-center">{{ctrl.sections.length}}</div>
                </div>
                <div style="float: left;" ng-click="first.increaseSections()">
                    <button class="counter-right">
                        <img src="/static-files/images/counter-plus-icon.png" width="12px">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--<div>-->
        <!--<div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;">-->
            <!--<div class="col-xs-6">-->
                <!--<button ng-click="first.cancel()" class="cancel-group-button" style="font-size: 14px;">ОТМЕНИТЬ</button>-->
            <!--</div>-->
            <!--<div class="col-xs-6" style="text-align: right">-->
                <!--<button ng-click="first.next()" type="submit" class="submit-group-button" style="font-size: 14px;">ДАЛЕЕ</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
        <div style="float: right;">
            <button ng-click="first.next()" type="submit" class="submit-group-button" style="width: 150px;">Далее</button>
        </div>
        <div style="float: right; margin-right: 20px;">
            <button ng-click="first.cancel()" class="cancel-group-button">Отменить</button>
        </div>
    </div>
</div>