<div ng-controller="addTestSecondStepController as second" class="md-box" style="margin-left: 150px; margin-right: 150px;">
    <!--<div class="md-box-header" style="border: none;">ШАГ 2:&nbsp;&nbsp;&nbsp;ДОБАВЛЕНИЕ РАЗДЕЛОВ</div>-->
    <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Шаг 2: &nbsp;&nbsp;Заполнение разделов теста</div>

    <!--ТУТ NG-REPEAT-->
    <div ng-repeat="section in ctrl.sections track by $index">
        <div style="background-color: #f4f5f6; border-bottom: 1px solid #e7eaec; padding-top: 10px; padding-bottom: 10px; color: #838e9e; font-size: 16px; text-align: center; font-family: OpenSansSemiBold; padding-left: 50px; padding-right: 50px;">
            Раздел {{$index + 1}}
        </div>
        <div style="border-bottom: 1px solid #e7eaec; width: 100%; padding-top: 35px; padding-bottom: 40px; padding-left: 50px; padding-right: 50px;">
            <div style="color: #000000; font-family: OpenSansSemiBold; font-size: 18px;">Задание раздела</div>
            <div style="color: #838e9e; font-size: 13px; font-family: OpenSansRegular; padding-top: 4px;">Загрузите необходимые файлы и укажите параметры показа</div>
            <div align="center" style="margin-top: 30px;">
                <div style="border-top-left-radius: 4px; border-top-right-radius: 4px; border: 1px solid #e7eaec; border-bottom: none; width: 700px; background-color: #f4f5f6; font-family: OpenSansRegular; padding-top: 20px; padding-bottom: 20px; font-size: 16px; text-align: left; padding-left: 30px;">
                    <div>Файл с заданием</div>
                    <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 5px;">Загрузите файл с текстом задания в формате PDF</div>
                </div>
                <div style="width: 700px; border: 1px solid #e7eaec; border-top: none; padding-bottom: 25px; padding-top: 10px; padding-left: 35px; padding-right: 30px;">
                    <div class="file-input1" style="height: 38px;">
                        <input style="width: 500px;" type="file" ngf-select ngf-pattern="'application/pdf'" ngf-accept="'application/pdf'" ng-change="resolveFileName()" ng-model="section.file">
                        <span>{{section.file.name || 'Выберите файл c заданием'}}</span>
                    </div>
                </div>
                <div style="width: 700px; background-color: #f4f5f6; font-family: OpenSansRegular; border-left: 1px solid #e7eaec; border-right: 1px solid #e7eaec; padding-top: 20px; padding-bottom: 20px; font-size: 16px; text-align: left; padding-left: 30px;">
                    <div>Параметры показа</div>
                    <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 5px;">Найтройте параметры отображения файла</div>
                </div>
                <div class="row" style="width: 700px; border: 1px solid #e7eaec; border-top: none;">
                    <div class="col-xs-6" style="text-align: left; border-right: 1px solid #d6dbe5; padding-top: 25px; padding-bottom: 10px; padding-left: 30px;">
                        <md-radio-group ng-model="section.pages">
                            <md-radio-button value="ALL" style="color: #777777">Отображать весь файл</md-radio-button>
                            <md-radio-button value="INTERVAL" style="color: #777777">Показать выбранный интервал</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-xs-6">
                        <div style="font-family: OpenSansRegular; color: #838e9e; font-size: 14px; padding-top: 22px;">Укажите страницы:</div>
                        <div ng-if="section.pages == 'INTERVAL'" style="display: inline-block;">
                            <div style="float: left; padding-right: 10px; font-size: 15px; font-family: OpenSansRegular; padding-top: 8px;">с</div>
                            <div style="float: left;">
                                <input numbers-only ng-model="section.pagesFrom" type="text" style="width:50px" class="md-text-input" placeholder="">
                            </div>
                            <div style="float: left; padding-right: 10px; padding-left: 10px; font-size: 15px; font-family: OpenSansRegular; padding-top: 8px;">по</div>
                            <div style="float: left;">
                                <input numbers-only ng-model="section.pagesTo" type="text" style="width:50px" class="md-text-input" placeholder="">
                            </div>
                        </div>
                        <div ng-if="section.pages == 'ALL'" style="font-family: OpenSansRegular; padding-top: 10px; font-size: 15px;">Все страницы</div>
                    </div>
                </div>
                <div ng-if="1">
                    <div style="width: 700px; background-color: #f4f5f6; font-family: OpenSansRegular; border-left: 1px solid #e7eaec; border-right: 1px solid #e7eaec; padding-top: 20px; padding-bottom: 20px; font-size: 16px; text-align: left; padding-left: 30px;">
                        <div>Аудиофайл задания</div>
                        <div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-top: 5px;">Загрузите аудиофайл, если необходимо по заданию</div>
                    </div>
                    <div style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; width: 700px; border: 1px solid #e7eaec; border-top: none; padding-bottom: 25px; padding-top: 10px; padding-left: 30px; padding-right: 30px;">
                        <div class="file-input1" style="height: 38px;">
                            <input style="width: 500px;" type="file" ngf-select ng-change="resolveFileName()" ng-model="section.audioFile">
                            <span>{{section.audioFile.name || 'Выберите аудиофайла задания' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-bottom: 1px solid #e7eaec; width: 100%; padding-top: 35px; padding-bottom: 40px; padding-left: 50px; padding-right: 50px;">
            <div style="color: #000000; font-family: OpenSansSemiBold; font-size: 18px;">Продолжительность</div>
            <div style="color: #838e9e; font-size: 13px; font-family: OpenSansRegular; padding-top: 5px;">Укажите продолжительность раздела в минутах, данное время будет дано для завершения этого раздела.</div>
            <div align="center">
                <div style="display: inline-block; padding-top: 20px; padding-bottom: 10px;">
                    <div style="float: left;">
                        <input numbers-only ng-model="section.minutesCount" type="text" style="width:60px; text-align: center; font-size: 20px;" class="md-text-input" placeholder="00">
                    </div>
                    <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 20px; padding-top: 8px;">Минут</div>
                </div>
            </div>
        </div>
        <div style="width: 100%; padding-top: 35px; padding-bottom: 40px; padding-left: 50px; padding-right: 50px; border-bottom: 1px solid #e7eaec;">
            <div style="color: #000000; font-family: OpenSansSemiBold; font-size: 18px;">Количество вопросов</div>
            <div style="color: #838e9e; font-size: 13px; font-family: OpenSansRegular; padding-top: 5px;">Загрузите необходимые файлы, укажите время проведения и укажите кодичество вопросов для данного раздела</div>
            <div align="center">
                <div style="display: inline-block; padding-top: 20px; padding-bottom: 10px;">
                    <div style="float: left;">
                        <input numbers-only ng-model="section.questionsCount" type="text" style="width:60px; text-align: center; font-size: 20px;" class="md-text-input" placeholder="00">
                    </div>
                    <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 20px; padding-top: 8px;">Вопросов</div>
                </div>
            </div>
        </div>
    </div>


    <!--<div>-->
        <!--<div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;">-->
            <!--<div class="col-xs-6">-->
                <!--<button ng-click="second.cancel()" class="cancel-group-button" style="font-size: 14px;">НАЗАД</button>-->
            <!--</div>-->
            <!--<div class="col-xs-6" style="text-align: right">-->
                <!--<button ng-click="second.next()" type="submit" class="submit-group-button" style="font-size: 14px;">ДАЛЕЕ</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div style="background-color: #f4f5f6; display: inline-block; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
        <div style="float: right;">
            <button ng-click="second.next()" type="submit" class="submit-group-button" style="width: 150px;">Далее</button>
        </div>
        <div style="float: right; margin-right: 20px;">
            <button ng-click="second.cancel()" class="cancel-group-button">Назад</button>
        </div>
    </div>

</div>