<style>
    textarea{
       border: none;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
        resize: none;
    }

    textarea::-webkit-input-placeholder {color:#cccccc;}
    textarea::-moz-placeholder          {color:#cccccc;}/* Firefox 19+ */
    textarea:-moz-placeholder           {color:#cccccc;}/* Firefox 18- */
    textarea:-ms-input-placeholder      {color:#cccccc;}

</style>
<div  ng-controller="addTestThirdStepController as third" class="md-box" style="margin-left: 150px; margin-right: 150px;">
    <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Шаг 3: &nbsp;&nbsp;Заполнение листа ответов</div>

    <!--ТУТ NG-REPEAT ДЛЯ РАЗДЕЛА-->
    <div ng-repeat="section in ctrl.sections track by $index">
        <div style="background-color: #f4f5f6; border-bottom: 1px solid #e7eaec; padding-top: 10px; padding-bottom: 10px; color: #838e9e; font-size: 16px; text-align: center; font-family: OpenSansSemiBold; padding-left: 50px; padding-right: 50px;">
            Раздел {{$index + 1}}
        </div>
        <!--ТУТ NG-REPEAT ДЛЯ ВОПРОСА-->
        <div ng-repeat="answer in section.answers track by $index" class="row" style="border-bottom: 1px solid #edeeef; margin-left: 0; margin-right: 0; font-family: OpenSansRegular; font-size: 15px;">
            <div class="col-xs-1" style="padding-top: 14px; padding-bottom: 14px; text-align: center;">{{$index + 1}}</div>
            <div class="col-xs-11" style="border-left: 1px solid #edeeef; padding-top: 12px; padding-bottom: 12px; padding-right: 30px; padding-left: 30px;">
                <textarea ng-model="section.answers[$index]" msd-elastic rows="1" style="width: 100%;" placeholder="Введите правильный ответ, если правильных ответов несколько, введите все через Enter"></textarea>
            </div>
        </div>
    </div>
    <!--<div>-->
        <!--<div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;">-->
            <!--<div class="col-xs-6">-->
                <!--<button ng-click="third.cancel()" class="cancel-group-button" style="font-size: 14px;">НАЗАД</button>-->
            <!--</div>-->
            <!--<div class="col-xs-6" style="display: inline-block;">-->
                <!--<div style="float: right;">-->
                    <!--<button ng-click="third.addTest()" type="submit" class="submit-group-button" style="font-size: 14px;">СОХРАНИТЬ</button>-->
                <!--</div>-->
                <!--<div style="float: right; margin-right: 10px;">-->
                    <!--<button ng-click="third.draw()" class="cancel-group-button" style="font-size: 14px; width: 180px;">ЗАПОЛНИТЬ ПОЗЖЕ</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div style="background-color: #f4f5f6; display: inline-block; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
        <div style="float: right;">
            <button ng-click="third.addTest()" type="submit" class="submit-group-button" style="width: 150px;">Сохранить</button>
        </div>
        <div style="float: right; margin-right: 20px;">
            <button ng-click="third.cancel()" class="cancel-group-button">Назад</button>
        </div>
    </div>
</div>