<div ng-controller="centerInfoController as ctrl">
    <h3>Учителя</h3>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Почта</th>
            <th>Дата создания</th>
            <th>Последняя авторизация</th>
            <th>Последний визит</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="teacher in ctrl.teachers track by $index" ng-click="ctrl.adminInfo(teacher._id)">
            <th scope="row">{{$index + 1}}</th>
            <td>{{teacher.lastName + ' ' + teacher.firstName}}</td>
            <td>{{teacher.phone}}</td>
            <td>{{teacher.email}}</td>
            <td>{{teacher.createdAt | date : 'dd.MM.yyyy'}}</td>
            <td>{{teacher.token.createdAt | date : 'MMM d, y h:mm:ss a'}}</td>
            <td>{{teacher.lastVisit | date : 'MMM d, y h:mm:ss a'}}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <h3>Студенты</h3>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Почта</th>
            <th>Дата создания</th>
            <th>Последняя авторизация</th>
            <th>Последний визит</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in ctrl.students track by $index" ng-click="ctrl.adminInfo(student._id)">
            <th scope="row">{{$index + 1}}</th>
            <td>{{student.lastName + ' ' + student.firstName}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.email}}</td>
            <td>{{student.createdAt | date : 'dd.MM.yyyy'}}</td>
            <td>{{student.token.createdAt | date : 'MMM d, y h:mm:ss a'}}</td>
            <td>{{student.lastVisit| date : 'MMM d, y h:mm:ss a'}}</td>

        </tr>
        </tbody>
    </table>
    <h3>Группы</h3>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Учитель</th>
            <th>Колличество студентов</th>
            <th>Дата создания</th>
            <th>Занимаемая память</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in ctrl.groups track by $index" ng-click="ctrl.adminInfo(group._id)">
            <th scope="row">{{$index + 1}}</th>
            <td>{{group.name}}</td>
            <td>{{group.teacherID.name || 'Вакансия'}}</td>
            <td>{{group.students.length}}</td>
            <td>{{group.createdAt | date : 'dd.MM.yyyy'}}</td>
            <td>{{group.memory | memoryUsageFilter}}</td>
        </tr>
        </tbody>
    </table>

</div>