<div ng-controller="editCenterController as self">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Тариф</h5>
        </div>
        <div class="col-xs-2">
            <select class="form-control" ng-model="self.center.tariffID">
                <option ng-repeat="tariff in self.tariffs track by $index" value="{{tariff._id}}">{{tariff.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Оплата</h5>
        </div>
        <div class="col-xs-2">
           <input type="checkbox" ng-model="self.center.isPaid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <button class="btn btn-default" ng-click="self.updateCenter()">Сохранить</button>
        </div>
    </div>
</div>