<div ng-controller="centersController as ctrl">
    <div ng-if="ctrl.isAdd" ng-include="'/app-manager/views/centers/templates/add-center.html'"></div>
    <div ng-if="!ctrl.isAdd">
        <button ng-click="ctrl.makeAdd()" class="btn btn-default">Добавить центр</button>
        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>НАЗВАНИЕ</th>
                <th>КЛИЕНТ</th>
                <th>ПРИСОЕДИНЕНИЕ</th>
                <th>ТАРИФ</th>
                <th>СТУДЕНТЫ</th>
                <th>ПАМЯТЬ</th>
                <th>ДЕЙСТВИЯ</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="center in ctrl.centers track by $index">
                <th scope="row">{{$index + 1}}</th>
                <td>{{center.name}}</td>
                <td>{{center.clientID.name}}</td>
                <td>{{center.createdAt | date : 'dd.MM.yyyy'}}</td>
                <td>{{center.clientID.tariffID.name}}</td>
                <td>
                    <div>
                        АКТИВНЫЕ : {{center.students.active}}
                    </div>
                    <div>
                        НОВЫЕ : {{center.students.waiting}}
                    </div>
                    <div>
                        АРХИВ : {{center.students.archive}}
                    </div>
                </td>

                <td width="100px">{{center.memory | memoryUsageFilter}}</td>
                <td>
                    <button class="btn btn-default" ng-click="ctrl.centerInfo(center._id)">Информация</button>
                    <button class="btn btn-default" ng-click="ctrl.edit(center._id)">Редактировать</button>
                    <button class="btn btn-default" ng-click="ctrl.del(center._id)">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>