<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 500px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
    }
    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
    }

    .md-textarea-input{
        border: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
        resize: none;
    }

    .md-textarea-input:focus{
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .modal-add-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-add-button:hover{
        background-color: #59b7ee;
    }

    .modal-cancel-button{
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        color: #676b6d;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-cancel-button:hover{
        background-color: #e3e3e3;
    }

</style>


<div class="md-modal-box" ng-controller="addNoteController as modal">
    <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ДОБАВЛЕНИЕ ЗАМЕТКИ</div>
    <div style="padding-top: 20px; padding-left: 40px; padding-right: 40px;">
        <textarea ng-model="modal.content" class="md-textarea-input" rows="3" style="width: 100%;" placeholder="Напишите текст задания тут"></textarea>
        <div ng-if="modal.contentError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
    </div>

    <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-bottom: 20px; padding-top: 30px; width: 100%;">
        <div style="float: right;">
            <button ng-click="modal.addNote()" class="modal-add-button">ДОБАВИТЬ</button>
        </div>
        <div style="float: right; padding-right: 10px;">
            <button ng-click="closeThisDialog()" class="modal-cancel-button">ОТМЕНИТЬ</button>
        </div>

    </div>
</div>