<style>
        .md-box{
            background-color: #ffffff;
            border-radius: 3px;
            border-top: 1px solid #dfe1e6;
            border-left: 1px solid #dfe1e6;
            border-right: 1px solid #dfe1e6;
            border-bottom: 1px solid #d1d3d8;
        }

        .md-box-header{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 14px;
            color: #9ca5b1;
            border-bottom: 1px solid #e7eaec;
            background-color: #f5f8fb;
            font-family: OpenSansSemiBold;
        }

        .rounded-image{
            border-radius: 50%;
        }

        .profile-button{
            background-color: #d6dcdf;
            opacity: 0.8;
            border: none;
            border-radius: 2px;
            color: #4f5f77;
            width: 140px;
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 14px;
        }

        .profile-button:hover{
            background-color: #d6dcdf;
            opacity: 1;
        }

        .start-test-button{
            background-color: #74c2f0;
            border: none;
            border-radius: 2px;
            color: #ffffff;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 11px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .start-test-button:hover{
            background-color: #59b7ee;
        }

        .result-review-button{
            background-color: #74c2f0;
            border: none;
            border-radius: 2px;
            color: #ffffff;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 11px;
            font-family: OpenSansSemiBold;
            padding-left: 6px;
            padding-right: 6px;
        }

        .result-review-button:hover{
            background-color: #59b7ee;
        }

    </style>
<div ng-controller="profileController as ctrl">
    <div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 15px;">
        <div class="col-xs-6" style="padding-left: 0px; padding-right: 7px; width: 340px;">
            <div class="md-box">
                <div align="center" style="padding-top: 30px;">
                    <img class="rounded-image" ng-src="{{ctrl.imageUrl}}" width="200px">
                </div>
                <div align="center" style="padding-top: 23px; font-size: 21px;">
                    {{ctrl.student | nameFilter}}
                </div>
                <div align="center" style="padding-top: 10px; color: #838e9e; font-size: 18px;">
                    {{ctrl.student.phone | phoneFilter}}
                </div>
                <div style="margin-left: 0px; margin-right: 0px; display: inline-block; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 30px;">
                    <div style="float: left;">
                        <button ng-click="ctrl.editPassword()" class="profile-button">{{'MY_PAGE.CHANGE_PASSWORD' | translate}}</button>
                    </div>
                    <div style="float: left; padding-left: 10px;">
                        <button ng-click="ctrl.editProfile()" class="profile-button">{{'MY_PAGE.EDIT_PROFILE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="padding-right: 0px; padding-left: 7px; width: 445px;">
            <div class="md-box" style="margin-bottom: 14px; min-height: 150px;">
                <div class="md-box-header">{{'MY_PAGE.HOMEWORK.TITLE' | translate}}</div>
                <div style="display: inline-block; padding-top: 18px; padding-bottom: 18px; padding-left: 20px; padding-right: 20px;">
                    <div style="float: left; padding-top: 2px;">
                        <img src="/static-files/images/homework-task-icon.png" width="20px">
                    </div>
                    <div ng-if="ctrl.hasHomeworks" style="float: left; width:365px; padding-left: 15px;">
                        <div style="color: #939393; font-size: 14px;">Задание на {{ctrl.homework.createdAt | date :'dd.MM.yyyy'}}</div>
                        <div style="padding-top: 5px; font-size: 14px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ctrl.homework.content}} </div>
                    </div>
                    <div ng-if="!ctrl.hasHomeworks" style="width: 400px; padding-left: 35px; padding-top: 2px;">
                        <div style="font-family: OpenSansRegular; font-size: 15px;">{{'MY_PAGE.HOMEWORK.EMPTY' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="md-box" style="margin-bottom: 14px;">
                <div class="md-box-header">{{'MY_PAGE.TEST.TITLE' | translate}}</div>
                <div style="display: inline-block; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                    <div style="float: left; padding-top: 4px;">
                        <img src="/static-files/images/latest-test-icon.png" width="20px">
                    </div>
                    <div ng-if="!ctrl.hasTest" style="float:left; padding-left: 15px; padding-right: 15px; padding-top: 3px; width: 275px;">
                        <div style="width: 240px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{'MY_PAGE.TEST.EMPTY' | translate}}</div>
                    </div>

                    <div ng-if="ctrl.hasTest" style="float:left;">
                        <div style="display: inline-block">
                            <div style="float: left; width: 245px; margin-left: 20px; margin-right: 10px; padding-top: 3px;">
                                <div style="width: 235px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; font-family: OpenSansRegular; font-size: 15px;">
                                    Новый тест
                                </div>
                            </div>
                            <div style="float: left;">
                                <button class="start-test-button">НАЧАТЬ ТЕСТ</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="md-box">
                <div class="md-box-header">{{'MY_PAGE.RESULT.TITLE' | translate}}</div>
                <div style="display: inline-block; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                    <div style="float: left; padding-top: 2px;">
                        <img src="/static-files/images/latest-result-icon.png" width="20px">
                    </div>
                    <div style="float:left; padding-left: 15px; padding-right: 15px; padding-top: 3px; width: 260px;">
                        <div style="width: 225px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; font-family: OpenSansRegular; font-size: 15px;">{{'MY_PAGE.RESULT.EMPTY' | translate}}</div>
                    </div>
                    <div style="float: left; padding-left: 10px; padding-right: 10px; padding-top: 3px; width: 80px; font-family: OpenSansSemiBold;"></div>
                    <!--<div style="float:left;">-->
                        <!--<button class="result-review-button"><img src="/static-files/images/result-review-icon.png" width="20px"></button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 14px; margin-bottom: 30px;">
        <div class="md-box">
            <div class="md-box-header" style="background-color: #ffffff; color: #838e9e; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #e7eaec; font-size: 15px;">{{'MY_PAGE.SCHEDULE.TITLE' | translate}}</div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div ng-if="ctrl.group.schedule.length>0">
                    <div ng-repeat="day in ctrl.schedule">
                        <div ng-show="day.hasLesson" class="col-xs-2" style="padding: 0px; border-right: 1px solid #e7eaec; height: 170px;">
                            <div style="background-color: #ffffff; height: 170px; padding-top: 15px;">
                                <div align="center" style="color: #838e9e; padding-bottom: 10px; border-bottom: 1px dashed #e7eaec;">{{day.name}}</div>
                                <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-top: 18px;">
                                    <div style="float: left;"><img src="/static-files/images/lesson-start-time-icon.png" width="22px"></div>
                                    <div style="float: left; font-size: 17px; padding-left: 10px;">{{day.lesson.startTime | date : 'HH:mm'}}</div>
                                </div>
                                <div></div>
                                <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-top: 5px;">
                                    <div style="float: left;"><img src="/static-files/images/lesson-end-time-icon.png" width="22px"></div>
                                    <div style="float: left; font-size: 17px; padding-left: 10px;">{{day.lesson.endTime | date : 'HH:mm'}}</div>
                                </div>
                                <div style=" padding-left:20px; padding-right:20px; text-align: center; word-wrap: break-word; width: 127px; padding-top: 12px;">{{day.lesson.classroomID.name}}</div>
                            </div>
                        </div>
                        <div ng-hide="day.hasLesson" class="col-xs-2" style="padding: 0px; border-right: 1px solid #e7eaec; height: 170px;">
                            <div style="background-color: #f4f5f6; padding-top: 15px; height: 170px;">
                                <div align="center" style="color: #dadada;">{{day.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="ctrl.group.schedule.length == 0">
                <div class="row" style="padding-bottom: 50px;">
                    <div class="col-xs-4" style="text-align: right; padding-right: 20px;">
                        <div style="padding-top: 42px;"><img src="/static-files/images/empty-student-schedule.png" width="100px"></div>
                    </div>
                    <div class="col-xs-8" style="padding-top: 14px; padding-right: 100px;">
                        <div style="font-family: OpenSansBold; padding-top: 30px; color: #838e9e; font-size: 15px;">{{'MY_PAGE.SCHEDULE.EMPTY_TITLE' | translate}}</div>
                        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #838e9e; padding-right: 50px;">{{'MY_PAGE.SCHEDULE.EMPTY_TEXT' | translate}}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
