<style>
    .control-line-blocks-view-active-button{
        background-color: #c2c9d5;
        border: none;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 60px;
        border: 1px solid #c2c9d5;
        border-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .control-line-blocks-view-nonactive-button{
        background-color: transparent;
        border: none;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 60px;
        border: 1px solid #c2c9d5;
        border-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }



    .control-line-list-view-nonactive-button{
        background-color: transparent;
        border: 1px solid #c2c9d5;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        /*color: #59b7ee;*/
        width: 60px;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .control-line-list-view-active-button{
        background-color: #c2c9d5;
        border: 1px solid #c2c9d5;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        /*color: #59b7ee;*/
        width: 60px;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
</style>
<div ng-click="self.changeViewStyle(self.viewStyles.VIEW_STYLE_LIST)" style="float: right; padding-top: 10px; padding-bottom: 10px;">
    <button ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_LIST"  class="control-line-list-view-active-button">
        <img src="/static-files/images/control-line-list-view-active-icon.png" height="20px">
        <md-tooltip md-direction="top">
            Показать списком
        </md-tooltip>
    </button>
    <button ng-if="self.viewStyle != self.viewStyles.VIEW_STYLE_LIST" class="control-line-list-view-nonactive-button">
        <img src="/static-files/images/control-line-list-view-nonactive-icon.png" height="20px">
        <md-tooltip md-direction="top">
            Показать списком
        </md-tooltip>
    </button>
</div>
<div ng-click="self.changeViewStyle(self.viewStyles.VIEW_STYLE_BLOCKS)" style="float: right; padding-top: 10px; padding-bottom: 10px;">
    <button ng-if="self.viewStyle == self.viewStyles.VIEW_STYLE_BLOCKS" class="control-line-blocks-view-active-button">
        <img src="/static-files/images/control-line-blocks-view-active-icon.png" height="20px">
        <md-tooltip md-direction="top">
            Показать блоками
        </md-tooltip>
    </button>
    <button ng-if="self.viewStyle != self.viewStyles.VIEW_STYLE_BLOCKS" class="control-line-blocks-view-nonactive-button">
        <img src="/static-files/images/control-line-blocks-view-nonactive-icon.png" height="20px">
        <md-tooltip md-direction="top">
            Показать блоками
        </md-tooltip>
    </button>
</div>
<div ng-if="!self.isBlocsCtrl" style="float: right; padding-top:15px; padding-bottom: 15px; color: #7d838a; font-family: OpenSansRegular; font-size: 15px; padding-right: 20px;">Параметры показа:</div>
