<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 320px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
    }

    .dialog-button{
        background-color: transparent;
        border: none;
        font-size: 13px;
        font-weight: 500;
        color: #3F51B5;
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .dialog-button:hover{
        background-color: #e1e2e2;
    }

    .dialog-cancel-button{
        width: 160px;
        background-color: #b6bdcc;
        color: #ffffff;
        font-family: OpenSansSemiBold;
        font-size: 13px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
    }

    .dialog-cancel-button:hover{
        background-color: #a8b1c4;
    }

    .dialog-delete-button{
        width: 160px;
        background-color: #fa736d;
        color: #ffffff;
        font-family: OpenSansSemiBold;
        font-size: 13px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
    }

    .dialog-delete-button:hover{
        background-color: #ed615b;
    }



</style>
<div>
    <div style="padding-top: 40px; padding-bottom: 50px; padding-left: 30px; padding-right: 30px;">
        <div style="font-size:17px; font-family: OpenSansRegular; color:#000000;">{{modal.text}}</div>
        <div style="color: #838e9e; font-family: OpenSansRegular; padding-top: 10px; font-size: 14px; line-height: 1.5;">{{modal.comment}}</div>
    </div>

    <div style="display: inline-block;">
        <div style="float: left;">
            <button ng-click="closeThisDialog()" class="dialog-cancel-button">ОТМЕНИТЬ</button>
        </div>
        <div style="float: left;">
            <button ng-click="modal.del()" class="dialog-delete-button">УДАЛИТЬ</button>
        </div>
    </div>
</div>