<!--Static modal-->
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 1000px;*/
        /*height: 500px;*/
        padding: 0px;
        /*box-shadow: 0 0 8px rgba(0,0,0,0.1);*/
        border-radius: 3px;
        background-color: transparent;
    }
    /**/
    .ngdialog.ngdialog-theme-default {
        padding-bottom: 80px;
        padding-top: 100px;
    }

</style>
<style>
    .nofitication-success-button{
        background-color: #20da9b;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        text-align: center;
    }

    .nofitication-success-button:hover{
        background-color: #18d092;
    }

    .nofitication-error-button{
        background-color: #f26051;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        text-align: center;
    }

    .nofitication-error-button:hover{
        background-color: #e35243;
    }
</style>
<div ng-controller="alertController as self">
    <div ng-if="self.isSuccess">
        <div style="width: 80px; height: 80px; position: absolute; margin-left: 120px;">
            <img src="/static-files/images/edunet-notification-success.png" width="80px">
        </div>
        <div style="background-color: transparent; height: 40px; width: 100%;"></div>
        <div style="background-color: #ffffff; border-radius: 4px;">
            <div style="padding-top: 60px; text-align: center; font-size: 24px; padding-bottom: 20px;">Поздравляем!</div>
            <div style="padding-left: 40px; padding-right: 40px; text-align: center; padding-bottom: 30px; color:#777777; font-size: 14px;">
                <div>{{self.text}}</div>
            </div>
            <div style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;"><button ng-click="closeThisDialog()" class="nofitication-success-button">ЗАКРЫТЬ</button></div>
        </div>
    </div>
    <div ng-if="!self.isSuccess">
        <div style="width: 80px; height: 80px; position: absolute; margin-left: 120px;">
            <img src="/static-files/images/edunet-notification-error.png" width="80px">
        </div>
        <div style="background-color: transparent; height: 40px; width: 100%;"></div>
        <div style="background-color: #ffffff; border-radius: 4px;">
            <div style="padding-top: 60px; text-align: center; font-size: 24px; padding-bottom: 20px;">Внимание!</div>
            <div style="padding-left: 40px; padding-right: 40px; text-align: center; padding-bottom: 30px; color:#777777; font-size: 14px;">
                <div>{{self.text}}</div>
            </div>
            <div style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;"><button ng-click="closeThisDialog()" class="nofitication-error-button">ЗАКРЫТЬ</button></div>
        </div>
    </div>

</div>

