<div style="float: left; padding-top: 3px;">
    <div><img src="/static-files/images/doc-icon.png" height="34px"></div>
</div>
<div style="width: 520px; float: left; padding-left: 15px; padding-bottom: 5px;">
    <div class="teacher-file-item-filename"><a href="{{file.url}}" download>{{file.name}}</a></div>
    <div style="font-size: 13px; color: #939393; font-family: OpenSansRegular;">{{file.size | memoryUsageFilter}}, {{file.createdAt | timeFilter}}</div>
</div>
<div ng-click="ctrl.deleteFileByID(file._id)" style="float: left; margin-left: 30px; margin-top: 15px; margin-bottom: 15px;">
    <img src="/static-files/images/delete-icon.png" width="12px">
    <md-tooltip md-direction="top">
        Удалить
    </md-tooltip>
</div>