<style>
    .calendar-middle-top-item{
        width: 150px;
        height: 60px;
        background-color: #ffffff;
        color: #000000;
        font-weight: 200;
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e7eaec;
    }

    .calendar-middle-item{
        width: 150px;
        height: 40px;
        border-bottom: 1px solid #e7eaec;
        border-right: 1px solid #e7eaec;
        background-color: #ffffff;
    }

    .schedule-lesson{
        position: absolute;
        margin-left: 7px;
        width:136px;
        border-radius: 3px;
        color: #ffffff;
        font-family: OpenSansRegular;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
</style>

<div class="md-box" style="margin-bottom: 30px; margin-top: 1px;" ng-controller="scheduleControllerGroupInfo as schedule">
    <!--<div class="md-box-header">РАСПИСАНИЕ</div>-->
    <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Расписание группы</div>
    <div style="background-color: #ffffff; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
        <div class="tab-schedule">
            <div style="float: left;">
                <div style="width: 80px; padding-top: 50px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px; border-top-left-radius: 4px;">9:00</div>
                <div style="width: 80px; padding-top: 23px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">10:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">11:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">12:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">13:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">14:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">15:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">16:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">17:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">18:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">19:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">20:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">21:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px;">22:00</div>
                <div style="width: 80px; padding-top: 22px;  text-align: right; padding-right: 15px; color: #838e9e; font-family: OpenSansRegular; font-size:13px; border-bottom-left-radius: 4px;">23:00</div>
            </div>
            <div style="float: left; height: 561px; border-right: 1px solid #e7eaec; margin-top: 59px;"></div>
            <div style="float: left;"  ng-repeat="day in schedule.days track by $index">
                <div class="calendar-middle-top-item" style="background-color: #ffffff; color: #a8b3c2; font-family: OpenSansSemiBold;">{{day}}</div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div class="calendar-middle-item"></div>
                <div ng-click="schedule.lessonInfo(lesson)" class="schedule-lesson" ng-repeat="lesson in schedule.schedule[$index]" ng-style="lesson.style">
                    <div>
                        <div>{{lesson.startTime | date : 'HH:mm'}} - {{ lesson.endTime | date :'HH:mm' }}</div>
                        <div>{{lesson.classroomID.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
