<div ng-controller="studentsSearchController as ctrl">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Поиск студента</div>
            </div>
        </div>
    </div>

    

    <div>aaaaa</div>
</div>