<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <h5>Управляющий:</h5>
    </div>
    <div class="col-md-5">
        <input type="checkbox" ng-change="self.updateCenters()" ng-model="self.isManager" class="checkbox">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <h5>телефон</h5>
    </div>
    <div class="col-xs-2">
        <input type="text" ng-model="self.phone" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <h5>Клиент</h5>

    </div>
    <div class="col-xs-2">
        <select ng-change="self.updateCenters()" class="form-control" ng-options="client as client.name for client in self.clients track by client._id" ng-model="self.client"></select>
    </div>
</div>
<div ng-if="!self.isManager && self.client.centers.length != 0" class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <h5>Центр</h5>
    </div>
    <div class="col-xs-2">
        <select class="form-control" ng-options="center as center.name for center in self.client.centers track by center._id" ng-model="self.center"></select>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <button ng-click="self.makeAdd()" class="btn btn-default">Отменить</button>
    </div>
    <div class="col-md-2">
        <button ng-click="self.addAdmin()" class="btn btn-default">Добавить</button>
    </div>
</div>
