<div ng-controller="editClientController as self">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Название</h5>
        </div>
        <div class="col-xs-2">
            <input type="text" class="form-control" ng-model="self.client.name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Центры</h5>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default" ng-repeat="center in self.client.centers">
                {{center.name}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Тариф</h5>
        </div>
        <div class="col-xs-2">
            <select class="form-control" ng-options="tariff as tariff.name for tariff in self.tariffs track by tariff._id" ng-model="self.tariff"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <h5>Оплата</h5>
        </div>
        <div class="col-xs-2">
            <input type="checkbox" ng-model="self.client.isPaid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <button class="btn btn-default" ng-click="self.updateClient()">Сохранить</button>
        </div>
    </div>
</div>