<div ng-controller="clientsController as ctrl">
    <div ng-if="ctrl.isAdd" ng-include="'/app-manager/views/clients/templates/add-client.html'"></div>
    <div ng-if="!ctrl.isAdd">
        <button ng-click="ctrl.makeAdd()" class="btn btn-default">Добавить клиента</button>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>НАЗВАНИЕ</th>
                <th>ДОМЕН</th>
                <th>ТАРИФ</th>
                <th>ДАТА СОЗДАНИЯ</th>
                <th>СТУДЕНТЫ</th>
                <th>ПАМЯТЬ</th>
                <th>ДЕЙСТВИЯ</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="client in ctrl.clients track by $index">
                <th scope="row">{{$index + 1}}</th>
                <td>{{client.name}}</td>
                <td>{{client.link}}</td>
                <td>{{client.tariffID.name}}</td>
                <td>{{center.createdAt | date : 'dd.MM.yyyy'}}</td>
                <td>
                    <div>
                        АКТИВНЫЕ : {{client.students.active}}
                    </div>
                    <div>
                        НОВЫЕ : {{client.students.waiting}}
                    </div>
                    <div>
                        АРХИВ : {{client.students.archive}}
                    </div>
                </td>
                <td width="100px">{{client.memory | memoryUsageFilter}}</td>
                <td>
                    <button class="btn btn-default" ng-click="ctrl.info(client._id)">Информация</button>
                    <button class="btn btn-default" ng-click="ctrl.edit(client._id)">Редактировать</button>
                    <button class="btn btn-default" ng-click="ctrl.del(client._id)">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>