<style>
        .ngdialog.ngdialog-theme-default .ngdialog-content {
            width: 500px;
            padding: 0px;
            box-shadow: 0 0 8px rgba(0,0,0,0.1);
            border-radius: 4px;
            top:-80px;
        }
        .md-modal-box{
            background-color: #ffffff;
            border-radius: 3px;
        }

        .md-box-header{
            border-bottom: 1px solid #edeeef;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #2196F3;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 15px;
            font-family: OpenSansBold;
        }

        .modal-add-button{
            background-color: #74c2f0;
            border: none;
            border-radius: 2px;
            color: #ffffff;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 12px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .modal-add-button:hover{
            background-color: #59b7ee;
        }


        .modal-cancel-button{
            background-color: #eeeeee;
            border: none;
            border-radius: 2px;
            color: #676b6d;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 12px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .modal-cancel-button:hover{
            background-color: #e3e3e3;
        }

        .select-style {
            /*border: 1px solid #ccc;*/
            /*border-bottom: 1px solid red;*/
            width: 320px;
            border-radius: 0px;
            overflow: hidden;
            background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
        }

        .select-style select {
            padding: 5px 0px;
            width: 130%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            border-bottom: 1px solid #cccccc;
            border-radius: 0px;
            color: #b5b5b5;
        }

        .select-style select:focus {
            outline: none;
            border-bottom: 2px solid green;
            color: #0f0f0f;
        }

        /* File input */
        .file-input {
            width: 100%;
            display: inline-block;
            height: 30px;
            /*border-radius: 4px;*/
            margin: 0px;
            padding: 0px;
            /*background-color: #3d4655;*/
            position: relative;
            z-index: 1;
            border-bottom: 1px solid #cccccc;
        }

        .file-input:hover {
            width: 100%;
            display: inline-block;
            height: 30px;
            /*border-radius: 4px;*/
            margin: 0px;
            padding: 0px;
            /*background-color: #3d4655;*/
            position: relative;
            z-index: 1;
            border-bottom: 2px solid green;
        }


        .file-input:after {
            position: absolute;
            top: 10px;
            right: 15px;
            margin: 0px;
            padding: 0px;
            /*content: "\e900";*/
            font-size: 24px;
            /*color: #333333;*/
        }
        .file-input > input[type="file"] {
            float: left;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            cursor: pointer;
            position: relative;
            z-index: 4;
            opacity: 0;
        }

        .file-input > span {
            position: absolute;
            top: 10px;
            left: 0px;
            margin: 0px;
            font-size: 15px;
            color: #aaaaaa;
            font-family: OpenSansRegular;
        }

        .file-input:hover > span{
            color: green;
        }
    </style>
<div ng-controller="addFileController as modal" class="md-modal-box">
    <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ЗАГРУЗКА ДОКУМЕНТА</div>
    <div style="padding-top: 30px; padding-left: 50px; padding-right: 80px; font-size: 14px;">
        <div style="font-family: OpenSansRegular; font-size: 15px;">Ограничения:</div>
        <div style="font-family: OpenSansRegular;">
            <ul>
                <li style="color: #91a1b1; padding-top: 5px;"><span style="color: black;">Загружаемый файл не должен превышать <b>100 МБ</b>.</span></li>
                <li style="color: #91a1b1; padding-top: 5px;"><span style="color: black;">Вы можете загрузить следующие типы файлов: <b>doc</b>, <b>docx</b>, <b>xls</b>, <b>xlsx</b>, <b>ppt</b>, <b>pptx</b>, <b>pfd</b>, <b>rar</b> и <b>zip</b>.</span></li>
                <li style="color: #91a1b1; padding-top: 5px;"><span style="color: black;">Документ не должен нарушать авторские права.</span></li>
            </ul>
        </div>
    </div>
    <div style="display: inline-block; padding-left: 70px; padding-right: 70px; width: 100%;">
        <div style="float: left; padding-top: 20px; padding-bottom: 20px;">
            <img src="/static-files/images/new-file-icon.png" height="34px;">
        </div>
        <div style="float: left; padding-left: 20px; padding-top: 12px;">
            <div class="file-input" style="height: 38px;">
                <input style="width: 500px;" type="file" ngf-select ng-change="modal.resolveFileName()" ng-model="modal.file" name="">
                <span>{{modal.fileName}}</span>
            </div>
        </div>
    </div>
    <div style="margin-left: 115px;">
        <div style="display: inline-block;">
            <div style="float: left; padding-top: 5px; font-family: OpenSansRegular; color: #a7a7a7; font-size: 14px;">Выберите группу:</div>
            <div class="select-style" style="float: left; margin-left: 20px; width: 347px;">
                <select ng-model="modal.selectedGroupID">
                    <option ng-repeat="group in modal.groups track by $index" value="{{group._id}}">{{group.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-bottom: 20px; padding-top: 35px; width: 100%;">
        <div style="float: right;">
            <button ng-click="modal.addFile()" class="modal-add-button">ЗАГРУЗИТЬ</button>
        </div>
        <div style="float: right; padding-right: 10px;">
            <button ng-click="closeThisDialog()"  class="modal-cancel-button">ОТМЕНИТЬ</button>
        </div>

    </div>
</div>
