<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <h5>Название</h5>
    </div>
    <div class="col-xs-2">
        <input type="text" ng-model="ctrl.name" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <h5>Клиент</h5>
    </div>
    <div class="col-xs-2">
        <select class="form-control" ng-model="ctrl.clientID">
            <option ng-repeat="client in ctrl.clients track by $index" value="{{client._id}}">{{client.name}}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <button ng-click="ctrl.makeAdd()" class="btn btn-default">Отменить</button>
    </div>
    <div class="col-md-2">
        <button ng-click="ctrl.addCenter()" class="btn btn-default">Добавить</button>
    </div>
</div>
