<style>
        .ngdialog.ngdialog-theme-default .ngdialog-content {
            width: 500px;
            padding: 0px;
            box-shadow: 0 0 8px rgba(0,0,0,0.1);
            border-radius: 4px;
        }
        .md-modal-box{
            background-color: #ffffff;
            border-radius: 3px;
        }

        .md-box-header{
            border-bottom: 1px solid #edeeef;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #2196F3;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 15px;
            font-family: OpenSansBold;
        }

        .modal-add-button{
            background-color: #74c2f0;
            border: none;
            border-radius: 2px;
            color: #ffffff;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 12px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .modal-add-button:hover{
            background-color: #59b7ee;
        }

        .file-input > span {
            position: absolute;
            top: 10px;
            left: 0px;
            margin: 0px;
            font-size: 15px;
            color: #aaaaaa;
            font-family: OpenSansRegular;
        }

        .file-input:hover > span{
            color: green;
        }

        .modal-cancel-button{
            background-color: #eeeeee;
            border: none;
            border-radius: 2px;
            color: #676b6d;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 12px;
            font-family: OpenSansSemiBold;
            padding-left: 13px;
            padding-right: 13px;
        }

        .modal-cancel-button:hover{
            background-color: #e3e3e3;
        }

    </style>
<div ng-controller="addFileControllerGroupInfo as modal" class="md-modal-box">
    <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ЗАГРУЗКА ДОКУМЕНТА</div>
    <div style="padding-top: 20px; padding-left: 50px; padding-right: 80px; font-size: 14px;">
        <div style="font-family: OpenSansRegular">Ограничения:</div>
        <div style="font-family: OpenSansLight;">
            <ul>
                <li style="color: #91a1b1; padding-top: 5px;"><span style="color: black;">Загружаемый файл не должен превышать <b>100 МБ</b>.</span></li>
                <li style="color: #91a1b1; padding-top: 5px;"><span style="color: black;">Вы можете загрузить следующие типы файлов: <b>doc</b>, <b>docx</b>, <b>xls</b>, <b>xlsx</b>, <b>ppt</b>, <b>pptx</b>, <b>pfd</b>, <b>rar</b> и <b>zip</b>.</span></li>
                <li style="color: #91a1b1; padding-top: 5px;"><span style="color: black;">Документ не должен нарушать авторские права.</span></li>
            </ul>
        </div>
    </div>
    <div style="display: inline-block; padding-left: 70px; padding-right: 70px; width: 100%;">
        <div style="float: left; padding-top: 20px; padding-bottom: 20px;">
            <img src="/static-files/images/new-file-icon.png" height="34px;">
        </div>
        <div style="float: left; padding-left: 20px; padding-top: 12px;">
            <div class="file-input" style="height: 37px;">
                <input style="width: 500px;" type="file" ngf-select ng-change="modal.resolveFileName()" ng-model="modal.file" name="">
                <span>{{modal.fileName}}</span>
            </div>
        </div>
    </div>
    <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-bottom: 20px; padding-top: 35px; width: 100%;">
        <div style="float: right;">
            <button ng-click="modal.addFile()" class="modal-add-button">ЗАГРУЗИТЬ</button>
        </div>
        <div style="float: right; padding-right: 10px;">
            <button ng-click="closeThisDialog()"  class="modal-cancel-button">ОТМЕНИТЬ</button>
        </div>

    </div>
</div>
