<style>
    md-switch.md-default-theme .md-bar, md-switch .md-bar {
        background-color: #CCCCCC;
    }

    md-switch.md-default-theme.md-checked.md-warn .md-ink-ripple, md-switch.md-checked.md-warn .md-ink-ripple {
        color: #ffffff;
    }

    md-switch.md-default-theme.md-checked.md-warn .md-thumb, md-switch.md-checked.md-warn .md-thumb {
        background-color: #ffffff;
    }

    md-switch.md-default-theme.md-checked.md-warn .md-bar, md-switch.md-checked.md-warn .md-bar {
        background-color: #4bd158;
    }



</style>

<div class="md-box" style="margin-left: 0; margin-right: 0;">
    <div style="padding-left: 30px; padding-top: 20px; padding-bottom: 16px; color: #131313; font-size: 18px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Новый пост</div>
    <div style="display: inline-block; padding-bottom: 10px;">
        <div style="float: left">
            <div style="padding-top: 15px; padding-left: 20px; padding-right: 15px; padding-bottom: 15px;"><img class="channel-rounded-image" ng-src="{{ctrl.teacher | teacherImageUrlFilter}}" width="40px"></div>
        </div>
        <div style="float: left">
            <div style="padding-top: 18px; padding-bottom: 20px;">
                <textarea msd-elastic ng-model="channel.data.text" rows="2" style="width: 565px;" placeholder="Напишите текст поста тут"></textarea>
                <div ng-if="channel.data.textError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>

            </div>
        </div>
    </div>
    <div style="border-top: 1px solid #e7eaec;" ng-show="channel.data.attachedImages">
        <div style="font-size: 14px; padding-top: 15px; padding-left: 21px; font-family: OpenSansRegular; padding-bottom: 5px; color: #2196F3;">Прикрепленные картинки:</div>
        <div class="row" style="margin-left: 0px; margin-right: 0px; padding-top: 10px; padding-bottom: 25px; padding-left: 15px;">
            <div class="col-xs-3" style="padding-left: 5px; padding-right: 5px;" ng-repeat="thumb in channel.data.thumbs track by $index">
                <button class="button" ng-show="!channel.data.thumbs[$index]" ng-change="channel.showThumb($index)" ngf-select ng-model="channel.data.images[$index]" name="channel.files[$index]" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Нажмите тут, для выбора картинки</button>
                <div ng-show="channel.data.thumbs[$index]">
                    <button class="remove-image-button" style="position: absolute;">
                        <img src="/static-files/images/delete-icon-white.png" width="10px">
                        <md-tooltip md-direction="top">
                            Удалить
                        </md-tooltip>
                    </button>
                    <img style="width: 140px;" ngf-thumbnail="channel.data.images[$index] || '/static-files/images/circles.svg'">
                </div>
            </div>
        </div>
    </div>

    <div ng-show="channel.data.attachedFiles[0] ||channel.data.attachedFiles[1] ||channel.data.attachedFiles[2] ||channel.data.attachedFiles[3]" style="border-top: 1px solid #e7eaec; padding-top: 5px; padding-bottom: 20px;">
        <div style="font-size: 14px; padding-top: 10px; padding-left: 21px; font-family: OpenSansRegular; color: #2196F3;">Прикрепленные документы:</div>
        <div style="padding-top: 5px; display: inline-block; width: 100%; padding-left: 20px; padding-right: 20px;" ng-repeat="file in channel.data.attachedFiles track by $index" ng-show="channel.data.attachedFiles[$index]">
            <div style="float: left; width: 600px;">
                <div class="file-input" style="height: 37px;">
                    <input type="file" ngf-select ng-change="channel.resolveFileName($index)" ng-model="channel.data.files[$index]"/>
                    <span style="font-size: 14px;">{{channel.data.fileNames[$index]}}</span>
                </div>
            </div>
            <div ng-click="channel.deleteFile($index)" style="float:left; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; padding-top: 5px;">
                <img src="/static-files/images/delete-icon.png" width="12px">
                <md-tooltip md-direction="top">
                    Удалить файл
                </md-tooltip>
            </div>
        </div>
    </div>

    <div class="row" style="margin-right: 0; margin-left: 0; background-color: #f4f5f6; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; padding-top: 4px; padding-bottom: 4px; border-top: 1px solid #e7eaec;">
        <div class="col-xs-5" style="padding-left: 0; padding-right: 0; padding-top: 5px;">
            <div style="width: 100%; display: inline-block; padding-left: 4px;">
                <div ng-click="channel.showImages()" class="channel-add" style="float:left; padding-top: 10px; padding-bottom: 15px; padding-left: 20px;">
                    <img src="/static-files/images/channel-image-icon.png" height="17px">
                    <md-tooltip md-direction="top">
                        Загрузить картинку
                    </md-tooltip>
                </div>
                <div ng-click="channel.addChannelFile()" class="channel-add" style="float:left; padding-bottom: 10px; padding-top: 10px; padding-left: 15px;">
                    <img src="/static-files/images/channell-file-icon.png" height="17px">
                    <md-tooltip md-direction="top">
                        Загрузить файл
                    </md-tooltip>
                </div>
            </div>
        </div>
        <div class="col-xs-5" style="display: inline-block; padding-left: 60px; padding-right: 0px;">
            <div style="float: left; padding-top: 15px; font-family: OpenSansRegular; font-size: 13px; color: #939393;">Отметить как важное</div>
            <div style="float: left;">
                <md-switch class="md-warn" name="special" ng-model="channel.data.important" style="margin: 10px;"></md-switch>
            </div>
        </div>
        <div class="col-xs-2" style="padding-left: 0px; padding-right: 20px; text-align: right; padding-top: 12px;">
            <div><button ng-click="channel.addPost()" class="edunet-button-default">ДОБАВИТЬ</button></div>
        </div>
    </div>
</div>