<div class="channel-post-item-comment-item">
    <div style="float: left;">
        <img class="rounded-image" ng-src="{{ comment.userType == channel.TEACHER ? channel.imageUrl : channel.STUDENT_AVATAR_DEFAULT_URL}}" width="30px">
    </div>
    <div style="float: left; padding-left: 10px;">
        <div style="color: #4484b2; font-family: OpenSansSemiBold; font-size: 13px;">{{comment.user.value | nameFilter}}</div>
        <div style="width: 400px; padding-top: 4px; font-size: 12px; font-family: OpenSansRegular">{{(comment.reply.isReply && comment.reply.isImportantName ? comment.reply.name + ', ' : "") + comment.content}}</div>
        <div style="display: inline-block; font-family: OpenSansRegular; padding-top: 4px;">
            <div style="float: left; color: #939393; font-size: 12px;">{{comment.createdAt | timeFilter}}</div>
            <div  ng-if="channel.userID != comment.user.value._id" style="float: left; padding-left: 10px;"><button ng-click="channel.answerComment(postIndex,commentIndex)" class="reply-button">Ответить</button></div>
        </div>
    </div>
</div>