<!--ТЕКУЩИЕ ПОСТЫ-->
<div>
    <div ng-repeat="post in channel.posts track by $index" class="md-box" style="margin-left: 0; margin-right: 0; margin-top: 20px;">
        <div class="channel-item-header">
            <div style="float: left;">
                <div><img class="channel-rounded-image" ng-src="{{ctrl.teacher | teacherImageUrlFilter}}" width="50px"></div>
            </div>
            <div style="float: left; padding-left: 15px; padding-top: 5px; padding-bottom: 5px; width: 395px;">
                <div style="color: #4484b2; font-family: OpenSansSemiBold;">{{ctrl.teacher | nameFilter}}</div>
                <div style="padding-top: 2px; font-size: 13px; color: #939393; font-family: OpenSansRegular;">{{post.createdAt | timeFilter}}</div>
            </div>
            <!--ПОЯВЛЯЕТСЯ ПРИ НАВЕДЕНИИ ВЕСЬ НА ПОСТ-->
            <div ng-hide="post.homeworkID" style="float : left; display: inline-block;">
                <div style="float: left;">
                    <button ng-click="channel.editPostClick($index)" class="channel-post-edit-button">РЕДАКТИРОВАТЬ</button>
                </div>
                <div style="float: left;">
                    <button ng-click="channel.deletePost($index)" class="channel-post-edit-button">УДАЛИТЬ</button>
                </div>
            </div>

        </div>
        <div ng-hide="post.homeworkID">
            <div class="channel-item-text">
                <p style="margin: 0px;" ng-bind-html="post.text | htmlize | limitTo:channel.limits[$index]"></p>
                <button class="channel-more-button" ng-show="channel.moreButtons[$index]" type='button' ng-click="channel.readMore($index)">Показать полностью...</button>
            </div>
            <div class="channel-item-images">
                <div ng-show="post.hasImages && !post.hasOneImage" style="width: 425px;" ng-photo-grid="" images="post.gridImages" grid-options="channel.gridOptions"></div>
                <div ng-show="post.hasImages && post.hasOneImage"><img width="425px;" ng-src="{{post.image.original_url}}" ng-click="channel.showPostImageDetailed(post.image)"></div>
            </div>

            <div class="channel-post-item-content-files">
                <div class="channel-post-item-content-files-item" ng-repeat="file in post.files track by $index">
                    <div style="float: left; padding-top: 2px;">
                        <img src="/static-files/images/doc-icon.png" height="34px">
                    </div>
                    <div style="width: 440px; float: left; padding-left: 15px;">
                        <div class="student-file-item-filename"><a href="{{file.url}}" download>{{file.name}}</a> </div>
                        <div style="font-size: 13px; color: #939393; font-family: OpenSansRegular;">{{file.size | memoryUsageFilter}}, {{file.createdAt | timeFilter}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="post.homeworkID">
            <!--ДОМАШКИ-->
            <div class="channel-post-item-homework-task">
                <div class="homework-task-content">
                    {{post.homeworkID.content}}
                </div>
                <div ng-if="post.homeworkID.comment && post.homeworkID.comment != ''" class="homework-task-comment">
                    <div style="float: left; padding-right: 30px;"><i>Комментарий:</i></div>
                    <div style="float: left; width: 450px;"><i>{{post.homeworkID.comment}}</i></div>
                </div>
            </div>
        </div>

        <div ng-if="post.comments.length > 1" style="padding-left: 20px; padding-right: 20px;">
            <button ng-click="channel.showComments($index)" ng-hide="post.showComments" class="comment-button">Показать все комментарии</button>
            <button ng-click="channel.hideComments($index)" ng-show="post.showComments" class="comment-button">Скрыть комментарии</button>
        </div>
        <div ng-if="post.comments.length">
            <div ng-if="!post.showComments" class="channel-post-item-comments">
                <div ng-include="'/app-teacher/views/group-info/channel/templates/comment.html'" ng-init="comment = post.comments[post.comments.length-1]; postIndex = $index; commentIndex = post.comments.length-1"></div>
            </div>
            <div ng-if="post.showComments" class="channel-post-item-comments">
                <div ng-repeat="comment in post.comments track by $index">
                    <div ng-include="'/app-teacher/views/group-info/channel/templates/comment.html'" ng-init="postIndex = $parent.$index; commentIndex = $index"></div>
                </div>
            </div>
        </div>

        <div class="channel-post-item-send-comment">
            <div style="float: left; padding-top: 1px;">
                <img class="rounded-image" ng-src="{{ctrl.teacher | teacherImageUrlFilter}}" width="26px">
            </div>
            <div style="float: left; padding-left: 10px; padding-top: 2px;">
                <textarea ng-model="post.comment" rows="1" style="width: 540px;" placeholder="Написать комментарий"></textarea>
                <div ng-if="post.commentError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
            </div>
            <div ng-click="channel.addComment($index)" style="float: left; padding-left: 22px; padding-top: 1px;">
                <button class="send-comment-button">
                    <img src="/static-files/images/send-comment-icon.png" width="14px">
                </button>
            </div>
        </div>
    </div>
    <button ng-if="!channel.noAvailablePosts" ng-click="channel.loadMorePosts()">Загрузить еще</button>
</div>