<style>
    /*Schedule Page Styles*/
    .schedule{
        display: inline-block;
        background-color: #ffffff;
        border-radius: 5px;
    }

    .calendar-left-top-item{
        width: 165px;
        height: 60px;
        border-bottom: 1px solid #e5e9f2;
        color: #000000;
        font-weight: 200;
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #f5f7fa;
    }

    .calendar-left-item{
        width: 165px;
        height: 50px;
        border-bottom: 1px solid #e5e9f2;
        border-left: 1px solid #e5e9f2;
        border-right: 1px solid #e5e9f2;
        background-color: #ffffff;
    }

    .calendar-middle-top-item{
        width: 165px;
        height: 60px;
        background-color: #ffffff;
        color: #8f969d;
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e9f2;
        font-family: OpenSansSemiBold;
    }

    .calendar-middle-item{
        width: 165px;
        height: 50px;
        border-bottom: 1px solid #e5e9f2;
        border-right: 1px solid #e5e9f2;
        background-color: #ffffff;
    }

    .calendar-right-top-item{
        width: 165px;
        height: 50px;
        border-bottom: 1px solid #e5e9f2;
        color: #000000;
        font-weight: 200;
        font-size: 14px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .calendar-right-item{
        width: 165px;
        height: 50px;
        border-bottom: 1px solid #e5e9f2;
    }

    .schedule-lesson{
        position: absolute;
        margin-left: 6px;
        width: 152px;
        border-radius: 3px;
        color: #ffffff;
        font-family: OpenSansRegular;
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        text-align: center;
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
    }

</style>

<div ng-controller="scheduleController as ctrl">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto; background-color: #ffffff;">
            <div class="control-line" style="background-color: #ffffff;">
                <div style="padding-top:5px; padding-bottom: 5px; color:#000000; font-weight: 200; font-size: 28px;">Расписание</div>
            </div>
        </div>
    </div>

    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent">
            <div class="schedule" style="margin-top: 30px; margin-left: 85px; margin-bottom: 50px; padding-top: 10px; padding-bottom: 20px; background-color: #ffffff;">
                <div style="float: left">
                    <div style="width: 80px; padding-top: 50px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px; border-top-left-radius: 4px;">9:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">10:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">11:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">12:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">13:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">14:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">15:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">16:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">17:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">18:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">19:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">20:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">21:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px;">22:00</div>
                    <div style="width: 80px; padding-top: 30px;  text-align: right; padding-right: 15px; color: #7d838a; font-family: OpenSansSemiBold; font-size:14px; border-bottom-left-radius: 4px;">23:00</div>
                </div>
                <div style="float: left; height: 701px; border-right: 1px solid #e7eaec; margin-top: 59px;"></div>
                <div style="float: left;" ng-repeat="day in ctrl.days track by $index">
                    <div class="calendar-middle-top-item">{{day}}</div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div class="calendar-middle-item"></div>
                    <div style="background-color: #ffffff; width: 150px; height: 30px;"></div>
                    <div ng-click="ctrl.groupScheduleInfo(lesson)" class="schedule-lesson" ng-repeat="lesson in ctrl.lessons[$index]" ng-style="lesson.style">
                        <div style="display: flex; align-items: center; justify-content: center; height: 70%; padding-left: 20px; padding-right: 20px; line-height: 1.3;">{{lesson.groupID.name}}</div>
                        <div style="height: 30%; display: flex; align-items: center; justify-content: center; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;" ng-style="{'background-color' : (lesson.groupID.color | groupLessonColor)}">Classroom 1</div>
                    </div>
                </div>
                <div style="float:left; width: 40px;">
                    <div style="width: 40px; height: 650px; background-color: #ffffff; border-top-right-radius: 4px; border-bottom-right-radius: 4px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


