body{
    font-family: -apple-system, Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("/static-files/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("/static-files/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("/static-files/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("/static-files/fonts/OpenSansLight/OpenSansLight.eot");
    src: url("/static-files/fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("/static-files/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("/static-files/fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("/static-files/fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("/static-files/fonts/OpenSansBold/OpenSansBold.eot");
    src: url("/static-files/fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("/static-files/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("/static-files/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



.background{
    background-image:url('/static-files/images/edunet-login-page.png');
    background-position:50% 50%;
    background-size:cover;
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
.signInForm{
    margin:0 auto;
    margin-top: 9%;
    background-color: #ffffff;
    width: 320px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.signInFormHeader{
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.form-control{
    border: none;
    border-radius: 3px;
}
.form-control::-webkit-input-placeholder {text-align: center; font-family: OpenSansRegular;}
.form-control::-moz-placeholder          {text-align: center; font-family: OpenSansRegular;}/* Firefox 19+ */
.form-control:-moz-placeholder           {text-align: center; font-family: OpenSansRegular;}/* Firefox 18- */
.form-control:-ms-input-placeholder      {text-align: center; font-family: OpenSansRegular;}

.signInButton{
    background-color: #4d85de;
    border: none;
    color: #ffffff;
    width: 100%;
    height: 45px;
    font-weight: 300;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    opacity: 0.9;
}

.signInButton:hover{
    opacity: 1;
}


.errorMessage{
    background-color: #fd6461;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
}


input:focus{
    outline: none !important;
}

.form-control{
    height: 44px;
    font-family: OpenSansRegular;
    font-size: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    /*border: 1px solid green;*/
    /*-webkit-text-fill-color: green;*/
    /*-webkit-box-shadow: 0 0 0px 1000px #000 inset;*/
    transition: background-color 5000s ease-in-out 0s;
    /*background-color: #ecf0f1;*/
}



/*ТЕСТ*/


.container {
    margin: auto;
    margin-top: 120px;
    /*margin: 100px auto auto 100px;*/
    position: relative;
    width: 320px;
    height: 345px;
    /* задаем глубину сцене */
    -webkit-perspective: 600px; /* webkit */
    -moz-perspective: 600px; /* mozilla */
    -ms-perspective: 600px; /* IE 10 */
    -o-perspective: 600px; /* opera когда-то тоже должна начать понимать */
    perspective: 600px;	/* св-во по стандатам */

}

#card { /* поворачивать будем общий контейнер */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s; /* трансформации будут происходить анимированно продолжительностью 0.5 сек */

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;	/* указываем, что дочерние элементы находятся в 3D пространстве */
}
#card.flip {	/* добавляя этот класс, поворачивеам контейнер на 180 градусов */
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

figure {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;	/* если элемент отвернут лицом от пользователя, контент этого элемента не виден */
}
.back {
}
.front {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );	/* в начальном положении фэйс карты к нам развернут на 180 градусов */
}



