<style>
    .odd-column {
        background-color: #ffffff;
        border-left: 3px solid transparent;
    }

    .odd-column:hover{
        border-left: 3px solid #6699ff;
    }

    .even-column {
        background-color: #f4f5f6;
        border-left: 3px solid transparent;
    }

    .even-column:hover{
        border-left: 3px solid #6699ff;
    }

    .edunet-button-default{
        background-color: #b6bdcc;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .edunet-button-default:hover{
        background-color: #a8b1c4;
    }

    .subjects-settings-button{
        background-color: #f4f5f6;
        border-radius: 2px;
        color: #a8b3c2;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        border: 1px solid #e7eaec;
    }

    .subjects-settings-button:hover{
        background-color: #edeeef;
    }


</style>
<div ng-controller="activeStudentsController as active" style="padding-bottom: 40px;">
    <div style=" width: 1280px; margin: auto;">
        <div style="background-color: #ffffff; min-height: 400px; margin-left: 45px; margin-right: 45px; margin-top: 1px; border-radius: 4px;">
            <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec; background-color: #ffffff;">
                <div class="row" style="margin: 0;">
                    <div class="col-xs-7" style="padding: 0;">
                        <div style="display: inline-block;">
                            <div style="float: left; padding-right: 30px; padding-top: 22px; padding-bottom: 20px;">Список студентов</div>
                            <div style="display: inline-block; float: left; border: 1px solid #CCCCCC; padding-left: 10px; padding-right: 10px; border-radius: 20px; padding-top: 5px; padding-bottom: 5px; margin-top: 17px;">
                                <div style="float: left; padding-top: 4px;">
                                    <img src="/static-files/images/search-bar-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 8px;">
                                    <input ng-model="active.searchName" ng-change="active.search()" type="text" style="border: none; width: 350px; font-size: 15px;" placeholder="Поиск по студентам">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5" style="padding-top: 22px;">
                        <div style="display: inline-block; width: 100%;">
                            <div style="float: right;">
                                <button class="edunet-button-default" ng-click="active.addStudent()">
                                    <div style="display: inline-block;">
                                        <div style="float: left; padding-right: 7px; padding-top: 4px;">
                                            <img src="/static-files/images/block-header-button-add-icon.png" width="10px">
                                        </div>
                                        <div style="float: left;">ДОБАВИТЬ СТУДЕНТА</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--ЕСЛИ НЕТ ГРУПП-->
            <div ng-if="active.noGroups" style="display: inline-block; width: 100%; background-color: #fd6461; color:#ffffff;">
                <div style="float: left; padding: 21px; background-color: #fd4945;">
                    <img src="/static-files/images/schedule-error-icon.png" width="35px">
                </div>
                <div style="float: left; padding-left: 20px; padding-right: 20px; font-family: OpenSansRegular; font-size: 16px; padding-top: 15px; padding-bottom: 15px;">
                    <div style="font-family: OpenSansSemiBold;">Добавление студентов недоступно !</div>
                    <div style="padding-top: 5px; font-size: 14px;">Для добавления актвиных студентов необходимо добавить хотя бы одну группу</div>
                </div>
            </div>

            <!--ЕСЛИ СТУДЕНТОВ НЕТ-->
            <div ng-if="active.noStudents && !active.noGroups">
                <div class="md-box" style="padding-right: 180px; padding-left: 180px; background-color: #ffffff; padding-top: 30px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                    <div align="center" style="padding-bottom: 35px; padding-top: 39px;">
                        <div style="opacity: 0.9;"><img src="/static-files/images/empty-students-icon.png" width="165px"></div>
                        <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Активных студентов нет</div>
                        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 130px; padding-right: 130px; padding-bottom: 20px;">На данный момент, в Вашем центре нет студентов, находящихся в группах. Чтобы создать студента, нажмите на кнопку "Добавить студента"</div>
                    </div>
                </div>
            </div>
            <div ng-if="active.noQueryStudents">
                <div class="md-box" style="padding-right: 180px; padding-left: 180px; background-color: #ffffff; padding-top: 30px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                    <div align="center" style="padding-bottom: 60px; padding-top: 40px;">
                        <div style="opacity: 0.4;"><img src="/static-files/images/no-search-result-icon.png" width="150px"></div>
                        <div style="font-family: OpenSansSemiBold; font-size: 17px; padding-top: 15px; color: #a8b3c2;">НИЧЕГО НЕ НАЙДЕНО</div>
                        <div style="font-family: OpenSansRegular; padding-top: 20px; color: #acb5c5; font-size: 14px; padding-left: 80px; padding-right: 80px;">Извините, по вашему запросу ничего не найдено. Попробуйте ввести другие слова.</div>
                    </div>
                </div>
            </div>

            <!--ЕСЛИ СТУДЕНТЫ ЕСТЬ-->
            <div ng-if="!active.noStudents && !active.noQueryStudents">
                <div style="display: inline-block; width: 100%; padding-left: 18px; padding-right: 15px; background-color: #6699ff; border-bottom: 1px solid #e7eaec;">
                    <div style="float: left; width: 125px; padding-left: 15px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">
                        <div style="display: inline-block;">
                            <div style="float: left;">ДАТА</div>
                            <div ng-click="active.sortByDate()" ng-class="active.dateSorting ? 'arrow-up-active' : 'arrow-up'" style="float: left; margin-left: 8px; padding-top: 3px;"></div>
                        </div>
                    </div>
                    <div style="float: left; width: 260px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">
                        <div style="display: inline-block;">
                            <div style="float: left;">ФAМИЛИЯ, ИМЯ</div>
                            <div ng-click="active.sortByName()" ng-class="active.nameSorting ? 'arrow-up-active' : 'arrow-up'" style="float: left; margin-left: 8px; padding-top: 3px;"></div>
                        </div>
                    </div>
                    <div style="float: left; width: 200px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">ТЕЛЕФОН</div>
                    <div style="float: left; width: 230px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">EMAIL</div>
                    <div style="float: left; width: 240px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">
                        <div style="display: inline-block;">
                            <div style="float: left;">ТЕКУЩАЯ ГРУППА</div>
                            <div ng-click="active.sortByGroup()" class="arrow-up" style="float: left; margin-left: 8px; padding-top: 3px;"></div>
                        </div>
                    </div>
                </div>
               

                <!--СТУДЕНТ-->
                <!--тут ng repeat для студента-->
                <div style="display: inline-block; border-bottom: 1px solid #e7eaec; margin-left: 0; margin-right: 0; padding-left: 15px;" ng-repeat="student in active.students | studentsSorting : active.dateSorting : active.nameSorting track by $index" ng-class="$index%2 == 0 ? 'odd-column' : 'even-column'" ng-mouseenter="active.showProperties($index)" ng-mouseleave="active.hideProperties($index)">
                    <div style="float: left; width: 125px; padding-left: 15px; padding-top: 20px; padding-bottom: 20px;">{{student.updatedAt | date : 'dd.MM.yyyy'}}</div>
                    <div style="float: left; width: 260px; padding-top: 20px; padding-bottom: 20px;" ng-click="active.studentInfo(student._id)">{{student | nameFilter}}</div>
                    <div style="float: left; width: 200px; padding-top: 20px; padding-bottom: 20px;">
                        <div>{{student.phone | phoneFilter}}</div>
                    </div>
                    <div style="float: left; width: 230px; padding-top: 20px; padding-bottom: 20px;">
                        <div>{{student.email ? student.email : active.noTitle}}</div>
                    </div>
                    <div style="float: left; width: 230px; padding-top: 20px; padding-bottom: 20px;">
                        <div ng-repeat="group in student.groups">{{group.name}}</div>
                    </div>
                    <div style="float: left;">
                        <div style="width: 127px;">
                            <div style="display: inline-block" ng-if="active.properties[$index]">
                                <div style="float: left; width: 35px;">
                                    <button ng-click="active.assignStudentForGroup(student._id)" class="assign-student-button">
                                        <img src="/static-files/images/assign-student-icon.png" height="17px">
                                        <md-tooltip md-direction="top">
                                        Добавить в другую группу
                                        </md-tooltip>
                                    </button>
                                </div>
                                <div style="float: left; width: 35px;">
                                    <button ng-click="active.editStudent(student._id)" class="edit-student-button">
                                        <img src="/static-files/images/edit-student-icon.png" height="16px">
                                        <md-tooltip md-direction="top">
                                            Редактировать
                                        </md-tooltip>
                                    </button>
                                </div>
                                <div style="float: left; width: 35px;">
                                    <button ng-click="active.archiveStudent(student._id)" class="delete-student-button">
                                        <img src="/static-files/images/delete-student-icon.png" height="18px">
                                        <md-tooltip md-direction="top">
                                            Удалить
                                        </md-tooltip>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <button ng-if="!active.noMoreStudents" ng-click="active.showMore()" class="load-more-button">Показать еще</button>
    </div>
</div>