<style>
    .application-control-button{
        background-color: transparent;
        border: none;
        color: #949fb0;
        font-size: 11px;
        font-family: OpenSansSemiBold;
    }

    .application-control-button:hover{
        text-decoration: underline;
        color: #8f98a7;
    }
</style>

<div style="padding-top: 20px; padding-bottom: 20px;">
    <div class="row" style="margin-left: 0; margin-right: 0px;">
        <div class="col-xs-6" style="padding-left: 0;">
            <div style="display: inline-block">
                <div style="float: left;">
                    <div class="teacher-request-group-indicator" ng-style="{ 'background-color' : application.groupID.color}" style="margin-top: 4px;"></div>
                </div>
                <div style="float: left; padding-left: 8px; font-size: 14px; color: #949fb0;">{{application.groupID.name}}</div>
            </div>
        </div>
        <div class="col-xs-6" style="display: inline-block;">
            <div style="float: right; font-size: 14px; color: #949fb0;">{{application.createdAt | timeFilter}}</div>
            <div style="float: right; padding-right: 5px; padding-top: 3px;">
                <img src="/static-files/images/list-item-date-icon.png" width="15px">
            </div>
            <div style="float: right; margin-right: 30px;">
                <button ng-click="ctrl.deleteApplicationByID(application._id)" class="application-control-button">УДАЛИТЬ</button>
            </div>
            <div style="float: right;">
                <button ng-click="ctrl.editApplicationByID(application._id)" class="application-control-button">РЕДАКТИРОВАТЬ</button>
            </div>

        </div>
    </div>
    <div style="padding-right: 100px; padding-top: 20px; padding-bottom: 5px;">{{application.content}}</div>

    <div ng-show="application.answerID" align="right">
        <div style="display: inline-block; background-color: #eef6fc; margin-top: 15px; text-align: left; padding-top: 20px; padding-bottom: 10px; padding-left: 30px; padding-right: 30px; border-radius: 4px;">
            <div style="float: left; padding-right: 10px; width: 80px;"><u>Ответ:</u></div>
            <div style="float: left; width: 500px;">
                <div><i>{{application.answerID.content}}</i></div>
                <div align="right" style="font-size: 14px; padding-bottom: 5px; padding-top: 10px;"><i>{{application.answerID.createdAt | date : 'hh:mm'}}&nbsp;&nbsp;</i>{{application.answerID.createdAt | date : 'dd MMMM yyyy'}}</div>
            </div>
        </div>
    </div>
</div>