<style>
    /*COMMON STYLES*/

    .content-header{
        background-color: #f6f6f6;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 30px;
        font-family: OpenSansRegular;
        font-size: 22px;
        border-bottom: 1px solid #cccccc;
        position: fixed;
        width: 100%;
        left: 300px;
        padding-left: 30px;
    }

    .content-container{
        padding-top: 30px;
        margin-left: 335px;
        padding-bottom: 15px;
    }

    .content-title{
        font-family: OpenSansRegular;
        font-size: 24px;
        padding-bottom: 15px;
    }

    .content-text{
        font-family: OpenSansRegular;
        font-size: 16px;
    }

    .content-image{
        margin-top: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        border-radius: 4px;
    }



</style>


<div ng-controller="staticController as self">
    <!--<h1>This is template controller front</h1>-->
    <!--<button ng-click="index.goTo('test')">GoToTest</button>-->
    <div class="content-header">
        <div style="display: inline-block;">
            <div style="float: left;">Учитель</div>
            <div style="float: left; padding-left: 15px; padding-right: 15px; padding-top: 11px;">
                <img src="/static-files/images/right-arrow.png" width="13px">
            </div>
            <div style="float: left;">Группы</div>
        </div>
    </div>
    <div style="padding-top: 70px;">
        <div class="content-container">
            <div class="content-title">Что такое Edunet?</div>
            <div class="content-text">
                Для входа в систему необходимо перейти на страницу Вашего центра и ввести логин и пароль в авторизационной форме.
                Логин соотвествует номеру Вашего контактного (сотового) телефона, а Пароль необходимо узнать у Администратора.
            </div>
        </div>
        <div class="content-container">
            <div class="content-title">Авторизация</div>
            <div class="content-text">
                Для входа в систему необходимо перейти на страницу Вашего центра и ввести логин и пароль в авторизационной форме.
                Логин соотвествует номеру Вашего контактного (сотового) телефона, а Пароль необходимо узнать у Администратора.
            </div>
            <div class="content-image" style="background-image: url(/static-files/images/manual/manual-login-image.png); width: 900px; height: 391px; background-size: 900px 391px;"></div>
        </div>
        <div class="content-container">
            <div class="content-title">Обзор системы</div>
            <div class="content-text">
                Для входа в систему необходимо перейти на страницу Вашего центра и ввести логин и пароль в авторизационной форме.
                Логин соотвествует номеру Вашего контактного (сотового) телефона, а Пароль необходимо узнать у Администратора.
            </div>
            <div class="content-image" style="background-image: url(/static-files/images/manual/manual-main-image.png); width: 900px; height: 456px; background-size: 900px 456px;"></div>
        </div>
    </div>
</div>
