<style>
    .md-box{
        background-color: #ffffff;
        border-radius: 2px;
        border-top: 1px solid #e9ecf2;
        border-left: 1px solid #e9ecf2;
        border-right: 1px solid #e9ecf2;
        border-bottom: 1px solid #dfe1e6;
    }

    .md-box-header{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 15px;
        color: #838e9e;
        border-bottom: 1px solid #e7eaec;
        background-color: #ffffff;
        font-family: OpenSansSemiBold;
    }

    .student-calendar-day-title{
        width: 111px;
        padding-top: 15px;
        padding-bottom: 5px;
        color: #838e9e;
        float: left;
        font-size: 15px;
        opacity: 0.7;
        font-family: OpenSansBold;
        text-align: center;
    }

    .teacher-calendar-item{
        width: 111px;
        height: 80px;
        border-bottom: 1px solid #e7eaec;
        border-right: 1px solid #e7eaec;
        color: #bcbdc1;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .teacher-calendar-active-item{
        width: 111px;
        height: 80px;
        border-bottom: 1px solid #e7eaec;
        border-right: 1px solid #e7eaec;
        color: #000000;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .teacher-calendar-lesson-item{
        width: 111px;
        height: 80px;
        border-bottom: 1px solid #e7eaec;
        border-right: 1px solid #e7eaec;
        color: #000000;
        font-size: 15px;
        background-color: #eef6fc;
        font-family: OpenSansSemiBold;
    }

    .teacher-calendar-day-title{
        width: 111px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #454d58;
        font-weight: 700;
        float: left;
        padding-left: 10px;
        font-size: 15px;
    }

    .teacher-calendar-today-item{
        border: 1px solid #fc3d39;
    }

    .homework-task-box{
        background-color: #6699ff;
        font-size: 14px;
        padding-top: 7px;
        padding-bottom: 7px;
        color: #ffffff;
        /*position: absolute;*/
        /*bottom: 0;*/
        margin-top: 6px;
        width: 111px;
        border: none;
        outline: none;
    }

    .homework-task-box:hover{
        background-color: #578ffd;
    }

    .calendar-arrow-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 10px;
        padding-right: 10px;
    }

    .calendar-arrow-button:hover{
        background-color: #578ffd;
    }


    /*CUSTOM*/
    .teacher-calendar-today-item{
        border: 1px solid #fc3d39;
    }

    .calendar-day-number{
        border-radius: 50%;
        width: 32px;
        height: 32px;
        text-align: center;
        padding-top: 5px;
        margin: 4px;
        font-family: OpenSansRegular;
        font-size: 15px;
    }
    .calendar-day-number-active{
        background-color: #fc3d39;
        color: #ffffff;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        text-align: center;
        padding-top: 5px;
        margin: 4px;
        font-family: OpenSansSemiBold;
        font-size: 15px;
    }
</style>
<div style="margin-top: 15px;">
    <div class="md-box" style="margin-right: 6px; border-bottom: 0;">

        <div class="md-box-header" style="padding-top: 13px; padding-bottom: 13px; font-size: 15px;">{{'CALENDAR.TITLE' | translate}}</div>
        <div class="row" style="margin-right: 0px; margin-left: 0px; padding-top: 25px;">
            <div class="col-xs-6" style="padding-left: 30px;">
                <div style="font-family: OpenSansRegular; font-size: 14px; color: #000000;">{{'CALENDAR.DESC' | translate}}</div>
            </div>
            <div class="col-xs-6" style="padding-right: 30px; text-align: right;">
                <div style="display: inline-block;">
                    <div ng-click="nextMonth()" style="float: right;"><button class="calendar-arrow-button" style="padding-right: 7px;"><img src="/static-files/images/calendar-arrow-right-icon.png" width="10px;"></button></div>
                    <div ng-click="previousMonth()" style="float: right; margin-right: 5px;"><button class="calendar-arrow-button" style="padding-left: 7px;"><img src="/static-files/images/calendar-arrow-left-icon.png" width="10px;"></button></div>
                    <div style="float: right; margin-right: 15px; padding-top: 1px; font-size: 17px; color: #6699ff; font-family: OpenSansSemiBold;">{{calendar[activeMonth].monthName}}</div>
                </div>
            </div>
        </div>
        <div>
            <div style="display: inline-block; margin-top: 10px;">
                <div class="student-calendar-day-title">{{'CALENDAR.DAYS.MON' | translate}}</div>
                <div class="student-calendar-day-title">{{'CALENDAR.DAYS.TUE' | translate}}</div>
                <div class="student-calendar-day-title">{{'CALENDAR.DAYS.WED' | translate}}</div>
                <div class="student-calendar-day-title">{{'CALENDAR.DAYS.THU' | translate}}</div>
                <div class="student-calendar-day-title">{{'CALENDAR.DAYS.FRI' | translate}}</div>
                <div class="student-calendar-day-title">{{'CALENDAR.DAYS.SAT' | translate}}</div>
                <div class="student-calendar-day-title">{{'CALENDAR.DAYS.SUN' | translate}}</div>
            </div>

            <div style="margin-top: 5px; border-top: 1px solid #e7eaec ;">
                <!--NG-REPEAT для 6-->
                <div style="display: inline-block;" ng-repeat="week in calendar[activeMonth].days track by $index">
                    <div ng-repeat="day in week track by $index" style="float:left;" class="{{day.style}}">
                        <div ng-class="day.dayCSS">{{day.day}}</div>
                        <button ng-click="showHomework(activeMonth,$parent.$index,$index)" ng-show="day.hasHomework" class="homework-task-box">
                            <div align="center">
                                Задание
                            </div>
                            <md-tooltip md-direction="top">
                                Посмотреть задание
                            </md-tooltip>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
