<style>
    .go-home-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .go-home-button:hover{
        background-color: #59b7ee;
    }
</style>
<div align="center">
    <div style="display: inline-block;">
        <div style="float: left; width: 400px; padding-top: 120px;">
            <div style="background-color: #f7f7f7; border-radius: 50%; width: 270px; height: 270px; padding-top: 60px; padding-bottom: 60px; padding-left: 20px;"><img src="/static-files/images/500error-icon.png" width="160px"></div>
        </div>
        <div style="float: left; width: 600px; padding-left: 40px; padding-right: 40px; padding-top: 80px;">
            <div style="color: #10bcf0; font-family: OpenSansBold; font-size: 70px;">Упс!</div>
            <div style="color: #000000; font-family: OpenSansBold; font-size: 20px;">ОШИБКА СЕРВЕРА</div>
            <div style="color: #afafaf; font-family: OpenSansRegular; font-size: 16px; padding-top: 45px;">На сервере произошла непредвиденная ошибка. Пожалуйста, попробуйте позже; она вскоре будет исправлена.</div>
            <div style="padding-top: 45px;"><button class="go-home-button">ВЕРНУТЬСЯ НА ГЛАВНУЮ</button></div>
        </div>
    </div>
</div>