<style>
    .tests-list-item-title{
        font-size: 25px;
        font-family: OpenSansRegular;
        opacity: 1;
    }
    .tests-list-item-title:hover{
        text-decoration: underline;
    }

    .appoint-test-button{
        background-color: #f4f5f6;
    }

    .appoint-test-button:hover{
        background-color: #ecfef9;
    }

    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #4e85f1;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }



</style>
<div ng-controller="testsController as ctrl" style="background-color: #e7eaec;">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Онлайн тестирование</div>
            </div>
        </div>
    </div>
    <div ng-if="!ctrl.noTests" style="width: 100%; background-color: #e7eaec;">
        <div style="width: 1280px; margin: auto;">
            <div style="margin-top: 30px; margin-left: 180px; margin-right: 180px; background-color: #e7eaec;">
                <div style="display: inline-block; width: 100%; border-bottom: 15px solid #e7eaec;" ng-repeat="test in ctrl.tests track by $index">
                    <div style="float: left; width: 120px; background-color: #00b7f2; text-align: center; padding-top: 28px; padding-bottom: 27px;">
                        <div style="font-family: OpenSansBold; color: #ffffff; font-size: 18px; padding-left: 30px; padding-right: 30px;">
                            <img src="/static-files/images/online-test-icon.png" width="50px">
                        </div>
                    </div>
                    <div style="float: left; width: 709px; padding-left: 25px; background-color: #ffffff; padding-right: 25px; padding-top: 15px; padding-bottom: 15px;">
                        <div class="tests-list-item-title" ng-click="ctrl.goToTestInfo(test._id)">{{test.name}}</div>
                        <div style="display: inline-block; padding-top: 15px; font-family: OpenSansRegular; color: #84929d; font-size: 14px;">
                            <div style="float: left; display: inline-block; margin-right: 25px;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-sections-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">Разделов:</div>
                                <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 15px; color: #000000;">{{test.sections.length}}</div>
                            </div>
                            <div style="float: left; display: inline-block; margin-right: 25px;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-question-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">Вопросов:</div>
                                <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 15px; color: #000000;">{{test.questionsCount}}</div>
                            </div>
                            <div style="float: left; display: inline-block;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-duration-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">Длительность:</div>
                                <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 15px; color: #000000;">{{test | testTotalDurationFilter}} минут</div>
                            </div>
                        </div>
                    </div>
                    <div class="appoint-test-button" ng-click="ctrl.assignTest(test._id)" style="float: left; border-left: 1px solid #e7eaec; width: 91px; padding-top: 18px; padding-bottom: 18px;" align="center">
                        <div style="padding-top: 2px; opacity: 0.7;">
                            <img src="/static-files/images/appoint-test-icon.png" width="28px">
                        </div>
                        <div style="color: #84929d; font-family: OpenSansSemiBold; font-size: 11px; padding-top: 8px;">НАЗНАЧИТЬ ТЕСТ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="ctrl.noTests">
        <div style="padding-top: 30px;">
            <div class="md-box" style="margin-right: 180px; margin-left: 180px; background-color: #ffffff;">
                <div align="center" style="padding-bottom: 60px; padding-top: 70px;">
                    <div><img src="/static-files/images/empty-tests-icon.png" height="170px"></div>
                    <div style="font-family: OpenSansSemiBold; font-size: 24px; padding-top: 25px; color: #a8b3c2;">Тестов нет</div>
                    <div style="font-family: OpenSansRegular; padding-top: 8px; color: #a8b3c2; font-size: 15px; padding-left: 230px; padding-right: 230px;">На данный момент, в Вашем центре, нет тестов. Чтобы добавить тест, нажмите на кнопку "+"</div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; margin: auto; position: fixed; bottom: 25px; text-align: right; right: 40px;">
        <button ng-click="ctrl.addTest()" class="new-group-button">
            +
            <md-tooltip md-direction="top" style="font-size:12px;">
                Добавить тест
            </md-tooltip>
        </button>
    </div>
</div>