<style>
    .md-box-delete-button{
        border-radius: 5px;
        width: 150px;
        border: 1px solid #ffffff;
        padding-top: 9px;
        padding-bottom: 9px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .md-box-delete-button:hover{
        background-color: #e5e5e5;

    }

    .md-box-edit-button{
        border-radius: 5px;
        width: 150px;
        border: 1px solid #ffffff;
        padding-top: 9px;
        padding-bottom: 9px;
        color: #ffffff;
        background-color: #74c2f0;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .md-box-edit-button:hover{
        background-color: #59b7ee;
    }

    .section-tab-nonactve{
        font-family: OpenSansSemiBold;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        float: left;
        color: #ffffff;
        font-size: 15px;
    }

    .section-tab-nonactve:hover{
        background-color: #69b7e5;
    }

    .section-tab-actve{
        font-family: OpenSansSemiBold;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        float: left;
        color: #ffffff;
        background-color: #59abdc;
        font-size: 15px;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        background-color: #ffffff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .section-control{
        background-color: transparent;
        border: 1px solid #9eaab4;
        color: #84929d;
        width: 110px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 4px;
        font-family: OpenSansSemiBold;
        opacity: 0.7;
    }

    .section-control:hover{
        opacity: 1;
    }

    .page-control:hover{
        color: #ffffff;
    }

</style>

<div ng-controller="testInfoController as ctrl" style="background-color: #eff2f7; padding-bottom: 60px;">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="padding-left: 130px; padding-right: 130px; background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Информация о тесте</div>
            </div>
        </div>
    </div>

    <div style="width: 100%;">
        <div style="width: 1280px; margin: auto;">
            <div style="background-color: #ffffff; border-radius: 4px; margin-left: 130px; margin-right: 130px; margin-top: 30px;">
                <div style="font-family: OpenSansLight; font-size: 34px; text-align: center; padding-top: 50px;">
                    {{ctrl.test.name}}
                </div>
                <div style="text-align: center; color: #949fb0; font-family: OpenSansLight; font-size: 16px; padding-top: 5px;">Дата создания: {{ctrl.test.createdAt | timeFilter}}</div>
                <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 20px; padding-bottom: 35px;">
                    <div class="col-xs-6" style="text-align: right; padding-right: 5px;"><button ng-click="ctrl.editTest()" class="md-box-delete-button">РЕДАКТИРОВАТЬ</button></div>
                    <div class="col-xs-6" style="text-align: left; padding-left: 5px;"><button ng-click="ctrl.deleteTest()" class="md-box-delete-button">УДАЛИТЬ</button></div>
                </div>

                <div style="width: 100%; background-color: #f7fbff; border-top: 1px solid #e6eef4; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" align="center">
                    <div style="display: inline-block; padding-top: 25px; padding-bottom: 25px; color: #84929d; font-family: OpenSansRegular;">
                        <div style="float: left; border-right: 1px solid #e6eef4; padding-left: 35px; padding-right: 35px;">
                            <div>Разделов</div>
                            <div style="font-size: 28px; padding-top: 5px;">{{ctrl.test.sections.length}}</div>
                        </div>
                        <div style="float: left; border-right: 1px solid #e6eef4; padding-left: 35px; padding-right: 35px;">
                            <div>Вопросов</div>
                            <div style="font-size: 28px; padding-top: 5px;">{{ctrl.test.questionsCount}}</div>
                        </div>
                        <div style="float: left; border-right: 1px solid #e6eef4; padding-left: 35px; padding-right: 35px;">
                            <div>Длительность</div>
                            <div style="font-size: 28px; padding-top: 5px;">{{ctrl.test | testTotalDurationFilter}} мин</div>
                        </div>
                        <div style="float: left; padding-left: 30px; padding-right: 30px;">
                            <div>Используемая память</div>
                            <div style="font-size: 28px; padding-top: 5px;">{{ctrl.test.memory | memoryUsageFilter}}</div>
                        </div>
                    </div>
                </div>

                <div style="background-color: #eff2f7; height: 30px;"></div>

                <div style="background-color: #eff2f7;"><div class="md-box-header">ИНФРМАЦИЯ О РАЗДЕЛАХ ТЕСТА</div></div>
                <div style="background-color: #74c2f0; display: inline-block; width: 100%; padding-left: 25px; padding-right: 25px;">
                    <div ng-repeat="section in ctrl.test.sections track by $index" ng-class="ctrl.sectionIndex == $index ? 'section-tab-actve' : 'section-tab-nonactve'" ng-click="ctrl.setActiveSection($index)">Раздел {{$index + 1}}</div>
                </div>
                <div style="padding-top: 30px; padding-bottom: 25px;" align="center">
                    <div style="font-size: 28px; font-family: OpenSansLight;">Раздел {{ctrl.sectionIndex + 1}}</div>
                    <!--<div style="display: inline-block; color: #84929d; padding-top: 15px; font-family: OpenSansRegular; font-size: 11px; padding-bottom: 5px;">-->
                        <!--<button ng-click="ctrl.editSection()" style="float: left; margin-right: 5px; border-right: 1px solid #aab6bf;" class="section-control">ИЗМЕНИТЬ</button>-->
                        <!--<button ng-click="ctrl.deleteSection()" style="float: left; margin-left: 5px;" class="section-control">УДАЛИТЬ</button>-->
                    <!--</div>-->
                    <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 20px; padding-bottom: 5px;">
                        <div class="col-xs-6" style="text-align: right; padding-right: 5px;"><button ng-click="ctrl.editSection()" class="md-box-delete-button" style="font-size: 12px;">РЕДАКТИРОВАТЬ</button></div>
                        <div class="col-xs-6" style="text-align: left; padding-left: 5px;"><button ng-click="ctrl.deleteSection()" class="md-box-delete-button" style="font-size: 12px;">УДАЛИТЬ</button></div>
                    </div>
                </div>

                <div style="width: 100%; background-color: #f7fbff; border-top: 1px solid #e6eef4; border-bottom: 1px solid #e6eef4; margin-bottom: 30px;" align="center">
                    <div style="display: inline-block; padding-top: 25px; padding-bottom: 25px; color: #84929d; font-family: OpenSansRegular;">
                        <div style="float: left; border-right: 1px solid #e6eef4; padding-left: 35px; padding-right: 35px;">
                            <div>Вопросов</div>
                            <div style="font-size: 28px; padding-top: 5px;">{{ctrl.section.questionsCount}}</div>
                        </div>
                        <div style="float: left; padding-left: 35px; padding-right: 35px;">
                            <div>Длительность</div>
                            <div style="font-size: 28px; padding-top: 5px;">{{ctrl.section | testDurationFilter}} мин</div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-right: 0; margin-left: 0; font-family: OpenSansLight; font-size: 20px; padding-bottom: 15px; padding-right: 10px; padding-left: 10px;">
                    <div class="col-xs-6" style="padding-top: 5px;">Файл с текстом задания</div>
                    <div class="col-xs-6" style="text-align: right;"><button ng-click="ctrl.editSectionFile()" class="md-box-delete-button" style="width: 160px; padding-top: 7px; padding-bottom: 7px; font-size: 12px;">ЗАМЕНИТЬ ФАЙЛ</button></div>
                </div>
                <div class="row" style="margin-left: 0; margin-right: 0; font-family: OpenSansSemiBold; font-size: 15px; color: #c1c1c1; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #4a4a4a; background-color: #4a4a4a; padding-left: 10px; padding-right: 10px;">
                    <div ng-click="ctrl.previousPage()" class="col-xs-4 page-control" style="text-align: left;"><i class="glyphicon glyphicon-chevron-left"></i>Предыдущий страница</div>
                    <div class="col-xs-4" style="text-align: center;">{{ctrl.imageIndex + 1}} из {{ctrl.section.images.length}}</div>
                    <div ng-click="ctrl.nextPage()" class="col-xs-4 page-control" style="text-align: right;">Следующая страница<i class="glyphicon glyphicon-chevron-right"></i></div>
                </div>
                <div style="background-color: #333333; padding-top: 30px; padding-bottom: 30px;" align="center">
                    <img ng-src="{{ctrl.section.images[ctrl.imageIndex]}}" width="800px">
                </div>


                <div class="row" style="margin-right: 0; margin-left: 0; font-family: OpenSansLight; font-size: 20px; padding-bottom: 15px; padding-right: 10px; padding-left: 10px; padding-top: 30px; border-bottom: 1px solid #edeeef;">
                    <div class="col-xs-6" style="padding-top: 5px;">Лист ответов</div>
                    <div class="col-xs-6" style="text-align: right;"><button ng-click="ctrl.editSectionAnswers()" class="md-box-delete-button" style="width: 210px; padding-top: 7px; padding-bottom: 7px; font-size: 12px;">РЕДАКТИРОВАТЬ ОТВЕТЫ</button></div>
                </div>

                <div class="row" style="border-bottom: 1px solid #edeeef; margin-left: 0; margin-right: 0; font-family: OpenSansRegular; font-size: 15px;" ng-repeat="answer in ctrl.section.answers">
                    <div class="col-xs-1" style="padding-top: 10px; padding-bottom: 10px; text-align: center;">{{answer.number}}</div>
                    <div class="col-xs-11" style="border-left: 1px solid #edeeef; padding-top: 10px; padding-bottom: 10px; padding-right: 30px; padding-left: 30px;">
                        <div ng-repeat="value in answer.values track by $index">{{value}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>