<link rel="stylesheet" href="/static-files/css/add-lesson.css">
<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        top: 40px;
    }


    /**/
    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .select-group-name {
        width: 680px;
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 99% 50%;
    }

    .select-group-name select {
        padding: 8px 0px;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        font-family: OpenSansRegular;
        font-size: 16px;
        -moz-appearance: none;
    }

    .select-group-name select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
        -moz-appearance: none;
    }


    .select-enabled {
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff;
        -moz-appearance: none;
    }

    .select-enabled select {
        padding: 2px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #0f0f0f;
        font-family: OpenSansRegular;
        font-size: 18px;
        -moz-appearance: none;
    }

    .select-enabled select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
        -moz-appearance: none;
    }

    .select-enabled-error select {
        padding: 2px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 2px solid #fb6565;
        border-radius: 0px;
        color: red;
        font-family: OpenSansRegular;
        font-size: 18px;
        -moz-appearance: none;
    }

    .select-enabled-error select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
        -moz-appearance: none;
    }





    .select-enabled-room {
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff;
        -moz-appearance: none;
    }

    .select-enabled-room select {
        padding: 2px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #0f0f0f;
        font-family: OpenSansRegular;
        font-size: 15px;
        text-align: center;
        text-align-last: center;
        width: 125px;
        -moz-appearance: none;
    }

    .select-enabled-room select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
        -moz-appearance: none;
    }

    /*WHEN ERROR*/

    .select-enabled-room-error select {
        padding: 2px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 2px solid #fb6565;
        border-radius: 0px;
        color: red;
        font-family: OpenSansRegular;
        font-size: 15px;
        text-align: center;
        text-align-last: center;
        width: 125px;
        -moz-appearance: none;
    }

    .select-enabled-room-error select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
        -moz-appearance: none;
    }







    .submit-new-schedule-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-new-schedule-button:hover{
        background-color: #59b7ee;
    }


    .cancel-new-schedule-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-new-schedule-button:hover{
        background-color: #e5e5e5;
    }


</style>
<div ng-controller="addLessonController as self" style="background-color: #ffffff; width: 1000px; height: 500px; border-radius: 4px;">
    <div style="padding-left:30px; padding-right: 30px; padding-top:18px; padding-bottom: 18px; background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold; border-top-left-radius: 3px; border-top-right-radius: 3px;">ДОБАВЛЕНИЕ РАСПИСАНИЯ</div>
    <div class="row" style="margin-left: 0px; margin-right: 0px; padding-left: 10px; padding-right: 10px; padding-top: 30px; padding-bottom: 30px; border-bottom: 1px solid #e3e8f1;">
        <div class="col-xs-3" style="font-size: 17px; width: 200px; padding-left: 30px; padding-top: 8px; text-align: right; font-size: 16px; font-family: OpenSansRegular; color: #9b9b9b;">Выберите группу:</div>
        <div class="col-xs-9" style="width: 700px;">
            <div class="select-group-name">
                <select ng-options="group as group.name for group in self.groups track by group._id" ng-model="self.group"></select>
            </div>
        </div>
    </div>
    <div ng-if="!self.group.hasTeacher" style="display: inline-block; width: 100%; background-color: #f54a40; padding-left: 30px; padding-right: 30px; color:#ffffff; padding-top: 15px; padding-bottom: 15px; font-weight: 300;">
        <div style="float: left; font-size: 25px;">
            <i class="fa fa-times-circle"></i>
        </div>
        <div style="float: left; padding-left: 10px; font-family: OpenSansRegular;">
            <b><u>Внимание!</u></b>&nbsp;&nbsp;&nbsp;У выбранной группы не назначен учитель! Для добавления расписания необходимо указать учителя
        </div>
    </div>
    <div ng-if="self.group.hasTeacher" class="row" style="margin-left: 0px; margin-right: 0px;">
        <div class="col-xs-2" style="border-right: 1px solid #e3e8f1; background-color: #ffffff;">
            <div style="padding-top: 15px; padding-bottom: 15px;">
                <div style="font-size: 18px; font-family: OpenSansLight; text-align: center;">Понедельник</div>
                <div style="padding-top: 5px; padding-left: 40px; padding-right: 40px;">
                    <input ng-model="self.days[0].isActive" type="checkbox" name="toggle" id="toggle">
                    <label for="toggle"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-2" style="border-right: 1px solid #dee3ed; background-color: #ffffff;">
            <div style="padding-top: 15px; padding-bottom: 15px;">
                <div style="font-size: 18px; font-family: OpenSansLight; text-align: center;">Вторник</div>
                <div style="padding-top: 5px; padding-left: 40px; padding-right: 40px;">
                    <input ng-model="self.days[1].isActive"  type="checkbox" name="toggleTuesday" id="toggleTuesday">
                    <label for="toggleTuesday"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-2" style="border-right: 1px solid #dee3ed; background-color: #ffffff;">
            <div style="padding-top: 15px; padding-bottom: 15px;">
                <div style="font-size: 18px; font-family: OpenSansLight; text-align: center;">Среда</div>
                <div style="padding-top: 5px; padding-left: 40px; padding-right: 40px;">
                    <input ng-model="self.days[2].isActive" type="checkbox" name="toggleWednesday" id="toggleWednesday">
                    <label for="toggleWednesday"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-2" style="border-right: 1px solid #dee3ed; background-color: #ffffff;">
            <div style="padding-top: 15px; padding-bottom: 15px;">
                <div style="font-size: 18px; font-family: OpenSansLight; text-align: center;">Четверг</div>
                <div style="padding-top: 5px; padding-left: 40px; padding-right: 40px;">
                    <input ng-model="self.days[3].isActive" type="checkbox" name="toggleThursday" id="toggleThursday">
                    <label for="toggleThursday"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-2" style="border-right: 1px solid #dee3ed; background-color: #ffffff;">
            <div style="padding-top: 15px; padding-bottom: 15px;">
                <div style="font-size: 18px; font-family: OpenSansLight; text-align: center;">Пятница</div>
                <div style="padding-top: 5px; padding-left: 40px; padding-right: 40px;">
                    <input ng-model="self.days[4].isActive" type="checkbox" name="toggleFriday" id="toggleFriday">
                    <label for="toggleFriday"></label>
                </div>
            </div>
        </div>
        <div class="col-xs-2" style="background-color: #ffffff;">
            <div style="padding-top: 15px; padding-bottom: 15px;">
                <div style="font-size: 18px; font-family: OpenSansLight; text-align: center;">Суббота</div>
                <div style="padding-top: 5px; padding-left: 40px; padding-right: 40px;">
                    <input ng-model="self.days[5].isActive" type="checkbox" name="toggleSaturday" id="toggleSaturday">
                    <label for="toggleSaturday"></label>
                </div>
            </div>
        </div>
    </div>


    <!--DISABLED CHOOSE DAY    -->

    <div ng-if="!self.group.hasTeacher" class="row" style="margin-left: 0px; margin-right: 0px;">
        <div class="col-xs-2" style="border-right: 1px solid #e3e8f1; background-color: #f4f4f4;" ng-repeat="day in self.weekDays">
            <div style="padding-top: 15px; padding-bottom: 15px;">
                <div style="font-size: 18px; font-family: OpenSansLight; text-align: center;">{{day}}</div>
                <div style="padding-top: 5px; padding-left: 40px; padding-right: 40px;">
                    <input disabled type="checkbox" id="toggle">
                    <label></label>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-right: 0px; margin-left: 0px; border-bottom: 1px solid #dee3ed;">
        <div ng-repeat="day in self.days track by $index">
            <div ng-show="!self.days[$index].isActive" ng-include="'/app-admin/views/schedule/helpers/add-lesson-disabled-form.view.html'"></div>
            <div ng-show="self.days[$index].isActive" class="col-xs-2" style="padding-right: 0px; padding-left: 0px;">
                <div style="background-color: #ffffff; height: 236px; border-right: 1px solid #dee3ed; padding-left: 20px; padding-right: 20px;">
                    <div style="font-size: 14px; font-family: OpenSansLight; padding-top: 10px; text-align: center;">Начало урока</div>
                    <div style="display: inline-block; padding-left: 20px; padding-right: 20px;">
                        <div class="select-enabled" style="float: left; width: 40px; margin-top: 5px;">
                            <select ng-change="self.reloadTime($index)" style="padding-left: 8px;" ng-options="hour as hour.label for hour in self.days[$index].start.hours track by hour.value" ng-model="self.days[$index].start.selectedHour">
                            </select>
                        </div>
                        <div style="float: left; font-weight: 600; padding-top: 7px; border-bottom: 1px solid #c0c0c0; padding-bottom: 2px;">:</div>
                        <div class="select-enabled" style="float: left; width: 40px; margin-top: 5px;">
                            <select ng-change="self.reloadTime($index)" style="padding-left: 10px;" ng-options="minute as minute.label for minute in self.days[$index].start.minutes track by minute.value" ng-model="self.days[$index].start.selectedMinute">
                            </select>
                        </div>
                    </div>
                    <div style="font-size: 14px; font-family: OpenSansLight; padding-top: 10px; text-align: center;">Конец урока</div>
                    <div style="display: inline-block; padding-left: 20px; padding-right: 20px;">
                        <div class="select-enabled" style="float: left; width: 40px; margin-top: 5px;">
                            <select style="padding-left: 8px;" ng-options="hour as hour.label for hour in self.days[$index].end.hours track by hour.value" ng-model="self.days[$index].end.selectedHour">
                                <option>09</option>
                            </select>
                        </div>
                        <div style="float: left; font-weight: 600; padding-top: 7px; border-bottom: 1px solid #c0c0c0; padding-bottom: 2px;">:</div>
                        <div class="select-enabled" style="float: left; width: 40px; margin-top: 5px;">
                            <select style="padding-left: 10px;" ng-options="minute as minute.label for minute in self.days[$index].end.minutes track by minute.value" ng-model="self.days[$index].end.selectedMinute">
                                <option>00</option>
                            </select>
                        </div>
                    </div>
                    <div style="font-size: 14px; font-family: OpenSansLight; padding-top: 10px; text-align: center;">Аудитория</div>
                    <div class="select-enabled-room" style="float: left; margin-top: 5px; width: 125px; margin-bottom: 8px;">
                        <select ng-options="classroom as classroom.name for classroom in self.classrooms track by classroom._id" ng-model="self.days[$index].classroom">
                        </select>
                    </div>
                    <div ng-if="day.timeError" style="text-align: center; color:red; font-size: 12px;"><i>Некорректное время</i></div>
                    <div ng-if="day.classroomError" style="text-align: center; color:red; font-size: 12px;"><i>Выберите аудиторию</i></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="self.lessonsNotSelectedError" style="background-color: #f54a40; padding-left: 30px; padding-right: 30px; color:#ffffff; padding-top: 15px; padding-bottom: 15px; font-weight: 300;">
        <span>
            <i class="fa fa-times-circle"></i>
        </span>
            <span style="padding-left: 10px;">
            Необходимо выбрать день урока
        </span>
    </div>
    <div ng-if="self.padError">
        <div ng-show="self.padError.context == self.modalObject.CLASSROOM" style="display: inline-block; width: 100%; background-color: #f54a40; padding-left: 30px; padding-right: 30px; color:#ffffff; padding-top: 15px; padding-bottom: 15px; font-weight: 300;">
            <div style="float: left; font-size: 25px;">
                <i class="fa fa-times-circle"></i>
            </div>
            <div style="float: left; padding-left: 10px; font-family: OpenSansRegular;">
                К сожалению, произошла ошибка! В указанное время в <b><u>{{self.modalObject.days[self.padError.content.day-1]}}</u></b>, выбранная <b><u>аудитория</u></b> занята!
            </div>
        </div>
        <div ng-if="self.padError.context == self.modalObject.TEACHER" style="display: inline-block; width: 100%; background-color: #f54a40; padding-left: 30px; padding-right: 30px; color:#ffffff; padding-top: 15px; padding-bottom: 15px; font-weight: 300;">
            <div style="float: left; font-size: 25px;">
                <i class="fa fa-times-circle"></i>
            </div>
            <div style="float: left; padding-left: 10px; font-family: OpenSansRegular;">
                К сожалению, произошла ошибка! В указанное время в <b><u>{{self.modalObject.days[self.padError.content.day-1]}}</u></b>, у <b><u>преподавателя</u></b> данной группы, уже есть урок!
            </div>
        </div>
    </div>

    <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 15px; background-color: #fafbfc; padding-bottom: 15px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;">
        <div class="col-xs-6" style="text-align: left; padding-left: 20px;">
            <button ng-click="closeThisDialog()" class="cancel-new-schedule-button">ОТМЕНИТЬ</button>
        </div>
        <div class="col-xs-6" style="text-align: right; padding-right: 20px;">
            <button ng-click="self.addSchedule()" class="submit-new-schedule-button">ДОБАВИТЬ</button>
        </div>
    </div>
</div>