<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 500px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
    }

    .schedule-info-control{
        color: rgba(255, 255, 255, 0.7);
    }

    .schedule-info-control:hover{
        color: #ffffff;
    }

    .schedule-control-icon{
        opacity: 0.6;
    }

    .schedule-control-icon:hover{
        opacity: 1;
    }

    .lesson-info-control-button{
        background-color: transparent;
        border: none;
        color: #ffffff;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        opacity: 0.5;
    }

    .lesson-info-control-button:hover{
        opacity: 1;
        text-decoration: underline;
    }

</style>
<div ng-controller="lessonInfoController as self">
    <div ng-style="{'background-color' : group.color}" style="border-top-right-radius: 4px; border-top-left-radius: 4px;">
        <div style="color: #ffffff; font-family: OpenSansRegular; text-align: center; font-size: 26px; padding-top: 30px; padding-bottom: 10px;">{{group.name}}</div>
        <div style="text-align: center;">
            <div style="text-align: center; color:#ffffff; padding-bottom: 15px; display: inline-block;">
                <button class="lesson-info-control-button" ng-click="self.editSchedule()" style="float: left;">
                    ИЗМЕНИТЬ
                </button>
                <button class="lesson-info-control-button" ng-click="self.deleteSchedule()" style="float: left;">
                    УДАЛИТЬ
                </button>
            </div>
        </div>
    </div>
    <div style="background-color: #ffffff; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding-bottom: 30px; padding-top: 20px;">
        <div style="display: inline-block;">
            <div style="float: left; color:#999999; padding-right: 10px; padding-left: 43px; font-family: OpenSansRegular;">Учитель:</div>
            <div style="float: left; font-family: OpenSansRegular;">{{self.group.teachers[0] | nameFilter}}</div>
        </div>
        <div></div>
        <div style="display: inline-block; padding-top: 10px;">
            <div style="float: left; color:#999999; padding-right: 10px; padding-left: 43px; font-family: OpenSansRegular;">Cтудентов:</div>
            <div style="float: left; font-family: OpenSansRegular;">{{self.group.students.length}}</div>
        </div>
        <div style="text-align: center; padding-top: 10px;">
            <div style="text-align: left; color:#999999; padding-right: 10px; padding-left: 43px; font-family: OpenSansRegular;">Расписание уроков на неделю</div>
            <div style="display: inline-block; border: 1px solid #bdcbda; margin-top: 5px; background-color: #ffffff; font-weight: 500; font-size: 14px;">
                <div style="float: left; background-color: #e4eaf0; border-right: 1px solid #bdcbda; padding: 5px; text-align: center; width: 90px; color:#92a0af; font-family: OpenSansSemiBold;">День</div>
                <div style="float: left; background-color: #e4eaf0; border-right: 1px solid #bdcbda; padding: 5px; text-align: center; width: 140px; color:#92a0af; font-family: OpenSansSemiBold;">Время</div>
                <div style="float: left; background-color: #e4eaf0; padding: 5px; text-align: center; width: 180px; color:#92a0af; font-family: OpenSansSemiBold;">Аудитория</div>
            </div>
            <div style="display: inline-block; border: 1px solid #bdcbda; border-top: none; background-color: #ffffff; font-weight: 400; font-size: 14px;" ng-repeat="lesson in self.group.schedule track by $index">
                <div style="float: left; background-color: #ffffff; border-right: 1px solid #bdcbda; padding: 5px; text-align: center; width: 90px; color:#000000; font-family: OpenSansRegular;">{{self.days[lesson.day-1]}}</div>
                <div style="float: left; background-color: #ffffff; border-right: 1px solid #bdcbda; padding: 5px; text-align: center; width: 140px; color:#000000; font-family: OpenSansRegular;">{{lesson.startTime | date :'HH:mm'}} -{{lesson.endTime | date :'HH:mm'}}</div>
                <div style="float: left; background-color: #ffffff; padding: 5px; text-align: center; width: 180px; color:#000000; font-family: OpenSansRegular;">{{lesson.classroomID.name}}</div>
            </div>
        </div>
    </div>
</div>
