<style>
    .md-box{
        background-color: #ffffff;
        border-radius: 2px;
        border-top: 1px solid #e9ecf2;
        border-left: 1px solid #e9ecf2;
        border-right: 1px solid #e9ecf2;
        /*border-bottom: 1px solid #dfe1e6;*/
    }
    .md-box-header{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        color: #4d88b3;
        border-bottom: 1px solid #74c2f0;
        background-color: #e2f2fe;
        font-family: OpenSansSemiBold;
    }
</style>
<div ng-controller="groupController as ctrl">
    <div style="margin-top: 15px;">
        <div class="md-box">
            <div class="md-box-header">Учитель</div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-xs-6">
                    <div style="display: inline-block; padding-top: 10px; padding-bottom: 10px;">
                        <div style="float: left; width: 70px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px;">
                            <img style="border-radius: 50%;" ng-src="{{ctrl.group.teacherID.imageUrl}}" width="40px">
                        </div>
                        <div style="float: left; padding-top: 15px; padding-bottom: 15px; font-size: 15px; font-family: OpenSansRegular; color: #444444;">{{ctrl.group.teacherID.name}}</div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div style="padding-top: 25px; padding-bottom: 25px; font-size: 14px; font-family: OpenSansRegular; color: #444444;">{{ctrl.group.teacherID.email}}</div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 15px;">
        <div class="md-box">
            <div class="md-box-header">Студенты группы</div>
            <!--ТУТ NG REPEAT для студентов-->
            <div class="row" style="margin-left: 0px; margin-right: 0px; border-bottom: 1px solid #e9ecf2;" ng-repeat="student in ctrl.group.students">
                <div class="col-xs-6">
                    <div style="display: inline-block; padding-top: 7px; padding-bottom: 7px;">
                        <div style="float: left; width: 70px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px;">
                            <img style="border-radius: 50%;" ng-src="{{student.imageUrl}}" width="35px">
                        </div>
                        <div style="float: left; padding-top: 12px; padding-bottom: 12px; font-size: 14px; font-family: OpenSansRegular; color: #444444;">{{student.name}}</div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div style="padding-top: 20px; padding-bottom: 20px; font-size: 14px; font-family: OpenSansRegular; color: #444444;">{{student.email}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
