<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 40px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .rounded-image{
        border-radius: 50%;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #66bef0;
        color: #0f0f0f;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }


</style>
<div ng-controller="editWaitingStudentController as modal">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">РЕДАКТИРОВАНИЕ СТУДЕНТА</div>
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-xs-6">
                <!--<div style="font-family: OpenSansSemiBold; font-size: 17px; color: #838e9e; padding-top: 20px; padding-left: 20px; padding-right: 20px;">Персональные данные</div>-->
                <!--<div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-left: 20px; padding-bottom: 10px;">(Данная информация нужна для удобной фильтрации студентов)</div>-->
                <div style="padding-top: 40px;" align="center">
                    <img style="border-radius: 50%;" src="/static-files/images/empty-student-photo.png" width="120px">
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Фамилия:</div>
                    </div>
                    <div class="col-xs-8">
                        <input ng-model="modal.lastName" type="text" style="width:260px;" class="md-text-input" placeholder="Введите имя">
                        <div ng-if="modal.lastNameError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Имя:</div>
                    </div>
                    <div class="col-xs-8">
                        <input ng-model="modal.firstName" type="text" style="width:260px;" class="md-text-input" placeholder="Введите имя">
                        <div ng-if="modal.firstNameError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>

                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Телефон:</div>
                    </div>
                    <div class="col-xs-8">
                        <input disabled ui-mask="+7 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="modal.phone" type="text" style="width:260px;" class="md-text-input" placeholder="Введите номер телефона">
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Email:</div>
                    </div>
                    <div class="col-xs-8">
                        <input ng-model="modal.email" type="text" style="width:260px;" class="md-text-input" placeholder="Введите email адрес">
                        <div ng-if="modal.emailError" ng-include="'/app-teacher/views/templates/validation/email-short.html'"></div>

                    </div>
                </div>
            </div>
            <div class="col-xs-6" style="border-left: 1px solid #edeeef; padding-bottom: 30px;">
                <!--<div style="font-family: OpenSansSemiBold; font-size: 17px; color: #838e9e; padding-top: 20px; padding-left: 20px; padding-right: 20px;">Общая информация</div>-->
                <!--<div style="font-size: 13px; font-family: OpenSansRegular; color: #838e9e; padding-left: 20px; padding-bottom: 10px;">(Данная информация используется для фильтрации студентов)</div>-->

                <!--ЕСЛИ НЕТ ПРЕДМЕТОВ-->
                <div ng-if="modal.noSubjects" style="margin-top: 5px; margin-bottom: 5px; background-color: #e8453c; border-radius: 4px; font-family: OpenSansRegular; padding-left: 15px; padding-right: 15px; margin-right: 20px; margin-left: 20px; padding-top: 10px; padding-bottom: 10px; color: #ffffff;">
                    <b>Внимание!</b> &nbsp;&nbsp;Для полноценной работы сортировки студентов, Вам необходимо добавить предметы Вашего центра.
                </div>
                <div ng-if="!modal.noSubjects">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-xs-4" style="text-align: right;">
                            <div style="padding-top: 8px;">Предмет:</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="select-style" style="float: left; width: 260px;">
                                <select ng-model="modal.subject" ng-options="subject as subject.name for subject in modal.subjects track by subject._id" ng-change="modal.updateSubject()"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-xs-4" style="text-align: right;">
                            <div style="padding-top: 8px;">Уровень:</div>
                        </div>
                        <div class="col-xs-8">
                            <div class="select-style" style="float: left; width: 260px;">
                                <select ng-model="modal.level" ng-options="level as level.value for level in modal.subject.levels track by level._id"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Тип группы:</div>
                    </div>
                    <div class="col-xs-8">
                        <div style="padding-top: 10px;">
                            <div>
                                <button ng-click="modal.setGroupType(modal.GROUP_TYPE_GENERAL)" ng-class="modal.GROUP_TYPE == modal.GROUP_TYPE_GENERAL ? 'group-type-comman-active' : 'group-type-comman'" style="font-size: 13px;">Общая</button>
                            </div>
                            <div>
                                <button ng-click="modal.setGroupType(modal.GROUP_TYPE_INDIVIDUAL)" ng-class="modal.GROUP_TYPE == modal.GROUP_TYPE_INDIVIDUAL ? 'group-type-individ-active' : 'group-type-individ'" style="font-size: 13px;">Индивид</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Возраст:</div>
                    </div>
                    <div class="col-xs-8">
                        <div class="select-style" style="float: left; width: 260px;">
                            <select ng-model="modal.age" ng-options="age as age.name for age in modal.STUDENT_AGE_GROUPS track by age.value"></select>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Удобное время:</div>
                    </div>
                    <div class="col-xs-8">
                        <div style="padding-top: 10px;">
                            <div>
                                <button ng-click="modal.setStudyTime(modal.STUDENT_STUDY_TIME_MORNING)" ng-class="modal.studyTimes[modal.STUDENT_STUDY_TIME_MORNING] ? 'group-time-active' : 'group-time'">Утреннее</button>
                            </div>
                            <div style="margin-top: 5px;">
                                <button ng-click="modal.setStudyTime(modal.STUDENT_STUDY_TIME_LUNCH)"  ng-class="modal.studyTimes[modal.STUDENT_STUDY_TIME_LUNCH] ? 'group-time-active' : 'group-time'">Обеденное</button>
                            </div>
                            <div style="margin-top: 5px;">
                                <button ng-click="modal.setStudyTime(modal.STUDENT_STUDY_TIME_EVENING)" ng-class="modal.studyTimes[modal.STUDENT_STUDY_TIME_EVENING] ? 'group-time-active' : 'group-time'">Вечернее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-xs-4" style="text-align: right;">
                        <div style="padding-top: 8px;">Удобные дни:</div>
                    </div>
                    <div class="col-xs-8">
                        <div style="display: inline-block; padding-top: 10px;">
                            <div style="float: left;">
                                <button ng-click="modal.setDay(1)" ng-class="modal.days[1] ? 'group-day-active' : 'group-day'" style="width: 40px; margin-right: 5px;">ПН</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="modal.setDay(2)" ng-class="modal.days[2] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px;">ВТ</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="modal.setDay(3)" ng-class="modal.days[3] ? 'group-day-active' : 'group-day'" style="width: 40px; margin-right: 5px;">СР</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="modal.setDay(4)" ng-class="modal.days[4] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px;">ЧТ</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="modal.setDay(5)" ng-class="modal.days[5] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px;">ПТ</button>
                            </div>
                            <div style="float: left;">
                                <button ng-click="modal.setDay(6)" ng-class="modal.days[6] ? 'group-day-active' : 'group-day'"  style="width: 40px; margin-right: 5px;">СБ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 15px; padding-bottom: 15px; border-top: 1px solid #edeeef; padding-left: 20px; padding-right: 20px;">
            <div class="col-xs-6">
                <button ng-click="closeThisDialog()" class="cancel-group-button">ОТМЕНИТЬ</button>
            </div>
            <div class="col-xs-6" style="text-align: right;">
                <button ng-click="modal.updateStudent()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
            </div>
        </div>
    </div>
</div>