<style>
    .md-text-input-error{
        border: none;
        border-bottom: 2px solid #fb6565;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input-error:focus{
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }

    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 40px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .rounded-image{
        border-radius: 50%;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }

    .remove-level{
        border: none;
        padding: 0;
        background-color: transparent;
        opacity: 0.6;
    }

    .remove-level:hover{
        opacity: 1;
    }

    .add-level-button{
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 14px;
        font-family: OpenSansRegular;
        color: #838e9e;
    }

    .add-level-button:hover{
        color: #596475;
        text-decoration: underline;

    }

    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #5e91f5;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }


</style>
<div ng-controller="editSubjectController as modal">
    <div class="md-modal-box">
        <!--<div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ДОБАВЛЕНИЕ В ДРУГУЮ ГРУППУ</div>-->
        <div style="background-color: #ffffff; padding-top: 20px; padding-bottom: 20px; font-size: 17px; padding-left: 30px; padding-right: 30px; border-bottom: 1px solid #e7eaec; font-family: OpenSansRegular; border-top-left-radius: 4px; border-top-right-radius: 4px;">Редактирование предмета</div>
        <div class="row" style="margin-right: 0px; padding-top: 40px; margin-left: 0px;">
            <div class="col-xs-4" style="text-align: right; padding-top: 8px; width: 150px;">Предмет:</div>
            <div class="col-xs-8" style="text-align: left;">
                <input ng-model="modal.name" type="text" style="width:410px;" ng-class="modal.nameError ? 'md-text-input-error' : 'md-text-input'" placeholder="Введите название предмета">
            </div>
        </div>
        <div class="row" style="margin-right: 0px; padding-top: 10px; margin-left: 0px; margin-top: 10px; padding-bottom: 40px;">
            <div class="col-xs-4" style="text-align: right; padding-top: 8px; width: 150px;">Уровни:</div>
            <div class="col-xs-8" style="text-align: left;">
                <div style="margin-bottom: 5px; display: inline-block;" ng-repeat="level in modal.levels track by $index">
                    <div style="float: left;">
                        <input ng-model="modal.levels[$index]" ng-class="modal.levelErrors[$index] ? 'md-text-input-error' :'md-text-input' " type="text" style="width:388px;" class="md-text-input" placeholder="Введите название уровня">
                    </div>
                    <div style="float: left; padding-top: 15px; margin-left: 10px;">
                        <button ng-click="modal.removeLevel($index)" class="remove-level">
                            <img src="/static-files/images/delete-icon.png" width="11px">
                        </button>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <button ng-click="modal.addLevel()" class="add-level-button">+ Добавить еще уровень</button>
                </div>
            </div>
        </div>
        <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <div style="float: right;">
                <button ng-click="modal.editSubject()" type="submit" class="submit-group-button" style="width: 200px;">Сохранить изменения</button>
            </div>
            <div style="float: right; margin-right: 15px;">
                <button ng-click="closeThisDialog()" class="cancel-group-button">Отменить</button>
            </div>
        </div>
    </div>
</div>