<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 80px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }


    /*Стили RADIO BUTTON*/

    md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
        border-color: #CCCCCC;
    }

    md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
        background-color: #74c2f0;
    }

    md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
        border-color: #74c2f0;
    }

</style>
<div ng-controller="formGroupController as modal">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: rgba(36, 205, 152, 0.8); color: #ffffff; font-family: OpenSansSemiBold;">ФОРМИРОВАНИЕ НОВОЙ ГРУППЫ</div>
        <div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Название группы:</div>
                <div class="col-xs-8">
                    <input type="text" ng-model="modal.name" style="width:400px;" class="md-text-input" placeholder="Введите название">
                    <div ng-if="modal.nameError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="padding-top: 15px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Учитель:</div>
                <div class="col-xs-8">
                    <div class="select-style" style="float: left; width: 400px;">
                        <select ng-model="modal.teacher" ng-options="teacher as teacher.name for teacher in modal.teachers track by teacher._id"></select>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 25px;">
                <div class="col-xs-4" style="text-align: right;">Тип группы:</div>
                <div class="col-xs-8">
                    <md-radio-group ng-change="changeGroupType()" ng-model="modal.individual">
                        <md-radio-button value="0" style="color: #777777">Общая группа</md-radio-button>
                        <md-radio-button ng-if="modal.students.length <=1" value="1" style="color: #777777">Индивидуальная группа</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Стоимость курса:</div>
                <div class="col-xs-8">
                    <input type="text" ng-model="modal.price" style="width:200px;" class="md-text-input" placeholder="Введите стоимость">
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Цвет группы:</div>
                <div class="col-xs-8">
                    <div style="display: inline-block;" ng-repeat="color in modal.colors track by $index">
                        <div style="float: left; padding-right: 2px;">
                            <img ng-if="$index == modal.activeColorIndex" ng-src="{{color.activeUrl}}" width="30px">
                            <img ng-if="$index != modal.activeColorIndex" ng-click="modal.setColor($index)" ng-src="{{color.nonActiveUrl}}" width="30px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; margin-top: 40px; padding-top: 15px; padding-bottom: 15px; padding-left: 5px; padding-right: 5px; border-top: 1px solid #edeeef;">
                <div class="col-xs-6" style="text-align: left;">
                    <button ng-click="closeThisDialog()" class="cancel-group-button">ОТМЕНИТЬ</button>
                </div>
                <div class="col-xs-6" style="text-align: right">
                    <button ng-click="modal.addGroup()" type="submit" class="submit-group-button">СОЗДАТЬ</button>
                </div>
            </div>
        </div>
    </div>
</div>