<div ng-controller="authController as ctrl" class="container">
    <div class="input-group">
        <input ng-model="ctrl.login" type="text">
        <input ng-model="ctrl.password" type="password">
    </div>
    <button class="btn btn-default" ng-click="ctrl.authorize()">Авторизоваться</button>

</div>