<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 300px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
    }

    .schedule-info-control{
        color: rgba(255, 255, 255, 0.7);
    }

    .schedule-info-control:hover{
        color: #ffffff;
    }

    .schedule-control-icon{
        opacity: 0.6;
    }

    .schedule-control-icon:hover{
        opacity: 1;
    }

    .lesson-info-control-button{
        background-color: transparent;
        border: none;
        color: #ffffff;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        opacity: 0.5;
    }

    .lesson-info-control-button:hover{
        opacity: 1;
        text-decoration: underline;
    }

    button, div{
        outline: none;
    }

</style>
<div style="border-top-right-radius: 4px; border-top-left-radius: 4px;" ng-style="{'background-color' : lesson.groupID.color}">
    <div style="color: #ffffff; font-family: OpenSansRegular; text-align: center; font-size: 22px; padding-top: 25px; padding-bottom: 25px;">{{lesson.groupID.name}}  </div>
</div>
<div style="background-color: #ffffff; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding-top: 10px; padding-bottom: 10px;">
    <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px dashed #cccccc; width: 100%;">
        <div style="float: left; width: 120px; color:#999999; margin-left: 60px; font-family: OpenSansRegular;">День:</div>
        <div style="float: left; font-family: OpenSansRegular;">{{day}}</div>
    </div>
    <div></div>
    <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px dashed #cccccc; width: 100%;">
        <div style="float: left; width: 120px; color:#999999;  margin-left: 60px; font-family: OpenSansRegular;">Время:</div>
        <div style="float: left; font-family: OpenSansRegular;">{{startTime | date : 'HH:mm ' }} - {{endTime | date :'HH.mm'}} </div>
    </div>
    <div></div>
    <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px dashed #cccccc; width: 100%;">
        <div style="float: left; width: 120px; color:#999999; margin-left: 60px; font-family: OpenSansRegular;">Аудитория:</div>
        <div style="float: left; font-family: OpenSansRegular;">{{lesson.classroomID.name}}</div>
    </div>
    <div></div>
    <div style="display: inline-block; padding-top: 15px; padding-bottom: 15px; width: 100%;">
        <div style="float: left; width: 120px; color:#999999; margin-left: 60px; font-family: OpenSansRegular;">Cтудентов:</div>
        <div style="float: left; font-family: OpenSansRegular;">{{lesson.groupID.students.length}}</div>
    </div>
</div>