<style>
    .md-box{
        background-color: #ffffff;
        border-radius: 2px;
        border-top: 1px solid #e9ecf2;
        border-left: 1px solid #e9ecf2;
        border-right: 1px solid #e9ecf2;
        border-bottom: 1px solid #dfe1e6;
    }

    .md-box-header{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 15px;
        color: #838e9e;
        border-bottom: 1px solid #e7eaec;
        background-color: #ffffff;
        font-family: OpenSansSemiBold;
    }

    .student-channel-sort-item{
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        border-left: 2px solid #ffffff;
        font-size: 14px;
    }

    .student-channel-sort-item:hover{
        background-color: #f5f9fc;
        border-left: 2px solid #f5f9fc;

    }

    .channel-post-item{
    }

    .channel-post-item-header{
        display: inline-block;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .channel-post-item-content{
        padding-left: 20px;
        padding-right: 20px;
        /*padding-bottom: 15px;*/
    }

    .rounded-image{
        border-radius: 50%;
    }

    .channel-post-item-send-comment{
        border-top: 1px solid #e9ecf2;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .send-comment-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 6px;
        padding-right: 6px;
    }

    .send-comment-button:hover{
        background-color: #59b7ee;
    }

    textarea{
        border: none !important;
        resize: none;
    }

    .channel-post-item-comment-item{
        border-top: 1px solid #e9ecf2;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 474px;
    }

    .reply-button{
        color: #4484b2;
        font-family: OpenSansRegular;
        font-size: 12px;
        background-color: transparent;
        padding: 0;
        border: none;
    }

    .reply-button:hover{
        color: #3b7aa8;
        text-decoration: underline;
    }

    .comment-button{
        background-color: #eef2f7;
        border: none;
        border-radius: 2px;
        color: #56677c;
        width: 474px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 13px;
    }

    .comment-button:hover{
        background-color: #e6ecf4;
    }

    .channel-post-item-content-files{
        margin-top: 15px;
        margin-bottom: 13px;
    }

    .channel-post-item-content-files-item{
        display: inline-block;
        margin-bottom: 5px;
    }

    .channel-more-button{
        color: #4484b2;
        font-family: OpenSansSemiBold;
        font-size: 13px;
        background-color: transparent;
        padding: 0;
        border: none;
        margin-top: 5px;
    }

    .channel-more-button:hover{
        color: #3b7aa8;
        text-decoration: underline;
    }

    .channel-post-item-homework-task{
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 15px;
    }

    .homework-task-content{
        background-color: #f5f9fc;
        border-left: 2px solid #74c2f0;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: OpenSansRegular;
        margin-bottom: 5px;
    }

    .homework-task-comment{
        display: inline-block;
        padding-top: 10px;
        font-family: OpenSansRegular;
        font-size: 14px;
        padding-left: 20px;
        padding-bottom: 5px;
    }


</style>

<div ng-controller="channelController as ctrl">
    <div class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col-xs-8" style="padding-left: 0px; padding-right: 7px;">
            <div ng-if="loadingPostsByType">
                <div class="loader" style="font-size: 12px;"></div>
            </div>
            <div class="md-box" style="margin-top: 15px;" ng-if="ctrl.posts.length == 0">
                <div class="md-box-header" style="padding-top: 13px; padding-bottom: 13px; font-size: 15px; font-family: OpenSansSemiBold;">{{'CHANNEL.TITLE' | translate}}</div>
                <div align="center" style="padding-top: 80px; padding-bottom: 100px;">
                    <img src="/static-files/images/empty-channel-icon.png" width="150px">
                    <div style="font-family: OpenSansBold; font-size: 18px; padding-top: 30px; color: #a8b3c2;">{{'CHANNEL.EMPTY_TITLE' | translate}}</div>
                    <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 100px; padding-right: 100px;">{{'CHANNEL.EMPTY_TEXT' | translate}}</div>
                </div>
            </div>

            <div ng-show="ctrl.posts.length > 0" class="md-box" style="margin-top: 15px;" ng-repeat="post in ctrl.posts track by $index">
                <div class="channel-post-item">
                    <div class="channel-post-item-header">
                        <div style="float: left;">
                            <img class="rounded-image" ng-src="{{ctrl.group.teacherID | teacherImageUrlFilter}}" width="50px">
                        </div>
                        <div style="float: left; padding-left: 15px; padding-top: 5px; padding-bottom: 5px;">
                            <div style="color: #4484b2; font-family: OpenSansSemiBold;">{{ctrl.group.teacherID | nameFilter}}</div>
                            <div style="font-size: 12px; color: #939393; font-family: OpenSansRegular;">{{post.createdAt | timeFilter}}</div>
                        </div>
                    </div>
                    <div ng-hide="post.homeworkID" class="channel-post-item-content">
                        <div style="font-family: OpenSansRegular; font-size: 14px;">
                            <div ng-bind-html="post.text | htmlize | limitTo:ctrl.limits[$index]"></div>
                            <button class="channel-more-button" ng-show="ctrl.moreButtons[$index]" type='button' ng-click="ctrl.readMore($index)">Показать полностью...</button>
                        </div>
                        <div style="margin-top: 15px;" ng-show="post.hasImages && !post.hasSingleImage" ng-photo-grid="" images="post.gridImages" grid-options="gridOptions"></div>
                        <div style="margin-top: 15px;"><img width="425" ng-show="post.hasImages && post.hasSingleImage" ng-src="{{post.images[0].url}}" ng-click="ctrl.showPostImageDetailed(post.images[0])"></div>
                        <div class="channel-post-item-content-files">
                            <div class="channel-post-item-content-files-item" ng-repeat="file in post.files">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/doc-icon.png" height="34px">
                                </div>
                                <div style="width: 440px; float: left; padding-left: 15px;">
                                    <div class="student-file-item-filename"><a href="{{file.url}}" download>{{file.name}}</a> </div>
                                    <div style="font-size: 13px; color: #939393; font-family: OpenSansRegular;">{{file.size | memoryUsageFilter}} , {{file.createdAt | date : 'dd.MM.yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="post.homeworkID">
                        <div class="channel-post-item-homework-task">
                            <div class="homework-task-content">
                                {{post.homeworkID.content}}
                            </div>
                            <div ng-if="post.homeworkID.comment != null && post.homeworkID" class="homework-task-comment" >
                                <div style="float: left; padding-right: 20px;">Комментарий:</div>
                                <div style="float: left; width: 325px;">{{post.homeworkID.comment}}</div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="post.comments.length>1" style="padding-left: 20px; padding-right: 20px;">
                        <button ng-if="!post.showComments" ng-click="ctrl.showComments($index)" class="comment-button">Показать все комментарии</button>
                        <button ng-if="post.showComments" ng-click="ctrl.hideComments($index)" class="comment-button">Скрыть комментарии</button>
                    </div>
                    <div ng-if="post.comments.length">
                        <div ng-if="!post.showComments" class="channel-post-item-comments">
                            <div ng-include="'/app-student/views/channel/helpers/comment.html'" ng-init="comment = post.comments[post.comments.length-1]; postIndex = $index; commentIndex = post.comments.length-1"></div>
                        </div>
                        <div ng-if="post.showComments" class="channel-post-item-comments">
                            <div ng-repeat="comment in post.comments track by $index">
                                <div ng-include="'/app-student/views/channel/helpers/comment.html'" ng-init="postIndex = $parent.$index; commentIndex = $index"></div>
                            </div>
                        </div>
                    </div>
                    <div class="channel-post-item-send-comment">
                        <div style="float: left; padding-top: 1px;">
                            <img class="rounded-image" ng-src="{{info.imageUrl}}" width="26px">
                        </div>
                        <div style="float: left; padding-left: 10px; padding-top: 2px;">
                            <textarea ng-model="post.comment" rows="1" style="width: 390px;" placeholder="Написать комментарий"></textarea>
                        </div>
                        <div ng-click="ctrl.addComment($index)" style="float: left; padding-left: 22px; padding-top: 1px;">
                            <button class="send-comment-button">
                                <img src="/static-files/images/send-comment-icon.png" width="14px">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!ctrl.noAvailablePosts">
                <button ng-click="ctrl.loadMorePosts()">Загрузить еще</button>
            </div>
        </div>
        <div class="col-xs-4" style="margin-top: 15px; padding-right: 0px; padding-left: 7px;">
            <div class="md-box" style="padding-top: 10px; padding-bottom: 10px;">
                <div ng-click="ctrl.loadPostsByType(0)" class="student-channel-sort-item" ng-style="ctrl.postTypes[0].style">{{'CHANNEL.TABS.ALL' | translate}}</div>
                <div ng-click="ctrl.loadPostsByType(1)" class="student-channel-sort-item" ng-style="ctrl.postTypes[1].style">{{'CHANNEL.TABS.HOMEWORK' | translate}}</div>
                <div ng-click="ctrl.loadPostsByType(2)" class="student-channel-sort-item" ng-style="ctrl.postTypes[2].style">{{'CHANNEL.TABS.DOCS' | translate}}</div>
                <div ng-click="ctrl.loadPostsByType(3)" class="student-channel-sort-item" ng-style="ctrl.postTypes[3].style">{{'CHANNEL.TABS.IMPORTANT' | translate}}</div>
                <div ng-click="ctrl.loadPostsByType(4)" class="student-channel-sort-item" ng-style="ctrl.postTypes[4].style">{{'CHANNEL.TABS.OTHER' | translate}}</div>
            </div>
        </div>
    </div>
</div>
