<style>
    .create-group-button{
        background-color: #f7ab5a;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .create-group-button:hover{
        background-color: #f6a045;
    }

    .arhive-checkbox{
        border: none;
        background-color: transparent;
    }


</style>
<div ng-controller="archiveStudentsController as archive" style="padding-bottom: 40px;">
    <div style=" width: 1280px; margin: auto;">
        <div style="background-color: #ffffff; min-height: 400px; margin-left: 45px; margin-right: 45px; margin-top: 1px; border-radius: 4px">
            <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; color: #131313; font-size: 19px; font-family: OpenSansRegular; background-color: #ffffff;">
                <div class="row" style="margin: 0;">
                    <div class="col-xs-8" style="padding: 0;">
                        <div style="display: inline-block;">
                            <div style="float: left; padding-right: 30px; padding-top: 22px; padding-bottom: 20px;">Список студентов {{self.actIndex}}</div>
                            <div style="display: inline-block; float: left; border: 1px solid #CCCCCC; padding-left: 10px; padding-right: 10px; border-radius: 20px; padding-top: 5px; padding-bottom: 5px; margin-top: 17px;">
                                <div style="float: left; padding-top: 4px;">
                                    <img src="/static-files/images/search-bar-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 8px;">
                                    <input ng-model="archive.searchName" ng-change="archive.search()" type="text" style="border: none; width: 350px; font-size: 15px;" placeholder="Поиск по студентам">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="archive.students.length == 0" style="border-top: 1px solid #edeeef;">
                <div class="md-box" style="padding-right: 180px; padding-left: 180px; background-color: #ffffff; padding-top: 30px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                    <div align="center" style="padding-bottom: 60px; padding-top: 40px;">
                        <div style="opacity: 0.9;"><img src="/static-files/images/empty-students-icon.png" width="165px"></div>
                        <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">В архиве студентов нет</div>
                        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 130px; padding-right: 130px;">На данный момент, студентов в архиве нет. Чтобы добавить студента в «Архив», необходимо его удалить из раздела «Активные» или «Новые»</div>
                    </div>
                </div>
            </div>
            <div ng-if="archive.students.length > 0">
                <div class="row" style="margin-right: 0; margin-left: 0; padding-left: 15px; padding-right: 15px; background-color: #6699ff;">
                    <div class="col-xs-1" style="width: 165px; padding-left: 70px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">
                        <div style="display: inline-block;">
                            <div style="float: left;">ДАТА</div>
                            <div ng-click="archive.sortByDate()" ng-class="archive.dateSorting ? 'arrow-up-active' : 'arrow-up'"  style="float: left; margin-left: 8px; padding-top: 3px;"></div>
                        </div>
                    </div>
                    <div class="col-xs-3" style="width: 240px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">
                        <div style="display: inline-block;">
                            <div style="float: left;">ФAМИЛИЯ, ИМЯ</div>
                            <div ng-click="archive.sortByName()" ng-class="archive.nameSorting ? 'arrow-up-active' : 'arrow-up'" style="float: left; margin-left: 8px; padding-top: 3px;"></div>
                        </div>
                    </div>
                    <div class="col-xs-3" style="width: 190px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">ТЕЛЕФОН</div>
                    <div class="col-xs-2" style="width: 220px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">EMAIL</div>
                    <div class="col-xs-3" style="width: 200px; padding-top: 12px; padding-bottom: 12px; font-size: 11px; font-family: OpenSansBold; color: #ffffff;">
                        <div style="display: inline-block;">
                            <div style="float: left;">ПОСЛЕДНЯЯ ГРУППА</div>
                            <!--<div class="arrow-up" style="float: left; margin-left: 8px; padding-top: 3px;"></div>-->
                        </div>
                    </div>

                </div>

                <div style="display: inline-block; background-color: #ffffff; width: 100%; border-bottom: 1px solid #edeeef; margin-left: 0; margin-right: 0; padding-left: 15px; padding-right: 15px;" ng-repeat="student in archive.students | studentsSorting : archive.dateSorting : archive.nameSorting track by $index">
                    <div style="width: 70px; padding-left: 15px; padding-top: 22px; float: left;">
                        <button class="arhive-checkbox" ng-click="archive.selectStudent($index)">
                            <img ng-if="!archive.isSelected || archive.actIndex != $index" src="/static-files/images/arhive-students-empty-checkbox.png" width="22px">
                            <img ng-if="archive.isSelected && archive.actIndex == $index" src="/static-files/images/arhive-students-checkbox.png" width="22px">
                        </button>
                    </div>
                    <div style="float:left; width: 110px; padding-top: 25px; padding-bottom: 25px;">{{student.updatedAt | date : 'dd.MM.yyyy'}}</div>
                    <div style="float: left; width: 240px; padding-top: 25px; padding-bottom: 25px;" ng-click="archive.studentInfo(student._id)">{{student | nameFilter}}</div>
                    <div style="float: left; width: 190px; padding-top: 25px; padding-bottom: 25px;">
                        <div>{{student.phone | phoneFilter}}</div>
                    </div>
                    <div style="float: left; width: 220px; padding-top: 25px; padding-bottom: 25px;">
                        <div>{{student.email ? student.email : archive.noTitle}}</div>
                    </div>
                    <div style="float:left; width: 230px; padding-top: 25px; padding-bottom: 25px;">
                        <div ng-if="student.history.groups.length != 0">
                            <div ng-repeat="group in student.history.groups track by $index">
                                {{group.name}}
                            </div>
                        </div>
                    </div>
                    <div style="float:left; width: 100px; padding-top: 5px;">
                        <div style="display: inline-block; width: 100%; padding-left: 10px;">
                            <div style="float: left;" ng-click="archive.editStudentByID(student._id)" class="edit-student-button">
                                <img src="/static-files/images/edit-student-icon.png" height="16px">
                                <md-tooltip md-direction="right">
                                    Редактировать
                                </md-tooltip>
                            </div>
                            <div ng-click="archive.deleteStudentByID(student._id)" class="delete-student-button" style="float: left; padding-left: 9px;">
                                <img src="/static-files/images/delete-student-icon.png" height="18px">
                                <md-tooltip md-direction="right">
                                    Удалить
                                </md-tooltip>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <button ng-if="!archive.noMoreStudents" ng-click="archive.showMore()" class="load-more-button">Показать еще</button>
    </div>

    <div style="width: 1280px; margin: auto; position: fixed; bottom: 0;" ng-if="archive.isSelected && !isNaN(archive.actIndex)">
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-xs-6" style="padding: 0;">
                <button ng-click="archive.assignStudent()" class="add-new-file-button" style="width: 100%; border-radius: 0; padding-top: 20px; padding-bottom: 20px;">
                    <div style="display: inline-block">
                        <div style="float: left; margin-right: 10px; padding-top: 4px;">
                            <img src="/static-files/images/student-list-add-icon.png" width="18px">
                        </div>
                        <div style="float: left; font-size: 18px;">ДОБАВИТЬ В ДЕЙСТВУЮЩУЮ ГРУППУ</div>
                    </div>
                </button>
            </div>
            <div class="col-xs-6" style="padding: 0;">
                <button ng-click="archive.restoreStudent()" class="create-group-button" style="width: 100%; border-radius: 0; padding-top: 20px; padding-bottom: 20px;">
                    <div style="display: inline-block">
                        <div style="float: left; margin-right: 10px; padding-top: 2px;">
                            <img src="/static-files/images/student-list-add-to-new-icon.png" width="20px">
                        </div>
                        <div style="float: left; font-size: 18px;">ДОБАВИТЬ В СПИСОК ОЖИДАЮЩИХ</div>
                    </div>
                </button>
            </div>
        </div>
    </div>

</div>