<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        top: 150px;
        background-color: #ffffff;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #5e91f5;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }

    .select-style {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        width: 390px;
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style select {
        padding: 8px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #99a4b5;
        border-radius: 0px;
        color: #777777;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .select-style select:focus {
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }

</style>
<div ng-controller="assignGroupForBlocController as self">
    <div style="background-color: #ffffff; padding-top: 22px; padding-bottom: 22px; font-size: 18px; padding-left: 30px; padding-right: 30px; border-bottom: 1px solid #e7eaec; font-family: OpenSansRegular; border-top-left-radius: 4px; border-top-right-radius: 4px;">Переместить в категорию групп</div>

    <div style="padding-top: 45px; padding-bottom: 45px;">
        <div style="display: inline-block; width: 100%; padding-left: 40px; padding-right: 40px;">
            <div style="float: left; width: 120px; font-family: OpenSansRegular; font-size: 16px; padding-top: 8px;">Категория:</div>
            <div style="float: left;">
                <div class="select-style">
                    <select ng-options="bloc as bloc.name for bloc in self.blocs track by bloc._id" ng-model="self.bloc"></select>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
        <div style="float: right;">
            <button ng-click="self.assignGroup()" type="submit" class="submit-group-button">Переместить</button>
        </div>
        <div style="float: right; margin-right: 15px;">
            <button ng-click="closeThisDialog()" class="cancel-group-button">Отменить</button>
        </div>
    </div>
</div>