<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 350px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        padding: 30px;
        padding-bottom: 20px;
    }

    .dialog-button{
        background-color: transparent;
        border: none;
        font-size: 13px;
        font-weight: 500;
        color: #3F51B5;
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .dialog-button:hover{
        background-color: #e1e2e2;
    }
</style>
<div>
    <div style="font-size:18px; color:#000000;">Вы точно хотите удалить студента?</div>
    <div style="font-color:#777777; font-weight: 300; padding-top: 15px; font-size: 14px;">Все данные студента будут потеряны навсегда.</div>
    <div style="display: inline-block; padding-top: 10px; width: 100%;">
        <div style="float:right;"><button ng-click="deleteStudent()" class="dialog-button">УДАЛИТЬ</button></div>
        <div style="float:right; padding-right: 10px;"><button ng-click="closeThisDialog()" class="dialog-button">ОТМЕНИТЬ</button></div>
    </div>
</div>