<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        top: 50px;
        background-color: #ffffff;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .submit-group-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
        font-family: OpenSansSemiBold;
        padding-left: 25px;
        padding-right: 25px;
    }

    .submit-group-button:hover{
        background-color: #5e91f5;
    }


    .cancel-group-button{
        border-radius: 2px;
        width: 150px;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #bac3d0;
        font-size: 15px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #acb7c7;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #b9c1ce;
        border-radius: 0px;
        color: #838e9e;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #6699ff;
        color: #0f0f0f;
    }

    md-checkbox.md-checked.green .md-icon {
        background-color: rgba(36, 205, 152, 0.9);
    }

    md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
        color: #ffffff;
    }

    .remove-group-button{
        background-color: #f26564;
        border: none;
        border-radius: 4px;
        color: #ffffff;
        font-family: OpenSansBold;
        font-size: 13px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.7;
    }

    .remove-group-button:hover{
        opacity: 1;
    }

    .restore-group-button{
        background-color: #74c85e;
        border: none;
        border-radius: 4px;
        color: #ffffff;
        font-family: OpenSansBold;
        font-size: 13px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.7;
    }

    .restore-group-button:hover{
        opacity: 1;
    }




</style>

<div ng-controller="editBlocController as self">
    <div style="background-color: #ffffff; padding-top: 22px; padding-bottom: 22px; font-size: 18px; padding-left: 30px; padding-right: 30px; border-bottom: 1px solid #e7eaec; font-family: OpenSansRegular; border-top-left-radius: 4px; border-top-right-radius: 4px;">Редактирование категории</div>
    <div style="padding-top: 30px; padding-bottom: 30px;">
        <div style="display: inline-block; width: 100%; padding-left: 40px; padding-right: 40px;">
            <div style="float: left; width: 200px; font-family: OpenSansRegular; font-size: 16px; padding-top: 8px;">Название категории:</div>
            <div style="float: left;">
                <input class="md-text-input" ng-model="self.bloc.name" type="text" placeholder="Введите название" style="width: 410px;">
            </div>
        </div>
        <div style="display: inline-block; margin-top: 20px; padding-right: 40px; padding-left: 40px;">
            <div style="float: left; font-family: OpenSansRegular; font-size: 16px; width: 195px; padding-top: 7px;">Цвет категории:</div>
            <div style="float: left;">
                <div style="display: inline-block;" ng-repeat="color in self.colors track by $index">
                    <div style="float: left; padding-right: 2px;">
                        <img ng-if="$index == self.actColor" ng-src="{{color.active}}" width="35px">
                        <img ng-if="$index != self.actColor" ng-click="self.setColor($index)" ng-src="{{color.passive}}" width="35px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!self.noGroups">
        <div style="display: inline-block; color: #838e9e; padding-top: 10px; padding-bottom: 10px; background-color: #f4f5f6; font-family: OpenSansBold; font-size: 11px; border-top: 1px solid #e7eaec; width: 100%;">
            <div style="float: left; width: 300px; padding-left: 30px;">НАЗВАНИЕ ГРУППЫ</div>
            <div style="float: left; width: 210px;">УЧИТЕЛЬ</div>
            <div style="float: left; width: 100px;">СТУДЕНТОВ</div>
        </div>
        <div style="height: 212px; overflow-y: scroll; border-top: 1px solid #e7eaec;">
            <div style="display: inline-block; width: 100%; border-bottom: 1px solid #e7eaec;" ng-repeat="group in self.bloc.groups track by $index">
                <div style="float: left; padding-left: 30px; width: 300px; padding-top: 18px; padding-bottom: 18px;">{{group.name}}</div>
                <div style="float: left; width: 220px; padding-top: 18px; padding-bottom: 18px;">{{group.teacherID | nameFilter}}</div>
                <div style="float: left; width: 40px; padding-top: 18px; padding-bottom: 18px; text-align: center;">{{group.students.length}}</div>
                <div style="float: left; width: 115px; text-align: right; padding-top: 15px;">
                    <!--ПОЯВЛЯЕТСЯ ПО ДЕФОЛТУ-->
                    <button ng-click="self.assign($index)" ng-if="group.isBloc" class="remove-group-button">Убрать</button>
                    <!--ПОСЛЕ ТОГО КАК НАЖАЛ УБРАТЬ-->
                    <button ng-click="self.assign($index)"ng-if="!group.isBloc" class="restore-group-button">Вернуть</button>
                    <!--ЕСЛИ НАЖАЛ ВЕРНУТЬ ОПЯТЬ ПОКАЗЫВАЕТСЯ ПЕРВАЯ КНОПКА-->
                </div>
            </div>
        </div>
    </div>
    <div ng-if="self.noGroups">
        <div style="height: 250px; border-top: 1px solid #e7eaec; text-align: center;">
            <div style="padding-top: 30px;"><img src="/static-files/images/empty-groups-icon.png" height="120px"></div>
            <div style="font-family: OpenSansSemiBold; font-size: 18px; padding-top: 15px; color: #a8b3c2;">Групп нет</div>
            <div style="font-family: OpenSansRegular; padding-top: 4px; color: #a8b3c2; font-size: 14px; padding-left: 230px; padding-right: 230px;">В данной категории еще нет групп</div>

        </div>
    </div>

    <div style="background-color: #f4f5f6; display: inline-block; border-top: 1px solid #e7eaec; width: 100%; margin-left: 0px; margin-right: 0px; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
        <div style="float: right;">
            <button ng-click="self.editBlocByID()" type="submit" class="submit-group-button">Сохранить изменения</button>
        </div>
        <div style="float: right; margin-right: 15px;">
            <button ng-click="closeThisDialog()" class="cancel-group-button">Отменить</button>
        </div>
    </div>
</div>