<style>
    .md-box{
        background-color: #ffffff;
        border-radius: 2px;
        /*border-top: 1px solid #e9ecf2;*/
        /*border-left: 1px solid #e9ecf2;*/
        /*border-right: 1px solid #e9ecf2;*/
        /*border-bottom: 1px solid #dfe1e6;*/
    }

    .md-box-header{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 15px;
        color: #838e9e;
        /*border-bottom: 1px solid #e7e8ec;*/
        background-color: #ffffff;
        font-family: OpenSansSemiBold;
    }

    .current-test-list-item{
        display: inline-block;
        border-top: 10px solid #e7eaec;
        /*padding-top: 15px;*/
        /*padding-bottom: 15px;*/
        /*padding-right: 20px;*/
        /*padding-left: 20px;*/
        width: 100%;

    }

    .pass-test{
        border-radius: 5px;
        border: 1px solid #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #ffffff;
        background-color: #59c566;
        font-size: 14px;
        font-family: OpenSansSemiBold;
        width: 90px;
    }

    .pass-test:hover{
        background-color: #49bb56;
    }

    .appoint-test-button{
        background-color: #f4f5f6;
    }

    .appoint-test-button:hover{
        background-color: #ecfef9;
    }


</style>
<div ng-controller="testsController as ctrl">
    <div style="margin-top: 15px;">
        <div class="md-box" >
            <div class="md-box-header">{{'ONLINE_TESTS.TITLE' | translate}}</div>
            <!--<div>{{ ctrl.res.toFixed(0)}}</div>-->
            <div>
                <!--ТУТ NG-REPEAT ДЛЯ АКТИВНЫХ ТЕСТОВ-->
                <div ng-if="ctrl.active.length" class="current-test-list-item" ng-repeat="test in ctrl.active">
                    <div style="float: left; width: 110px; background-color: #00b7f2; text-align: center; padding-top: 24px; padding-bottom: 24px;">
                        <div style="font-family: OpenSansBold; color: #ffffff; font-size: 18px;">
                            <img src="/static-files/images/online-test-icon.png" width="46px">
                        </div>
                    </div>
                    <div style="float: left; width: 580px; padding-top: 15px; padding-bottom: 15px; padding-left: 25px;">
                        <div style="font-size: 21px; font-family: OpenSansRegular; opacity: 0.8;">{{test.name}}</div>

                        <div style="display: inline-block; padding-top: 10px; font-family: OpenSansRegular; color: #84929d; font-size: 14px;">
                            <div style="float: left; display: inline-block; margin-right: 25px;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-sections-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">{{'ONLINE_TESTS.INFO.SECTIONS' | translate}}</div>
                                <div style="float: left; padding-left: 5px; color: #000000;">{{test.sections.length}}</div>
                            </div>
                            <div style="float: left; display: inline-block; margin-right: 25px;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-question-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">{{'ONLINE_TESTS.INFO.QUESTIONS' | translate}}</div>
                                <div style="float: left; padding-left: 5px; color: #000000;">{{test | testTotalQuestionsCountFilter}}</div>
                            </div>
                            <div style="float: left; display: inline-block;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-duration-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">{{'ONLINE_TESTS.INFO.DURATION' | translate}}</div>
                                <div style="float: left; padding-left: 5px; color: #000000;">{{test | testTotalDurationFilter}} {{'ONLINE_TESTS.INFO.MIN' | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<div style="float: left;">-->
                        <!--<button ng-click="ctrl.startTest(test._id)" class="pass-test">ПРОЙТИ ТЕСТ</button>-->
                    <!--</div>-->

                    <div class="appoint-test-button" ng-click="ctrl.startTest(test._id)" style="float: left; border-left: 1px solid #e7eaec; width: 95px; padding-top: 13px; padding-bottom: 12px;" align="center">
                        <div style="padding-top: 2px; opacity: 0.7;">
                            <img src="/static-files/images/appoint-test-icon.png" width="25px">
                        </div>
                        <div style="color: #84929d; font-family: OpenSansSemiBold; font-size: 12px; padding-top: 7px; padding-left: 20px; padding-right: 20px;">{{'ONLINE_TESTS.START' | translate}}</div>
                    </div>

                </div>
                <!--<div ng-if="!ctrl.active.length">Новых для группы нет.</div>-->

            </div>
        </div>
    </div>
    <div>
        <div class="md-box">
            <!--<div class="md-box-header">Завершенные тесты</div>-->

            <div>
                <!--ТУТ NG-REPEAT ДЛЯ ЗАВЕРЩЕННЫЙ ТЕСТОВ-->
                <div ng-if="ctrl.ended.length" class="current-test-list-item" ng-repeat="test in ctrl.ended" style="background-color: #ecfef9;">
                    <div style="float: left; width: 110px; background-color: #00b7f2; text-align: center; padding-top: 24px; padding-bottom: 24px;">
                        <div style="font-family: OpenSansBold; color: #ffffff; font-size: 18px;">
                            <img src="/static-files/images/online-test-icon.png" width="46px">
                        </div>
                    </div>
                    <div style="float: left; width: 580px; padding-top: 15px; padding-bottom: 15px; padding-left: 25px;">
                        <div style="font-size: 21px; font-family: OpenSansRegular; opacity: 0.9">{{test.name}}</div>
                        <div style="display: inline-block; padding-top: 10px; font-family: OpenSansRegular; color: #84929d; font-size: 14px;">
                            <div style="float: left; display: inline-block; margin-right: 25px;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-sections-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">{{'ONLINE_TESTS.INFO.SECTIONS' | translate}}</div>
                                <div style="float: left; padding-left: 5px; color: #000000;">{{test.sections.length}}</div>
                            </div>
                            <div style="float: left; display: inline-block; margin-right: 25px;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-question-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">{{'ONLINE_TESTS.INFO.QUESTIONS' | translate}}</div>
                                <div style="float: left; padding-left: 5px; color: #000000;">{{test | testTotalQuestionsCountFilter}}</div>
                            </div>
                            <div style="float: left; display: inline-block;">
                                <div style="float: left; padding-top: 2px;">
                                    <img src="/static-files/images/test-list-duration-icon.png" width="15px">
                                </div>
                                <div style="float: left; padding-left: 5px;">{{'ONLINE_TESTS.INFO.DURATION' | translate}}</div>
                                <div style="float: left; padding-left: 5px; color: #000000;">{{test | testDurationFilter}} {{'ONLINE_TESTS.INFO.MIN' | translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div style="float: left; width: 95px; background-color: #cafdef; text-align: center; border-left: 1px solid #afe9d9; padding-top: 18px; padding-bottom: 20px;">
                        <div style="color: #14bf90; font-family: OpenSansBold; font-size: 26px;">{{test.resultID.summary.total.toFixed(0)}}%</div>
                        <div style="color: #84929d; font-family: OpenSansSemiBold; font-size: 11px;">{{'ONLINE_TESTS.INFO.RESULT' | translate}}</div>
                    </div>
                </div>
                <!--<div ng-if="ctrl.ended.length == 0 && ctrl.active.length == 0">-->
                    <!--<div style="text-align: center; padding-top: 60px;">-->
                        <!--<img src="/static-files/images/empty-tests-icon.png" width="170px">-->
                    <!--</div>-->
                    <!--<div style="font-size: 15px; font-family: OpenSansBold; padding-top: 25px; color: #838e9e; text-align: center;">ЗАВЕРШЕННЫХ ТЕСТОВ НЕТ</div>-->
                    <!--<div style="font-family: OpenSansRegular; color: #838e9e; padding-top: 10px; padding-left: 220px; padding-right: 220px; text-align: center; padding-bottom: 50px;">К сожалению, на данный момент у Вас нет пройденных тестов.</div>-->
                <!--</div>-->






            </div>


        </div>
    </div>
    <div>
        <div ng-if="ctrl.ended.length == 0 && ctrl.active.length == 0">
            <div style="text-align: center; padding-top: 60px;">
                <img src="/static-files/images/empty-tests-icon.png" width="170px">
            </div>
            <div style="font-size: 15px; font-family: OpenSansBold; padding-top: 25px; color: #838e9e; text-align: center;">ЗАВЕРШЕННЫХ ТЕСТОВ НЕТ</div>
            <div style="font-family: OpenSansRegular; color: #838e9e; padding-top: 10px; padding-left: 220px; padding-right: 220px; text-align: center; padding-bottom: 50px;">К сожалению, на данный момент у Вас нет пройденных тестов.</div>
        </div>
    </div>


</div>

