<link rel="stylesheet" href="/static-files/css/circle.css">
<style>
    .md-box{
        margin-left: 50px;
        margin-right: 50px;
        background-color: #ffffff;
        border-radius: 3px;
    }

    .md-box-header{
        border-bottom: 1px solid #eff2f7;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
    }

    .clearfix:before,.clearfix:after {content: " "; display: table;}
    .clearfix:after {clear: both;}
    .clearfix {*zoom: 1;}

    .add-new-file-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansRegular;
        padding-left: 13px;
        padding-right: 13px;
    }

    .add-new-file-button:hover{
        background-color: #59b7ee;
    }

    .payments-history-item{
        border-bottom: 1px solid #dce1e8;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    ul.leaders {
        max-width: 40em;
        padding: 0;
        overflow-x: hidden;
        list-style: none}
    ul.leaders li:before {
        float: left;
        width: 0;
        white-space: nowrap;
        content:
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "
                ". . . . . . . . . . . . . . . . . . . . "}
    ul.leaders span:first-child {
        padding-right: 0.33em;
        background: white}
    ul.leaders span + span {
        float: right;
        padding-left: 0.33em;
        background: white}

    .select-style-aplication-add {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        width: 300px;
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style-aplication-add select {
        padding: 5px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
    }

    .select-style-aplication-add select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }
    .attendance-student-list-item{
        background-color: #f4f5f6;
        border-bottom: 1px solid #e7eaec;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        font-size: 15px;
        color: #b1b4c0;
        border-left: 4px solid transparent;
    }


    .attendance-student-list-item:hover{
        background-color: #fefefe;
        color: #666666;
    }

    .attendance-student-list-active-item{
        background-color: #ffffff;
        border-bottom: 1px solid #e7eaec;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        color: #666666;
        font-size: 15px;
        border-left: 4px solid #6699ff;
    }

    .answer-control-button{
        opacity: 0.5;
        border: none;
        background-color: transparent;
    }

    .answer-control-button:hover{
        opacity: 1;
    }

    .payments-history-item{
        border-bottom: 1px solid #e7eaec;
    }


</style>
<div ng-controller="paymentsController as ctrl">
    <div ng-if="ctrl.noGroups">
        <div style="background-color: #ffffff; width: 100%;">
            <div style=" width: 1280px; margin: auto;">
                <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 180px; padding-right: 180px;">
                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <div class="col-xs-6" style="padding: 0px; display: inline-block;">
                            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Оплаты</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainView" style="background-color: #e7eaec; padding-top: 25px;">
            <div class="mainViewContent">
                <div class="md-box" style="margin-left: 180px; margin-right: 180px;">
                    <div align="center" style="padding-bottom: 60px; padding-top: 60px;">
                        <div style="opacity: 0.8;"><img src="/static-files/images/empty-payments-icon.png" width="200px"></div>
                        <div style="font-family: OpenSansBold; font-size: 18px; padding-top: 30px; color: #999999;">ОПЛАТ НЕТ</div>
                        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 15px; padding-left: 200px; padding-right: 200px;">К сожалению, в данный момент оплат нет. Необходимо добавить хотябы одну группу.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!ctrl.noGroups">
        <div style="background-color: #f4f4f4; width: 100%;">
            <div style=" width: 1280px; margin: auto;">
                <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 130px; padding-right: 130px;">
                    <div class="row" style="margin-left: 0px; margin-right: 0px;">
                        <div class="col-xs-6" style="padding: 0px; display: inline-block;">
                            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Оплаты</div>
                        </div>
                        <div class="col-xs-6" style="padding: 0px; text-align: right; display: inline-block;">
                            <div style="float: right; padding-top: 9px; padding-right: 5px;">
                                <div class="select-style-aplication-add">
                                    <select ng-change="ctrl.loadStudentsByGroup()" ng-model="ctrl.activeGroupID">
                                        <option ng-repeat="group in ctrl.groups track by $index" value="{{group._id}}">{{group.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div style="float: right; padding-right: 25px; color: #7d838a; font-family: OpenSansRegular; font-size: 15px; padding-top: 13px;">Выбрать группу:</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="mainView" style="background-color: #e7eaec;">
            <div class="mainViewContent" style="padding-bottom: 40px;">
                <div ng-if="!ctrl.noPrice" class="md-box" style="margin-bottom: 30px; margin-top: 25px; margin-left: 130px; margin-right: 130px;">
                    <div ng-if="!ctrl.noStudents">

                        <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">
                            <div class="row" style="margin: 0;">
                                <div class="col-xs-6" style="padding: 0;">Оплаты группы</div>
                                <div class="col-xs-6" style="padding: 0; text-align: right;"><button ng-click="ctrl.addPayment()" class="edunet-button-default" style="font-family: OpenSansSemiBold;">ДОБАВИТЬ ОПЛАТУ</button></div>
                            </div>
                        </div>



                        <div>
                            <div class="row" style="margin-right: 0px; margin-left: 0px; background-color: #e5e7ef;">
                                <div class="col-xs-5" style="width: 330px; background-color: #e5e7ef; padding: 0px; height:500px;">
                                    <table fixed-header style="height:500px; width:100%; background-color: #f4f5f6;">
                                        <tr ng-repeat="student in ctrl.students track by $index">
                                            <td>
                                                <div ng-if="student._id == ctrl.student._id" class="attendance-student-list-active-item">{{student | nameFilter}}</div>
                                                <div ng-if="student._id != ctrl.student._id" ng-click="ctrl.changeActiveStudentIndex($index)" class="attendance-student-list-item">{{student | nameFilter}}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>



                                <div class="col-xs-7" style="width: 690px; background-color: #ffffff; height: 500px; overflow: auto; border-left: 1px solid #e7eaec; padding: 0;">
                                    <div style="border-bottom: 1px solid #e7eaec; margin-left: 25px; margin-right: 25px; padding-top: 20px; padding-bottom: 15px; font-family: OpenSansRegular; font-size: 16px;">Оплаты текущего студента</div>
                                    <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 25px; padding-left: 25px; padding-right: 15px; padding-bottom: 30px; border-bottom: 15px solid #f4f5f6;">
                                        <div class="col-xs-7" style="padding: 0;">
                                            <div align="center">
                                                <div style="display: inline-block; padding-top: 25px; padding-bottom: 10px;">

                                                    <div style="float: left;">
                                                        <div style="font-family: OpenSansSemiBold; font-size: 26px; color: #35b056;">{{ctrl.student.totalPayment | customCurrencyFilter}}</div>
                                                        <div style="font-family: OpenSansRegular; font-size: 11px; color: #35b056; text-align: center;">ВНЕСЕННАЯ СУММА</div>
                                                    </div>
                                                    <div style="float: left; font-size: 24px; font-family: OpenSansLight; padding-left: 10px; padding-right: 10px;">/</div>
                                                    <div style="float: left;">
                                                        <div style="font-family: OpenSansSemiBold; font-size: 26px;">{{ctrl.activeGroup.price | customCurrencyFilter}}</div>
                                                        <div style="font-family: OpenSansRegular; font-size: 11px; color: #838e9e; text-align: center;">ПОЛНАЯ СТОИМОСТЬ</div>
                                                    </div>
                                                </div>
                                            </div>




                                            <ul class=leaders style="font-family: OpenSansRegular; font-size: 15px; color: #838e9e;">
                                                <!--<li style="margin-top: 15px;"><span>Полная стоимость курсaa:</span>-->
                                                <!--<span style="color: #000000;">{{ctrl.group.price | customCurrencyFilter}}</span>-->
                                                <!--<li style="margin-top: 20px;"><span>Внесенная сумма:</span>-->
                                                <!--<span style="color: #000000;">{{payments.activeStudent.totalPayment | customCurrencyFilter}} </span>-->
                                                <li style="margin-top: 20px;"><span>Остаток к оплате:</span>
                                                    <span style="color: #000000;">{{(ctrl.activeGroup.price - ctrl.student.totalPayment) | customCurrencyFilter}}</span>
                                                </li>
                                                <li style="margin-top: 20px;">
                                                    <span>Последняя оплата:</span>
                                                    <span ng-if="ctrl.student.payments.length == 0" style="color: #000000;">0 KZT</span>
                                                    <span ng-if="ctrl.student.payments.length > 0" style="color: #000000;">{{ctrl.student.payments[ctrl.student.payments.length -1].value | customCurrencyFilter}}</span>
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="col-xs-5">
                                            <div align="center">
                                                <div class="clearfix" style="margin-left: 60px; margin-right: 60px; margin-top: 10px;">
                                                    <div class="c100 p{{(ctrl.student.totalPayment/ctrl.activeGroup.price*100).toFixed(0)}}">
                                                        <span>{{(ctrl.student.totalPayment/ctrl.activeGroup.price * 100).toFixed(0)}}%</span>
                                                        <div class="slice">
                                                            <div class="bar"></div>
                                                            <div class="fill"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="font-family: OpenSansSemiBold; color: #5caddd;">ОПЛАЧЕНО</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 25px; margin-right: 25px; padding-top: 15px; padding-bottom: 15px; font-family: OpenSansRegular; font-size: 16px; border-bottom: 1px solid #e7eaec;">История оплат</div>
                                    <div style="padding-bottom: 40px; margin-left: 10px; margin-right: 10px;">
                                        <div ng-if="ctrl.student.payments.length == 0" style="padding: 15px; font-size: 15px; color: #777777;">На данный момент оплаты не были внесены.</div>
                                        <div ng-if="ctrl.student.payments.length > 0">

                                            <div class="payments-history-item" ng-repeat="payment in ctrl.student.payments">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div style="color: #949fb0;">{{payment.createdAt | timeFilter}}</div>
                                                    </div>
                                                    <div class="col-xs-6" style="display: inline-block;">
                                                        <div ng-click="ctrl.deletePaymentByID(payment._id)" style="float: right;">
                                                            <button class="answer-control-button">
                                                                <img src="/static-files/images/delete-icon.png" width="13px">
                                                                <md-tooltip md-direction="top">Удалить</md-tooltip>
                                                            </button>
                                                        </div>
                                                        <div ng-click="ctrl.editPaymentByID(payment._id)" style="float: right; margin-right: 5px;">
                                                            <button class="answer-control-button">
                                                                <img src="/static-files/images/edit-icon.png" width="14px">
                                                                <md-tooltip md-direction="top">Редактировать</md-tooltip>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <ul class=leaders style="font-family: OpenSansRegular; font-size: 15px;">
                                                        <li style="margin-top: 15px;"><span>Внесенная сумма:</span>
                                                            <span style="color: #000000;">{{payment.value | customCurrencyFilter}}</span>
                                                    </ul>
                                                </div>
                                                <div ng-if="payment.comment" class="row" style="padding-bottom: 5px; padding-top: 5px;">
                                                    <div class="col-xs-4" style="width: 180px; padding-right: 0;">Комментарий к оплате:</div>
                                                    <div class="col-xs-8">{{payment.comment}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div ng-if="ctrl.noStudents" class="md-box" style="margin-bottom: 30px; margin-top: 25px; padding: 0;">
                        <div class="md-box-header">ОПЛАТЫ</div>
                        <div align="center" style="padding-bottom: 60px; padding-top: 50px;">
                            <div style="opacity: 0.8;"><img src="/static-files/images/empty-payments-icon.png" width="200px"></div>
                            <div style="font-family: OpenSansBold; font-size: 18px; padding-top: 30px; color: #999999;">ОПЛАТ НЕТ</div>
                            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 15px; padding-left: 160px; padding-right: 160px;">К сожалению, в данный момент оплат нет. Необходимо добавить в группу хотя бы одного студента.</div>
                        </div>
                    </div>

                </div>
                <div ng-if="ctrl.noPrice" class="md-box" style="margin-bottom: 30px; margin-top: 25px; margin-left: 130px; margin-right: 130px;">
                    <div class="md-box-header">ОПЛАТЫ</div>
                    <div align="center" style="padding-bottom: 60px; padding-top: 50px;">
                        <div style="opacity: 0.8;"><img src="/static-files/images/empty-payments-icon.png" width="180px"></div>
                        <div style="font-family: OpenSansBold; font-size: 18px; padding-top: 30px; color: #999999;">ОПЛАТЫ НЕДОСТУПНЫ</div>
                        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 15px; padding-left: 160px; padding-right: 160px;">К сожалению, в данный момент раздел Оплаты недоступен. Необходимо указать стоимость курса в информации о группе.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>