<link rel="stylesheet" href="/static-files/css/group-info.css">
<style>
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;

        border-top: 18px solid #ffffff;
    }
</style>
<div ng-controller="groupInfoController as ctrl">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px; padding-left: 130px; padding-right: 130px;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Информация о группе</div>
            </div>
        </div>
    </div>
    <div class="mainView">
        <div class="mainViewContent" style="padding-bottom: 50px; padding-top: 25px;">
            <div class="new-group-form">
                <uib-tabset type="pills" style="background-color: #e7eaec;">
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 13px;"><img src="/static-files/images/test-icon10.png" width="40px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ОБЗОР</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 105px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-admin/views/group-info/about/index.html'">

                        </div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/test-icon7.png" width="35px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">РАСПИСАНИЕ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 251px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-admin/views/group-info/schedule/index.html'"></div>

                    </uib-tab>
                    <uib-tab index="2">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/test-icon5.png" width="35px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">СТУДЕНТЫ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 397px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-admin/views/group-info/students/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="3">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/test-icon8.png" width="30px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ПОСЕЩЕНИЕ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 544px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-admin/views/group-info/attendance/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="4">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 11px;"><img src="/static-files/images/test-icon11.png" width="40px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ОПРОС</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 689px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-admin/views/group-info/interview/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="5">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/test-icon12.png" width="33px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ЗАЯВКИ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 835px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-admin/views/group-info/applications/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="6">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 10px;"><img src="/static-files/images/test-icon13.png" width="35px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ОПЛАТЫ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 981px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-admin/views/group-info/payments/index.html'"> </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
