
<!--<div style="display: inline-block; width: 100%; background-color: #f54a40; color:#ffffff; padding-top: 15px; padding-bottom: 15px; font-weight: 300;">-->
    <!--<div style="width: 1280px; margin: auto; padding-left: 130px; padding-right: 130px;">-->
        <!--<div style="float: left; font-size: 25px;">-->
            <!--<i class="fa fa-times-circle"></i>-->
        <!--</div>-->
        <!--<div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 16px;">-->
            <!--<b><u>Внимание!</u></b>&nbsp;&nbsp;&nbsp;Для просмотра расписания необходимо добавить хотя бы одну<a style="color: #ffffff;" href="#/classrooms"><b> аудиторию</b></a>!-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div style="display: inline-block; width: 1020px; background-color: #fd6461; margin-left: 130px; margin-right: 130px; color:#ffffff;">
    <div style="float: left; padding: 20px; background-color: #fd4945;">
        <img src="/static-files/images/schedule-error-icon.png" width="35px">
    </div>
    <div style="float: left; padding-left: 20px; padding-right: 20px; font-family: OpenSansRegular; font-size: 16px; padding-top: 15px; padding-bottom: 15px;">
        <div style="font-family: OpenSansSemiBold;">Расписание недоступно !</div>
        <div style="padding-top: 5px; font-size: 14px;">Для просмотра расписания необходимо добавить хотя бы одну аудиторию</div>
        <!--<b><u>Внимание!</u></b>&nbsp;&nbsp;&nbsp;Для работы с расписанем необходимо добавить <a style="color: #ffffff;" href="#/add-teacher"><b>учителей</b></a> и <a style="color: #ffffff;" href="#/list-of-classrooms"><b>аудитории</b></a>!-->
    </div>
</div>