<div style="display: inline-block; width: 1020px; background-color: #fd6461; margin-left: 130px; margin-right: 130px; color:#ffffff;">
        <div style="float: left; padding: 20px; background-color: #fd4945;">
            <img src="/static-files/images/schedule-error-icon.png" width="35px">
        </div>
        <div style="float: left; padding-left: 20px; padding-right: 20px; font-family: OpenSansRegular; font-size: 16px; padding-top: 15px; padding-bottom: 15px;">
            <div style="font-family: OpenSansSemiBold;">Расписание недоступно !</div>
            <div style="padding-top: 5px; font-size: 14px;">Для работы с раписанием необходимо добавить Учителей и Аудитории</div>
            <!--<b><u>Внимание!</u></b>&nbsp;&nbsp;&nbsp;Для работы с расписанем необходимо добавить <a style="color: #ffffff;" href="#/add-teacher"><b>учителей</b></a> и <a style="color: #ffffff;" href="#/list-of-classrooms"><b>аудитории</b></a>!-->
        </div>
</div>