<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/dist/auth/css/lib.css?v=lib_styles_build_version"/>
        <link rel="stylesheet" href="/dist/auth/css/index.css?v=custom_styles_build_version"/>
        <script>


            /* DOM Utility Functions from PastryKit */
            Element.prototype.hasClassName = function (a) {
                return new RegExp("(?:^|\\s+)" + a + "(?:\\s+|$)").test(this.className);
            };

            Element.prototype.addClassName = function (a) {
                if (!this.hasClassName(a)) {
                    this.className = [this.className, a].join(" ");
                }
            };

            Element.prototype.removeClassName = function (b) {
                if (this.hasClassName(b)) {
                    var a = this.className;
                    this.className = a.replace(new RegExp("(?:^|\\s+)" + b + "(?:\\s+|$)", "g"), " ");
                }
            };

            Element.prototype.toggleClassName = function (a) {
                this[this.hasClassName(a) ? "removeClassName" : "addClassName"](a);
            };
            /* /DOM Utility Functions from PastryKit */

            var init = function() {

                document.getElementById('button').addEventListener( 'click', function(){

                    document.getElementById('card').toggleClassName('flip');

                }, false);

                document.getElementById('button1').addEventListener( 'click', function(){

                    document.getElementById('card').toggleClassName('flip');

                }, false);
            };


            window.addEventListener( 'DOMContentLoaded', init, false);

        </script>
    </head>
    <body ng-app="EduNet">
        <script src="/dist/auth/js/lib.js?v=lib_js_build_version"></script>
        <script src="/dist/auth/js/templates.js?v=templates_build_version"></script>
        <script src="/dist/auth/js/custom.js?v=custom_js_build_version"></script>
        <div ng-controller="indexController" style="background-color: #4d85de;">
            <div class="background">
                <div class="container" id="container">
                    <div id="card">
                        <figure class="back">
                            <div class="signInForm">
                                <div class="signInFormHeader">
                                    <div style="text-align: center; padding-top: 35px; padding-bottom: 10px;"><img src="/static-files/images/edunet-logo-blue.png" width="160px"></div>
                                    <div style="color: #707c8f; font-size: 18px; text-align: center; font-family: OpenSansRegular;">Вход в систему</div>
                                </div>
                                <div style="padding-left: 30px; padding-right: 30px; padding-top: 20px;">
                                    <div><input style="text-align: center; background-color: #ecf0f1;" type="text" ng-change="clearErrors()"  placeholder="Логин" class="form-control" ng-model="phone" ui-mask="+7 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_"/></div>
                                </div>
                                <div style="padding-left: 30px; padding-right: 30px; padding-top: 10px;">
                                    <div><input style="text-align: center; background-color: #ecf0f1;" type="password" ng-change="clearErrors()" class="form-control" placeholder="Пароль" ng-model="password"></div>
                                </div>
                                <div style="padding-left: 30px; padding-right: 30px; padding-top: 10px;">
                                    <button ng-click="login()" class="signInButton">Войти</button>
                                </div>
                                <div style="padding-top: 10px; padding-bottom: 35px; color: #707c8f; text-align: center; font-family: OpenSansRegular;"><span id="button"><u>Забыли пароль?</u></span></div>
                                <div ng-show="emptyField">
                                    <div class="errorMessage">Необходимо ввести логин и пароль!</div>
                                </div>
                                <div ng-show="notFound">
                                    <div class="errorMessage">Введен неправильный логин или пароль!</div>
                                </div>
                            </div>
                        </figure>
                        <figure class="front">
                            <div class="signInForm">
                                <div class="signInFormHeader">
                                    <div style="text-align: center; padding-top: 35px; padding-bottom: 10px;"><img src="/static-files/images/edunet-logo-blue.png" width="160px"></div>
                                    <div style="color: #707c8f; font-size: 18px; text-align: center; font-family: OpenSansRegular;">Забыли пароль</div>
                                </div>
                                <div style="padding-top: 20px; padding-left: 30px; padding-right: 30px; text-align: center;">Введите Ваш логин, на указанные номер будет выслано СМС с кодом для восстановления пароля.</div>
                                <div style="padding-left: 30px; padding-right: 30px; padding-top: 15px;">
                                    <div><input style="text-align: center; background-color: #ecf0f1;" type="text" ng-change="clearErrors()"  placeholder="Логин" class="form-control" ng-model="phone" ui-mask="+7 (999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_"/></div>
                                </div>
                                <div style="padding-left: 30px; padding-right: 30px; padding-top: 15px;">
                                    <button class="signInButton">Отправить код</button>
                                </div>
                                <div style="padding-top: 10px; padding-bottom: 35px; color: #707c8f; text-align: center; font-family: OpenSansRegular;"><span id="button1"><u>Отменить</u></span></div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

