<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
    }


    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #66bef0;
        color: #0f0f0f;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }
</style>

<div ng-controller="editProfileController as editCtrl">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">РЕДАКТИРОВАНИЕ ПРОФИЛЯ</div>
        <div>
            <div class="row" style="margin-right: 0px; padding-top: 30px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Имя:</div>
                <div class="col-xs-8" style="text-align: left;">
                    <input ng-model="editCtrl.firstName" type="text" style="width:300px;" class="md-text-input" placeholder="Введите имя">
                    <div ng-if="editCtrl.firstNameError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 15px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Фамилия:</div>
                <div class="col-xs-8" style="text-align: left;">
                    <input ng-model="editCtrl.lastName" type="text" style="width:300px;" class="md-text-input" placeholder="Введите фамилию">
                    <div ng-if="editCtrl.lastNameError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
                </div>
            </div>
            <div class="row" style="margin-right: 0px; padding-top: 15px;">
                <div class="col-xs-4" style="text-align: right; padding-top: 8px;">Email адрес:</div>
                <div class="col-xs-8" style="text-align: left;">
                    <input ng-model="editCtrl.email" type="text" style="width:300px;" class="md-text-input" placeholder="Введите email адрес">
                    <div ng-if="editCtrl.emailError" ng-include="'/app-teacher/views/templates/validation/email-short.html'"></div>
                </div>

            </div>
        </div>
        <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; margin-top: 50px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px; border-top: 1px solid #eff2f7;">
            <div class="col-xs-6">
                <button ng-click="closeThisDialog()" class="cancel-group-button">ОТМЕНИТЬ</button>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <button ng-click="updateProfile()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
            </div>
        </div>
    </div>
</div>
