<link rel="stylesheet" href="/static-files/css/circle.css">

<style>
    .md-box{
        margin-left: 130px;
        margin-right: 130px;
        background-color: #ffffff;
        border-radius: 3px;
    }


    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-weight: 600;
    }

    .add-new-file-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .add-new-file-button:hover{
        background-color: #4f86f4;
    }

    .photo-upload-title{
        color: #838e9e;
        padding-top: 5px;
        font-size: 16px;
    }

    .photo-upload-title:hover{
        color: #636e7f;

    }

    .group-info-about-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        width: 60px;
        text-align: center;
    }

    .change-password-button{
        border: none;
        border-radius: 2px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansRegular;
        padding-left: 13px;
        padding-right: 13px;
        color: #7f7f7f;
        background-color: #eeeeee;
    }

    .change-password-button:hover{
        background-color: #e5e5e5;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }


    .upload-photo-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 160px;
    }

    .upload-photo-button:hover{
        background-color: #59b7ee;
    }

    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .edunet-button-default{
        background-color: #b6bdcc;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .edunet-button-default:hover{
        background-color: #a8b1c4;
    }


</style>
<div ng-controller="profileController as ctrl">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Профиль центра</div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent">
            <div style="padding-top: 30px; padding-bottom: 30px;">
                <!--<div ng-if="!ctrl.isSettingAvatar" class="row" style="margin-left: 180px; margin-right: 180px; margin-bottom: 20px;">-->
                    <!--<div class="col-xs-4" style="padding-left: 0; padding-right: 10px;">-->
                        <!--<div class="md-box" style="margin: 0;">-->
                            <!--<div class="md-box-header" style="padding-top: 12px; padding-bottom: 12px; font-family: OpenSansSemiBold;">ТАРИФ</div>-->
                            <!--<div class="row" style="margin-right: 0; margin-left: 0; padding-top: 20px; padding-bottom: 20px;">-->
                                <!--<div class="col-xs-4" style="padding: 0;" align="center">-->
                                    <!--<div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="25px"></div>-->
                                <!--</div>-->
                                <!--<div class="col-xs-8" style="padding: 0; padding-top: 7px; padding-left: 5px;">-->
                                    <!--<div style="font-family: OpenSansLight; font-size: 30px;">{{ctrl.client.tariffID.name}}</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4" style="padding-right: 10px; padding-left: 10px; ">-->
                        <!--<div class="md-box" style="margin:0;">-->
                            <!--<div class="md-box-header" style="padding-top: 12px; padding-bottom: 12px; font-family: OpenSansSemiBold;">ГРУППЫ</div>-->
                            <!--<div class="row" style="margin-right: 0; margin-left: 0; padding-top: 20px; padding-bottom: 20px;">-->
                                <!--<div class="col-xs-4" style="padding: 0;" align="center">-->
                                    <!--<div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="25px"></div>-->
                                <!--</div>-->
                                <!--<div class="col-xs-8" style="padding: 0; padding-top: 7px; padding-left: 5px;">-->
                                    <!--<div style="font-family: OpenSansLight; font-size: 30px;">{{ctrl.groups.length}} группы</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4" style="padding-right: 0; padding-left: 10px;">-->
                        <!--<div class="md-box" style="margin:0;">-->
                            <!--<div class="md-box-header" style="padding-top: 12px; padding-bottom: 12px; font-family: OpenSansSemiBold;">ПАМЯТЬ</div>-->
                            <!--<div class="row" style="margin-right: 0; margin-left: 0; padding-top: 20px; padding-bottom: 20px;">-->
                                <!--<div class="col-xs-4" style="padding: 0;" align="center">-->
                                    <!--<div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="25px"></div>-->
                                <!--</div>-->
                                <!--<div class="col-xs-8" style="padding: 0; padding-top: 7px; padding-left: 5px;">-->
                                    <!--<div style="font-family: OpenSansLight; font-size: 30px;">{{ctrl.admin.centerID.memory | memoryUsageFilter}}</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->

                <!--НОВЫЙ ВИД-->
                <div ng-if="!ctrl.isSettingAvatar" class="md-box" style="margin-left: 180px; margin-right: 180px;">
                    <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">
                        <div class="row" style="margin: 0;">
                            <div class="col-xs-6" style="padding: 0;">Данные центра</div>
                            <div class="col-xs-6" style="padding: 0; text-align: right;">
                                 <div style="display: inline-block;">
                                     <div style="float: right;">
                                        <button ng-click="ctrl.editProfile()" class="edunet-button-default" style="font-family: OpenSansSemiBold;">
                                            <div style="display: inline-block;">
                                                <div style="float: left; margin-right: 7px; padding-top: 2px;">
                                                    <img src="/static-files/images/edit-profile-icon.png" width="11px">
                                                </div>
                                                <div style="float: left;">РЕДАКТИРОВАТЬ</div>
                                            </div>
                                        </button>
                                     </div>
                                     <div style="float: right; margin-right: 15px;">
                                         <button ng-click="ctrl.editPassword()" class="add-new-file-button">
                                             <div style="display: inline-block;">
                                                 <div style="float: left; margin-right: 7px; padding-top: 2px;">
                                                     <img src="/static-files/images/change-password-icon.png" width="9px">
                                                 </div>
                                                 <div style="float: left;">ИЗМЕНИТЬ ПАРОЛЬ</div>
                                             </div>
                                         </button>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 0; margin-right: 0;">
                        <div class="col-xs-8" style="border-right: 1px solid #e7eaec; font-family: OpenSansRegular; font-size: 16px;">
                            <div style="padding-top: 50px; padding-bottom: 60px;">
                                <div style="text-align: center; padding-bottom: 15px;">
                                    <div>
                                        <img ng-src={{ctrl.admin.centerID.imageUrl}} width="200px" style="border-radius: 50%;">
                                    </div>
                                    <div ng-click="ctrl.showAvatarView()" class="photo-upload-title" style="margin-top: 10px;">Загрузить логотип</div>
                                </div>
                                <div style="display: inline-block; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; margin-left: 20px; padding-left: 30px; margin-top: 20px; border-top: 1px solid #e7eaec; border-bottom: 1px solid #e7eaec;">
                                    <div style="float: left; width: 200px; color: #a1a9b6; ">Название центра:</div>
                                    <div style="float: left; text-align: left;">
                                        <div style="width: 310px; padding-left: 5px; padding-right: 5px;">{{ctrl.admin.centerID.name}}</div>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; margin-left: 20px; padding-left: 30px; border-bottom: 1px solid #e7eaec;">
                                    <div style="float: left; width: 200px;  color: #a1a9b6;">Телефон:</div>
                                    <div style="float: left;">
                                        <div style="width: 310px; padding-left: 5px; padding-right: 5px;">{{ctrl.admin.phone | phoneFilter}}</div>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; margin-left: 20px; padding-left: 30px; border-bottom: 1px solid #e7eaec;">
                                    <div style="float: left; width: 200px; color: #a1a9b6;">Email:</div>
                                    <div style="float: left;">
                                        <div style="width: 310px; padding-left: 5px; padding-right: 5px; padding-left: 5px; padding-right: 5px;">{{ctrl.admin.email || 'Не указано' }}</div>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; margin-left: 20px; padding-left: 30px; border-bottom: 1px solid #e7eaec;">
                                    <div style="float: left; width: 200px; color: #a1a9b6;">Адрес:</div>
                                    <div style="float: left;">
                                        <div style="width: 310px; padding-left: 5px; padding-right: 5px;">{{ctrl.client.link + '.goedu.kz'}}</div>
                                    </div>
                                </div>
                                <div style="display: inline-block; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; margin-left: 20px; padding-left: 30px; border-bottom: 1px solid #e7eaec;">
                                    <div style="float: left; width: 200px; color: #a1a9b6;">В системе с</div>
                                    <div style="float: left;">
                                        <div style="width: 310px; padding-left: 5px; padding-right: 5px;">{{ctrl.admin.centerID.createdAt | timeFilterDate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4" style="background-color: #f4f5f6; padding: 0;">
                            <div style="border-bottom: 1px solid #e7eaec;">
                                <div style="background-color: #ffffff; font-family: OpenSansRegular; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; font-size: 15px; border-bottom: 1px dashed #e7eaec; color: #838e9e">Текущий тариф</div>
                                <div class="row" style="margin-right: 0; margin-left: 0; padding-top: 20px; padding-bottom: 20px;">
                                    <div class="col-xs-4" style="padding: 0; padding-left: 10px;" align="center">
                                        <div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="25px"></div>
                                    </div>
                                    <div class="col-xs-8" style="padding: 0; padding-top: 7px; padding-left: 5px;">
                                        <div style="font-family: OpenSansRegular; font-size: 30px; opacity: 0.9;">{{ctrl.client.tariffID.name}}</div>
                                    </div>
                                </div>
                            </div>
                            <div style="border-bottom: 1px solid #e7eaec;">
                                <div style="background-color: #ffffff; font-family: OpenSansRegular; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; font-size: 15px; border-bottom: 1px dashed #e7eaec; color: #838e9e">Студентов в центре</div>
                                <div class="row" style="margin-right: 0; margin-left: 0; padding-top: 20px; padding-bottom: 20px;">
                                    <div class="col-xs-4" style="padding: 0; padding-left: 10px;" align="center">
                                        <div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="25px"></div>
                                    </div>
                                    <div class="col-xs-8" style="padding: 0; padding-top: 7px; padding-left: 5px;">
                                        <div style="font-family: OpenSansRegular; font-size: 30px;">56 <span style="font-size: 25px; font-family: OpenSansLight;">студентов</span></div>
                                    </div>
                                </div>
                            </div>
                            <div style="border-bottom: 1px solid #e7eaec;">
                                <div style="background-color: #ffffff; font-family: OpenSansRegular; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; font-size: 15px; border-bottom: 1px dashed #e7eaec; color: #838e9e">Группы центра</div>
                                <div class="row" style="margin-right: 0; margin-left: 0; padding-top: 20px; padding-bottom: 20px;">
                                    <div class="col-xs-4" style="padding: 0; padding-left: 10px;" align="center">
                                        <div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="25px"></div>
                                    </div>
                                    <div class="col-xs-8" style="padding: 0; padding-top: 7px; padding-left: 5px;">
                                        <div style="font-family: OpenSansRegular; font-size: 30px;">{{ctrl.groups.length}} <span style="font-size: 25px; font-family: OpenSansLight;">группы</span></div>
                                    </div>
                                </div>
                            </div>
                            <div style="border-bottom: 1px solid #e7eaec;">
                                <div style="background-color: #ffffff; font-family: OpenSansRegular; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; font-size: 15px; border-bottom: 1px dashed #e7eaec; color: #838e9e">Используемая память</div>
                                <div class="row" style="margin-right: 0; margin-left: 0; padding-top: 20px; padding-bottom: 20px;">
                                    <div class="col-xs-4" style="padding: 0; padding-left: 10px; padding-top: 10px;" align="center">
                                        <div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="25px"></div>
                                    </div>
                                    <div class="col-xs-8" style="padding: 0; padding-top: 5px; padding-left: 5px;">
                                        <div style="font-family: OpenSansRegular; font-size: 30px;">{{ctrl.admin.centerID.memory | memoryUsageFilter}}</div>
                                        <div style="font-size: 18px; font-family: OpenSansLight;">из 5000.0 Мб</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <!--EDIT CENTER IMAGE START ...-->
                <div class="new-group-form" style="margin-bottom: 10px; margin-left: 50px; margin-right: 50px;" ng-show="ctrl.isSettingAvatar">
                    <div ng-show="!ctrl.myCroppedImage">
                        <div class="md-box">
                            <div class="md-box-header">ЗАГРУЗКА НОВОЙ ФОТОГРАФИИ</div>
                            <div align="center" style="font-family: OpenSansRegular; padding-top: 40px;">Убедительаня просьба загружать только реальные фотографии людей.</div>
                            <div align="center" style="padding-top: 20px; padding-bottom: 20px; font-family: OpenSansRegular; padding-right: 100px; padding-left: 100px;">Вы можете загрузить изображение в формате JPEG или PNG, размером не более 5 Мб. Загружаемая фотография не должна нарушать авторские права.</div>
                            <div align="center" style="padding-bottom: 20px;">
                                <div class="fileUpload upload-photo-button">
                                    <span>Выбрать файл</span>
                                    <input type="file" class="upload" id="fileInput"/>
                                </div>
                            </div>
                            <div style="padding-bottom: 30px; color: #aaaaaa; text-align: center; font-family: OpenSansRegular; font-size: 13px;">
                                Если у Вас возникли проблемы с загрузкой, попробуйте позже или выберите другую фотографию
                            </div>
                            <div ng-click="ctrl.cancelAvatarView()" align="right" style="background-color: #ffffff; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; border-top: 1px solid #eff2f7; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                <button class="cancel-group-button">ОТМЕНИТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="ctrl.myCroppedImage">
                        <div class="md-box">
                            <div class="md-box-header">НАСТРОЙКА ФОТОГРАФИИ</div>
                            <div align="center" style="font-family: OpenSansRegular; padding-top: 30px;">Выберите область на фотографии, которая будет показываться в системе</div>
                            <div style="padding: 20px;">
                                <div class="cropArea" style="height: 400px; background-color: #1e1e1e;">
                                    <ui-cropper image="ctrl.myImage" area-type="square" chargement="'Loading'" result-image="ctrl.myCroppedImage" canvas-scalemode="fixed-height"></ui-cropper>
                                </div>
                            </div>
                            <!--s-->

                            <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px; border-top: 1px solid #eff2f7;">
                                <div class="col-xs-6">
                                    <button ng-click="ctrl.cancelAvatarView()" class="cancel-group-button">ОТМЕНИТЬ</button>
                                </div>
                                <div class="col-xs-6" style="text-align: right">
                                    <button ng-click="ctrl.updateImage()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--EDIT CENTER IMAGE END ...-->
                <!--<div ng-if="!ctrl.isSettingAvatar" class="md-box" style="margin-left: 180px; margin-right: 180px;">-->
                    <!--<div class="md-box-header" style="color:#2196F3; width: 100%; font-family: OpenSansBold; display: inline-block; padding-top: 0px; padding-bottom: 0px;">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-4" style="padding-top: 18px; padding-bottom: 18px; font-family: OpenSansSemiBold">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</div>-->
                            <!--<div class="col-xs-8" style="display: inline-block; text-align: right; padding-top: 15px; padding-bottom: 10px;">-->
                                <!--<div style="float: right;">-->
                                    <!--<button ng-click="ctrl.editProfile()" class="add-new-file-button">-->
                                        <!--<div style="display: inline-block;">-->
                                            <!--<div style="float: left; margin-right: 7px; padding-top: 2px;">-->
                                                <!--<img src="/static-files/images/edit-profile-icon.png" width="11px">-->
                                            <!--</div>-->
                                            <!--<div style="float: left;">РЕДАКТИРОВАТЬ</div>-->
                                        <!--</div>-->
                                    <!--</button>-->
                                <!--</div>-->
                                <!--<div style="float: right; margin-right: 10px;">-->
                                    <!--<button ng-click="ctrl.editPassword()" class="change-password-button">-->
                                        <!--<div style="display: inline-block;">-->
                                            <!--<div style="float: left; margin-right: 7px; padding-top: 2px;">-->
                                                <!--<img src="/static-files/images/change-password-icon.png" width="9px">-->
                                            <!--</div>-->
                                            <!--<div style="float: left;">ИЗМЕНИТЬ ПАРОЛЬ</div>-->
                                        <!--</div>-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<div align="center" style="padding-top: 50px; padding-bottom: 60px;">-->
                        <!--<div>-->
                            <!--<img class="rounded-image" ng-src={{ctrl.admin.centerID.imageUrl}} width="200px">-->
                        <!--</div>-->
                        <!--<div ng-click="ctrl.showAvatarView()" class="photo-upload-title" style="width: 180px; text-align: center; margin-top: 10px;">Загрузить логотип</div>-->
                        <!--<div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px; margin-top: 20px;">-->
                            <!--<div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6; ">Название центра:</div>-->
                            <!--<div class="col-xs-7" style="text-align: left;">-->
                                <!--<div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{ctrl.admin.centerID.name}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px;">-->
                            <!--<div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6;">Телефон:</div>-->
                            <!--<div class="col-xs-7" style="text-align: left;">-->
                                <!--<div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{ctrl.admin.phone | phoneFilter}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px;">-->
                            <!--<div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6;">Email:</div>-->
                            <!--<div class="col-xs-7" style="text-align: left;">-->
                                <!--<div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{ctrl.admin.email || 'Не указано' }}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px;">-->
                            <!--<div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6;">Адрес:</div>-->
                            <!--<div class="col-xs-7" style="text-align: left;">-->
                                <!--<div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{ctrl.client.link + '.goedu.kz'}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px;">-->
                            <!--<div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6;">В системе с</div>-->
                            <!--<div class="col-xs-7" style="text-align: left;">-->
                                <!--<div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{ctrl.admin.centerID.createdAt | timeFilterDate}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
