<div ng-controller="nextSectionController as modal">
    <div ng-if="modal.isLastSection">
        Вы уверены что хотите завершить тест?
    </div>
    <div ng-if="!modal.isLastSection">
        Вы уверены что хотите начать следующий раздел?
    </div>
    <button ng-click="modal.endSection()">Да</button>
    <button ng-click="closeThisDialog()">Нет</button>
</div>