<style>
    .attendance-student-list-item{
        background-color: #f4f5f6;
        border-bottom: 1px solid #e7eaec;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        font-size: 15px;
    }

    .attendance-student-list-item:hover{
        background-color: #fefefe;
        border-bottom: 1px solid #e7eaec;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        color: #666666;
        font-size: 15px;
    }

    .attendance-student-list-active-item{
        background-color: #ffffff;
        border-bottom: 1px solid #e7eaec;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        color: #666666;
        font-size: 15px;
        border-left: 4px solid #6699ff;
    }

    .attendance-present-day{
        margin: 5px;
        border: 1px solid #2abb9b;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        width: 42px;
        font-family: OpenSansRegular;
        color: #25a589;
        text-align: center;
        background-color: #e9fffa;
        font-size: 17px;

    }

    .attendance-absent-day{
        margin: 5px;
        border: 1px solid #e06b6c;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        width: 42px;
        font-family: OpenSansRegular;
        color: #ce6363;
        text-align: center;
        background-color: #fde9e9;
        font-size: 17px;

    }

    .attendance-excused-day{
        margin: 5px;
        border: 1px solid #f1be22;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        width: 42px;
        font-family: OpenSansRegular;
        color: #e9b825;
        text-align: center;
        background-color: #fdf6e2;
        font-size: 17px;
    }


    /*CUSTOM*/
    .attendance-empty-day{
        margin: 5px;
        border: 1px solid #e2e5ed;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        width: 42px;
        font-family: OpenSansRegular;
        color: #d5d9e2;
        text-align: center;
        background-color: #f0f3f7;
        font-size: 17px;
    }


</style>

<div ng-controller="attendanceControllerGroupInfo as attendance" class="md-box" style="margin-bottom: 30px; margin-top: 1px;">
    <!--<div class="md-box-header">ПОСЕЩАЕМОСТЬ</div>-->

    <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Посещаемость студентов</div>

    <!--ЕСЛИ В ГРУППЕ НЕТ СТУДЕНТОВ-->
    <div ng-if="attendance.noStudents" style="padding-top: 30px;">
        <div class="md-box" style="margin-right: 180px; margin-left: 180px; background-color: #ffffff;">
            <div align="center" style="padding-bottom: 0px; padding-top: 20px;">
                <!--<div style="opacity: 0.8;"><img src="/static-files/images/empty-attendance-icon.png" height="200px"></div>-->
                <!--<div style="font-family: OpenSansBold; font-size: 18px; padding-top: 30px; color: #999999;">ПОСЕЩАЕМОСТИ НЕТ</div>-->
                <!--<div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 16px; padding-left: 50px; padding-right: 50px;">К сожалению у данной группы еще нет студентов, для выставления посещаемости.</div>-->

                <div style="opacity: 0.9;"><img src="/static-files/images/attendance-empty-icon.png" height="165px"></div>
                <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Посещаемости нет</div>
                <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 120px; padding-right: 120px; padding-top: 10px;">К сожалению в данной группы еще нет студентов, для выставления посещаемости.</div>
            </div>
        </div>
    </div>

    <div ng-if="!attendance.noStudents">
        <!--<div class="row"  style="margin-right: 0px; margin-left: 0px; font-size: 11px; font-family: OpenSansBold; padding-top: 12px; padding-bottom: 12px; color: #4d88b3; background-color: #e2f2fe; border-bottom: 1px solid #74c2f0;">-->
            <!--<div class="col-xs-5" style="width: 330px; padding-left: 30px; padding-right: 30px;">СПИСОК СТУДЕНТОВ</div>-->
            <!--<div class="col-xs-7" style="width: 690px; padding-left: 30px; padding-right: 30px;">ПОСЕЩАЕМОСТЬ ЗАНЯТИЙ ПО МЕСЯЦАМ</div>-->
        <!--</div>-->
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
            <div class="col-xs-5" style="width: 330px; height: 450px; background-color: #fafafa; padding: 0px;">
                <table fixed-header style="height:450px; width:100%; background-color: #f4f5f6;">
                    <tr ng-repeat="student in attendance.students track by $index">
                        <td>
                            <div ng-class="student._id == attendance.activeStudent._id ? 'attendance-student-list-active-item' : 'attendance-student-list-item'" ng-click="attendance.changeActiveStudentIndex($index)">{{student | nameFilter}}</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-7" style="width: 690px; background-color: #ffffff; height: 450px; overflow: auto; border-left: 1px solid #e7eaec; padding: 0;">
                <div ng-if="!attendance.activeStudent.hasAttendance">
                    <div align="center" style="padding-bottom: 20px; padding-top: 70px;">
                        <div style="opacity: 0.8;"><img src="/static-files/images/empty-attendance-icon.png" height="180px"></div>
                        <div style="font-family: OpenSansBold; font-size: 17px; padding-top: 30px; color: #999999;">ПОСЕЩАЕМОСТИ НЕТ</div>
                        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 15px; padding-left: 100px; padding-right: 100px;">К сожалению, выбранному студенту еще не выставляли посещаемость.</div>
                    </div>
                </div>
                <div ng-if="attendance.activeStudent.hasAttendance">
                    <div ng-repeat="month in attendance.activeStudent.calendar" ng-if="month.hasAttendance">
                        <div style="margin-left: 25px; margin-right: 25px; padding-top: 20px; padding-bottom: 8px; font-family: OpenSansRegular; font-size: 17px;">{{month.name}} </div>
                        <div class="row" style="margin-right: 15px; margin-left: 18px;">
                            <div ng-repeat="day in month.days track by $index">
                                <div ng-if="day == attendance.STUDENT_APPEARANCE_ABSENCE" class="col-xs-2 attendance-absent-day">{{$index}}</div>
                                <div ng-if="day == attendance.STUDENT_APPEARANCE_PRESENCE" class="col-xs-2 attendance-present-day">{{$index}}</div>
                                <div ng-if="day == attendance.STUDENT_APPEARANCE_ABSENCE_REASON" class="col-xs-2 attendance-excused-day">{{$index}}</div>
                                <div ng-if="day == attendance.STUDENT_APPEARANCE_EMPTY_DAY" class="col-xs-2 attendance-empty-day">{{$index}}</div>
                            </div>
                        </div>
                        <div style="border-bottom: 1px solid #e7eaec; width: 100%; height: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
