<style>
    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-weight: 600;
        font-family: OpenSansRegular;
    }

    .rounded-image{
        border-radius: 50%;
    }


    .edit-teacher-profile-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 50px;
        padding-right: 50px;
    }

    .edit-teacher-profile-button:hover{
        background-color: #59b7ee;
    }

    .photo-upload-title{
        color: #89909c;
        padding-top: 5px;
        font-size: 14px;
    }

    .photo-upload-title:hover{
        color: #686e78;

    }

    .add-new-file-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansRegular;
        padding-left: 13px;
        padding-right: 13px;
    }

    .add-new-file-button:hover{
        background-color: #59b7ee;
    }

    .change-password-button{
        border: none;
        border-radius: 2px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansRegular;
        padding-left: 13px;
        padding-right: 13px;
        color: #7f7f7f;
        background-color: #eeeeee;
    }

    .change-password-button:hover{
        background-color: #e5e5e5;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }


    .upload-photo-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 160px;
    }

    .upload-photo-button:hover{
        background-color: #59b7ee;
    }

    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }

</style>
<div ng-controller="profileController">
    <div style="background-color: #f4f4f4; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Мой профиль</div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #eff2f7;">
        <div class="mainViewContent">
            <div style="padding-top: 30px;">
                <div class="new-group-form" style="margin-bottom: 10px; margin-left: 180px; margin-right: 180px;" ng-show="isSettingAvatar">
                    <div ng-show="!myCroppedImage">
                        <div class="md-box" style="margin-left: 0; margin-right: 0;">
                            <div class="md-box-header">ЗАГРУЗКА НОВОЙ ФОТОГРАФИИ</div>
                            <div align="center" style="font-family: OpenSansRegular; padding-top: 40px;">Убедительаня просьба загружать только реальные фотографии людей.</div>
                            <div align="center" style="padding-top: 20px; padding-bottom: 20px; font-family: OpenSansRegular; padding-right: 100px; padding-left: 100px;">Вы можете загрузить изображение в формате JPEG или PNG, размером не более 5 Мб. Загружаемая фотография не должна нарушать авторские права.</div>
                            <div align="center" style="padding-bottom: 20px;">
                                <div class="fileUpload upload-photo-button">
                                    <span>Выбрать файл</span>
                                    <input type="file" class="upload" id="fileInput"/>
                                </div>
                            </div>
                            <div style="padding-bottom: 30px; color: #aaaaaa; text-align: center; font-family: OpenSansRegular; font-size: 13px;">
                                Если у Вас возникли проблемы с загрузкой, попробуйте позже или выберите другую фотографию
                            </div>
                            <div ng-click="cancelAvatarView()" align="right" style="background-color: #ffffff; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; border-top: 1px solid #eff2f7; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                <button class="cancel-group-button">ОТМЕНИТЬ</button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="myCroppedImage">
                        <div class="md-box" style="margin-right: 0; margin-left: 0;">
                            <div class="md-box-header">НАСТРОЙКА ФОТОГРАФИИ</div>
                            <div align="center" style="font-family: OpenSansRegular; padding-top: 30px;">Выберите область на фотографии, которая будет показываться в системе</div>
                            <div style="padding: 20px;">
                                <div class="cropArea" style="height: 400px; background-color: #1e1e1e;">
                                    <ui-cropper image="myImage" area-type="square" chargement="'Loading'" result-image="myCroppedImage" canvas-scalemode="fixed-height"></ui-cropper>
                                </div>
                            </div>
                            <!--s-->

                            <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px; border-top: 1px solid #eff2f7;">
                                <div class="col-xs-6">
                                    <button ng-click="cancelAvatarView()" class="cancel-group-button">ОТМЕНИТЬ</button>
                                </div>
                                <div class="col-xs-6" style="text-align: right">
                                    <button ng-click="updateImage()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="padding-bottom: 50px;">
                <div class="md-box" style="margin-left: 180px; margin-right: 180px;" ng-show="!isSettingAvatar">
                    <div class="md-box-header" style="color:#2196F3; width: 100%; font-family: OpenSansBold; display: inline-block; padding-top: 0px; padding-bottom: 0px;">
                        <div class="row">
                            <div class="col-xs-4" style="padding-top: 18px; padding-bottom: 18px; font-family: OpenSansSemiBold">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</div>
                            <div class="col-xs-8" style="display: inline-block; text-align: right; padding-top: 15px; padding-bottom: 10px;">
                                <div style="float: right;">
                                    <button ng-click="editProfile()" class="add-new-file-button">
                                        <div style="display: inline-block;">
                                            <div style="float: left; margin-right: 7px; padding-top: 2px;">
                                                <img src="/static-files/images/edit-profile-icon.png" width="11px">
                                            </div>
                                            <div style="float: left;">РЕДАКТИРОВАТЬ</div>
                                        </div>
                                    </button>
                                </div>
                                <div style="float: right; margin-right: 10px;">
                                    <button ng-click="editPassword()" class="change-password-button">
                                        <div style="display: inline-block;">
                                            <div style="float: left; margin-right: 7px; padding-top: 2px;">
                                                <img src="/static-files/images/change-password-icon.png" width="9px">
                                            </div>
                                            <div style="float: left;">ИЗМЕНИТЬ ПАРОЛЬ</div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div align="center" style="padding-top: 50px; padding-bottom: 60px;">
                        <div>
                            <img class="rounded-image" ng-src="{{teacher.imageUrl || imageUrl}}" width="200px">
                        </div>
                        <div ng-click="showAvatarView()" class="photo-upload-title" style="width: 180px; text-align: center; margin-top: 10px;">Загрузить фотографию</div>
                        <div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px; margin-top: 20px;">
                            <div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6; ">Имя:</div>
                            <div class="col-xs-7" style="text-align: left;">
                                <div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{teacher.firstName}}</div>
                            </div>
                        </div>
                        <div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px;">
                            <div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6;">Фамилия:</div>
                            <div class="col-xs-7" style="text-align: left;">
                                <div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{teacher.lastName}}</div>
                            </div>
                        </div>
                        <div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px;">
                            <div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6;">Телефон:</div>
                            <div class="col-xs-7" style="text-align: left;">
                                <div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{teacher.phone | phoneFilter}}</div>
                            </div>
                        </div>
                        <div class="row" style="margin-right: 0px; padding-top: 20px; margin-left: 30px;">
                            <div class="col-xs-5" style="width: 310px; text-align: right; color: #a1a9b6;">Email:</div>
                            <div class="col-xs-7" style="text-align: left;">
                                <div style="width: 250px; border-bottom: 1px solid #dbe1ec; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">{{teacher.email | emailFilter}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
