<div ng-controller="interviewControllerGroupInfo as self" class="md-box" style="margin-top: 1px;">
    <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Опрос группы</div>


    <div ng-if="!self.hasInterview" style="text-align: center; padding-top: 50px; padding-bottom: 10px;">
        <!--<div style="opacity: 0.3; text-align: center; padding-top: 50px;">-->
            <!--<img src="/static-files/images/opros-empty-icon.png" width="120px">-->
        <!--</div>-->
        <!--<div style="color: #838e9e; font-family: OpenSansBold; font-size: 17px; text-align: center; padding-top: 20px;">ОПРОС ЕЩЕ НЕ НАЧИЛСЯ</div>-->
        <!--<div style="color: #838e9e; font-family: OpenSansRegular; font-size: 15px; text-align: center; padding-top: 10px; padding-left: 200px; padding-right: 200px;">-->
            <!--К сожалению, в данный момент опрос для студентов отключен, Вы можете включить опрос, нажав на кнопку "Начать опрос"-->
        <!--</div>-->


        <div style="opacity: 0.9;"><img src="/static-files/images/opros-empty-icon.png" width="165px"></div>
        <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Опрос недоступен</div>
        <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 240px; padding-right: 240px; padding-top: 10px;">К сожалению, в данный момент опрос для студентов отключен. Вы можете включить опрос, нажав на кнопку «Начать опрос».</div>


        <div style="padding-bottom: 40px; padding-top: 20px; text-align: center;"><button class="edunet-button-default">НАЧАТЬ ОПРОС</button></div>
        <!--<div style="padding-bottom: 40px; padding-top: 20px; text-align: center;"><button class="edunet-button-default" ng-click="self.startInterview()">НАЧАТЬ ОПРОС</button></div>-->
    </div>
    <div ng-if="self.hasInterview">

        <div style="border-bottom: 1px solid #e7eaec;" ng-repeat="question in self.questions track by $index">
            <div style="padding-left: 40px; padding-right: 40px; font-family: OpenSansRegular; font-size: 16px; padding-top: 25px; padding-bottom: 25px; background-color: #f4f5f6; border-bottom: 1px solid #e7eaec;">{{$index +1 + '. ' + question.text}}</div>
            <div style="display: inline-block; padding-top: 30px; padding-bottom: 30px;">
                <div style="float: left; width: 420px; margin-left: 70px;">
                    <canvas id="bar" class="chart chart-bar" chart-data="self.answers[$index].analytics" chart-labels="self.labels[question.answersType]"> chart-series="series"
                    </canvas>
                </div>
                <div style="float: left; margin-left: 35px; margin-top: 5px;">
                    <div style="font-family: OpenSansRegular; font-size: 15px; padding-bottom: 10px;">Результаты опроса:</div>
                    <div ng-if="question.answersType == self.INTERVIEW.OUT_OF_FIVE">
                        <div style="display: inline-block; font-family: OpenSansSemiBold; font-size: 13px; color: #ffffff;">
                            <div style="float: left; text-align: center;">
                                <div style="width: 80px; background-color: #ee533b; padding-top: 6px; padding-bottom: 6px; border: 1px solid #ee533b; border-right: none; border-bottom: none;">ОЧЕНЬ ПЛОХО</div>
                                <div style="width: 80px; font-family: OpenSansSemiBold; font-size: 22px; color: #838e9e; border: 1px solid #dddfe1; padding-top: 10px; padding-bottom: 10px; border-right: none; border-top: none;">{{self.answers[$index].analytics[0]}}</div>
                            </div>
                            <div style="float: left; text-align: center;">
                                <div style="width: 80px; background-color: #e69844; padding-top: 15px; padding-bottom: 15px; border: 1px solid #e69844; border-right: none; border-bottom: none;">ПЛОХО</div>
                                <div style="width: 80px; font-family: OpenSansSemiBold; font-size: 22px; color: #838e9e; border: 1px solid #dddfe1; padding-top: 10px; padding-bottom: 10px; border-right: none; border-top: none;">{{self.answers[$index].analytics[1]}}</div>
                            </div>
                            <div style="float: left; text-align: center;">
                                <div style="width: 80px; background-color: #f4cd56; padding-top: 15px; padding-bottom: 15px; border: 1px solid #f4cd56; border-right: none; border-bottom: none;">СРЕДНЕ</div>
                                <div style="width: 80px; font-family: OpenSansSemiBold; font-size: 22px; color: #838e9e; border: 1px solid #dddfe1; padding-top: 10px; padding-bottom: 10px; border-right: none; border-top: none;">{{self.answers[$index].analytics[2]}}</div>
                            </div>
                            <div style="float: left; text-align: center;">
                                <div style="width: 80px; background-color: #acd651; padding-top: 15px; padding-bottom: 15px; border: 1px solid #acd651; border-right: none; border-bottom: none;">ХОРОШО</div>
                                <div style="width: 80px; font-family: OpenSansSemiBold; font-size: 22px; color: #838e9e; border: 1px solid #dddfe1; padding-top: 10px; padding-bottom: 10px; border-right: none; border-top: none;">{{self.answers[$index].analytics[3]}}</div>
                            </div>
                            <div style="float: left; text-align: center;">
                                <div style="width: 80px; background-color: #61ca55; padding-top: 15px; padding-bottom: 15px; border: 1px solid #61ca55; border-bottom: none;">ОТЛИЧНО</div>
                                <div style="width: 80px; font-family: OpenSansSemiBold; font-size: 22px; color: #838e9e; border: 1px solid #dddfe1; padding-top: 10px; padding-bottom: 10px; border-top: none;">{{self.answers[$index].analytics[4]}}</div>
                            </div>
                        </div>
                        <div></div>
                        <div style="padding-top: 20px;">
                            <div style="font-family: OpenSansRegular; font-size: 15px;">Средняя оценка по группе: <span style="font-family: OpenSansSemiBold; font-size: 17px; padding-left: 10px;">{{self.outOfFiveLowerCase[self.answers[$index].popularIndex]}}</span> </div>
                        </div>
                    </div>

                    <div ng-if="question.answersType == self.INTERVIEW.OUT_OF_TWO">
                        <div style="display: inline-block; font-family: OpenSansSemiBold; font-size: 13px; color: #ffffff;">-->
                            <div style="float: left; text-align: center;">
                                <div style="width: 80px; background-color: #ee533b; padding-top: 15px; padding-bottom: 15px; border: 1px solid #ee533b; border-right: none; border-bottom: none;">ДА</div>
                                <div style="width: 80px; font-family: OpenSansSemiBold; font-size: 22px; color: #838e9e; border: 1px solid #dddfe1; padding-top: 10px; padding-bottom: 10px; border-right: none; border-top: none;">{{self.answers[$index].analytics[0]}}</div>
                            </div>
                            <div style="float: left; text-align: center;">
                                <div style="width: 80px; background-color: #61ca55; padding-top: 15px; padding-bottom: 15px; border: 1px solid #61ca55; border-bottom: none;">НЕТ</div>
                                <div style="width: 80px; font-family: OpenSansSemiBold; font-size: 22px; color: #838e9e; border: 1px solid #dddfe1; padding-top: 10px; padding-bottom: 10px; border-top: none;">{{self.answers[$index].analytics[1]}}</div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="question.answersType == self.CUSTOM">

                    </div>
                    <div ng-if="0">
                        <div style="float: left; width: 420px; margin-left: 70px;">
                            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
