<style>
    .select-disabled {
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff;
    }

    .select-disabled select {
        padding: 2px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #cccccc;
        border-radius: 0px;
        color: #cccccc;
        font-family: OpenSansRegular;
        font-size: 18px;
    }

    .select-disabled select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .select-disabled-room {
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff;
    }

    .select-disabled-room select {
        padding: 2px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #cccccc;
        border-radius: 0px;
        color: #cccccc;
        font-family: OpenSansRegular;
        font-size: 15px;
        text-align: center;
        text-align-last: center;
        width: 125px;
    }

    .select-disabled-room select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }


</style>

<div class="col-xs-2" style="padding-right: 0px; padding-left: 0px; border-top: 1px solid #dee3ed;">
    <div style="background-color: #f4f4f4; height: 274px; border-right: 1px solid #dee3ed; padding-left: 20px; padding-right: 20px; color:#c5c5c5;">
        <div style="font-size: 14px; font-family: OpenSansRegular; padding-top: 20px; text-align: center;">Начало урока</div>
        <div align="center">
            <div style="display: inline-block; padding-left: 20px; padding-right: 20px;">
                <div class="select-disabled" style="float: left; width: 40px; margin-top: 5px; background-color: #f4f4f4; color:#cccccc;">
                    <select disabled style="padding-left: 8px;">
                        <option>09</option>
                    </select>
                </div>
                <div style="float: left; color: #cccccc; font-weight: 600; padding-top: 8px; border-bottom: 1px solid #cccccc; padding-bottom: 6px;">:</div>
                <div class="select-disabled" style="float: left; width: 40px; margin-top: 5px; background-color: #f4f4f4; color:#cccccc;">
                    <select disabled style="padding-left: 10px;">
                        <option>00</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="font-size: 14px; font-family: OpenSansRegular; padding-top: 20px; text-align: center;">Конец урока</div>
        <div align="center">
            <div style="display: inline-block; padding-left: 20px; padding-right: 20px;">
                <div class="select-disabled" style="float: left; width: 40px; margin-top: 5px; background-color: #f4f4f4; color:#cccccc;">
                    <select disabled style="padding-left: 8px;">
                        <option>09</option>
                    </select>
                </div>
                <div style="float: left; color: #cccccc; font-weight: 600; padding-top: 8px; border-bottom: 1px solid #cccccc; padding-bottom: 6px;">:</div>
                <div class="select-disabled" style="float: left; width: 40px;  margin-top: 5px; background-color: #f4f4f4; color:#cccccc;">
                    <select disabled style="padding-left: 10px;">
                        <option>00</option>
                    </select>
                </div>
            </div>
        </div>
        <div align="center">
            <div style="font-size: 14px; font-family: OpenSansRegular; padding-top: 20px; text-align: center;">Аудитория</div>
            <div class="select-disabled-room" style="margin-top: 5px; width: 125px; background-color: #f4f4f4; color:#cccccc;">
                <select disabled>
                    <option>Выбрать</option>
                </select>
            </div>
        </div>
    </div>
</div>