<style>
    /*COMMON STYLES*/

    .content-header{
        background-color: #f6f6f6;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 30px;
        font-family: OpenSansRegular;
        font-size: 22px;
        border-bottom: 1px solid #cccccc;
        position: fixed;
        width: 100%;
        left: 300px;
        padding-left: 30px;
    }

    .content-container{
        padding-top: 30px;
        margin-left: 335px;
        padding-bottom: 30px;

    }

    .content-title{
        font-family: OpenSansRegular;
        font-size: 25px;
        padding-bottom: 15px;
    }

    .content-text{
        font-family: OpenSansRegular;
        font-size: 16px;
        padding-right: 40px;
    }

    .content-image{
        margin-top: 30px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        border-radius: 4px;
    }



</style>


<div ng-controller="staticController as self">
    <!--<h1>This is template controller front</h1>-->
    <!--<button ng-click="index.goTo('test')">GoToTest</button>-->
    <div class="content-header">
        <div style="display: inline-block;">
            <div style="float: left;">Учитель</div>
            <div style="float: left; padding-left: 15px; padding-right: 15px; padding-top: 11px;">
                <img src="/static-files/images/right-arrow.png" width="13px">
            </div>
            <div style="float: left;">Мои группы</div>
        </div>
    </div>
    <div style="padding-top: 70px;">
        <div class="content-container">
            <div class="content-title">Мои группы</div>
            <div class="content-text">
                На данной странице  вы можете видеть список всех текущих групп, в которых вы преподаете в данный момент. Вверху страницы есть поиск и параметры показа групп.
                <br>
                <br>
                Поиск позволяет найти необходимую группу по введенному слову или названию группы. Также вы модете отображать группы блоками
                или списком, выбрав необоходимый режим в параметрах показа.
                <br>
                <br>
                Каждая группа из списка содержит основую информацию: название группы, дата создания, тип группы (общая или индивидуальная) и количество студентов.
                Нажав на любую группу вы можете перейти на страницу Информация о группу, в которой можно работать с выбранной группой.
            </div>
            <div class="content-image" style="background-image: url(/static-files/images/manual/manual-groups-image.png); width: 900px; height: 456px; background-size: 900px 456px;"></div>
        </div>
        <div class="content-container">
            <div class="content-title">Информация о группе</div>
            <div class="content-text">
                Если вы нажали на любоу группу из списка на странице Мои группы, вы попадете на страницу Информация о группе.
                На данной странице можно посмотреть всю необходимою информацию о группе: расписание, посещаемость, список студентов, результаты тестирования м многое другое.
                Также вы можете поработать с группой, добавить домашнее задание, выставить пост с полезной информацией, выставить посещаемость и так далее.
                <br>
                <br>
                Для удобства мы разделили весь функционал на части и сделали навигационное меню с вкладками, чтобы можно было легко и просто найти необходимую информацию или выполнить какое то действие.
                Данное меню находится вверху страницы и позволяет переходить между вкладками. Список вкладок и краткое опсиание каждой представлено ниже,
                далее мы познакомомся с каждой из них и поймем для чего они нужны.
            </div>
            <div class="content-image" style="background-image: url(/static-files/images/manual/manual-group-info-tabs-image.png); width: 900px; height: 393px; background-size: 900px 393px;"></div>
        </div>
        <div class="content-container">
            <div class="content-title">Обзор группы</div>
            <div class="content-text">
                Если вы нажали на любоу группу из списка на странице Мои группы, вы попадете на страницу Информация о группе.
                На данной странице можно посмотреть всю необходимою информацию о группе: расписание, посещаемость, список студентов, результаты тестирования м многое другое.
                Также вы можете поработать с группой, добавить домашнее задание, выставить пост с полезной информацией, выставить посещаемость и так далее.
                <br>
                <br>
                Для удобства мы разделили весь функционал на части и сделали навигационное меню с вкладками, чтобы можно было легко и просто найти необходимую информацию или выполнить какое то действие.
                Данное меню находится вверху страницы и позволяет переходить между вкладками. Список вкладок и краткое опсиание каждой представлено ниже,
                далее мы познакомомся с каждой из них и поймем для чего они нужны.
            </div>
            <div class="content-image" style="background-image: url(/static-files/images/manual/manual-group-info-tabs-image.png); width: 900px; height: 393px; background-size: 900px 393px;"></div>
        </div>
    </div>
</div>
