<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        top: -50px;
        background-color: #ffffff;
    }

    .md-textarea-input{
        border: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-textarea-input:focus{
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .modal-add-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-add-button:hover{
        background-color: #59b7ee;
    }

    .modal-cancel-button{
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        color: #676b6d;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-cancel-button:hover{
        background-color: #e3e3e3;
    }

    textarea{
        resize: none;
        outline: none;
    }

    .select-style-aplication-add {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        width: 360px;
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style-aplication-add select {
        padding: 5px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
    }

    .select-style-aplication-add select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

</style>

<div ng-controller="editPaymentController as modalCtrl">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">РЕДАКТИРОВАНИЕ ОПЛАТЫ</div>
        <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 20px; padding-right: 20px; padding-top: 30px;">
            <div class="col-xs-3" style="text-align: right; padding-top: 7px; font-family: OpenSansRegular;">Студент:</div>
            <div class="col-xs-9" style="padding-left: 20px; padding-top: 3px;">
                <div class="select-style-aplication-add">
                    <select disabled ng-model="modalCtrl.student" ng-options="student as student.name for student in modalCtrl.students track by student._id">
                    </select>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 20px; padding-right: 20px; padding-top: 20px;">
            <div class="col-xs-3" style="text-align: right; font-family: OpenSansRegular; padding-top: 7px;">Стоимость:<span style="color: #fb4541; padding-left: 3px; font-weight: 600;">*</span></div>
            <div class="col-xs-9" style="padding-left: 20px; display: inline-block;">
                <div style="float: left;"><input numbers-only ng-model="modalCtrl.value" class="md-textarea-input" rows="2" style="width: 120px;" placeholder="Введите сумму"></div>
                <div style="float: left; padding-left: 5px; padding-top: 10px; color:#a3a3a3;">KZT</div>
                <div ng-if="modalCtrl.valueError" ng-include="'/app-admin/views/templates/validation/required-short.html'"></div>
            </div>
        </div>
        <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;">
            <div class="col-xs-3" style="text-align: right; padding-top: 7px; font-family: OpenSansRegular;">Комментарий:</div>
            <div class="col-xs-9" style="padding-left: 20px;">
                <textarea ng-model="modalCtrl.comment" class="md-textarea-input" rows="2" style="width: 360px;" placeholder="Напишите текст комментария тут"></textarea>
            </div>
        </div>
        <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-bottom: 20px; padding-top: 10px; width: 100%;">
            <div style="float: right;">
                <button ng-click="modalCtrl.updatePayment()" class="modal-add-button">СОХРАНИТЬ</button>
            </div>
            <div style="float: right; padding-right: 10px;">
                <button ng-click="closeThisDialog()" class="modal-cancel-button">ОТМЕНИТЬ</button>
            </div>

        </div>
    </div>
</div>