<style>

    .md-box-header{
        border-bottom: 1px solid #eff2f7;
        padding-top: 18px;
        padding-bottom: 18px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
    }

    .group-info-about-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        width: 60px;
        text-align: center;
    }

    .add-new-file-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .add-new-file-button:hover{
        background-color: #59b7ee;
    }

    .notes-list-item{
        background-color: #f4f5f6;
        border-bottom: 1px solid #e7eaec;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        /*color: #b1b4c0;*/
        color: #999999;
        font-size: 15px;
    }

    .notes-list-item:hover{
        background-color: #fefefe;
        border-bottom: 1px solid #e7eaec;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        color: #666666;
        font-size: 15px;
    }

    .notes-list-active-item{
        background-color: #ffffff;
        border-bottom: 1px solid #eff2f7;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        color: #666666;
        font-size: 15px;
    }



    .notes-control-button{
        background-color: transparent;
        border: none;
        color: #838e9e;
        font-size: 11px;
        font-family: OpenSansRegular;
    }

    .notes-control-button:hover{
        text-decoration: underline;
        color: #8f98a7;
    }

    .md-box-delete-button{
        border-radius: 5px;
        width: 150px;
        border: 1px solid #ffffff;
        padding-top: 9px;
        padding-bottom: 9px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .md-box-delete-button:hover{
        background-color: #e5e5e5;

    }

    .md-box-edit-button{
        border-radius: 5px;
        width: 150px;
        border: 1px solid #ffffff;
        padding-top: 9px;
        padding-bottom: 9px;
        color: #ffffff;
        background-color: #6699ff;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .md-box-edit-button:hover{
        opacity: 0.8;
    }



</style>
<div style="background-color: #e7eaec;" ng-controller="aboutControllerGroupInfo as about">
    <div class="md-box" style="margin-bottom: 20px; margin-top: 1px;">
        <div style="font-family: OpenSansLight; font-size: 36px; text-align: center; padding-top: 60px;">
            <div style="display: inline-block;">

                <div style="float: left; width: 28px; height: 28px; border-radius: 50%; margin-right: 15px; margin-top: 12px;" ng-style="{'background-color' : ctrl.group.color}"></div>
                <div style="float: left;">{{ctrl.group.name}}</div>
            </div>
        </div>
        <div style="text-align: center; color: #838e9e; font-family: OpenSansRegular; font-size: 16px; padding-top: 5px;">Группа создана: {{ctrl.group.createdAt | timeFilterDate}}</div>
        <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 30px; padding-bottom: 50px;">
            <div class="col-xs-6" style="text-align: right; padding-right: 5px;"><button ng-click="about.editGroup()" class="md-box-edit-button">РЕДАКТИРОВАТЬ</button></div>
            <div class="col-xs-6" style="text-align: left; padding-left: 5px;"><button ng-click="about.deleteGroup()" class="md-box-delete-button">УДАЛИТЬ</button></div>
        </div>
        <!--ТЕСТ-->
        <div style="display: inline-block; background-color: #f4f5f6; border-top: 1px solid #e7eaec;">
            <div align="center" style="float: left; width: 480px; border-right: 1px solid #e7eaec; margin-top: 15px; margin-bottom: 15px;">

                <!--ЕСЛИ В ГРУППЕ 1 УЧИТЕЛЬ-->
                <div ng-show="0">
                    <div style="display: inline-block; padding: 20px; padding-left: 25px; padding-right: 25px;">
                        <div style="float:left;">
                            <div>
                                <img style="border-radius: 50%;" ng-src="{{ctrl.group.teacherID | teacherImageUrlFilter}}" width="60px">
                            </div>
                        </div>
                        <div style="float: left; max-width: 360px;">
                            <div style="max-width: 350px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; padding-left: 20px; padding-top: 10px; padding-bottom: 10px; font-family: OpenSansLight; font-size: 24px;">{{ctrl.group.teachers | namesFilterByVacation}}</div>
                        </div>
                    </div>
                </div>

                <!--ЕСЛИ В ГРУППЕ 2 УЧИТЕЛЯ-->
                <div ng-show="1">
                    <div style="display: inline-block; padding-top: 5px;">
                        <!--СТОИТ ЗАГЛУШКА!-->
                        <div style="float: left;">
                            <img src="/static-files/images/teacher-male-icon.png" width="35px">
                        </div>
                        <div style="float: left;">
                            <div style="max-width: 350px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: OpenSansLight; font-size: 22px; padding-left: 15px; padding-top: 2px;">Аргымбек Адильжан</div>
                        </div>
                    </div>
                    <div></div>
                    <div style="display: inline-block; padding-top: 20px; padding-bottom: 5px;">
                        <!--СТОИТ ЗАГЛУШКА!-->
                        <div style="float: left;">
                            <img src="/static-files/images/teacher-male-icon.png" width="35px">
                        </div>
                        <div style="float: left;">
                            <div style="max-width: 350px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: OpenSansLight; font-size: 22px; padding-left: 15px; padding-top: 2px;">Абдыбухец Азарматец</div>
                        </div>
                    </div>
                </div>


                <!--ЕСЛИ В ГРУППЕ 3 УЧИТЕЛЯ-->
                <div ng-show="0">
                    <div style="display: inline-block;">
                        <!--СТОИТ ЗАГЛУШКА!-->
                        <div style="float: left;">
                            <img src="/static-files/images/teacher-male-icon.png" width="26px">
                        </div>
                        <div style="float: left;">
                            <div style="max-width: 350px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: OpenSansRegular; font-size: 18px; padding-left: 15px; padding-top: 2px;">Аргымбек Адильжан</div>
                        </div>
                    </div>
                    <div></div>
                    <div style="display: inline-block; padding-top: 10px;">
                        <!--СТОИТ ЗАГЛУШКА!-->
                        <div style="float: left;">
                            <img src="/static-files/images/teacher-male-icon.png" width="26px">
                        </div>
                        <div style="float: left;">
                            <div style="max-width: 350px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: OpenSansRegular; font-size: 18px; padding-left: 15px; padding-top: 2px;">Абдыбаев Азамат</div>
                        </div>
                    </div>
                    <div></div>
                    <div style="display: inline-block; padding-top: 10px;">
                        <!--СТОИТ ЗАГЛУШКА!-->
                        <div style="float: left;">
                            <img src="/static-files/images/teacher-male-icon.png" width="26px">
                        </div>
                        <div style="float: left;">
                            <div style="max-width: 350px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: OpenSansRegular; font-size: 18px; padding-left: 15px; padding-top: 2px;">Хван Ольга</div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="float: left; width: 240px; border-right: 1px solid #e7eaec; margin-top: 15px; margin-bottom: 15px;" align="center">
                <div style="display: inline-block; padding: 20px; padding-left: 25px; padding-right: 25px;">
                    <div style="float: left;">
                        <div class="group-info-about-button" style="padding-top: 12px; padding-bottom: 12px;"><img src="/static-files/images/group-info-students.png" width="35px"></div>
                    </div>
                    <div style="float: left;">
                        <div style="padding-left: 20px; padding-top: 8px; padding-bottom: 8px; font-family: OpenSansLight; font-size: 30px;">{{ctrl.group.students.length}} чел.</div>
                    </div>
                </div>
            </div>
            <div style="float: left; width: 300px; margin-top: 15px; margin-bottom: 15px;" align="center">
                <div style="display: inline-block; padding: 20px; padding-left: 25px; padding-right: 25px;">
                    <div style="float: left;">
                        <div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="25px"></div>
                    </div>
                    <div style="float: left;">
                        <div style="padding-left: 20px; padding-top: 8px; padding-bottom: 8px; font-family: OpenSansLight; font-size: 30px;">{{ctrl.group.memory | memoryUsageFilter}} </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="md-box" style="margin-bottom: 40px;">
        <!--<div class="md-box-header" style="display: inline-block; padding-top: 0px; padding-bottom: 0px; width: 100%;">-->
            <!--<div style="float: left; width: 880px; color: #2196F3; padding-top: 18px; padding-bottom: 18px;">ЗАМЕТКИ</div>-->
            <!--<div ng-click="about.addNote()" style="float: left; padding-top: 15px;"><button class="add-new-file-button">ДОБАВИТЬ</button></div>-->
        <!--</div>-->


        <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">
            <div class="row" style="margin: 0;">
                <div class="col-xs-6" style="padding: 0;">Заметки группы</div>
                <div class="col-xs-6" style="padding: 0; text-align: right;"><button ng-click="about.addNote()" class="edunet-button-default" style="font-family: OpenSansSemiBold;">ДОБАВИТЬ ЗАМЕТКУ</button></div>
            </div>
        </div>


        <!--ЕСЛИ ЗАМЕТОК НЕТ-->
        <div ng-if="ctrl.group.notes.length == 0" style="background-color: #ffffff; height: 250px; width: 100%;">
            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                <div class="col-xs-5" style="text-align: right; padding-right: 25px; padding-top: 60px;">
                    <img src="/static-files/images/empty-notes-icon.png" width="120px">
                </div>
                <div class="col-xs-7" style="text-align: left; padding-left: 25px; padding-top: 80px;">
                    <div style="font-family: OpenSansBold; font-size: 18px; color: #a8b3c2;">ЗАМЕТОК НЕТ</div>
                    <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 16px; padding-right: 150px;">К сожалению, Вы еще не добавляли заметки. Можете сделать это прямо сейчас.</div>
                </div>
            </div>
        </div>


        <!--ЕСЛИ ЗАМЕТКИ ЕСТЬ-->
        <div ng-if="ctrl.group.notes.length != 0">
            <!--<div class="row" style="margin-right: 0px; margin-left: 0px; font-size: 11px; font-family: OpenSansBold; padding-top: 12px; padding-bottom: 12px; color: #4d88b3; background-color: #e2f2fe; border-bottom: 1px solid #74c2f0;">-->
                <!--<div class="col-xs-5" style="width: 340px; padding-left: 30px; padding-right: 30px;">СПИСОК ЗАМЕТОК</div>-->
                <!--<div class="col-xs-7" style="width: 680px; padding-left: 30px; padding-right: 30px;">ТЕКСТ ВЫБРАННОЙ ЗАМЕТКИ</div>-->
            <!--</div>-->
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-xs-5" style="width: 340px; padding-left: 0px; padding-right: 0px;">
                    <table fixed-header style="height:385px; width:100%; background-color: #f4f5f6;">
                        <tr ng-repeat="note in ctrl.group.notes track by $index" ng-click="about.showNote($index)">
                            <td>
                                <div ng-class="$index == about.activeNoteIndex ? 'notes-list-active-item' : 'notes-list-item'">
                                    <div class="notes-list-item-title" style="font-family: OpenSansBold;">{{note.value}}</div>
                                    <div class="notes-list-item-date" style="font-family: OpenSansRegular;">{{note.updatedAt | date: 'dd.MM.yy HH:mm'}}</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-7" style="width:680px; padding-left: 0px; padding-right: 0px; padding: 30px; border-left: 1px solid #e7eaec; height: 385px;">
                    <div class="notes-main-view-header">
                        <div style="float: left; width: 50%; text-align: left; font-size: 14px; color:#838e9e; font-family: OpenSansRegular;">{{ctrl.group.notes[about.activeNoteIndex].updatedAt | date :'dd.MM.yy HH:mm' }}</div>
                        <div style="float: left; width: 50%; text-align: right;">
                            <div style="display: inline-block;">
                                <div style="float: left;">
                                    <button ng-click="about.editNote(about.activeNoteIndex)" class="notes-control-button">РЕДАКТИРОВАТЬ</button>
                                </div>
                                <div style="float: left;">
                                    <button ng-click="about.deleteNote(about.activeNoteIndex)" class="notes-control-button">УДАЛИТЬ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 20px; font-size:14px; overflow: auto; height: 300px; font-family: OpenSansRegular;">{{ctrl.group.notes[about.activeNoteIndex].value}}</div>
                </div>
            </div>
        </div>


    </div>
</div>