<link rel="stylesheet" href="/static-files/css/teacher/group-info.css">
<style>
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;

        border-top: 18px solid #ffffff;
    }


    .edunet-button-default{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .edunet-button-default:hover{
        opacity: 0.9;
    }


</style>

<div ng-controller="groupInfoController as ctrl">
    <div style="background-color: #ffffff; width: 100%;">
        <div style=" width: 1280px; margin: auto;">
            <div class="control-line" style="background-color: #ffffff;">
                <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Информация о группе</div>
            </div>
        </div>
    </div>
    <div class="mainView" style="background-color: #e7eaec;">
        <div class="mainViewContent" style="padding-bottom: 50px; padding-top: 25px;">
            <div class="new-group-form">
                <uib-tabset type="pills" style="background-color: #e7eaec;">
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 12px;">
                                <div style="text-align: center; padding-top: 13px;"><img src="/static-files/images/test-icon10.png" width="40px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ОБЗОР</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 95px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-teacher/views/group-info/about/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 12px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/test-icon7.png" width="35px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">КАЛЕНДАРЬ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 224px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-teacher/views/group-info/calendar/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="2">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 12px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/wall-tab-icon.png" width="31px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">КАНАЛ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 352px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-teacher/views/group-info/channel/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="3">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/test-icon8.png" width="30px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ПОСЕЩЕНИЕ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 480px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-teacher/views/group-info/attendance/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="4">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 11px;"><img src="/static-files/images/test-icon11.png" width="40px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">РЕЗУЛЬТАТЫ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 608px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-teacher/views/group-info/results/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="5">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/test-tab-icon.png" width="40px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ТЕСТЫ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 737px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-teacher/views/group-info/tests/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="6">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/files-tab-icon.png" height="33px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ФАЙЛЫ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 865px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-teacher/views/group-info/files/index.html'"></div>
                    </uib-tab>
                    <uib-tab index="7">
                        <uib-tab-heading>
                            <div style="text-align: center; padding-top: 10px;">
                                <div style="text-align: center; padding-top: 8px;"><img src="/static-files/images/test-icon12.png" width="33px"></div>
                                <div style="text-align: center; padding-top: 10px; font-size: 12px; font-family: OpenSansBold;">ЗАЯВКИ</div>
                            </div>
                        </uib-tab-heading>
                        <div style="margin-left: 992px;">
                            <div class="arrow-down"></div>
                        </div>
                        <div ng-include="'/app-teacher/views/group-info/applications/index.html'"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
