<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/dist/admin/css/lib.css?v=lib_styles_build_version"/>

    <link rel="stylesheet" href="/dist/admin/css/index2.css?v=custom_styles_build_version"/>
    <link rel="stylesheet" href="/dist/admin/css/index-file.css?v=custom_styles_build_version"/>

</head>
<body ng-app="EduNet" style="background-color: #e7eaec;">
    <script src="/dist/admin/js/lib.js?v=lib_js_build_version"></script>
    <script src="/dist/admin/js/templates.js?v=templates_build_version"></script>
    <script src="/dist/admin/js/custom.js?v=custom_js_build_version"></script>

    <div ng-controller="indexController as index">
    <md-sidenav md-is-open="index.isSideNaVOpen" style="background-color: #36414f; padding-top: 20px;" class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-content>
            <div class="admin-side-menu-header" ng-click="index.goTo('profile')">
                <div style="display: inline-block; padding-left: 26px; padding-top: 10px; padding-bottom: 10px;">
                    <div style="float:left;">
                        <img class="admin-side-menu-header-photo" ng-src="{{index.center.imageUrl}}" width="30px">
                    </div>
                    <div style="float:left; color: #ffffff; padding-left: 16px; padding-top: 5px; padding-bottom: 5px;">{{index.center.name}}</div>
                </div>
            </div>
            <div class="admin-side-menu-item" ng-click="index.goTo('/list-of-groups')">
                <div style="float: left; padding-left: 30px; padding-right: 20px;"><img src="/static-files/images/teacher-side-menu-groups.png" width="20px"></div>
                <div style="float: left;">Группы</div>
            </div>
            <div class="admin-side-menu-item" ng-click="index.goTo('/list-of-teachers')">
                <div style="float: left; padding-left: 30px; padding-right: 20px;"><img src="/static-files/images/side-menu-teachers-icon.png" width="22px"></div>
                <div style="float: left;">Учителя</div>
            </div>
            <div class="admin-side-menu-item" ng-click="index.goTo('/schedule')">
                <div style="float: left; padding-left: 30px; padding-right: 20px;"><img src="/static-files/images/teacher-side-menu-calendar.png" width="20px"></div>
                <div style="float: left">Расписание</div>
            </div>
            <div class="admin-side-menu-item" ng-click="index.goTo('/students')">
                <div style="float: left; padding-left: 30px; padding-right: 20px;"><img src="/static-files/images/side-menu-students-icon.png" width="22px"></div>
                <div style="float: left;">Студенты</div>
            </div>
            <div class="admin-side-menu-item" ng-click="index.goTo('/tests')">
                <div style="float: left; padding-left: 30px; padding-right: 20px;"><img src="/static-files/images/side-menu-tests-icon.png" width="22px"></div>
                <div style="float: left;">Тесты</div>
            </div>
            <div class="admin-side-menu-item" ng-click="index.goTo('/list-of-classrooms')">
                <div style="float: left; padding-left: 30px; padding-right: 20px; padding-top: 2px;"><img src="/static-files/images/teacher-side-menu-classroom.png" width="20px"></div>
                <div style="float: left">Аудитории</div>
            </div>
            <div class="admin-side-menu-item" ng-click="index.goTo('/list-of-applications')">
                <div style="float: left; padding-left: 30px; padding-right: 20px; padding-top: 1px;"><img src="/static-files/images/teacher-side-menu-requests-icon.png" width="22px"></div>
                <div style="float: left;">Заявки</div>
            </div>

            <div class="admin-side-menu-item" ng-click="index.goTo('/payments')" style="border: none;">
                <div style="float: left; padding-left: 30px; padding-right: 20px; padding-top: 2px;"><img src="/static-files/images/teacher-side-menu-payment.png" width="20px"></div>
                <div style="float: left">Оплаты</div>
            </div>
            <div style="background-color: #36414f; color: #718095; font-size: 13px; font-weight: 300; padding-left: 30px; padding-top: 10px; padding-bottom: 10px;">СЕРВИС</div>
            <div class="admin-side-menu-item" ng-click="index.goTo('/tariffs')">
                <div style="float: left; padding-left: 30px; padding-right: 20px; padding-top: 2px;"><img src="/static-files/images/teacher-side-menu-tariff.png" width="18px"></div>
                <div style="float: left">Тариф</div>
            </div>
        </md-content>
    </md-sidenav>
    <div class="topMenu" style="display: inline-block; background-color: #528dde;">
        <div style="float: left; padding-left: 20px; padding-top: 18px; width: 55px;">
            <button class="menu-button" ng-click="index.toggleLeft()">
                <img src="/static-files/images/menu-icon.png" width="22px">
            </button>
        </div>
        <div style="float:left; padding-left: 35px; padding-top: 16px; width: 190px;">
            <img src="/static-files/images/edunetLogoWhite.png" width="110px">
        </div>
        <div style="float: left; display: inline-block; width: 925px;">
            <div style="float: left; font-family: OpenSansSemiBold; color: #ffffff; font-size: 20px; padding-top: 16px; padding-bottom: 16px; padding-left: 40px; padding-right: 40px; background-color: #427bd3;">
                {{index.client.name}}
            </div>
            <div ng-if="index.hasBranch">
                <div style="float: left; font-family: OpenSansRegular; padding-left: 40px; padding-right: 15px; font-size: 16px; color: #ffffff; padding-top: 19px; opacity: 0.8;">Филиал:</div>
                <div ng-if="index.admin.isManager" style="padding-top: 13px; padding-bottom: 14px;">
                    <div class="branch-select">
                        <select ng-model="index.actCenter" style="font-family: OpenSansRegular" ng-options="center as center.name for center in index.centers track by center._id"  ng-change="index.changeCenter()"></select>
                    </div>
                </div>
                <div ng-if="!index.admin.isManager" style="float: left; font-family: OpenSansSemiBold; color: #ffffff; padding-top: 19px; padding-bottom: 19px; font-size: 16px;">{{index.center.name}}</div>
            </div>
        </div>
        <div style="float: left; padding-right: 20px; padding-top: 15px;">
            <img src="/static-files/images/notification-icon.png" width="30px">
        </div>
        <div style="float: left; margin-right: 20px; padding-top: 15px;" ng-click="index.openUserNav()" hide-user-nav="index.hideUserNav()">
            <img src="/static-files/images/admin-user-icon.png" width="30px">
        </div>
    </div>
    <div>
        <ng-view autoscroll="true"></ng-view>
    </div>
    <div style="position: absolute; top:46px; right: 17px;" ng-if="index.userNav">
        <div align="right">
            <div class="arrow-up" style="margin-right: 20px;"></div>
        </div>
        <div class="control-menu" style="width: 170px; background-color: #ffffff; padding-top: 8px; padding-bottom: 8px;">
            <button ng-click="index.goTo('/profile')" class="control-menu-item">Мой профиль</button>
            <button ng-click="index.editProfile()" class="control-menu-item">Редактировать</button>
            <div style="border-top: 1px solid #dfe9ef; width: 135px; margin-top: 3px; margin-bottom: 3px; margin-left: 15px; margin-right: 215px;"></div>
            <button ng-click="index.logout()" class="control-menu-item">Выйти</button>
        </div>
    </div>
    <div ng-if="loader.length">
        <div style="position: fixed; background-color: transparent; width: 100%; min-height: 100%; top:0;">
        </div>
        <div style="color:#ffffff; position: fixed; top:50%; left: 50%; margin: -80px 0 0 0;">
            <div>
                <div>
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
