<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 500px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
    }
    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
    }


    .md-modal-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #1A237E;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-weight: 600;
    }


    .md-box-modal-cancel-button{
        border-radius: 20px;
        width: 120px;
        border: 1px solid #949fb0;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #949fb0;
        background-color: #ffffff;
        font-size: 15px;
    }

    .md-box-modal-cancel-button:hover{
        color: #ffffff;
        background-color: #949fb0;
        border: 1px solid #ffffff;
    }

    .md-box-modal-create-button{
        border-radius: 20px;
        width: 120px;
        border: 1px solid #3F51B5;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #3F51B5;
        background-color: #ffffff;
        font-size: 15px;
    }

    .md-box-modal-create-button:hover{
        color: #ffffff;
        background-color: #3F51B5;
        border: 1px solid #ffffff;
    }

    /*НОВЫЕ СТИЛИ*/

    .md-textarea-input{
        border: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-textarea-input:focus{
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .modal-add-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-add-button:hover{
        background-color: #59b7ee;
    }

    .modal-cancel-button{
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        color: #676b6d;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-cancel-button:hover{
        background-color: #e3e3e3;
    }

</style>
<div class="md-modal-box" style="width: 700px;">
    <!--<div class="md-modal-box-header">ДОБАВЛЕНИЕ ЗАДАНИЯ<span style="color: #949fb0; padding-left: 10px; fon-size: 12px; font-weight: 400;">{{date | date : 'dd.MM.yyyy'}}</span></div>-->
    <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">ДОБАВЛЕНИЕ ЗАДАНИЯ<span style="color: #ffffff; padding-left: 10px; fon-size: 13px; font-family: OpenSansLight;">{{date | date : 'dd.MM.yyyy'}}</span></div>
    <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 20px; padding-right: 20px; padding-top: 20px;">
        <div class="col-xs-3" style="text-align: right; font-family: OpenSansRegular; padding-top: 7px;">Задание:<span style="color: #fb4541; padding-left: 3px; font-weight: 600;">*</span></div>
        <div class="col-xs-9" style="padding-left: 20px;">
            <textarea ng-model="content" class="md-textarea-input" rows="2" style="width: 430px;" placeholder="Напишите текст задания тут"></textarea>
            <div ng-if="contentError" ng-include="'/app-teacher/views/templates/validation/required-short.html'"></div>
        </div>
    </div>
    <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;">
        <div class="col-xs-3" style="text-align: right; padding-top: 7px; font-family: OpenSansRegular;">Комментарий:</div>
        <div class="col-xs-9" style="padding-left: 20px;">
            <textarea ng-model="comment" class="md-textarea-input" rows="1" style="width: 430px;" placeholder="Напишите текст комментария тут"></textarea>
        </div>
    </div>
    <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-bottom: 20px; padding-top: 10px; width: 100%;">
        <div style="float: right;">
            <button ng-click="addHomework()" class="modal-add-button">ОТПРАВИТЬ</button>
        </div>
        <div style="float: right; padding-right: 10px;">
            <button ng-click="closeThisDialog()" class="modal-cancel-button">ОТМЕНИТЬ</button>
        </div>
    </div>
</div>

