<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 400px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        padding: 30px;
        padding-bottom: 20px;
        background-color: #ffffff;
    }

    .dialog-button{
        background-color: transparent;
        border: none;
        font-size: 13px;
        font-weight: 500;
        color: #3F51B5;
        border-radius: 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .dialog-button:hover{
        background-color: #e1e2e2;
    }

    .dialog-delete-button{
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        color: #676b6d;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
        width: 100px;
    }

    .dialog-delete-button:hover{
        background-color: #e3e3e3;
    }

    .dialog-cancel-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 15px;
        padding-right: 15px;
    }

    .dialog-cancel-button:hover{
        background-color: #59b7ee;
    }

</style>
<div style="background-color: #ffffff;">
    <div style="font-size:18px; color:#000000; font-family: OpenSansRegular;">Вы точно хотите удалить домашнее задание?</div>
    <div style="font-color:#777777; font-weight: 300; padding-top: 15px; font-size: 14px; font-family: OpenSansRegular;">Все данные будут о текущем задании будут потеряны навсегда.</div>
    <div style="display: inline-block; padding-top: 15px; width: 100%;">
        <div style="float:right;"><button ng-click="delete()" class="dialog-delete-button">УДАЛИТЬ</button></div>
        <div style="float:right; padding-right: 10px;"><button ng-click="closeThisDialog()" class="dialog-cancel-button">ОТМЕНИТЬ</button></div>
    </div>
</div>