<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        width: 500px;
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 4px;
    }

    .modal-add-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-add-button:hover{
        background-color: #59b7ee;
    }

    .modal-cancel-button{
        background-color: #eeeeee;
        border: none;
        border-radius: 2px;
        color: #676b6d;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
    }

    .modal-cancel-button:hover{
        background-color: #e3e3e3;
    }

    .md-textarea-input{
        border: none;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-textarea-input:focus{
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

</style>
<div class="md-modal-box" style="width: 700px;">
    <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">РЕДАКТИРОВАТЬ ЗАДАНИЕ<span style="color: #ffffff; padding-left: 10px; fon-size: 13px; font-family: OpenSansLight;">{{date | date : 'dd.MM.yyyy'}}</span></div>
    <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 20px; padding-right: 20px; padding-top: 20px;">
        <div class="col-xs-3" style="text-align: right; font-family: OpenSansRegular; padding-top: 7px;">Задание:<span style="color: #fb4541; padding-left: 3px; font-weight: 600;">*</span></div>
        <div class="col-xs-9" style="padding-left: 20px;">
            <textarea ng-model="content" class="md-textarea-input" rows="2" style="width: 430px;" placeholder="Напишите текст задания тут"></textarea>
            <div ng-show="contentError" style="color: #fb4541; font-size: 13px; padding-top: 3px; display: inline-block;">
                <div style="float: left; padding-top: 2px;"><img src="/static-files/images/validation-error-icon.png" width="14px"></div>
                <div style="float: left; padding-left: 4px;">Необходимо заполнить текст задания</div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 0; margin-right: 0; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;">
        <div class="col-xs-3" style="text-align: right; font-family: OpenSansRegular; padding-top: 7px;">Комментарий:</div>
        <div class="col-xs-9" style="padding-left: 20px;">
            <textarea ng-model="comment" class="md-textarea-input" rows="1" style="width: 430px;" placeholder="Напишите текст комментария тут"></textarea>
        </div>
    </div>
    <div style="display: inline-block; padding-left: 25px; padding-right: 25px; padding-bottom: 20px; padding-top: 10px; width: 100%;">
        <div style="float: right;">
            <button ng-click="updateHomework()" class="modal-add-button">ОТПРАВИТЬ</button>
        </div>
        <div style="float: right; padding-right: 10px;">
            <button ng-click="closeThisDialog()" class="modal-cancel-button">ОТМЕНИТЬ</button>
        </div>
    </div>
</div>