<style>
    .group-info-about-button{
        background-color: #6699ff;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 11px;
        font-family: OpenSansSemiBold;
        width: 60px;
        text-align: center;
    }

</style>
<div ng-controller="aboutControllerGroupInfo as about">
    <div class="row" style="margin-right: 50px; margin-left: 50px; margin-top: 1px;">
        <div class="col-xs-7" style="padding-left: 0px; padding-right: 10px;">
            <div class="md-box" style="margin: 0px;">
                <div style="font-size: 26px; text-align: center; padding-top: 40px; padding-bottom: 10px;">
                    <div style="display: inline-block;">
                        <div style="float: left; width: 22px; height: 22px; border-radius: 50%; margin-right: 10px; margin-top: 8px;" ng-style="{'background-color' : ctrl.group.color}"></div>
                        <div style="float: left; font-family: OpenSansLight;">{{ctrl.group.name}}</div>
                    </div>
                </div>
                <div style="text-align: center; font-family: OpenSansRegular; font-size: 17px; color: #838e9e;">Общая группа</div>
                <div style="text-align: center; color: #838e9e; font-family: OpenSansRegular; font-size: 14px; padding-top: 2px;">Группа создана: {{ctrl.group.createdAt | timeFilterDate}}</div>
                <div class="row" style="margin-right: 0px; margin-left: 0px; margin-top: 40px; background-color: #f4f5f6; border-top: 1px solid #e7eaec; padding-top: 10px; padding-bottom: 10px;">
                    <div class="col-xs-6" align="center" style="padding-right: 0px; padding-left: 0px;">
                        <div style="display: inline-block; margin-top: 20px; margin-bottom: 20px; padding-left: 25px; padding-right: 25px;">
                            <div style="float: left;">
                                <div class="group-info-about-button" style="padding-top: 12px; padding-bottom: 12px;"><img src="/static-files/images/group-info-students.png" width="30px"></div>
                            </div>
                            <div style="float: left;">
                                <div style="padding-left: 20px; padding-top: 8px; padding-bottom: 8px; font-family: OpenSansLight; font-size: 26px;">{{ctrl.group.students.length}} чел.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6" align="center" style="padding-right: 0px; padding-left: 0px; border-left: 1px solid #e2e4e5;">
                        <div style="display: inline-block; margin-top: 20px; margin-bottom: 20px; padding-left: 25px; padding-right: 25px;">
                            <div style="float: left;">
                                <div class="group-info-about-button"><img src="/static-files/images/group-info-memory.png" width="20px"></div>
                            </div>
                            <div style="float: left;">
                                <div style="padding-left: 20px; padding-top: 8px; padding-bottom: 8px; font-family: OpenSansLight; font-size: 26px;">{{ctrl.group.memory | memoryUsageFilter}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5" style="padding-left:10px; padding-right: 0px;">
            <div class="md-box" style="margin: 0px;">
                <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Студенты группы</div>

                <div ng-hide="ctrl.group.homeworks.length" style="height: 220px; padding-top: 25px;" align="center">
                    <div style="opacity: 0.5;"><img src="/static-files/images/empty-students-teacher-icon.png" height="90px"></div>
                    <div style="font-family: OpenSansSemiBold; font-size: 17px; color: #a8b3c2; padding-top: 10px;">Студентов нет</div>
                    <div style="font-family: OpenSansRegular; padding-top: 5px; color: #a8b3c2; font-size: 13px; padding-right: 80px; padding-left: 80px;">В данной группе еще нет студентов, обратитесь к Администратору</div>
                </div>


                <div ng-show="ctrl.group.homeworks.length">
                    <!--<div>-->
                        <!--<table fixed-header style="height:220px; width:100%; background-color: #ffffff;">-->
                            <!--<tr ng-repeat="homework in ctrl.group.homeworks | orderBy : 'createdAt' : true track by $index">-->
                                <!--<td>-->
                                    <!--<div style="display: inline-block; border-bottom: 1px solid #edeeef; padding-top: 15px; padding-bottom: 15px;">-->
                                        <!--<div style="float: left; width: 140px; text-align: center; font-size: 14px; font-family: OpenSansRegular;">{{homework.onDate | date : 'dd.MM.yyyy'}}</div>-->
                                        <!--<div style="float: left; width: 350px; padding-right: 14px; padding-left: 15px; font-size: 15px; font-family: OpenSansRegular;">{{homework.content}}</div>-->
                                    <!--</div>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->

                    <div>
                        <table fixed-header style="height:220px; width:100%; background-color: #ffffff;">
                            <tr ng-repeat="student in ctrl.group.students">
                                <td>
                                    <div style="display: inline-block; border-bottom: 1px solid #e7eaec; padding-top: 10px; padding-bottom: 10px;">
                                        <div style="float: left; width: 80px; text-align: right; padding-right: 20px; font-size: 14px; font-family: OpenSansRegular;">
                                            <img style="border-radius: 50%;" src="/static-files/images/empty-student-photo-small.png" width="30px">
                                        </div>
                                        <div style="float: left; width: 335px; padding-right: 14px; font-size: 15px; padding-top: 5px; font-family: OpenSansRegular;">{{student | nameFilter}}</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="md-box" style="margin-top: 20px;">
        <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Расписание уроков</div>

        <!--ЕСЛИ РАСПИСАНИЯ НЕТ-->
        <div ng-if="ctrl.group.schedule.length == 0" style="background-color: #ffffff; height: 180px; width: 100%;">
            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                <div class="col-xs-5" style="text-align: right; padding-right: 25px; padding-top: 40px;">
                    <img src="/static-files/images/empty-schedule-icon.png" width="110px">
                </div>
                <div class="col-xs-7" style="text-align: left; padding-left: 25px; padding-top: 55px;">
                    <div style="font-family: OpenSansSemiBold; font-size: 18px; color: #a8b3c2;">Расписания нет</div>
                    <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 14px; padding-right: 150px;">К сожалению, расписание еще не создано. Необходимо обратиться к Администратору.</div>
                </div>
            </div>
        </div>

        <!--ЕСЛИ РАСПИСАНИЕ ЕСТЬ-->
        <div ng-if="ctrl.group.schedule.length > 0">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-xs-2" style="padding: 0px; border-right: 1px solid #e7eaec;" ng-repeat="day in about.schedule track by $index">
                    <div ng-show="day.hasLesson">
                        <div style="background-color: #ffffff;">
                            <div style="font-family: OpenSansSemiBold; color: #a8b3c2; border-bottom: 1px dashed #e7eaec; padding-top: 15px; padding-bottom: 15px; text-align: center; font-size: 15px;">{{day.name}}</div>
                        </div>
                        <div align="center" style="padding-top: 20px;">
                            <div style="display: inline-block;">
                                <div style="float: left;">
                                    <img src="/static-files/images/teacher-lesson-start-time-icon.png" width="25px">
                                </div>
                                <div style="float: left; font-size: 20px; font-family: OpenSansRegular; text-align: center; width: 70px;">{{day.lesson.startTime | date : 'hh:mm'}}</div>
                            </div>
                        </div>
                        <div align="center" style="padding-top: 10px;">
                            <div style="display: inline-block;">
                                <div style="float: left;">
                                    <img src="/static-files/images/teacher-lesson-end-time-icon.png" width="25px">
                                </div>
                                <div style="float: left; font-size: 20px; font-family: OpenSansRegular; text-align: center; width: 70px;">{{day.lesson.endTime | date :'hh:mm'}}</div>
                            </div>
                        </div>
                        <div align="center" style="padding-top: 15px; padding-bottom: 25px; text-align: center; font-family: OpenSansRegular; font-size: 14px;">
                            <div style="width : 140px; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap;">{{day.lesson.classroomID.name}}</div>
                        </div>
                    </div>
                    <div ng-hide="day.hasLesson">
                        <div style="background-color: #f4f5f6; height: 197px;">
                            <div style="font-family: OpenSansSemiBold; color: #dedddd; padding-top: 15px; padding-bottom: 15px; text-align: center; font-size: 15px;">{{day.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="md-box" style="margin-top: 20px;">-->
        <!--<div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Список доманших заданий</div>-->

        <!--&lt;!&ndash;ЕСЛИ НЕТ СТУДЕНТОВ&ndash;&gt;-->
        <!--<div ng-show="ctrl.group.students.length == 0" style="background-color: #ffffff; height: 200px; width: 100%; border-top: 1px solid #edeeef;">-->
            <!--<div class="row" style="margin-right: 0px; margin-left: 0px; pa">-->
                <!--<div class="col-xs-5" style="text-align: right; padding-right: 25px; padding-top: 45px;">-->
                    <!--<img src="/static-files/images/empty-users-icon.png" width="120px">-->
                <!--</div>-->
                <!--<div class="col-xs-7" style="text-align: left; padding-left: 25px; padding-top: 60px;">-->
                    <!--<div style="font-family: OpenSansBold; font-size: 17px; color: #999999;">СТУДЕНТОВ НЕТ</div>-->
                    <!--<div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 15px; padding-right: 150px;">К сожалению, студентов еще не добавляли. Необходимо обратиться к Администратору.</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;ЕСЛИ ЕСТЬ СТУДЕНТЫ&ndash;&gt;-->
        <!--<div ng-hide="ctrl.group.students.length == 0">-->
            <!--<div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 12px; padding-bottom: 12px; background-color: #e2f2fe; border-bottom: 1px solid #74c2f0;">-->
                <!--<div style="float:left; color: #4d88b3; width: 390px; font-size: 11px; font-family: OpenSansBold;">ФАМИЛИЯ, ИМЯ</div>-->
                <!--<div style="float:left; color: #4d88b3; width: 300px; font-size: 11px; font-family: OpenSansBold;">EMAIL АДРЕС</div>-->
                <!--<div style="float:left; color: #4d88b3; width: 225px; font-size: 11px; font-family: OpenSansBold;">КОНТАКТНЫЙ ТЕЛЕФОН</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;ТУТ NG-REPEAT для студентов&ndash;&gt;-->
            <!--<div style="background-color: #fafafa; min-height: 300px;">-->
                <!--<div style="width:100%; display: inline-block; border-bottom: 1px solid #edeeef; padding-left: 30px; padding-right: 30px; padding-top: 8px; padding-bottom: 8px; background-color: #ffffff;" ng-repeat="student in ctrl.group.students">-->
                    <!--<div style="float: left; width: 45px; padding-top: 10px;"><img style="border-radius: 50%;" ng-src="{{about.studentAvatar}}" width="30px"></div>-->
                    <!--<div style="float:left; padding-top: 15px; padding-bottom: 15px; width: 345px; font-family: OpenSansRegular; color: #444444;">{{student | nameFilter}}</div>-->
                    <!--<div style="float:left; padding-top: 15px; padding-bottom: 15px; width: 300px; font-family: OpenSansRegular; color: #444444;">{{student.email}}</div>-->
                    <!--<div style="float:left; padding-top: 15px; padding-bottom: 15px; width: 225px; font-family: OpenSansRegular; color: #444444;">{{student.phone | phoneFilter}}</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


    <!--</div>-->
</div>
