<!--<div ng-include="'/app-admin/views/templates/development.html'"></div>-->
<div style="background-color: #f4f4f4; width: 100%;">
    <div style=" width: 1280px; margin: auto;">
        <div class="control-line" style="background-color: #ffffff; padding-top: 12px; padding-bottom: 12px;">
            <div style="float: left; padding-top:5px; padding-bottom: 5px; color:#000000; font-family: OpenSansLight; font-size: 26px;">Оплаты</div>
        </div>
    </div>
</div>
<div class="mainView" style="background-color: #eff2f7;">
    <div class="mainViewContent">
        <div style="padding-top: 30px; padding-left: 180px; padding-right: 180px;">
            <div class="md-box" style="background-color: #ffffff;">
                <div align="center" style="padding-bottom: 60px; padding-top: 50px;">
                    <div style="opacity: 0.8;"><img src="/static-files/images/empty-development-icon.png" width="180px"></div>
                    <div style="font-family: OpenSansBold; font-size: 18px; padding-top: 30px; color: #999999;">ДАННЫЙ БЛОК В РАЗРАБОТКЕ</div>
                    <div style="font-family: OpenSansRegular; padding-top: 10px; color: #bcbfc5; font-size: 15px; padding-left: 160px; padding-right: 160px;">К сожалению, в данный момент этот раздел находится в раработке и будет доступен в ближайщее время.</div>
                </div>
            </div>
        </div>
    </div>
</div>