<style>
    .delete-test-button{
        border-radius: 4px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 12px;
        font-family: OpenSansSemiBold;
        width: 110px;
    }

    .delete-test-button:hover{
        background-color: #e5e5e5;

    }

    .test-results-button{
        border-radius: 4px;
        border: 1px solid #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        background-color: #24cd98;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        width: 110px;
    }

    .test-results-button:hover{
        background-color: #01c08d;

    }
</style>
<div ng-controller="testsControllerGroupInfo as tests" class="md-box" style="margin-bottom: 30px; margin-top: 1px;">
    <div ng-if="tests.hasTests">
        <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 10px solid #e7eaec;">Список тестов</div>
        <div class="md-box" style="margin-right: 0px; margin-left: 0px;">
            <!--<div style="display: inline-block; background-color: #e2f2fe; border-bottom: 1px solid #74c2f0;">-->
                <!--<div style="float: left; width: 165px; padding-top: 12px; padding-bottom: 12px; text-align: center; font-size: 11px; font-family: OpenSansBold; color: #4d88b3;">ДАТА</div>-->
                <!--<div style="float: left; width: 100px; padding-top: 12px; padding-bottom: 12px; text-align: center; font-size: 11px; font-family: OpenSansBold; color: #4d88b3;">ТИП ТЕСТА</div>-->
                <!--<div style="float: left; width: 755px; padding-top: 12px; padding-bottom: 12px; padding-left: 30px; font-size: 11px; font-family: OpenSansBold; color: #4d88b3;">ОСНОВНАЯ ИНФОРМАЦИЯ</div>-->
            <!--</div>-->
            <!--ТУТ NG-REPEAT ДЛЯ ТЕСТА-->
            <div style="display: inline-block; width: 100%; border-bottom: 10px solid #e7eaec;" ng-repeat="test in ctrl.group.tests">
                <!--<div style="float: left; width: 165px; font-family: OpenSansRegular; padding-left: 25px; padding-top: 5px;">{{test.createdAt | timeFilterDate}}</div>-->
                <div style="float: left; width: 120px;">
                    <div style="background-color: #00b7f2; color: #ffffff; padding-top: 31px; padding-bottom: 31px; text-align: center; font-size: 15px; font-family: OpenSansBold; padding-left: 20px; padding-right: 20px;">
                        <img src="/static-files/images/online-test-icon.png" width="50px">
                    </div>
                </div>
                <div style="float: left; width: 755px; padding-left: 25px; padding-right: 25px; padding-top: 20px; padding-bottom: 20px;">
                    <div style="font-size: 25px; font-family: OpenSansRegular;">{{test.name}}</div>
                    <div style="display: inline-block; padding-top: 10px; font-family: OpenSansRegular; color: #84929d; font-size: 14px;">
                        <div style="float: left; display: inline-block; margin-right: 25px;">
                            <div style="float: left; padding-top: 2px;">
                                <img src="/static-files/images/test-list-duration-icon.png" width="15px">
                            </div>
                            <div style="float: left; padding-left: 5px;">Дата:</div>
                            <div style="float: left; padding-left: 10px;"><span style="font-family: OpenSansRegular; color: #000000;">{{test.createdAt | timeFilterDate}}</div>
                        </div>
                        <div style="float: left; display: inline-block; margin-right: 25px;">
                            <div style="float: left; padding-top: 2px;">
                                <img src="/static-files/images/test-list-sections-icon.png" width="15px">
                            </div>
                            <div style="float: left; padding-left: 5px;">Разделов:</div>
                            <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; color: #000000;">{{test.sections.length}}</div>
                        </div>
                        <div style="float: left; display: inline-block; margin-right: 25px;">
                            <div style="float: left; padding-top: 2px;">
                                <img src="/static-files/images/test-list-question-icon.png" width="15px">
                            </div>
                            <div style="float: left; padding-left: 5px;">Вопросов:</div>
                            <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; color: #000000;">{{test | testTotalQuestionsCountFilter}}</div>
                        </div>
                        <div style="float: left; display: inline-block;">
                            <div style="float: left; padding-top: 2px;">
                                <img src="/static-files/images/duration-icon.png" width="12px">
                            </div>
                            <div style="float: left; padding-left: 5px;">Длительность:</div>
                            <div style="float: left; padding-left: 10px;"><span style="font-family: OpenSansRegular; color: #000000;">{{test | testTotalDurationFilter}}</span> минут</div>
                        </div>
                    </div>
                </div>
                <div style="float: left; width: 130px; padding-top: 20px; padding-bottom: 20px;">
                    <div style="margin-bottom: 1px;">
                        <button ng-click="tests.showResults(test)" class="test-results-button">
                            РЕЗУЛЬТАТЫ
                        </button>
                    </div>
                    <div>
                        <button ng-click="tests.deleteTest(test._id)" class="delete-test-button">УДАЛИТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!tests.hasTests">
        <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Список тестов</div>
        <div align="center" style="padding-bottom: 60px; padding-top: 70px;">
            <div style="opacity: 0.9;"><img src="/static-files/images/empty-tests-icon.png" width="170px"></div>
            <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Тестов нет</div>
            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 280px; padding-right: 280px; padding-top: 10px;">В данной группе еще нет тестов, вы можете назначить тест прямо сейчас, на странице «Тесты» .</div>
        </div>
    </div>
</div>