<style>
    .teacher-group-box-header{
        padding-top: 13px;
        padding-bottom: 13px;
        font-weight: 400;
        text-align: center;
        background-color: #3F51B5;
        color: #ffffff;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-size: 17px;
    }

    .teacher-group-box{
        background-color: #ffffff;
        border-radius: 3px;
        border: 1px solid #eff2f7;
    }

    .teacher-group-box:hover{
        /*background-color: #f5f9fc;*/
        border: 1px solid #3F51B5;
    }

    .teacher-group-box-footer{
        background-color: #ffffff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top: 1px solid #edeeef;
    }

    /*MODALS STYLES*/

    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
    }


    .md-modal-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #1A237E;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-weight: 600;
    }

    .form-control{
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #c2cad7;
    }

    .md-box-modal-cancel-button{
        border-radius: 20px;
        width: 120px;
        border: 1px solid #949fb0;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #949fb0;
        background-color: #ffffff;
        font-size: 15px;
    }

    .md-box-modal-cancel-button:hover{
        color: #ffffff;
        background-color: #949fb0;
        border: 1px solid #ffffff;
    }

    .md-box-modal-create-button{
        border-radius: 20px;
        width: 120px;
        border: 1px solid #3F51B5;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #3F51B5;
        background-color: #ffffff;
        font-size: 15px;
    }

    .md-box-modal-create-button:hover{
        color: #ffffff;
        background-color: #3F51B5;
        border: 1px solid #ffffff;
    }

    .md-box-modal-delete-button{
        border-radius: 20px;
        width: 120px;
        border: 1px solid #f26051;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #f26051;
        background-color: #ffffff;
        font-size: 15px;
    }

    .md-box-modal-delete-button:hover{
        color: #ffffff;
        background-color: #f26051;
        border: 1px solid #ffffff;
    }
    .teacher-calendar-today-item{
        border: 1px solid #fc3d39;
    }

    .calendar-day-number{
        border-radius: 50%;
        width: 32px;
        height: 32px;
        text-align: center;
        padding-top: 5px;
        margin: 4px;
        font-family: OpenSansSemiBold;
    }

    .calendar-day-number-active{
        background-color: #fc3d39;
        color: #ffffff;
        font-family: OpenSansSemiBold;
    }

</style>
<div ng-controller="calendarControllerGroupInfo as calendar" class="md-box" style="margin-bottom: 30px; margin-top: 1px; margin-right: 54px;">
    <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Календарь занятий</div>
    <div class="row" style="background-color: #f4f5f6; margin-left: 0; margin-right: 0; padding-top: 8px; padding-bottom: 8px; border-bottom: 1px solid #e7eaec;">
        <div class="col-xs-6">
            <div style="padding-left: 30px; font-family: OpenSansSemiBold; color: #838e9e; padding-top: 8px; padding-bottom: 5px; font-size: 16px;">{{calendar.calendar[calendar.activeMonthNumber].monthName}}</div>
        </div>
        <div class="col-xs-6" align="right">
            <div style="display: inline-block; padding-right: 30px; padding-bottom: 4px;">
                <button ng-click="calendar.previousMonth()" style="background-color:transparent; border: none; height: 32px; float:left; margin-right: 2px; width: 32px; padding-top: 5px; opacity: 0.7;"><img src="/static-files/images/left-arrow-icon.png" width="25px;"></button>
                <button ng-click="calendar.nextMonth()" style="background-color:transparent; border: none; height: 32px; float:left; width: 32px; padding-top: 5px; opacity: 0.7;"><img src="/static-files/images/right-arrow-icon.png" width="25px;"></button>
            </div>
        </div>
    </div>
    <div style="display: inline-block; margin-top: 20px;">
        <div class="teacher-calendar-day-title">Пн</div>
        <div class="teacher-calendar-day-title">Вт</div>
        <div class="teacher-calendar-day-title">Ср</div>
        <div class="teacher-calendar-day-title">ЧТ</div>
        <div class="teacher-calendar-day-title">ПТ</div>
        <div class="teacher-calendar-day-title">СБ</div>
        <div class="teacher-calendar-day-title">ВС</div>
    </div>
    <div style="margin-top: 10px; border-top: 1px solid #e2e5eb; border-left: 1px solid #e2e5eb;">
        <div style="display: inline-block;" ng-repeat="week in calendar.calendar[calendar.activeMonthNumber].days track by $index">
            <div ng-repeat="day in week track by $index" style="float:left; position: relative;" class="{{day.style }}">
                <div ng-class="day.dayCSS">{{day.day}}</div>

                <!--<div ng-if="calendar.today.getMonth() != calendar.activeMonthNumber && calendar.today.getDate() != day.day" class="calendar-day-number">{{day.day}}</div>-->

                <button ng-click="calendar.addHomework(day.isLessonDay,day.day)" ng-show="!day.hasHomework && day.currentMonth && day.isLessonDay" class="homework-task-empty-box">
                    <div align="center">
                        Добавить
                    </div>
                    <md-tooltip md-direction="top">
                        Добавить задание
                    </md-tooltip>
                </button>
                <button ng-click="calendar.homeworkInfo(calendar.activeMonthNumber,$parent.$index,$index)" ng-show="day.hasHomework && day.currentMonth" class="homework-task-box">
                    <div align="center">
                        Задание
                    </div>
                    <md-tooltip md-direction="top">
                        Посмотреть задание
                    </md-tooltip>
                </button>
            </div>
        </div>
    </div>
</div>
