<style>
    .tab-student-list-item-control-button{
        background-color: #ffffff;
    }

    .group-information-attendance-list-item:hover{
        background-color: #ffffff;
    }

    .student-name-title:hover{
        text-decoration: underline;
    }


</style>
<div style="background-color: #e7eaec;" ng-controller="studentsControllerGroupInfo as students">
    <div class="md-box" style="margin-bottom: 30px; margin-top: 1px;">
        <!--<div class="md-box-header" style="width: 100%; border: none; padding-top: 0px; padding-bottom: 0px;">-->
            <!--<div class="row" style="margin-left: 0px; margin-right: 0px;">-->
                <!--<div class="col-xs-6" style="padding: 0px; text-align: left;">-->
                    <!--<div style="display: inline-block;">-->
                        <!--<div style="float: left; padding-top: 18px; padding-bottom: 18px;">СПИСОК СТУДЕНТОВ</div>-->
                        <!--<div style="float: left; margin-left: 10px; margin-top: 17px;" class="md-box-indicator-label">{{ctrl.group.students.length}}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-6" style="padding: 0px; text-align: right;">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div style="display: inline-block; width: 100%; padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">
            <div style="float: left;">Список студентов</div>
            <div style="float: left; margin-left: 10px; margin-top: 3px;" class="md-box-indicator-label">{{ctrl.group.students.length}}</div>
        </div>
        <!--ЕСЛИ СТУДЕНТОВ НЕТ-->
        <div ng-if="ctrl.group.students.length == 0" align="center" style="padding-bottom: 50px; padding-top: 50px;">
            <div style="opacity: 0.9;"><img src="/static-files/images/empty-students-icon.png" width="165px"></div>
            <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Cтудентов нет</div>
            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 280px; padding-right: 280px; padding-top: 10px;">В данной группе еще нет студентов. Вы можете добавть студента в любое время в разделе «Студенты»</div>
        </div>
        <!--ЕСЛИ СТУДЕНТЫ ЕСТЬ-->
        <div ng-if="ctrl.group.students.length > 0">
            <div style="display: inline-block; width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 12px; padding-bottom: 12px; background-color: #f4f5f6;">
                <div style="float:left; color: #838e9e; width: 360px; font-size: 11px; font-family: OpenSansBold;">ФАМИЛИЯ, ИМЯ</div>
                <div style="float:left; color: #838e9e; width: 290px; font-size: 11px; font-family: OpenSansBold;">EMAIL АДРЕС</div>
                <div style="float:left; color: #838e9e; width: 225px; font-size: 11px; font-family: OpenSansBold;">КОНТАКТНЫЙ ТЕЛЕФОН</div>
            </div>
            <div style="min-height: 240px; background-color: #f4f5f6;">
                <div class="group-information-attendance-list-item" style="border-top: 1px solid #e7eaec; padding-top: 5px; padding-bottom: 5px; background-color: #ffffff;" ng-repeat="student in ctrl.group.students">
                    <div style="float: left; width: 45px; padding-top: 10px;"><img style="border-radius: 50%;" ng-src="/static-files/images/empty-student-photo-small.png" width="30px"></div>
                    <div class="student-name-title" style="float:left; padding-top: 15px; padding-bottom: 15px; width: 315px; font-family: OpenSansRegular;" ng-click="students.studentInfo(student._id)">{{student | nameFilter}}</div>
                    <div style="float:left; padding-top: 15px; padding-bottom: 15px; width: 290px; font-family: OpenSansRegular;">{{student.email}}</div>
                    <div style="float:left; padding-top: 15px; padding-bottom: 15px; width: 225px; font-family: OpenSansRegular;">{{student.phone | phoneFilter}}</div>
                    <div style="float: left; width: 80px; display: inline-block; padding-top: 6px; padding-bottom: 6px;">
                        <div style="float: right;">
                            <div ng-click="students.deleteStudentByID(student._id)" class="tab-student-list-item-control-button" style="padding-left: 9px; padding-top: 9px;">
                                <img src="/static-files/images/delete-icon.png" width="11px">
                                <md-tooltip md-direction="top">
                                    Удалить
                                </md-tooltip>
                            </div>
                        </div>
                        <div style="float: right; margin-right: 7px;">
                            <div ng-click="students.editStudentByID(student._id)" class="tab-student-list-item-control-button">
                                <img src="/static-files/images/edit-icon.png" width="12px">
                                <md-tooltip md-direction="top">
                                    Редактировать
                                </md-tooltip>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
