<style>
    .result-tab-test-name{
        font-family: OpenSansRegular;
        font-size: 20px;
    }

    .table-result-item{
        width: 35px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #eaebf3;
        border: 2px solid #ffffff;
        color: #828d9e;
        font-family: OpenSansSemiBold;

    }

    .result-tab-test-item{
        padding-left: 25px;
        padding-right: 25px;
        border-bottom: 5px solid #f4f5f6;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .table-result-right{
        width: 35px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #71ca58;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-family: OpenSansSemiBold;

    }

    .table-result-wrong{
        width: 35px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fd6461;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-family: OpenSansSemiBold;

    }


</style>

<div ng-controller="resultsControllerGroupInfo as ctrlResults">
    <div class="md-box" style="margin-bottom: 30px; margin-top: 1px;">
        <div style="padding-left: 30px; padding-top: 22px; padding-bottom: 18px; color: #131313; font-size: 19px; font-family: OpenSansRegular; border-bottom: 1px solid #e7eaec;">Результаты тестирования</div>
        <div ng-if="!ctrlResults.noStudents">
            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                <div class="col-xs-5" style="width: 330px; height: 450px; background-color: #ffffff; padding: 0px; border: none;">
                    <table fixed-header style="height:450px; width:100%; background-color: #f4f5f6;">
                        <tr ng-repeat="student in ctrlResults.students track by $index">
                            <td>
                                <div ng-class="ctrlResults.studentIndex == $index ? 'result-list-active-item' : 'result-list-item'" ng-click="ctrlResults.setActiveStudent($index)">
                                    <div style="font-family: OpenSansRegular;">{{student | nameFilter}}</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-7" style="width: 690px; background-color: #ffffff; height: 450px; overflow: auto; padding-left: 0; padding-right: 0; border-left: 1px solid #e7eaec;">
                    <div ng-if="ctrlResults.noResults || ctrlResults.studentResults.length == 0">
                        <div align="center" style="padding-bottom: 20px; padding-top: 70px;">
                            <div style="opacity: 0.2;"><img src="/static-files/images/result-tab-empty-icon.png" height="180px"></div>
                            <div style="font-family: OpenSansBold; font-size: 17px; padding-top: 30px; color: #838e9e;">РЕЗУЛЬТАТОВ НЕТ</div>
                            <div style="font-family: OpenSansRegular; padding-top: 10px; color: #838e9e; font-size: 15px; padding-left: 170px; padding-right: 170px;">К сожалению, выбранный студент еще не проходил тесты.</div>
                        </div>
                    </div>
                    <div ng-if="!ctrlResults.noResults && ctrlResults.studentResults.length > 0">
                        <div class="result-tab-test-item" ng-repeat="testResult in ctrlResults.studentResults">
                            <div class="result-tab-test-name">{{testResult.testID.name}}</div>
                            <div style="display: inline-block; color: #838e9e; font-family: OpenSansRegular; font-size: 14px; padding-top: 5px;">
                                <div style="float: left;">Дата прохождения: <span style="color: #000000; padding-left: 5px; font-family: OpenSansRegular;">{{testResult.createdAt | timeFilter}}</span></div>
                                <div style="float: left; padding-left: 40px;">Результат тестирования: <span style="color: #000000; padding-left: 5px; font-family: OpenSansSemiBold; font-size: 16px;">{{testResult.summary.total.toFixed(0)}}%</span></div>
                            </div>
                            <div ng-repeat="section in testResult.sections track by $index">
                                <div style="border-top: 1px solid #e7eaec; margin-top: 15px; padding-top: 10px;">
                                    <div style="font-family: OpenSansRegular; font-size: 14px; color: #838e9e;">
                                        Раздел №{{$index + 1}}
                                    </div>
                                    <div style="padding-top: 7px;">
                                        <div class="row" style="margin-left: 0; margin-right: 0;">
                                            <div ng-repeat="question in section.results" style="padding-left: 0; padding-right: 0;" class="col-xs-2" ng-class="question.value ? 'table-result-right' : 'table-result-wrong'">{{question.number}}</div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div ng-if="ctrlResults.noStudents">
            <div align="center" style="padding-bottom: 50px; padding-top: 50px;">
                <div style="opacity: 0.9;"><img src="/static-files/images/empty-results-icon.png" height="165px"></div>
                <div style="font-family: OpenSansSemiBold; font-size: 22px; padding-top: 25px; color: #a8b3c2;">Посещаемости нет</div>
                <div style="font-family: OpenSansRegular; padding-top: 10px; color: #a8b3c2; font-size: 15px; padding-left: 280px; padding-right: 280px; padding-top: 10px;">Для выставления посещаемости необходимо добавить хотя бы одного студента.</div>
            </div>
        </div>
    </div>

</div>
