<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 60px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .ngdialog-open{
        height: auto !important;
    }


    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button1{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #cbd7e4;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #91a6bc;
        background-color: #ffffff;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button1:hover{
        color: #435567;
        border: 1px solid #7c8ea1;
    }

    .select-style {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style select {
        padding: 8px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        font-size: 15px;
    }

    .select-style select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #66bef0;
        color: #0f0f0f;
    }

    textarea{
        border: none;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
        resize: none !important;
    }

    .answer-list-area{
        height: 410px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /* File input */
    .file-input1 {
        width: 100%;
        display: inline-block;
        height: 30px;
        /*border-radius: 4px;*/
        margin: 0px;
        padding: 0px;
        /*background-color: #3d4655;*/
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #cccccc;
    }

    .file-input1:hover {
        width: 100%;
        display: inline-block;
        height: 30px;
        /*border-radius: 4px;*/
        margin: 0px;
        padding: 0px;
        /*background-color: #3d4655;*/
        position: relative;
        z-index: 1;
        border-bottom: 2px solid #74c2f0;
    }


    .file-input1:after {
        position: absolute;
        top: 10px;
        right: 15px;
        margin: 0px;
        padding: 0px;
        /*content: "\e900";*/
        font-size: 24px;
        /*color: #333333;*/
    }
    .file-input1 > input[type="file"] {
        float: left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        position: relative;
        z-index: 4;
        opacity: 0;
    }

    .file-input1 > span {
        position: absolute;
        top: 10px;
        left: 0px;
        margin: 0px;
        font-size: 15px;
        color: #aaaaaa;
        font-family: OpenSansRegular;
    }

    .file-input1:hover > span{
        color: #74c2f0;
    }

</style>

<div ng-controller="editSectionFileController as modal">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold; border: none;">ЗАМЕНИТЬ ФАЙЛ</div>

        <div style="border-bottom: 1px solid #eff2f7; width: 100%; padding-top: 25px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
            <div style="color: #838e9e; font-family: OpenSansBold; font-size: 17px;">Файл с заданием</div>
            <div style="color: #838e9e; font-size: 12px; font-family: OpenSansRegular;">Загрузите файл с текстом задания в формате PDF.</div>
            <div align="center" style="padding-left: 40px; padding-right: 40px; padding-top: 10px;">
                <div class="file-input1" style="height: 38px;">
                    <input style="width: 500px;" type="file" ngf-select ngf-pattern="'application/pdf'" ngf-accept="'application/pdf'" ng-change="resolveFileName()" ng-model="modal.file">
                    <span>{{modal.file.name || 'Выберите файл'}}</span>
                </div>
            </div>
        </div>
        <div style="width: 100%; padding-top: 25px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
            <div style="color: #838e9e; font-family: OpenSansBold; font-size: 17px;">Параметры показа</div>
            <div style="color: #838e9e; font-size: 12px; font-family: OpenSansRegular;">Наcтройте параметры отображения документа в тесте, указав необходимые страницы</div>
            <div align="center">
                <div style="font-family: OpenSansRegular; font-size: 14px; padding-top: 20px;">Укажите страницы:</div>
                <div style="display: inline-block;">
                    <div style="float: left; padding-right: 10px; font-size: 15px; font-family: OpenSansRegular; padding-top: 8px;">с</div>
                    <div style="float: left;">
                        <input numbers-only ng-model="modal.pagesFrom" type="text" style="width:50px" class="md-text-input" placeholder="">
                    </div>
                    <div style="float: left; padding-right: 10px; padding-left: 10px; font-size: 15px; font-family: OpenSansRegular; padding-top: 8px;">по</div>
                    <div style="float: left;">
                        <input numbers-only ng-model="modal.pagesTo" type="text" style="width:50px" class="md-text-input" placeholder="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="background-color: #e9eff5; margin-left: 0px; margin-right: 0px; padding-top: 12px; padding-bottom: 12px; padding-left: 5px; padding-right: 5px; border-top: 1px solid #cbd7e4; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <div class="col-xs-6">
                <button ng-click="closeThisDialog()" class="cancel-group-button1">ОТМЕНИТЬ</button>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <button ng-click="modal.updateFile()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
            </div>
        </div>
    </div>
</div>