<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 100px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .ngdialog-open{
        height: auto;
    }

    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #7f7f7f;
        background-color: #eeeeee;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button:hover{
        background-color: #e5e5e5;
    }

    .select-style {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style select {
        padding: 8px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        font-size: 15px;
    }

    .select-style select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #66bef0;
        color: #0f0f0f;
    }

</style>

<div ng-controller="editSectionController as modal">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold;">РЕДАКТИРОВАТЬ РАЗДЕЛ</div>

        <div style="border-bottom: 1px solid #eff2f7; width: 100%; padding-top: 25px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
            <div style="color: #838e9e; font-family: OpenSansBold; font-size: 17px;">Продолжительность</div>
            <div style="color: #838e9e; font-size: 12px; font-family: OpenSansRegular;">Время необходимое для завершения этого раздела.</div>
            <div align="center">
                <div style="display: inline-block; padding-top: 20px; padding-bottom: 10px;">
                    <div style="float: left;">
                        <input numbers-only ng-model="modal.duration" type="text" style="width:60px; text-align: center; font-size: 20px;" class="md-text-input" placeholder="00">
                    </div>
                    <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 20px; padding-top: 8px;">Минут</div>
                </div>
            </div>
        </div>
        <div style="width: 100%; padding-top: 25px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
            <div style="color: #838e9e; font-family: OpenSansBold; font-size: 17px;">Количество вопросов</div>
            <div style="color: #838e9e; font-size: 12px; font-family: OpenSansRegular;">Необходимое количество вопросов для данного раздела</div>
            <div align="center">
                <div style="display: inline-block; padding-top: 20px; padding-bottom: 10px;">
                    <div style="float: left;">
                        <input numbers-only ng-model="modal.questionsCount" type="text" style="width:60px; text-align: center; font-size: 20px;" class="md-text-input" placeholder="00">
                    </div>
                    <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 20px; padding-top: 8px;">Вопросов</div>
                </div>
            </div>
        </div>

        <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 12px; padding-bottom: 12px; padding-left: 5px; padding-right: 5px; border-top: 1px solid #edeeef;">
            <div class="col-xs-6">
                <button ng-click="closeThisDialog()" class="cancel-group-button">ОТМЕНИТЬ</button>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <button ng-click="modal.udpateSection()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
            </div>
        </div>
    </div>
</div>