<style>
    .ngdialog-open{
        height: auto;
    }
</style>

<div ng-controller="editSectionAudioController as modal">
    hi, this is edit audio
    <input style="width: 500px;" type="file" ngf-select ng-change="resolveFileName()" ng-model="modal.audioFile">
    <span>{{modal.audioFile.name}}</span>
    <button ng-click="modal.updateAudio()"> download audio</button>
</div>