<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        /*width: 700px;*/
        padding: 0px;
        box-shadow: 0 0 8px rgba(0,0,0,0.1);
        border-radius: 3px;
        background-color: #ffffff;
        top: 60px;
    }

    .ngdialog.ngdialog-theme-default {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .ngdialog-open{
        height: auto;
    }


    .md-modal-box{
        background-color: #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    .md-box-header{
        border-bottom: 1px solid #edeeef;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #2196F3;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        font-family: OpenSansBold;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .submit-group-button{
        background-color: #74c2f0;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
        font-family: OpenSansSemiBold;
        padding-left: 13px;
        padding-right: 13px;
        width: 130px;
    }

    .submit-group-button:hover{
        background-color: #59b7ee;
    }


    .cancel-group-button1{
        border-radius: 5px;
        width: 130px;
        border: 1px solid #cbd7e4;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #91a6bc;
        background-color: #ffffff;
        font-size: 13px;
        font-family: OpenSansSemiBold;
    }

    .cancel-group-button1:hover{
        color: #435567;
        border: 1px solid #7c8ea1;
    }

    .select-style {
        /*border: 1px solid #ccc;*/
        /*border-bottom: 1px solid red;*/
        border-radius: 0px;
        overflow: hidden;
        background: #ffffff url("/static-files/images/blackSelectArrow.png") no-repeat 98% 50%;
    }

    .select-style select {
        padding: 8px 0px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        font-size: 15px;
    }

    .select-style select:focus {
        outline: none;
        border-bottom: 2px solid #74c2f0;
        color: #0f0f0f;
    }

    .md-text-input{
        border: none;
        border-bottom: 1px solid #c0c0c0;
        border-radius: 0px;
        color: #9b9b9b;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
    }

    .md-text-input:focus{
        outline: none;
        border-bottom: 2px solid #66bef0;
        color: #0f0f0f;
    }

    textarea{
        border: none;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
        resize: none !important;
    }

    .answer-list-area{
        height: 410px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

</style>
<div ng-controller="editSectionAnswersController as modal">
    <div class="md-modal-box">
        <div class="md-box-header" style="background-color: #74c2f0; color: #ffffff; font-family: OpenSansSemiBold; border: none;">РЕДАКТИРОВАТЬ ЛИСТ ОТВЕТОВ</div>


        <!--ЕСЛИ ПОСЛЕ ТОГО КАК УВЕЛИЧИЛИ КОЛ-ВО ВОПРОСОВ-->
        <div ng-if="modal.alert" style="background-color: #ff665e; font-family: OpenSansSemiBold; padding-left: 30px; padding-right: 30px; color: #ffffff; padding-top: 10px; padding-bottom: 10px;">Вы увеличили количество вопросов раздела, необходимо заполнить ответы на вопросы c {{modal.oldAnswersCount}} по {{modal.answers.length}}</div>

        <div class="answer-list-area">
            <div ng-repeat="answer in modal.answers track by $index" class="row" style="border-bottom: 1px solid #edeeef; margin-left: 0; margin-right: 0; font-family: OpenSansRegular; font-size: 15px;">
                <div class="col-xs-1" style="padding-top: 12px; padding-bottom: 12px; text-align: center;">{{$index + 1}}</div>
                <div class="col-xs-11" style="border-left: 1px solid #edeeef; padding-top: 10px; padding-bottom: 10px; padding-right: 30px; padding-left: 30px;">
                    <textarea ng-model="answer.value" msd-elastic rows="1" style="width: 100%;" placeholder="Введите правильный ответ, если правильных ответов несколько, введите все через Enter"></textarea>
                </div>
            </div>


        </div>
        <div class="row" style="background-color: #e9eff5; margin-left: 0px; margin-right: 0px; padding-top: 12px; padding-bottom: 12px; padding-left: 5px; padding-right: 5px; border-top: 1px solid #cbd7e4; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
            <div class="col-xs-6">
                <button ng-click="closeThisDialog()" class="cancel-group-button1">ОТМЕНИТЬ</button>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <button ng-click="modal.updateTestSectionByIndex()" type="submit" class="submit-group-button">СОХРАНИТЬ</button>
            </div>
        </div>
    </div>
</div>