<style>
    input:focus::-webkit-input-placeholder
    {
        color: transparent;
    }

    input::-webkit-input-placeholder
    {
        color: #9b9b9b;
    }
</style>

<div ng-controller="addTestSecondStepController as second" class="md-box" style="margin-left: 150px; margin-right: 150px;">
    <div class="md-box-header" style="border: none;">ШАГ 2:&nbsp;&nbsp;&nbsp;ДОБАВЛЕНИЕ РАЗДЕЛОВ</div>

    <!--ТУТ NG-REPEAT-->
    <div ng-repeat="section in ctrl.sections track by $index">
        <div style="background-color: #e2f2fe; border-bottom: 1px solid #74c2f0; padding-top: 7px; padding-bottom: 7px; color: #4d88b3; font-size: 14px; text-align: center; font-family: OpenSansBold; padding-left: 50px; padding-right: 50px;">
            РАЗДЕЛ {{$index + 1}}
        </div>
        <div style="border-bottom: 1px solid #eff2f7; width: 100%; padding-top: 25px; padding-bottom: 30px; padding-left: 50px; padding-right: 50px;">
            <div style="color: #838e9e; font-family: OpenSansBold; font-size: 18px;">Задание</div>
            <div style="color: #838e9e; font-size: 12px; font-family: OpenSansRegular;">Загрузите необходимые файлы и укажите параметры показа</div>
            <div align="center" style="margin-top: 30px;">
                <div style="border-top-left-radius: 4px; border-top-right-radius: 4px; width: 600px; background-color: #d6dbe5; font-family: OpenSansRegular; padding-top: 10px; padding-bottom: 10px; font-size: 16px;">
                    <div>Файл с заданием</div>
                    <div style="font-size: 13px; font-family: OpenSansLight;">(Загрузите файл с текстом задания в формате PDF)</div>
                </div>
                <div style="width: 600px; border: 1px solid #d6dbe5; padding-bottom: 20px; padding-top: 5px; padding-left: 50px; padding-right: 50px;">
                    <div class="file-input1" style="height: 38px;">
                        <input style="width: 500px;" type="file" ngf-select ngf-pattern="'application/pdf'" ngf-accept="'application/pdf'" ng-change="resolveFileName()" ng-model="section.file">
                        <span>{{section.file.name || 'Выберите файл'}}</span>
                    </div>
                </div>
                <div style="width: 600px; background-color: #d6dbe5; font-family: OpenSansRegular; padding-top: 10px; padding-bottom: 10px; font-size: 16px;">
                    <div>Параметры показа</div>
                    <div style="font-size: 13px; font-family: OpenSansLight;">(Найтройте параметры отображения файла)</div>
                </div>
                <div class="row" style="width: 600px; border: 1px solid #d6dbe5; border-top: none;">
                    <div class="col-xs-6" style="text-align: left; border-right: 1px solid #d6dbe5; padding-top: 25px; padding-bottom: 10px; padding-left: 30px;">
                        <md-radio-group ng-model="section.pages">
                            <md-radio-button value="ALL" style="color: #777777">Отображать весь файл</md-radio-button>
                            <md-radio-button value="INTERVAL" style="color: #777777">Показать выбранный интервал</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="col-xs-6">
                        <div style="font-family: OpenSansRegular; color: #838e9e; font-size: 14px; padding-top: 20px;">Укажите страницы:</div>
                        <div ng-if="section.pages == 'INTERVAL'" style="display: inline-block;">
                            <div style="float: left; padding-right: 10px; font-size: 15px; font-family: OpenSansRegular; padding-top: 8px;">с</div>
                            <div style="float: left;">
                                <input numbers-only ng-model="section.pagesFrom" type="text" style="width:50px" class="md-text-input" placeholder="">
                            </div>
                            <div style="float: left; padding-right: 10px; padding-left: 10px; font-size: 15px; font-family: OpenSansRegular; padding-top: 8px;">по</div>
                            <div style="float: left;">
                                <input numbers-only ng-model="section.pagesTo" type="text" style="width:50px" class="md-text-input" placeholder="">
                            </div>
                        </div>
                        <div ng-if="section.pages == 'ALL'" style="font-family: OpenSansRegular; padding-top: 10px; font-size: 15px;">Все страницы</div>
                    </div>
                </div>
                <div ng-if="0">
                    <div style="width: 600px; background-color: #d6dbe5; font-family: OpenSansRegular; padding-top: 10px; padding-bottom: 10px; font-size: 16px;">
                        <div>Аудиофайл задания</div>
                        <div style="font-size: 13px; font-family: OpenSansLight;">(Загрузите аудиофайл, если необходимо по заданию)</div>
                    </div>
                    <div style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; width: 600px; border: 1px solid #d6dbe5; padding-bottom: 20px; padding-top: 5px; padding-left: 50px; padding-right: 50px;">
                        <div class="file-input1" style="height: 38px;">
                            <input style="width: 500px;" type="file" ngf-select ng-change="resolveFileName()" ng-model="data.file" name="">
                            <span>{{data.name}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="border-bottom: 1px solid #eff2f7; width: 100%; padding-top: 25px; padding-bottom: 30px; padding-left: 50px; padding-right: 50px;">
            <div style="color: #838e9e; font-family: OpenSansBold; font-size: 18px;">Продолжительность</div>
            <div style="color: #838e9e; font-size: 12px; font-family: OpenSansRegular;">Укажите продолжительность раздела в минутах, данное время будет дано для завершения этого раздела.</div>
            <div align="center">
                <div style="display: inline-block; padding-top: 20px; padding-bottom: 10px;">
                    <div style="float: left;">
                        <input numbers-only ng-model="section.minutesCount" type="text" style="width:60px; text-align: center; font-size: 20px;" class="md-text-input" placeholder="00">
                    </div>
                    <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 20px; padding-top: 8px;">Минут</div>
                </div>
            </div>
        </div>
        <div style="border-bottom: 1px solid #eff2f7; width: 100%; padding-top: 25px; padding-bottom: 30px; padding-left: 50px; padding-right: 50px;">
            <div style="color: #838e9e; font-family: OpenSansBold; font-size: 18px;">Количество вопросов</div>
            <div style="color: #838e9e; font-size: 12px; font-family: OpenSansRegular;">Загрузите необходимые файлы, укажите время проведения и укажите кодичество вопросов для данного раздела</div>
            <div align="center">
                <div style="display: inline-block; padding-top: 20px; padding-bottom: 10px;">
                    <div style="float: left;">
                        <input numbers-only ng-model="section.questionsCount" type="text" style="width:60px; text-align: center; font-size: 20px;" class="md-text-input" placeholder="00">
                    </div>
                    <div style="float: left; padding-left: 10px; font-family: OpenSansRegular; font-size: 20px; padding-top: 8px;">Вопросов</div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;">
            <div class="col-xs-6">
                <button ng-click="second.cancel()" class="cancel-group-button" style="font-size: 14px;">НАЗАД</button>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <button ng-click="second.next()" type="submit" class="submit-group-button" style="font-size: 14px;">ДАЛЕЕ</button>
            </div>
        </div>
    </div>

</div>