<style>
    textarea{
       border: none;
        outline: none;
        font-family: OpenSansRegular;
        font-size: 15px;
        resize: none;
    }

</style>
<div  ng-controller="addTestThirdStepController as third" class="md-box" style="margin-left: 150px; margin-right: 150px;">
    <div class="md-box-header" style="border: none;">ШАГ 3:&nbsp;&nbsp;&nbsp;ЗАПОЛНЕНИЕ ЛИСТА ОТВЕТОВ</div>

    <!--ТУТ NG-REPEAT ДЛЯ РАЗДЕЛА-->
    <div ng-repeat="section in ctrl.sections track by $index">
        <div style="background-color: #e2f2fe; border-bottom: 1px solid #74c2f0; padding-top: 7px; padding-bottom: 7px; color: #4d88b3; font-size: 14px; text-align: center; font-family: OpenSansBold; padding-left: 50px; padding-right: 50px;">
            РАЗДЕЛ {{$index + 1}}
        </div>
        <!--ТУТ NG-REPEAT ДЛЯ ВОПРОСА-->
        <div ng-repeat="answer in section.answers track by $index" class="row" style="border-bottom: 1px solid #edeeef; margin-left: 0; margin-right: 0; font-family: OpenSansRegular; font-size: 15px;">
            <div class="col-xs-1" style="padding-top: 12px; padding-bottom: 12px; text-align: center;">{{$index + 1}}</div>
            <div class="col-xs-11" style="border-left: 1px solid #edeeef; padding-top: 10px; padding-bottom: 10px; padding-right: 30px; padding-left: 30px;">
                <textarea ng-model="section.answers[$index]" msd-elastic rows="1" style="width: 100%;" placeholder="Введите правильный ответ, если правильных ответов несколько, введите все через Enter"></textarea>
            </div>
        </div>
    </div>
    <div>
        <div class="row" style="background-color: #ffffff; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;">
            <div class="col-xs-6">
                <button ng-click="third.cancel()" class="cancel-group-button" style="font-size: 14px;">НАЗАД</button>
            </div>
            <div class="col-xs-6" style="display: inline-block;">
                <div style="float: right;">
                    <button ng-click="third.addTest()" type="submit" class="submit-group-button" style="font-size: 14px;">СОХРАНИТЬ</button>
                </div>
                <div style="float: right; margin-right: 10px;">
                    <button ng-click="third.draw()" class="cancel-group-button" style="font-size: 14px; width: 180px;">ЗАПОЛНИТЬ ПОЗЖЕ</button>
                </div>
            </div>
        </div>
    </div>
</div>