<style>
    .modal-control-button{
        background-color: transparent;
        padding: 0px;
        border: none;
        color: #868685;
        font-family: OpenSansRegular;
        font-size: 13px;
    }

    .modal-control-button:hover{
        text-decoration: underline;
    }
</style>

<div style="width: 100%; background-color: #1e1e1e;">
    <div align="center">
        <img style="max-width: 800px; max-height: 500px;" ng-src="{{image.original_url}}">
    </div>
    <div class="row" style="margin-right: 0px; margin-left: 0px; padding: 20px; padding-right: 30px; padding-left: 30px;">
        <div class="col-xs-6" style="padding-left: 0px; padding-right: 0px;">
            <div style="font-family: OpenSansRegular; font-size: 13px; color: #ffffff;">Фотогарфия из ленты канала</div>
        </div>
        <div class="col-xs-6" style="padding-left: 0px; padding-right: 0px; display: inline-block; color: #868685; font-family: OpenSansRegular; font-size: 13px;">
            <div style="float: right; padding-left: 10px;">
                <button class="modal-control-button"><a ng-href="{{image.original_url}}" target="_blank">Открыть оригинал</a></button>
            </div>
            <div style="float: right">|</div>
            <div style="float: right; padding-right: 10px;">
                <button class="modal-control-button"><a href="{{image.original_url}}" download>Скачать</a> </button>
            </div>
        </div>
    </div>
</div>