<div ng-controller="panelController as ctrl">
    <button ng-if="ctrl.host == 'goedu.kz'" ng-click="ctrl.pullOrigin()">PULL ORIGIN</button>
    <button ng-if="ctrl.host == 'goedu.kz'" ng-click="ctrl.restartApp()">RESTART APP</button>
    <button ng-if="ctrl.host == 'edunet.kz'" ng-click="ctrl.merge()">MERGE</button>
    <button ng-if="ctrl.host == 'edunet.kz'" ng-click="ctrl.pushOrigin()">PUSH ORIGIN</button>
    <button ng-if="ctrl.host == 'goedu.kz'" ng-click="ctrl.lookLogs()">GET LOGS</button>


    <p>{{ctrl.logs}}</p>
</div>
